body.page-template-running-sale-php {
	font-family: 'Open Sans', sans-serif;
}
#getgoing {
	visibility: hidden;
	display: none;
}
main.no-hero .wrapper {
	padding: 0 1em 60px;

	section {
		padding: 0;
	}
}
.marquee {
	text-align: center;
}


.running-sale {
	#findarace {
		border: none;
	}
	&-mix {
		background: url( ../img/running-sale/regular_bg.jpg ) repeat;
		&.mix-featured {
			background: url( ../img/running-sale/featured_bg.jpg ) repeat;
		}
	}
	&-modal {
		width: 820px;
		max-width: 90%;
		padding: 15px;
		background-color: #fff;

		&_inside {
			padding: 15px;
		}
	}

}

