
	.page-template-shoe-search-php article.shoe-directory .post {
		height: 275px;
	    width: 30%;
	}

	.menu { 
		background: #003798;
		background-image: -webkit-linear-gradient(top, #003798 25%, #002566 75%);
		background-image: -moz-linear-gradient(top, #003798 25%, #002566 75%);
		background-image: -ms-linear-gradient(top, #003798 25%, #002566 75%);
		background-image: -o-linear-gradient(top, #003798 25%, #002566 75%);
		background-image: linear-gradient(top, #003798 25%, #002566 75%);
		}

	.menu li.network { 
		background: #002566;
		background-image: -webkit-linear-gradient(top , #002566 25%, #001B4A 75%);
		background-image: -moz-linear-gradient(top , #002566 25%, #001B4A 75%);
		background-image: -ms-linear-gradient(top , #002566 25%, #001B4A 75%);
		background-image: -o-linear-gradient(top , #002566 25%, #001B4A 75%);
		background-image: linear-gradient(top , #002566 25%, #001B4A 75%);
		}	
		
	.menu li.shop a {
	    background-image: url("images/shop-run-nav-redo.png");
	    background-position: center top;
	    background-repeat: no-repeat;
	    height: 28px;
	    width: 69px;
	}	
	
	.menu li.recovery a {
	    background-image: url("images/bwcm_recovery_tab_redo.png");
	    background-position: center top;
	    background-repeat: no-repeat;
	    height: 28px;
	    width: 75px;
	}

	#subscription {
		background-color: #003798;
		}
		
	.merrell {
		background-image: url("images/ico-merrell-menu-25x25.png");
	    background-position: 4px center;
	    background-repeat: no-repeat;
	    padding-left: 20px;
		}
	.menu li.merrell a:hover{
		background-color: transparent;
		color:#F36F21;
		}
	.single-shoe ul li ul li {
	    display: inline;
	}
	.vdot-form-container{
		float:left;
	}
	#training-menu-nav-container label, #training-menu-nav-container span{
		display:none;
	}
	#menu-training-nav li li a:hover {
	    background-color:black;
	    color:white;
	}
	#menu-training-nav{
		margin:5px 0;
	}
	#subscription li a, #subscription li {
	    font-size: 0.9em;
	}
	.page-template-shoe-search-php article.shoe-directory .post {
	    height: 170px;
	    width: 47%;
	}
		
	.pace-table-div{
		float:left;
	}
	
	#menu-training-nav{
		display:block!important;
		margin-left: 160px;
	    margin-top: -25px;
	    margin-bottom: 4px;
	}
	.page-template-shoe-search-php article figure{
		width: 50%;
		float: left;
		margin-right:10px;
	}
	#subscription ul li {
	    margin-left: 18px;
	}
	#subscription li a, #subscription li {
	    font-size: 1em;
	}
	.page-template-shoe-search-php article.shoe-directory .post {
	    height: 260px;
	    width: 23%;
	}
	
	
/* extra css */
#saucony-teams li{
		margin:25px 10px 10px 10px;		
	}
