/* landing page */
.page-template-st-jude-series {
	main {
		h3,
		h4 {
			color: @stjude-red;
		}
		h4 {
			margin-bottom: 20px;
		}
		a {
			color: @stjude-red;
		}
	}
}

.stj {
	&_glance {
		font-size: 14px;
		overflow: hidden;
		margin-bottom: 30px;
		padding: 30px 30px 10px;
		color: @stjude-red;
		border: 1px solid @stjude-red;
	}

	&_column {
		@media @sm-breakpoint {
			float: left;
			width: 50%;
			padding: 0 15px;
		}
		&_wrapper {
			font-size: 80%;
			padding: 25px 7%;

			@media @sm-breakpoint {
				font-size: 21px;
				overflow: hidden;
				padding: 25px 30px;
			}
		}
	}

	&_accordion {
		&-section {
			&-title {
				display: inline-block;
				width: 100%;
				padding: 25px 30px 24px 30px;
				transition: @transition;
				text-decoration: none;
				color: #000;
				border: 1px solid transparent;
				background: @bg-gray;
			}
			&-content {
				background: @bg-gray;
			}

		}

		.ul {
			margin: 0 0 30px 20px;
			list-style: disc;
		}
		li {
			margin-bottom: 15px;
		}
	}

	&_below_accordion {
		font-size: 18px;
	}
	&_content {
		overflow: hidden;

		@media @sm-breakpoint {
			margin-bottom: 30px;
		}
	}

	&_commitments,
	&_plus {
		@media @xs-breakpoint {
			overflow: hidden;
			margin: 0;

			li {
				display: inline-block;
				width: 50%;
				padding: 0 15px;
				vertical-align: top;

				@media @lg-breakpoint {
					width: calc( 100%/3 );
				}

				&::before, {
					position: absolute;
					display: list-item;
					content: '';
				}
			}

			&_alignright {
				float: right;
				margin: 0 0 30px 30px;
			}
		}

	}

	&_plus {
		margin-top: 30px;
	}

	@media @sm-breakpoint {
		&_commit_content {
			padding: 0 15px;
		}
	}
}

.backtotop::after {
	border-color: transparent transparent @stjude-red;
}


/* register page */
a.stj_cta {
	.button_gradient( @white, #e4e5e5 );
	color: @stjude-red;

	&:hover {
		color: @stjude-red;
		.button_gradient( #e4e5e5, #cbcbcb );
	}
}

