/* generic accordion */
.accordion {
	overflow: hidden;
	margin-bottom: 30px;
	padding-top: 2px;

	&-section {
		margin-bottom: 30px;
		position: relative;

		&.custom {
			margin-bottom:0;
		}

		&-content {
			background: @bg-gray;
			border: solid @navborders;
			border-width: 0 1px 1px 1px;
			padding: 30px;
			display: none;
			overflow: auto;
		}
		&-title {
			width: 100%;
			padding: 25px 30px 24px 60px;
			display: inline-block;
			background: @bg-gray;
			transition: all linear 0.15s;
			color: @black;
			text-decoration: none;
			border: 1px solid transparent;
			cursor: pointer;

			&:before {
				content: "\A";
				border-style: solid;
				border-width: 9px 0 9px 16px;
				border-color: transparent transparent transparent @rnr-red;
				position: absolute;
				margin-top: 4px;
				left: 22px;
				transition: all linear 0.15s;
			}
			&.active {
				border: solid @navborders;
				border-width: 1px 1px 1px 1px;

				&:before {
					transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
					-moz-transform: rotate(90deg);
					transition: all linear 0.15s;
				}
			}
			&:hover {
				background: #ededed;
				border: 1px solid @navborders;
			}
		}
	}

}
