/* Alert bar */
#alert,
#sticky-alert {
	font-size: 19px;
	background-color: @rnr-redshadow;

	.wrapper {
		font-weight: bold;
		position: relative;
		padding: 10px;
		text-align: center;
		color: #fff;
	}
	a {
		text-decoration: underline;
		color: #fff;

		&.close {
			position: absolute;
			top: 0;
			right: 15px;
			display: block;
			width: 20px;
			height: 20px;
			text-indent: -1000em;
			background: url(img/sprite.png) no-repeat 0 0;
		}
	}
	p {
		margin: 0;
	}
	&.sticky {
		position: fixed;
		z-index: 1001;
		top: 0;
		left: 0;
		width: 100%;

		.admin-bar & {
			@media @fat-adminbar-breakpoint {
				top: 46px;
			}
			@media @slim-adminbar-breakpoint {
				top: 32px;
			}
		}
	}
}

.grd {
	&_countdown {
		transition: @transition;

		p {
			padding-right: 15px;
		}

		&-table {
			td {
				padding: 0 5px;
				vertical-align: middle;
				line-height: 1;
				text-align: center;
			}
			&-val {
				font-size: 32px;
				font-weight: bold;
			}
			&-label {
				display: block;
				vertical-align: middle;
				font-size: 12px;
				text-transform: uppercase;
			}
		}
		.wrapper {
			display: flex;
			align-items: center;
			text-align: center;
			justify-content: center;
		}
	}
}
