/* alignment */
.aligncenter,
div.aligncenter,
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img {
	&.alignright {
		margin: 0 auto 30px auto;
		display: table;

		@media @sm-breakpoint {
			display: inline;
			margin: 0 0 30px 30px;
		}
	}
	&.alignleft {
		margin: 0 auto 30px auto;
		display: table;

		@media @sm-breakpoint {
			display: inline;
			margin: 0 30px 30px 0;
		}
	}
}


@media @sm-breakpoint {
	.alignleft {
		float: left;
		margin: 0 30px 24px 0;
	}
	.alignright {
		float: right;
		margin: 0 0 24px 24px;
	}
}
