#promospots {
	padding: 60px 1em 0;
	overflow: hidden;

	@media @md-breakpoint {
		padding-left: 0;
		padding-right: 0;
	}

	ul {
		margin: 0;
		padding: 0;
		font-size: 0;

		@media @md-breakpoint {
			overflow: hidden;
			margin: 0 -30px;
		}

		li {
			width: 100%;
			height: 300px;
			margin-bottom: 30px;

			@media @md-breakpoint {
				display: inline-block;
				vertical-align: top;
				width: 50%;
				padding: 0 30px;
				margin-bottom: 60px;

			}

			h3 {
				font-family: 'Futura Std Bold';
				font-size: 32px;
				color: #fff;
				text-align: center;
				text-transform: uppercase;
				margin: 0;
				padding: 0 0 21px;
				line-height: 1;

				@media @sm-breakpoint {
					font-size: 48px;
				}
			}
			p {
				margin: 0 auto;
				padding-top: 28px;
				font-family: 'Futura Std Medium';
				font-size: 18px;
				color: #fff;
				text-transform: uppercase;
				letter-spacing: .05em;
				text-align: center;
				border-top: 1px solid #fff;

				@media @md-breakpoint {
					width: 79%;
				}
			}
			a {
				display: block;
				width: 100%;
				height: 100%;
				padding: 15px;
				background: #e53138;

			}
		}
	}

	#rnr-event.post & {
		padding-bottom: 0;
	}

}
