.cookie-popup-bar {
	position: fixed;
	z-index: 99999;
	bottom: 0;
	margin: 0 10px;
	padding: 10px;
	color: @black;
	border: 2px solid #999;
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #f2f2f2;

	@media @xs-breakpoint {
		left: 50px;
		width: 600px;
	}

	a {
		font-weight: normal;
		color: @rnr-red;
	}
	p {
		font-family: 'Open Sans', Calibri, Verdana, arial, sans-serif;
		font-size: 12px;
		line-height: 1.42857143;
		margin-top: 0;

		&:last-child {
			margin: 0;
		}
	}
	.close-cookie-bar {
		position: relative;
		float: right;
		width: 25px;
		height: 25px;
		text-align: center;
		border-radius: 20px;
		background-color: @black;

		&:before {
			font-size: 18px;
			line-height: 15px;
			position: absolute;
			top: 0;
			left: 0;
			padding: 5px 7px;
			content: '×';
			text-align: center;
			color: @white;
		}
	}
}
