a.cta,
#ribbon button,
ul#reg li .register {
	.button_font();
	.button_gradient( @rnr-red, #d61920 );

	&:hover {
		.button_gradient( #d61920, #c0161d );
	}

}

.highlight {
	.button_font();
	margin: 0 0 24px;
	text-align: center;

	&:hover {
		color: @darkgray;
		.button_gradient( #fafafa, #e9e9e9 );
	}



	&.black {
		.button_gradient( @black, #222 );

		&:hover {
			.button_gradient( #222, #333 );
		}
	}
	&.blue {
		.button_gradient( #1600e2, #1400cb );

		&:hover {
			.button_gradient( #1400cb, #0f00a9 );
		}
	}
	&.gold {
		.button_gradient( #aaa000, #9a8f01 );

		&:hover {
			.button_gradient( #9a8f01, #807701 );
		}
	}
	&.gray {

		.button_gradient( #fafafa, #f2f2f2 );
		color: @mediumgray;

		&:hover {
			.button_gradient( #f2f2f2, #e9e9e9 );
			color: @mediumgray;
		}
	}
	&.green {
		.button_gradient( #39b54a, #33a342 );

		&:hover {
			.button_gradient( #33a342, #2b8638 );
		}
	}
	&.platinum {
		.button_gradient( #a6a6a6, #959595 );

		&:hover {
			.button_gradient( #959595, #7b7b7b );
		}
	}

	&.red,
	&.high_roller {
		.button_gradient( @rnr-red, #d61920 );

		&:hover {
			.button_gradient( #d61920, #c0161d );
		}
	}
	&.silver {
		.button_gradient( #7f7f7f, #727272 );

		&:hover {
			.button_gradient( #727272, #585858 );
		}
	}
	&.spectator,
	&.reception {
		.button_gradient( #404040, #393939 );
		color: #fff;

		&:hover {
			.button_gradient( #393939, #333 );
			color: #fff;
		}
	}
	&.stjude {
		.button_gradient( #fafafa, #f2f2f2 );
		color: #a30134;

		&:hover {
			.button_gradient( #f2f2f2, #e9e9e9 );
			color: #a30134;
		}
	}
	&.ironman {
		.button_gradient( @ironman-red, @ironman-red );
		color: @white;

		&:hover {
			.button_gradient( @ironman-red, @ironman-redshadow );
			color: @white;
		}
	}

}


a.cta {
	&_shortcode {
		margin: 0 0 24px;
	}
	&_big {
		font-size: 32px;
	}

}



// for random cases where cta class is added to a p or div tag
.cta {
	a {
		display: block;
		background: inherit;
		color: @rnr-red;
		width: inherit;
		padding: inherit;
		margin-bottom: inherit;

		&:hover {
			text-decoration: underline
		}
	}
}
