/* find a race filtering on series home	*/

#findrace {
	font-size: 0;
	/* Flex box progressive enhancements: */
	display: -webkit-flex;
	padding: 60px 0 30px;
	text-align: justify;
	background: @navborders;

	-webkit-backface-visibility: hidden;
	-webkit-flex-flow: row wrap;
	-webkit-justify-content: space-between;
	-webkit-align-content: flex-start;

	&:after {
		content: '';
		display: inline-block;
		width: 100%;
	}
	.wrapper {
		padding: 0 3%;

		@media @lg-breakpoint {
			padding: 0;
		}
	}
	h2 {
		font-family: 'Futura Std Bold Condensed';
		font-size: 26px;
		margin-bottom: 30px;
		padding-bottom: 20px;
		border-bottom: 1px solid #cecece;
		text-transform: uppercase;
		text-align: center;
	}
	.loc {
		text-align: center;
		margin: 0 auto 30px auto;
		background: #e21b22;
		width: 60px;
		height: 60px;
		border-radius: 30px;
	}
	.icon-location {
		color: @navborders;
		font-size: 35px;
		line-height: 1;
		display: inline-block;
		padding: 13px 0 0 0;
	}
	.controls {
		color: @mediumgray;
		font-size: 0;
		text-align: center;
		margin: 0 0 60px;

		label {
			font-family: 'Futura Std Medium Condensed';
			text-transform: uppercase;
			font-size: 17px;
			margin: 0 5px 0 50px;

			&:first-child {
				margin-left: 0;
			}
			&:last-of-type {
				display: block;
				margin: 30px 0 10px 0;

				@media @md-breakpoint {
					display: inline;
					margin: 0 5px 0 50px;
				}
			}
		}
		button {
			font-family: 'Arial', sans-serif;
			font-weight: bold;
			font-size: 14px;
			width: 26%;
			background: transparent;
			border: 2px solid #cfcfcf;
			text-transform: uppercase;
			margin: 0 0 10px 10px;
			padding: 10px 0 7px;
			transition:@transition;

			@media @sm-breakpoint {
				width: 15%;
			}
			@media @md-breakpoint {
				width: 10.5%;
				margin: 0 0 0 10px;
			}
			@media @lg-breakpoint {
				width: 120px;
			}
			&:hover {
				border-color: @mediumgray;
			}
			&:focus {
				outline: 0 none;
			}
			&.mixitup-control-active {
				background: #cfcfcf;
				color: #777;
				border-color: #cfcfcf;
			}
		}
		select {
			&:focus {
				outline: 0 none;
			}
		}
		#sort {
			display: inline-block;
			position: relative;

			&:after {
				content: "";
				cursor: pointer;
				width: 0;
				height: 0;
				position: absolute;
				right: 10px;
				top: 50%;
				margin-top: -5.2px;
				border-width: 10.4px 6px 0 6px;
				border-style: solid;
				border-color: @mediumgray transparent;
			}
		}
		#sortselect {
			font-family: 'Arial', sans-serif;
			font-size: 14px;
			font-weight: bold;
			position: relative;
			z-index: 1000;
			width: 120px;
			margin-left: 10px;
			padding: 10px 0 7px 8px;
			cursor: pointer;
			-webkit-transition: all 170ms ease-in-out;
			   -moz-transition: all 170ms ease-in-out;
			    -ms-transition: all 170ms ease-in-out;
			     -o-transition: all 170ms ease-in-out;
			        transition: all 170ms ease-in-out;
			text-transform: uppercase;
			border: 2px solid #cfcfcf;
			border-radius: 0;
			background: transparent;

			-webkit-appearance: none;
			   -moz-appearance: none;
			        appearance: none;
			&:hover {
				-webkit-transition: all 170ms ease-in-out;
				   -moz-transition: all 170ms ease-in-out;
				    -ms-transition: all 170ms ease-in-out;
				     -o-transition: all 170ms ease-in-out;
				        transition: all 170ms ease-in-out;
				border-color: @mediumgray;
			}
		}

	}

	.mix,
	.gap {
		display: inline-block;
		width: 100%;

		@media @sm-breakpoint {
			width: 48%;
		}
		@media @md-breakpoint {
			width: 216px;
		}
	}
	.mix {
		position: relative;
		text-align: center;
		vertical-align: top;
		color: @mediumgray;
		background: #fff;
		margin: 0 0 30px 0;
		padding: 30px 15px 0 15px;

		h5 {
			margin: 0 0 12px 0;
			padding: 0 0 8px;
			line-height: 1;
			font-size: 26px;
			font-weight: lighter;
			border-bottom: 1px solid @navborders;

			a:last-child {
				margin-left: 0;
			}
		}
		.date {
			font-size: 16px;
			margin-bottom: 20px;
		}
		a {
			color: inherit;

			&:hover {
				color: @black;
				text-decoration: none;
			}
			&:last-child {
				margin-left: 5.38%;
			}

			&.register2,
			&.event-home,
			&.results {
				display: inline-block;
				text-align: center;
				width: 47.3%;
				padding: 2% 0;
				color: #fff;
				font-size: 14px;
				font-family: 'Futura Std Bold Condensed';
				text-transform: uppercase;
				background: @mediumgray;
				-webkit-transition: all 120ms ease-in-out;
				   -moz-transition: all 120ms ease-in-out;
				    -ms-transition: all 120ms ease-in-out;
				     -o-transition: all 120ms ease-in-out;
				        transition: all 120ms ease-in-out;

				&:hover {
					text-decoration: none;
					background: #777;
				}

			}
			&.register2 {
				background: @rnr-red;

				&:hover {
					background: @rnr-redshadow;
				}
			}

		}
		span {
			display: inline-block;
			text-align: center;
			width: 47.3%;
			padding: 2% 0;
			color: #fff;
			font-size: 14px;
			font-family: 'Futura Std Bold Condensed';
			text-transform: uppercase;
			background: @mediumgray;

			&:last-child {
				margin-left: 5.38%;
			}
			&.sold {
				background: @black;
			}

		}
	}
}


/**
 * findrace modal
 */
.findrace_modal {
	padding: 15px;
	width: 800px;
	max-width: 90%;
	background-color:#fff;

	.grid_2_modal {

		@media @xs-breakpoint {
			overflow: hidden;
		}
		ul {
			margin: 0 0 30px 15px;
		}
		li {
			margin-bottom: 5px;
		}
		@media @xs-breakpoint {
			.column {
				float: left;
				width: 50%;
				padding: 0 15px;
			}
			.wp_moreinfo {
				display: block;

				ul {
					margin-left: 15px;
				}
				li {
					margin-bottom: 5px;
				}
			}
		}
	}
}


/**
 * twenty year treatment exception
 */
.twenty_years {
	#findrace h2 {
		margin-bottom: 30px;
	}
	.findrace__intro {
		font-size: 18px;
		margin-bottom: 60px;
	}
}



