// #rnr-series {
	#seriesfooter {
		text-align: center;

		ul {
			margin: 30px auto 15px auto;
		}
		li {
			font-size: 14px;
			color: @mediumgray;
			display: inline-block;
			border-left: 1px solid @mediumgray;
			margin: 0 8px 15px 0;
			padding: 0 0 0 8px;
			line-height: 1;

			&:first-child {
				border: none;
			}
		}
		a {
			color: #fff;
		}
	}
// }

footer {
	background: @black;
	border-top: 5px solid @rnr-red;
	overflow: auto;
	padding: 0 1em;

	nav#eventfooter {
		overflow: auto;
		padding: 55px 0 60px 0;

		div {
			float: left;
			width: 50%;
			text-align: center;

			&.serieslinks,
			&.racelinks {
				margin-bottom: 60px;
			}
			&.weekendlinks {
				clear: both;
			}

			@media @md-breakpoint {
				float: left;
				width: 25%;

				&.weekendlinks {
					clear: none;
				}
			}
			@media @lg-breakpoint {
				text-align: left;

				&.serieslinks,
				&.racelinks {
					margin-bottom: 0;
				}
				&.weekendlinks {
					clear: none;
				}
				ul {
					float: left;
				}
			}
		}

		h4 {
			font-family: 'Futura Std Medium Condensed';
			font-size: 18px;
			text-transform: uppercase;
			border-bottom: 1px solid #1a1a1a;
			margin-bottom: 15px;
			padding: 0 0 10px 0;
			letter-spacing: .06em;
			color:@mediumgray;
		}
		ul {
			float:none;

			li {
				display: block;
				list-style: none;
				font-family: 'Arial', sans-serif;
				font-size: 14px;
				text-transform: none;
				color: #fff;
				line-height: 1.8em;

				a {
					color: #fff;
					display: block;

					&:hover {
						color: @rnr-red;
						text-decoration: none;
					}
				}
			}
		}
		.lang {
			display: none;
		}

	}

	#globalfooter {
		font-size: 12px;
		margin: 0 auto;
		padding: 30px 0;
		text-align: center;
		color: @mediumgray;

		a {
			color: @mediumgray;
		}
		p {
			margin: 0;
			padding: 0;
		}
	}

	#footerlogo img {
		width: 200px;
		margin-bottom: 20px;
	}

	.connect-contact {
		margin-bottom: 15px;
	}

	@media @lg-breakpoint {
		padding: 0;
	}

}



