/* Grids */

.grid {
	&_1,
	&_2,
	&_3,
	&_4 {
		overflow: auto;
		padding: 0 1em;

		@media @md-breakpoint {
			overflow: hidden;
			padding: 0;
		}

		.column {
			width: 100%;
			float: none;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	&_2 {
		.offset240left {
			section {
				margin-bottom: 60px;
			}
			.column {
				width: 900px;

				&:last-child {
					width: 100%;
				}
			}
		}
		.offset240right {
			.column {
				&:last-child {
					width: 240px;
				}
			}
		}
		.offset780left {
			.column {
				width: 100%;

				&:last-child {
					width: 100%;
				}
			}
		}

		@media @md-breakpoint {
			overflow: hidden;
			padding: 0;

			.column {
				width: 47.5%;
				float: left;
				margin-left: 5%;

				&:first-of-type {
					margin-left: 0;
				}
			}

			&.offset240left {
				.column {
					width: 20%;

					&:last-child {
						width: 75%;
						float: right;
					}
				}
			}
			&.offset240right {
				.column {
					width: 75%;

					&:last-child {
						width: 20%;
					}
				}
			}
			&.offset780left {
				.column {
					width: 65%;

					&:last-child {
						width: 30%;
					}
				}
			}
		}
		@media @md-breakpoint {
			&.offset240left {
				.column {
					.stickit {
						width: 240px;
					}
				}
			}
		}
	}
	&_3 {
		@media @md-breakpoint {
			overflow: hidden;
			padding: 0;

			.column {
				float: left;
				margin-left: 5%;
				width: 30%;

				&:first-of-type {
					margin-left: 0;
				}
			}

		}
	}

	&_4 {
		@media @sm-breakpoint {
			overflow: auto;
			padding: 0;

			.column {
				float: left;
				width: 47.5%;
				margin-left: 5%;

				&:first-of-type {
					margin-left: 0;
				}
				&:nth-child(odd) {
					clear: both;
					margin-left: 0;
				}
				&:first-child {
					margin-left: 0;
				}
			}
		}
		@media @md-breakpoint {
			.column {
				width: 30%;

				&:nth-child(odd) {
					margin-left: 5%;
					clear: none;
				}
				&:nth-child(3n+1) {
					margin-left: 0;
					clear: both;
				}
			}
		}
		@media @lg-breakpoint {
			.column {
				width: 21.25%;

				&:nth-child(3n+1) {
					margin-left: 5%;
					clear: none;
				}
				&:nth-child(odd) {
					margin-left: 5%;
				}
				&:nth-child(4n+1) {
					margin-left: 0;
					clear: both;
				}
				&:first-child {
					margin-left: 0;
				}
			}
		}

	}


	/**
	 * specials
	 */
	&_2_special,
	&_3_special,
	&_4_special,
	&_5_special,
	&_6_special {
		text-align:center;

		@media @xs-breakpoint {
			font-size: 0;
			// overflow: hidden;
			margin: 0 -15px;
		}
		@media @sm-breakpoint {
			overflow: auto;
			padding: 0;
		}
		@media @md-breakpoint {
			margin: 0 -30px;
		}

		.column_special {
			margin-bottom: 60px;
			text-align: left;

			@media @xs-breakpoint {
				font-size: 18px;
				display: inline-block;
				width: 50%;
				padding: 0 15px;
				vertical-align: top;
			}
			@media @md-breakpoint {
				padding: 0 30px;
			}
		}
	}

	@media @md-breakpoint {
		&_3_special,
		&_5_special,
		&_6_special {
			.column_special {
				width: 33.33333333333333%;
			}
		}

		&_4_special {
			.column_special {
				width: 25%;
			}
		}

	}

	@media @lg-breakpoint {
		&_5_special {
			.column_special {
				width: 20%;
			}
		}

	}
}


