header {
	border-bottom: 5px solid @rnr-red;
	background: #fff;

	&.non-sticky {
		padding-top: 44px;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	a {
		color: @mediumgray;
		text-decoration: none;
	}

	/**
	 * logo
	 */
	#logo {
		border: none;
		float: none;
		height: 85px;
		margin-left: 20px;
		width: auto;

		@media @md-breakpoint {
			float: left;
			height: 116px;
			margin-left: 0;
			text-align: center;
			width: 21.25%;
		}
		@media @lg-breakpoint {
			border: solid @navborders;
			border-width: 0 0 0 1px;
		}
		@media @md-breakpoint {
			.minimal-nav & {
				height: 59px;
			}
		}
		img {
			width: 200px;

			// @media @xxs-breakpoint {
			// 	width: auto;
			// }
			@media @md-breakpoint {
				width: 90%;

				.minimal-nav & {
					width: 63%;
				}
			}


		}
	}


	/**
	 * countdown timer
	 */
	#counter {
		width: 50%;
		border-width: 0;
		float: left;

		@media @md-breakpoint {
			width: 100%;
			border-width: 0 1px 0 0;
		}

		td {
			border-width: 0 0 1px 1px;
			border-color: @navborders;
			border-style: solid;
			text-align: center;
			vertical-align: middle;
			width: 62px;
			color: @lightgray;
		}
		.stats td {
			font-family: @futura-ltcd;
			font-size: 24px;
			padding-top: 1px;
		}
		.labels td {
			font-family: @futura-bdcd;
			font-size: 14px;
			padding-top: 3px;
			text-transform: uppercase;
		}
	}

	nav {
		width: 100%;
		position: relative;

		@media @md-breakpoint {
			float: left;
			width: 57.5%;
		}

		ul {
			font-size: 0;
			margin: 0;
			padding: 0;

			li {
				list-style: none;
			}
		}


		/**
		 * primary - races/weekend or m's (series)
		 */
		#primary {
			overflow: hidden;
			width: 100%;

			@media @md-breakpoint {
				overflow: visible;
			}

			&.fourup a {
				width: 25%;
				font-size: 20px;

				@media @sm-breakpoint {
					font-size: 26px;
				}
			}
			ul {
				font-size: 0;
				margin: 0;
				padding: 0;
				float: left;
				width: 100%;
				display: inline-block;
				position: relative;

				li {
					list-style: none;
					display: inline;
					font-family: 'Futura Std Heavy';
					font-size: 16px;
					position: relative;
					text-transform: uppercase;
					font-size: 0;

					@media @md-breakpoint {
						&:hover > ul {
							z-index: 1000;
							display: block;
							overflow: visible;
						}
					}

					a {
						.button_font();
						.button_gradient( @white, @bg-gray );
						border: 1px solid @navborders;
						height: 57px;
						padding: 12px 0 0 0;
						text-align: center;
						font-size: 26px;
						border-width: 1px 0 0 1px;
						color: @mediumgray;

						&:hover {
							.button_gradient( #fafafa, #e9e9e9 );
							color: @mediumgray;
						}

						@media @md-breakpoint {
							border-width: 0 0 0 1px;
						}

						#rnr-event & {
							width: 50%;
						}
					}
				}

				/**
				 * sub-menu
				 */
				ul {
					width: 100.3%; /* touch the border	*/
					border-width: 0 1px 1px 1px;
					position: absolute;
					left: 0;
					display: none;
					overflow: hidden;
					width: 100%;
					border: solid @navborders;
					border-width: 0 0 1px 1px;
					background: #fff;
					box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.20);
					moz-box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.20);
					webkit-box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.20);

					li {
						display: block;
						float: none;

						&:first-child {
							a {
								border-top: none;
							}
						}

						&.current_page_item a {
							color: @white;
							background: @mediumgray;

							@media @md-breakpoint {
								color: @rnr-red;
								background: transparent;
							}

							&:hover {
								color: @white;
								background: @mediumgray;
							}
						}

						a {
							width: 100%;
							background: @white;
							border: solid @navborders;
							border-width: 1px 0 0 0;
							display: block;
							font-family: 'Futura Std Medium Condensed';
							font-size: 24px;
							height: 49px;
							padding: 10px 0 12px;
							text-align: center;
							text-transform: uppercase;

							@media @md-breakpoint {
								#rnr-event & {
									width: 100%;
								}
							}
						}
					}
				}
			}

		}


		/**
		 * hamburger menu
		 */
		.hamburger {
			color: @rnr-red;
			cursor: pointer;
			display: inline-block;
			height: 45px;
			position: absolute;
			right: 7%;
			transition: @transition;
			top: -56px;
			width: 30px;

			@media @md-breakpoint {
				display: none;
			}

			span:nth-child(-n+3) {
				display: block;
				position: absolute;
				height: 5px;
				width: 100%;
				background: @rnr-red;
				opacity: 1;
				left: 0;
				-webkit-transition: @transition;
				-moz-transition: @transition;
				-o-transition: @transition;
				transition: @transition;
			}

			span:nth-child(1) {
				top: 0;
			}
			span:nth-child(2) {
				top: 10px;
			}
			span:nth-child(3) {
				top: 20px;
			}

			&.open {
				color: @darkergray;

				span:nth-child(-n+3) {
					background: @darkergray;
				}
				span:nth-child(1) {
					top: 12px;
					-webkit-transform: rotate(135deg);
					-moz-transform: rotate(135deg);
					-o-transform: rotate(135deg);
					transform: rotate(135deg);
				}
				span:nth-child(2) {
					opacity: 0;
				}
				span:nth-child(3) {
					top: 12px;
					-webkit-transform: rotate(-135deg);
					-moz-transform: rotate(-135deg);
					-o-transform: rotate(-135deg);
					transform: rotate(-135deg);
				}

			}

			&__label {
				bottom: 2px;
				font-family: @futura-ltcd;
				font-size: 11px;
				opacity: 1;
				position: absolute;
				transition: @transition;
				text-align: center;
				text-transform: uppercase;
				width: 100%;
			}
		}


		/**
		 * global menu
		 */
		.global_menu {
			max-height: 0;
			overflow: hidden;
			float: none;
			text-align: center;
			width: 100%;
			-webkit-transition: max-height 0.5s;
			-moz-transition: max-height 0.5s;
			transition: max-height 0.5s;

			@media @md-breakpoint {
				display: block;
				max-height: inherit;
				overflow: visible;
			}

			&.menuOpen {
				max-height: 1000px;
				-webkit-transition: max-height 0.5s;
				-moz-transition: max-height 0.5s;
				transition: max-height 0.5s;
			}
			ul {
				background-color: @navborders;
				border-width: 0;
				padding-top: 10px;
				text-align: center;
				width: 100%;

				@media @md-breakpoint {
					background-color: transparent;
					border: solid @navborders;
					border-width: 0 0 1px 1px;
					float: left;
					margin: 0;
					padding: 0;
					width: 100%;

					.minimal-nav & {
						border-bottom: 0;
					}
				}

			}
			li {
				display: block;
				font-family: 'Open Sans', sans-serif;
				font-size: 18px;
				// font-weight: 700;
				position: relative;
				text-transform: uppercase;

				@media @md-breakpoint {
					display: inline;
					font-family: 'Futura Std Heavy';
					font-size: 16px;

					a {
						.lang-es & {
							padding: 1.25em 1em 1em 1em;
						}
					}
				}

				&:hover > a {
					color: @black;
				}

				&.lang {
					// display: none;
					body.lang-en &,
					body.lang-es &,
					body.lang-fr &,
					body.lang-pt & {
						display: block;
					}

					@media @md-breakpoint {
						float: right;

						&:hover > ul {
							z-index: 1000;
							display: block;
							overflow: visible;
						}

						&:hover > a .arrow-down {
							border-top-color: @black;
						}
					}


					ul {
						background: #fff;
						border-top: 1px solid @mediumgray;
						display: block;
						margin: 0;
						padding: 0;
						overflow: hidden;
						position: relative;
						width: 100%;
						z-index: 1000;
						// -webkit-box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.15);
						// -moz-box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.15);
						// box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.15);

						@media @md-breakpoint {
							display: none;
							position: absolute;
							width: 89px;
							background: #fff;
							border-top: none;
							border-right: 1px solid @navborders;
							border-bottom: 1px solid @navborders;
							border-left: 1px solid @navborders;
						}

						&.sub-menu {
							&-2 li {
								width: 50%;
								display: inline-block;
							}
							&-3 li {
								width: calc( 100%/3 );
								display: inline-block;
							}
							&-4 li {
								width: 25%;
								display: inline-block;
							}
							@media @md-breakpoint {
								li {
									width: 100%;
								}
							}
						}

					}
					li {
						&:first-child a {
							border-left:none;
						}
						&:hover > a {
							color: @black;
						}
						a {
							border-left: none;
							font-family: 'Futura Std Medium';
							font-size: 16px;
							display: block;
							border-left:1px solid @mediumgray;
							text-align: center;
							padding: 10px 0;

							@media @md-breakpoint {
								border: solid @navborders;
								border-width: 1px 0 0 0;
								color: @mediumgray;

								&:hover {
									color: @black;
								}
							}

						}
					}

					a {
						border-left: 1px solid @navborders;
						padding: 20px 15px 16px 20px;

						&.lang_dropdown {
							display: none;

							@media @md-breakpoint {
								display: block;
							}

						}
						@media @md-breakpoint {
							&:hover .arrow-down {
								border-top-color: @black;
							}
						}
					}

					@media @md-breakpoint {
						.arrow-down {
							float: right;
							margin: 4px 0 0 20px;
							width: 0;
							height: 0;
							border-left: 6px solid transparent;
							border-right: 6px solid transparent;
							border-top: 10.4px solid @lightgray;
						}
					}
				}
			}
			a {
				display: block;
				padding: 12px;
				background: @navborders;
				color: @darkergray;
				transition: @transition;

				@media @md-breakpoint {
					display: inline-block;
					padding: 1.25em 0.938em 1em 0.938em;
					color: @lightgray;
					background: none;
				}

				&:hover {
					text-decoration: none;
					color: @black;
				}
			}
		}
	}

}


/**
 * register button
 */
#getgoing {
	width: 100%;

	@media @md-breakpoint {
		width: 21.25%;
		float: right;
		border-bottom: 0;
		margin-bottom: 0;

		#rnr-series & {
			padding-top: 58px;
			border: solid @navborders;
			border-width: 0 1px;
		}
		#rnr-series.minimal-nav & {
			padding-top: 0;
		}
	}

	&-mobile {
		margin: 0;
		max-height: 0;
		transition: max-height 0.5s;
		overflow: hidden;

		.menuOpen + & {
			max-height: 59px;
		}
	}

}

ul#reg {
	position: relative;
	display: inline-block;
	width: 50%;
	font-size: 0;

	@media @md-breakpoint {
		width: 100%;
		border-bottom: none;
	}

	#rnr-series & {
		width: 100%;
	}

	ul {
		position: absolute;
		left: 0;
		display: none;
		overflow: hidden;
		width: 100%;
		border: solid @navborders;
		border-width: 0 0 1px 1px;
		background: #fff;
		box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.20);
		moz-box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.20);
		webkit-box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.20);

		@media @md-breakpoint {
			border-width: 0 1px 1px 1px;
		}

		li {
			display: block;
			float: none;

			&:first-child {
				border-top: 2px solid @rnr-redshadow;
				margin-top: -2px;

				a {
					border-top: 1px solid @rnr-red;
				}
			}

			a {
				background: @rnr-red;
				border: solid @rnr-redshadow;
				border-width: 1px 0 0 0;
				color: #fff;
				display: block;
				font-family: @futura-mdcd;
				font-size: 24px;
				padding: 10px 0 12px;
				text-align: center;
				text-transform: uppercase;

				@media @md-breakpoint {
					&:hover {
						text-decoration: none;
						color: @rnr-redshadow;
						background: @white;
					}
				}
			}
		}
	}
	li {
		list-style: none;
		position: relative;

		@media @md-breakpoint {
			&:hover > ul {
				z-index: 1000;
				display: block;
				overflow: visible;
			}
		}

		.register,
		.register_closed {
			height: 59px;
			padding: 12px 0 0 0;
			text-align: center;
			font-size: 26px;
			width: 100%;
			border-width: 0 0 1px 1px;

			@media @md-breakpoint {
				display: inline-block;
				height: 58px;
				border-width: 0 0 0 1px;

				#rnr-series.minimal-nav & {
					border: none;
					height: 59px;
				}
			}
			@media @lg-breakpoint {
				border-width: 0 1px;
			}
		}
		@media @md-breakpoint {
			.register {
				#rnr-series & {
					border-width: 1px 0 0;
					height: 58px;
				}

			}
		}
		.register_closed {
			.button_font();
			background: #333;
			font-size: 16px;
			padding: 18px 0 0 0;

			@media @xxs-breakpoint {
				font-size: 20px;
				padding-top: 16px;
			}
			@media @lg-breakpoint {
				font-size: 26px;
				padding-top: 12px;
			}

			.lang-es & {
				font-size: 14px;
				padding-top: 20px;

				@media @xxs-breakpoint {
					font-size: 18px;
					padding-top: 16px;
				}
				@media @sm-breakpoint {
					font-size: 26px;
					padding: 12px 0 0;
				}
				@media @md-breakpoint {
					padding: 18px 0 0;
					font-size: 18px;
				}
				@media @lg-breakpoint {
					padding: 15px 0 0;
					font-size: 22px;
				}
			}

		}
	}
}
