/* Hero */
#hero,
#new-hero {
	position: relative;
	clear: both;
	height: 350px;
	padding: 0 3%;
	text-align: center;
	text-transform: uppercase;
	color: #fff;

	@media @xs-breakpoint {
		height: 600px;
	}
	@media @lg-breakpoint {
		padding: 0;
	}

	h1 {
		font-family: 'Futura Std Bold';
		font-size: 11.25em;
		line-height: 1;
		display: inline-block;
		margin: 0;
		letter-spacing: -0.04em;
		color: #fff;

		#bigtext {
			width: 100%;
		}

		.kicker {
			font-family: 'Futura Std Medium';
			font-size: 19px;
			margin-bottom: 0.9%;
			letter-spacing: 0.02em;

			@media @xs-breakpoint {
				font-size: 24px;
			}
		}
		.subhead {
			font-family: 'Futura Std Light';
			font-size: 26px;
			line-height: 1;
			margin: 0;
			letter-spacing: -0.04em;

			&:before {
				right: 0.5em;
			}
			&:after {
				left: 0.5em;
			}

			strong {
				font-family: 'Futura Std Medium';
				letter-spacing: 0.01em;
			}
		}
		.kicker,
		.subhead {
			display: block;
			overflow: hidden;
			text-align: center;

			@media @md-breakpoint {
				font-size: 32px;
			}

			&:before,
			&:after {
				position: relative;
				display: inline-block;
				width: 50%;
				height: 1px;
				margin-bottom: 10px;
				content: '';
				vertical-align: middle;
				background-color: #fff;
			}
		}

		span {
			&:before {
				right: 0.9em;
				margin-left: -50%;
			}
			&:after {
				left: 0.9em;
				margin-right: -50%;
			}
		}

		.headline {
			display: block;
			margin-bottom: 5px;
		}

		#rnr-event.home.page & {
			margin-top: .25em;
		}
		#rnr-event.page & {
			margin-top: -40px;
		}
	}

	.play a {
		line-height: 1;
		display: inline-block;
		width: 90px;
		height: 90px;
		margin: 20px 0 -20px;
		padding-top: 22px;
		padding-left: 10px;
		transition: @transition;
		border-radius: 45px;
		background: @rnr-red;

		&:hover {
			background: @black;
		}
	}
	.icon-play {
		font-size: 45px;
		color: #fff;
	}

}

/* video hero */

#hero-video {
	position: relative;
	display: none;
	clear: both;
	height: 300px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;

	@media @xs-breakpoint {
		height: 360px;
	}
	@media @md-breakpoint {
		height: 540px;
	}
	@media @lg-breakpoint {
		height: 580px;
	}

	.hero-video-wrapper {
		max-width: 1200px;
		height: 100%;
		margin: 0 auto;
		padding: 0;
	}
	.big_video_close {
		line-height: 1;
		position: absolute;
		top: 0;
		right: 0;
		padding: 0 3px 4px;
		background: @rnr-red;

		&:hover {
			background: @black;
		}
	}

	.icon-cancel {
		font-size: 28px;
		color: #fff;

		&:before {
			margin: 0;
		}
	}
}


#new-hero {
	height: auto;
	padding: 15px;

	.hero-copy {
		font-family: 'Futura Std Bold';
		display: inline-block;
		width: 100%;
		margin: 0;
		padding: 120px 0;
		letter-spacing: -0.04em;
		color: #fff;

		.kicker {
			font-family: 'Futura Std Medium';
			font-size: 19px;
			margin-bottom: 0.9%;
			letter-spacing: 0.02em;
		}
		.subhead {
			font-family: 'Futura Std Light';
			font-size: 26px;
			line-height: 1;
			margin: 0;
			letter-spacing: -0.04em;

			&:before {
				right: 0.5em;
			}
			&:after {
				left: 0.5em;
			}

			strong {
				font-family: 'Futura Std Medium';
				letter-spacing: 0.01em;
			}
		}

		.kicker,
		.subhead {
			display: block;
			overflow: hidden;
			text-align: center;

			&:before,
			&:after {
				position: relative;
				display: inline-block;
				width: 50%;
				height: 1px;
				margin-bottom: 10px;
				content: '';
				vertical-align: middle;
				background-color: #fff;
			}

			@media @md-breakpoint {
				font-size: 32px;
			}
		}

		span {
			&:before {
				right: 0.9em;
				margin-left: -50%;
			}
			&:after {
				left: 0.9em;
				margin-right: -50%;
			}
		}

	}
	/* .grid_hero {
		.column_license {
			text-align: center;

			.event_logo {
				max-width: 300px;
				margin-bottom: 15px;
			}
			.event_date {
				font-family: 'Futura Std Medium';
				font-size: 26px;
				margin-bottom: 60px;
				text-align: center;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: #fff;
			}
			h3 {
				font-family: 'Futura Std Bold';
				line-height: 1;
				letter-spacing: -1px;
				color: #fff;

				span {
					display: block;
					text-transform: uppercase;

					&.blurb {
						font-family: 'Futura Std Medium';
						font-size: 19px;
						margin-bottom: 0.9%;
						letter-spacing: 0.02em;
					}
					&.event_name {
						font-family: 'Futura Std Bold';
						font-size: 46px;
					}
				}
			}
		}
		.column_text {
			display: none;
		}
	} */
}
