#features {
	background: @bg-gray;
	padding: 60px 0 50px;

	ul {
		margin: 0 0 20px 20px;
	}
}

#features,
#info {
	h2 {
		font-family: 'Futura Std Bold Condensed';
		font-size: 26px;
		margin-bottom: 30px;
		padding-bottom: 20px;
		border-bottom: 1px solid @navborders;
		text-transform: uppercase;
		text-align: center;
	}

}

#info {
	padding: 60px 0 30px;

	h2 {
		margin-bottom: 24px;
	}
	h3 {
		font-size: 1.313em;
		color: @black;
		font-weight: normal;
		margin: .188em 0 .5em 0;
		line-height: 1.2em;
		a {
			color: inherit;
		}
	}
	time {
		font-size: .875em;
		color: @black;
		a {
			color: inherit;
		}
	}
	article {
		padding-bottom: 14px;
		border-bottom: 1px solid @navborders;
		margin-bottom: 22px;
		overflow: hidden;

		&:last-of-type {
			border-bottom: none;
			margin-bottom: 40px;
		}


	}
	figure {
		display: none;
	}
	.star {
		text-align: center;
		margin: 0 auto;
		background: @white;
		//width: 60px;
		height: 55px;
		padding: 5px 7px 0 0;
		margin-bottom: 30px;
	}
	.icon-star {
		color: @rnr-red;
		font-size: 60px;
		line-height: 1;
		padding: 18px 0 0 0;
	}
	.list {
		text-align: center;
		margin: 5px auto 20px auto;
		background: @rnr-red;
		width: 60px;
		height: 60px;
		padding: 8px 0 0 0;
	}
	.icon-list {
		color: @white;
		font-size: 44px;
		line-height: 1;
		/* padding: 18px 0 0 0; */
	}

}
