/* interstitial driver styling*/
.fancybox-lock body {
	position: fixed;
	width: 100%;
	height: 100%;
}
.fancybox-driver-wrap {
	top: 0 !important;

	&,
	.fancybox-skin,
	.fancybox-inner,
	#driver {
		height: 100% !important;
	}
	.fancybox-skin {
		background: none;
		box-shadow: none;
	}
	.fancybox-close {
		top: 10px;
		right: -10px;
		display: inline-block;
		overflow: hidden;
		width: 40px;
		height: 40px;
		color: @white;
		background: none;

		&:before,
		&:after {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 2px;
			margin-top: -1px;
			content: '';
			background: @white;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
}

#driver {
	font-family: 'Futura Std Bold';
	display: none;
	margin: 0 auto;
	text-align: center;
	color: @white;

	#driver-logo {
		max-width: 185px;
		margin: 15px 0;

		@media (min-width: 26.250em) {
			max-width: 300px;
			margin-top: 35px;
			margin-bottom: 25px;
		}
	}
	h2 {
		font-size: 32px;
		line-height: 34px;
		margin-bottom: 25px;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		color: @white;

		@media (min-width: 26.250em) {
			font-size: 60px;
			line-height: inherit;
			padding-top: 25px;
			border-top: 1px solid @white;
		}
	}
	.column_special {
		float: none;
		margin: 0 auto 10px;

		@media (min-width: 26.250em) {
			margin-bottom: 40px;

			&:only-child {
				width: auto;
			}

		}
	}
	.enter-site {
		font-size: 24px;
		display: inline-block;
		margin-top: 20px;
		padding: 15px 20px;
		text-transform: uppercase;
		color: @white;
		border: 2px solid @white;
	}
	.driver-link {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		border: 4px solid @white;
		display: block;
		height: 60px;
		outline: none;
		transition: @transition;

		@media (min-width: 26.250em) {
			width: auto;
			height: auto;

			&.mobile-image-button img {
				visibility: visible;
			}
		}
		&:hover {
			transform: translateY(3px);
		}

		img {
			display: none;

			@media (min-width: 26.250em) {
				display: block;
				visibility: hidden;
			}
		}

		.grid_2_special & {
			height: 120px;
		}
	}

}

.srcset {

	#driver {

		.driver-link.mobile-image-button {
			background-image: none !important;

			img {
				display: block;
			}
		}

		.column_special:only-child .driver-link.mobile-image-button {
			height: auto;
		}

	}

}
