/* liveblog */
.liveblog {
	&_entries {
		margin: 0 0 60px 0;

		li {
			padding: 60px 0;
			list-style: none;
			border-bottom: 1px solid @navborders;
		}
		blockquote {
			margin: 0 0 24px;

			p {
				font-size: 24px;
				line-height: 1.4;

				@media @xs-breakpoint {
					font-size: 36px;
					line-height: 1.4;
				}
			}
		}
		figure {
			@media @xs-breakpoint {
				display: table;
				margin: 0 auto 30px;
			}
		}
		figcaption {
			@media @xs-breakpoint {
				display: table-caption;
				caption-side: bottom;
			}
		}
		.tumblr_video_iframe {
			margin-bottom: 30px;
		}
		.twitter-tweet {
			margin: 0 auto 30px !important;
		}
	}
	&_timestamp {
		font-size: 13px;
		font-style: italic;
		text-align: right;
	}

	&_gallery {
		@media @xs-breakpoint {
			overflow: hidden;
			margin: 0 -15px;
		}

		figure img {
			margin-bottom: 30px;

			@media @xs-breakpoint {
				display: inline-block;
				width: 50%;
				margin-bottom: 30px;
				padding: 0 15px;
				vertical-align: top;
			}
			@media @lg-breakpoint {
				width: calc( 100% / 3 );
			}
		}
	}
	&_entries figcaption {
		font-style: italic;
		margin-top: 10px;
	}
	&_nav {
		overflow: hidden;
		margin-bottom: 60px;

		.navright {
			float: right;
		}
		.navleft {
			float: left;
		}
	}

}
.single-post main .liveblog_entries h3:first-of-type {
	margin-top: 0;
}
