/* Subnav */
main.no-hero {
	position: relative;
	padding: 0;

	.non-stickem.sticky {
		padding-top: 108px;
	}
	.wrapper {
		padding: 30px 1em;

		@media @md-breakpoint {
			padding: 60px 1em;
		}

		section {
			padding: 60px 0 0;
		}
	}
	#subnav {
		font-family: Futura Std Heavy;
		font-size: 16px;
		text-transform: uppercase;
		background-color: @black;

		.wrapper {
			padding: 0;
		}
		.subnav-menu-label {
			font-family: 'Futura Std Bold Condensed';
			font-size: 26px;
			height: 57px;
			padding: 10px;
			padding-top: 12px;
			cursor: pointer;
			text-align: center;
			text-align: center;
			text-transform: uppercase;
			color: @mediumgray;
			border-width: 1px 0 0 1px;
			background:    -moz-linear-gradient(top,	#fff 0%, #fff 50%, @bg-gray 51%, @bg-gray 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(50%,#fff), color-stop(51%,@bg-gray), color-stop(100%,@bg-gray)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,	#fff 0%,#fff 50%,@bg-gray 51%,@bg-gray 100%); /* Chrome10+,Safari5.1+ */
			background:      -o-linear-gradient(top,	#fff 0%,#fff 50%,@bg-gray 51%,@bg-gray 100%); /* Opera 11.10+ */
			background:     -ms-linear-gradient(top,	#fff 0%,#fff 50%,@bg-gray 51%,@bg-gray 100%); /* IE10+ */
			background:         linear-gradient(to bottom,	#fff 0%,#fff 50%,@bg-gray 51%,@bg-gray 100%); /* W3C */

			&:before {
				position: absolute;
				left: 10%;
				margin-top: 10px;
				content: '\A';
				transition: all linear 0.15s;
				border-width: 9px 0 9px 16px;
				border-style: solid;
				border-color: transparent transparent transparent @mediumgray;
			}
			&.open:before {
				transition: all linear 0.15s;
				-webkit-transform: rotate(90deg);
				   -moz-transform: rotate(90deg);
				        transform: rotate(90deg);
			}
		}
		ul {
			float: none;
			overflow: hidden;
			max-height: 0;
			margin: 0;
			-webkit-transition: max-height 0.5s;
			   -moz-transition: max-height 0.5s;
			        transition: max-height 0.5s;
			text-align: center;
			text-align: center;
			border: solid #dbdbdb;
			border-width: 1px 0 0 0;

			@media @md-breakpoint {
				max-height: inherit;
				border: none;
			}

			&.menuOpen {
				display: block;
				max-height: 1000px;
				-webkit-transition: max-height 0.5s;
				   -moz-transition: max-height 0.5s;
				        transition: max-height 0.5s;
			}
		}
		li {
			font-size: 16px;
			margin: 0;
			list-style: none;
			border-bottom: 1px solid #666;

			&.current_page_item a {
				color: @rnr-red;
				background-color: @white;
			}

			@media @md-breakpoint {
				border: none;
				display: inline-block;
			}
		}
		a {
			display: block;
			padding: 15px 30px;
			transition: @transition;
			color: @white;

			@media @md-breakpoint {
				padding: 15px;
			}
			@media @lg-breakpoint {
				padding: 15px 25px;
			}
			&:hover {
				text-decoration: none;
				color: @white;
				background-color: @rnr-red;
			}
			&.subnav-current-page {
				color: @rnr-red;
				background-color: @white;
			}
		}
	}
}
