#partnerlogos {
	padding: 60px 1em;

	@media @md-breakpoint {
		padding-left: 0;
		padding-right: 0;
	}
	h2 {
		font-family: 'Futura Std Bold Condensed';
		font-size: 26px;
		margin-bottom: 30px;
		padding-bottom: 20px;
		border-bottom: 1px solid @navborders;
		text-transform: uppercase;
		text-align: center;
	}


	#highlight-carousel {
		overflow: auto;
		text-align: center;
		margin-bottom: 60px;

		.owl-item {
			padding: 0 30px;
		}
	}
	/* .highlight-partners {
		overflow: auto;
		text-align: center;
		margin-bottom: 60px;

		a {
			margin: 30px 30px 0;
			display: block;

			@media @md-breakpoint {
				display: inline-block;
			}

			&:first-child {
				margin-top: 0;
			}
		}
	} */
}
