/**
* pixlee styling
*/
#socialfeed {
	overflow: hidden;
	padding: 60px 0;
	background: @bg-gray;

	h2 {
		font-family: 'Futura Std Bold Condensed';
		font-size: 26px;
		margin-bottom: 30px;
		padding-bottom: 20px;
		text-align: center;
		text-transform: uppercase;
		border-bottom: 1px solid #d9d9d9;
	}
}

.grid {
	&-sizer,
	&-item {
		position: relative;
		float: left;
		width: calc( 100%/3 );
		padding: 5px;

		@media @md-breakpoint {
			width: 20%;
		}
	}

	&-item {
		img {
			width: 100%;
			background-position: center;
			background-size: cover;
		}

		&-15 {
			display: none;

			@media @md-breakpoint {
				display: block;
			}
		}

		&--width2 {
			.grid-mobile& {
				width: 66.66666666666667%;

				@media @md-breakpoint {
					width: 20%;
				}
			}
			@media @md-breakpoint {
				.grid-desktop& {
					width: 40%;
				}
			}
		}

		@media @md-breakpoint {
			&--width2 {
				width: 40%;
			}
		}
	}

	&_social_icon {
		position: absolute;
		z-index: 999;
		top: 10px;
		right: 10px;

		.icon-twitter {
			color: #6cadde;
		}
		.icon-facebook {
			color: #3b5998;
		}
		.icon-instagram {
			color: #3f729b;
		}
	}
}


.modal {
	figure {
		margin-bottom: 30px;
		text-align: center;
	}
	.modal_content {
		padding: 0 15px 30px;
		h2 {
			font-family: 'Futura Std Bold Condensed';
			font-size: 26px;
			margin-bottom: 30px;
			padding-bottom: 20px;
			text-transform: uppercase;
			color: @mediumgray;
			border-bottom: 1px solid @navborders;
		}
	}
}


#div-600_600_1 div,
#div-600_600_2 div,
#div-600_600_3 div,
#div-600_600_4 div {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 100%;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

