#races {
	padding: 60px 0 30px 0;
	background: @black url(img/sd_bg_races.jpg) repeat-y 50% 0;

	p {
		color: @lightgray;
		text-align: center;
	}
	.racebadge {
		width: 250px;
		height: 250px;
		margin: 0 auto 30px auto;
		border: 2px solid @rnr-redshadow;
		-moz-border-radius: 125px;
		-webkit-border-radius: 125px;
		border-radius: 125px;
		background-color: rgba(204, 0, 102, 0);
		text-align: center;

		h3 {
			margin: 0;
			font-family: 'Futura Std Light';
			font-size: 60px;
			color: @white;
			letter-spacing: -.05em;

			strong {
				font-family: 'Futura Std Bold';
			}
		}
		h4 {
			margin: 0;
			font-family: 'Futura Std Bold';
			font-size: 48px;
			color: @white;
			text-transform: uppercase;
			border-top: 1px solid @rnr-redshadow;
			padding-top: 12px;
			width: 160px;
			margin: 0 auto;
		}
	}
}
