/* search */
.search-form {
	ol {
		padding: 0;
		margin-top: 0;

		li {
			list-style: none;
		}
	}
	.search-field {
		background: #fff;
		border: none;
		box-sizing: border-box;
		color: @mediumgray;
		outline: none;
		transition: @transition;
		width: 100%;

		@media @xs-breakpoint {
			display: inline-block;
			width: 80%;
		}
		@media @md-breakpoint {
			width: 100%;
			display: block;
		}

	}
	button.search-submit {
		padding: 12px 17px;
		vertical-align: top;
		.button_font();
		.button_gradient( @rnr-red, #d61920 );


		@media @md-breakpoint {
			width: auto;
		}

		&:hover {
			.button_gradient( #d61920; @rnr-redshadow );
		}
	}

}


@media @md-breakpoint {
	.searchform_inpage {
		max-width: 600px;

		.search-field {
			width: 80%;
			display: inline-block;
		}
		button.search-submit {
			width: 20%;

		}
	}
}
