.instagram_embed {
	margin-bottom: 30px;
	&.aligncenter iframe {
		display: table!important;
		margin: auto!important;
	}
}
.twitter_embed {
	margin-bottom: 30px;
	&.twitter_left iframe {
		margin-right: 30px !important;
		margin-bottom: 30px !important;
	}
	&.twitter_right iframe {
		margin-bottom: 30px !important;
		margin-left: 30px !important;
	}
}
#pixlee_container {
	margin-bottom: 30px;
}
#info-embed {
	margin-bottom: 30px !important;
}

.attn_alert {
	display: block;
	margin-bottom: 30px;
	padding: 10px 20px;
	color: @rnr-red;
	border: 2px solid @rnr-red;
	a {
		text-decoration: underline;
	}
}

.alert {
	color: @rnr-red;
}

.video-container {
	position: relative;
	overflow: hidden;
	height: 0;
	margin-bottom: 60px;
	padding-top: 30px;
	padding-bottom: 56.25%;
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.mid_prevent_mobile .mid {
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
}
#reg_testimonial {
	margin-bottom: 60px;
	.owl-item div {
		display: table;
		max-width: 600px;
		margin: auto;
		text-align: right;
	}
	.icon-quote-left {
		font-size: 36px;
	}
	.attrib {
		font-style: italic;
	}
}

.button_group {
	overflow: hidden;
	margin-bottom: 30px;
	text-align: center;
	ul,
	li {
		margin: 0;
	}
	li {
		list-style-type: none;

		@media @xs-breakpoint {
			float: left;
			margin-left: -1px;

			&:first-child {
				margin-left: 0;
				a {
					border-top-left-radius: 4px;
					border-bottom-left-radius: 4px;
				}
			}
			&:last-child {
				a {
					border-top-right-radius: 4px;
					border-bottom-right-radius: 4px;
				}
			}
		}

		a {
			padding: 9px 20px;
			border-radius: 4px;

			@media @xs-breakpoint {
				border-radius: 0;
			}
			@media @md-breakpoint {
				padding: 9px 40px;
			}
		}
	}
	.button_single {
		border: 1px solid @navborders;
	}
	@media @xs-breakpoint {
		&.button_group_center {
			display: table;
			margin: 0 auto 30px;
		}
		&.button_group_right {
			float: right;
		}
	}
}


.showmobile,
.showdesktop {
	margin-bottom: 24px;
}
.showdesktop {
	display: none;
	@media @md-breakpoint {
		display: block;
	}
}
@media @md-breakpoint {
	.showmobile {
		display: none;
	}
}


@media @md-breakpoint {
	.narrow {
		width: 75%;
		margin: auto;
	}
}
