/* Social Ribbon*/
#ribbon {
	font-size: 0;

	@media @md-breakpoint {
		overflow: hidden;
		height: 80px;
	}

	.wrapper {
		overflow: auto;
		text-align: center;
		padding: 20em;

		@media @md-breakpoint {
			text-align: inherit;
		}

		&.mid {
			top: inherit;
			-webkit-transform: inherit;
			-ms-transform: inherit;
			-moz-transform: inherit;
			-o-transform: inherit;
			transform: inherit;
			padding: 3% 0 3% 0;

			@media @sm-breakpoint {
				padding: 3% 0 0 0;
			}
			@media @md-breakpoint {
				top: 50%;
				padding: 0 3%;
				-webkit-transform: translateY(-50%);
				   -moz-transform: translateY(-50%);
				    -ms-transform: translateY(-50%);
				     -o-transform: translateY(-50%);
				        transform: translateY(-50%);
			}
		}
	}
	form {
		float: none;
		text-align: center;
		margin-bottom: 3%;

		@media @md-breakpoint {
			float: right;
			text-align: left;
			margin-bottom: 0;
		}
	}
	input {
		border: 2px solid @navborders;
		color: @mediumgray;
		margin-right: 10px;
		padding: 9px 8px;
		font-size: 16px;
		line-height: normal;
		width: 230px;

		&:focus {
			outline: 0 none;
		}
	}
	p {
		color: #cecece;
	}
	a {
		color: #fff;
		border-radius: 20px;
	}
	div {
		font-family: 'Futura Std Bold Condensed';
		font-size: 36px;
		float: none;
		display: inline-block;
		line-height: normal;
		margin: 0;
		color: #cecece;
		vertical-align: top;

		@media @md-breakpoint {
			float: left;
		}
	}
	.hash {
		top: -0.15em;
		position: relative;
		display: block;

		@media @sm-breakpoint {
			display: inline-block;
		}
		@media @md-breakpoint {
			top: inherit;
			position: inherit;
		}
	}
	span.pop {
		font-family: 'Futura Std Medium';
		display: none;

		@media @sm-breakpoint {
			display: inline;
		}
	}
	.youtube a,
	.twitter a,
	.facebook a,
	.instagram a,
	.pinterest a {
		float: left;
		display: inline-block;
		line-height: normal;
		font-size: 21px;
		text-align: center;
		margin: 1px 0 0 15px;
		padding-top: 8px;
		height: 40px;
		width: 40px;
		transition:@transition;
		background: #d5d5d5;

		&:hover {
			background: @rnr-red;
		}
	}
	.twitter a {
		margin-left: 10px;
	}
	.youtube a {
		margin-left: 0;
		padding-top: 6px;
	}
	.instagram a {
		padding-top: 6px;
	}
	&.moments_ribbon,
	&.moments-share {
		@media @md-breakpoint {
			height: auto;
		}
		.twitter a {
			margin-left: 15px;
		}
	}
	.schedule {
		@media @xs-breakpoint {
			float: right;

			a {
				text-align: center;
				margin: 1px 0 0 15px;
				padding-top: 8px;
				transition: @transition;
				color: @darkgray;
				font-size: 36px;

				span {
					font-size: 35px;
					height: 50px;
					width: 50px;
					background: @rnr-red;
					color: #fff;
					padding: 3px 1px 0px 1px;
					border-radius: 50%;
					margin-right: 10px;
					transition: @transition;

					&:before {
						font-size: 45px;
						margin: 0;
					}
					&:hover {
						background: @darkgray;
						transition: @transition;
					}
				}
			}
		}
		a {
			color: #cecece;
		}
	}
}
