.sticky-nav {
	&__stickit {
		&-mobile {
			background-color: @white;
			width: 100%;
			left: 0;
			z-index: 100;
			position: fixed;
			box-shadow: 0 10px 5px rgba(0, 0, 0, .15);

			ul {
				margin-bottom: 0 !important;
			}
		}
		&-desktop {
			position: fixed;
			width: 20%;
			max-width: 240px;

			&-bottom {
				bottom: 0;
				position: absolute;
				top: auto;
			}
		}
	}
}
