/* twenty years */
.twenty_years {
	#hero {
		color: #4e4e4e;
		height: auto;
		text-transform: initial;
		overflow: hidden;
		background-repeat: repeat-y;

		#bigtext {
			padding: 0 0 6px;

			#rnr-event & {
				padding: 0;
			}
		}

		h1 {
			color: #4e4e4e;
			text-transform: uppercase;
			margin-bottom: 10px;

			#rnr-event.home.page&,
			#rnr-event.page&,
			#rnr-event.archive&,
			#rnr-event.single&,
			#rnr-event.error404& {
				margin: 0;
				padding: 60px 0;

				#rnr-event.home.page.twenty_years_event& {
					padding-top: 0;
				}
			}

			@media @md-breakpoint {
				#rnr-event.home.page&,
				#rnr-event.page&,
				#rnr-event.archive&,
				#rnr-event.single&,
				#rnr-event.error404& {
					margin: 0;
					padding: 120px 0;
				}
				#rnr-event.home.page.twenty_years_event& {
					padding: 0;
				}
			}

			.kicker,
			.subhead {
				&:before,
				&:after {
					background-color: #4e4e4e;
				}
			}
		}
		.play {
			margin-top: -60px;
			padding-bottom: 60px;

			@media @md-breakpoint {
				margin-top: -120px;
				padding-bottom: 120px;
			}
		}


	}
	#new-hero {
		.hero-copy {
			color: #4e4e4e;
		}
		.kicker,
		.subhead {
			&:before,
			&:after {
				background-color: #4e4e4e;
			}
		}
	}
	&__logo {
		margin-bottom: 30px;
		padding-top: 60px;

		@media @md-breakpoint {
			float: left;
			width: 20%;
			padding-top: 120px;
			margin-bottom: 120px;
		}

		img {
			width: 175px;

			@media @md-breakpoint {
				width: 240px;
			}
		}
	}
	&__content {
		@media @xs-breakpoint {
			.button_group {
				display: table;
				margin: 0 auto 30px;

				ul {
					margin: 0 -15px;

					li {
						padding: 0 15px;
					}
				}
			}
		}
		@media @md-breakpoint {
			text-align: left;

			.button_group {
				margin-bottom: 0;

				a {
					margin-bottom: 0;
				}
			}
		}
	}
	@media @md-breakpoint {
		&.page-template-series-home,
		&.page-template-site-home.twenty_years_event {
			#hero {
				overflow: hidden;

				#bigtext {
					float: left;
					width: 80%;
					padding: 120px 0 120px 60px;
				}
				.play {
					margin-top: 0;
					padding-bottom: 0;
				}
			}
		}
	}

}
