/*  1200px -- Full width desktop site */
@media @lg-breakpoint {

	main {
		padding: 60px 0 0 0;
	}

	.wrapper {
		padding: 0;
	}

	#subnav a {
		padding: 15px 46px;
	}


	.offset240left {
		.mid_prevent_mobile {
			&.video_desc {
				height: 250px;
			}
		}
	}

	.mid_prevent_mobile {
		&.video_desc {
			height: 350px;
		}
	}


	.page-template-distances {
		.perks {
			li {
				width: calc( 100%/3 );
			}
		}
	}
	/* end 1200px */
}
