#rnr-event.post {
	.grid_2.offset240left {
		.column:first-child h2 {
			width: 180px;
		}
		ul {
			margin-bottom: 40px;
		}
		li {
			line-height: 1;

			a {
				color: @mediumgray;
				padding: 0 0 17px;
				display: block;
				font-size: 16px;

				&:hover {
					color: @black;
					text-decoration: none;
				}
			}
		}
	}
}

/* odd columns for registration page */
.grid_2.reg {
	width: 240px;

	.column:last-child {
		width: 900px;
	}
}

nav #primary ul ul li a:hover {
	text-decoration: none;
	color: @white;
	background: @rnr-red;
}

#rnr-event {
	&.single-post {
		#hero,
		#new-hero {
			border-bottom: 2px solid #d9d9d9;

			h1 {
				margin-top: 0;
			}
		}
	}
}


#rnr-series #hero h1 .subhead,
#rnr-series #new-hero h1 .subhead {
	font-family: 'Futura Std Light'; /*font-size: 36px;*/ letter-spacing: normal; margin: 27px 0 0 0; line-height: 1;
}


/* series home no blog */
#rnr-series {
	&.page-template-series-home main {
		padding: 0;
		overflow: inherit;
	}
	main {
		.blackout {
			height: 600px;
			padding: 0 15px;
			color: @white;
			border-top: 5px solid @rnr-red;
			background: hsla(0, 0%, 0%, 0.8);

			h3 {
				color: @white;
				font-family: 'Futura Std Bold';
				font-size: 36px;
				text-align: center;
				border-bottom: 1px solid @white;
				margin: 0 0 30px 0;
				padding: 0 0 30px 0;
				line-height: 1;
				text-transform: uppercase;
			}
			a {
				color: @white;
				display: block;
				position: relative;
				padding-left: 20px;

				&:hover {
					text-decoration: none;
				}
			}
		}
		.half-r .blackout {
			right: auto;
			left: 0;
		}
	}
	#miles,
	#music,
	#medals,
	#moments {
		position: relative;
	}
	#miles {
		background: url(img/series_bg_panel1.jpg) no-repeat 26% 0;
	}
	#music {
		background: url(img/series_bg_panel2.jpg) no-repeat 22% 0;
	}
	#medals {
		background: url(img/series_bg_panel3.jpg) no-repeat 20% 0;
	}
	#moments {
		background: url(img/series_bg_panel1.jpg) no-repeat 26% 0;
	}

	#partnerlogos {
		padding-top: 0;
	}

}

.blog.icon{
	background: @rnr-red;
	margin: 5px auto 20px auto;
	width: 60px;
	border-radius: 30px;
	height: 60px;
}

main.vip select:hover {
	-webkit-transition: all 170ms ease-in-out;
	   -moz-transition: all 170ms ease-in-out;
		-ms-transition: all 170ms ease-in-out;
		 -o-transition: all 170ms ease-in-out;
			transition: all 170ms ease-in-out;
	border-color: @mediumgray;
}


/* Blog and schedule styles */
.page-template-schedule-php {
	.content {
		.event_item {
			margin-bottom: 30px;
		}
		time {
				margin-bottom: 10px;
		}
	}
}

.sidenav {
	display: none;

	time {
		display: block;
		margin-bottom: 5px;
	}
}

.page-template-distances .sidenav,
.page-template-news-n-promos .sidenav {
	display: block;
	margin-bottom: 60px;
}


.wp-caption {
	border-top: 1px solid @navborders;
	border-bottom: 1px solid @navborders;
	margin-bottom: 24px;
	padding: 15px 0;
	text-align: center;
	clear: both;

	&-text {
		font-size: 16px;
		font-style: italic;
		margin: 10px 0 0;
	}
}

.page-template-news-n-promos .alignleft {
	margin-bottom: 30px;
}

nav.archive_nav {
	font-size: 16px;
	overflow: hidden;
	margin: 0 0 60px;

	.alignleft {
		float: left;
		width: 50%;
	}
	.alignright {
		float: right;
		text-align: right;
		width: 50%;
	}
}


/* archive */
.archive article,
.page-template-news-n-promos article,
.search-results article {
	margin-bottom: 60px;
	overflow: hidden;
}
.oneoff {
	margin-bottom:60px;
}
#author-profile {
	border-bottom: 1px solid @navborders;

	&-single {
		padding-top: 30px;
		border-top: 1px solid @navborders;
		overflow: hidden;
		margin-bottom: 30px;

		.wrapper {
			margin-bottom: 30px;

			h3 {
				margin-top: 30px;
			}
		}
	}
}

.author_social {
	margin: 0 0 30px 0;
	text-align: center;

	li {
		list-style: none;
		display: inline-block;
		margin-right: 15px;

		a {
			color: @white;
			border-radius: 20px;
			background-color: #d5d5d5;
			text-align: center;
			width: 40px;
			height: 40px;
			display: inline-block;
			line-height: normal;
			float: left;
			padding-top: 8px;
			font-size: 21px;
			transition: @transition;

			&:hover {
				background: @rnr-red;
			}
		}
		span {
			font-size: 21px;
		}
	}
}

/* Tabs */
#tabs {
	.ui-state-active {
		color:@black;

		a {
			font-weight: 700;
			outline: 0 none;

			&:focus {
				outline: 0 none;
			}
		}
	}
	.sg-footer{
		position: relative;
	}
}

/* partners */
.page-template-partners-series {
	.content {
		margin-bottom:60px;
	}
	.column_special .attachment-full {
		border:1px solid @navborders;
	}
}

.post_nav {
	margin-bottom: 60px;
	border-top: 1px solid @navborders;
	padding-top: 15px;

	div {
		text-align: center;
		margin-bottom: 15px;
		border-bottom: 1px solid @navborders;
		padding-bottom: 15px;

		span {
			display: block;
			text-transform: uppercase;
			text-align: center;
			color: @lightgray;
			font-size: 13px;
			letter-spacing: 5px;
			margin-bottom: 5px;
		}
	}
}

#three-promos {
	overflow: auto;
	padding: 60px 1em 0;

	h3 {
		margin-bottom: 15px;
	}
}


/* rock blog */
.market-rock-blog #hero {
	height: auto;
	padding: 30px 3%;
}
.social_container,
.entry-footer {
	overflow: hidden;

	.cat-links,
	.tags-links {
		font-size: 16px;
	}
}


.post_navigation {
	margin-bottom: 30px;
	text-align: center;
}


.event_nav_series {
	div {
		text-align: center;
		text-transform: uppercase;

		&.eventname_dropdown {
			background-color: @black;
			padding: 10px 0 10px 40px;
			float: left;
		}
		&.reg_btn {
			width: 35%;
			background-color: #ccc;
			float: left;

			.cta {
				font-size: 23px;
				padding: 10px;
				display: block;
			}
		}
	}
	#event-subnav {
		float: left;
		width: 100%;

		li a {
			font-size: 26px;
		}
	}
	#subnav {
		background-color: @black;
		text-transform: uppercase;
		font-family: 'Futura Std Heavy';
		font-size: 0;

		.event_home_link {
			display: none;
		}
		.subnav-menu {
			border: none;
			font-family: 'Futura Std Medium Condensed';
		}
		&:after{
			clear: both;
			content: '';
			display: block;
		}

		.wrapper {
			padding: 0;
		}
		.subnav-menu-label {
			background: #000;
			font-family: 'Futura Std Bold Condensed';
			font-size: 23px;
			text-transform: uppercase;
			text-align: center;
			cursor: pointer;
			color: @white;
			width: 58%;

			&:before {
				content: "\A";
				border-style: solid;
				border-width: 9px 0 9px 16px;
				border-color: transparent transparent transparent @rnr-red;
				position: absolute;
				margin-top: 17px;
				left: 15px;
				transition: all linear 0.15s;
			}
			&.open:before	{
				transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				transition: all linear 0.15s;
			}
		}

		#ribbon {
			padding-right: 5%;
			width: 100%;
			text-align: right;

			.hash {
				top: 0;
				display: none;
				font-size: 26px;
				color: @white;
			}
			.youtube,
			.twitter,
			.facebook,
			.instagram,
			.pinterest {
				padding: 8px 0;

				a {
					width: 35px;
					height: 35px;
					margin: 1px 0 0 10px;
					padding: 5px 0 0 0;
					color: @black;
					background-color: @white;

					&:hover {
						background-color: @rnr-red;
					}
				}
			}
		}

		ul {
			font-size: 0;
			margin: 0;
			text-align: center;
			max-height: 0;
			overflow: hidden;
			-webkit-transition: max-height 0.5s;
			-moz-transition: max-height 0.5s;
			transition: max-height 0.5s;
			text-align: center;
			border: solid #dbdbdb;
			border-width: 1px 0 0 0;
			float: none;

			&.menuOpen {
				display: block;
				max-height: 1000px;
				-webkit-transition: max-height 0.5s;
				-moz-transition: max-height 0.5s;
				transition: max-height 0.5s;
			}
		}

		li {
			list-style: none;
			margin: 0;
			border-top: 1px solid #666;
			font-size: 16px;

			a {
				color: @white;
				display: block;
				padding: 15px 30px;
				transition: @transition;

				&:hover {
					color: @rnr-red;
					text-decoration:none;
				}
			}
		}
	}

}
.event_nav {
	#subnav {
		font-family: 'Futura Std Heavy';
		font-size: 0;
		text-transform: uppercase;
		background-color: @black;

		.wrapper {
			padding: 0;
		}
		.event_home_link {
			display: none;
		}
		.subnav-menu-label {
			font-family: 'Futura Std Bold Condensed';
			font-size: 23px;
			width: 100%;
			cursor: pointer;
			text-align: center;
			text-transform: uppercase;
			color: @white;
			background: #000;

			& .eventname_dropdown {
				padding: 10px 0;
				background-color: @black;
			}
			&:before {
				position: absolute;
				left: 15px;
				margin-top: 17px;
				content: '\A';
				transition: all linear 0.15s;
				border-width: 9px 0 9px 16px;
				border-style: solid;
				border-color: transparent transparent transparent @rnr-red;
			}
			&.open:before {
				transition: all linear 0.15s;
				-webkit-transform: rotate(90deg);
				   -moz-transform: rotate(90deg);
						transform: rotate(90deg);
			}
		}


		#ribbon {
			padding: 0 0 10px;
			text-align: center;
			.hash {
				font-size: 23px;
				top: 0;
				display: none;
				color: @white;
			}
			.youtube,
			.twitter,
			.facebook,
			.instagram,
			.pinterest {
				padding: 8px 0;
				a {
					width: 35px;
					height: 35px;
					margin: 1px 0 0 10px;
					padding: 5px 0 0 0;
					color: @black;
					background-color: @white;
					&:hover {
						background-color: @rnr-red;
					}
				}
			}
		}

		.subnav-menu {
			font-family: 'Futura Std Medium Condensed';
			border: none;
		}
		&:after {
			display: block;
			clear: both;
			content: '';
		}

	}

	#event-subnav {
		float: left;
		width: 100%;

		ul {
			font-size: 0;
			float: none;
			overflow: hidden;
			max-height: 0;
			margin: 0;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
					transition: all .25s ease;
			text-align: center;
			text-align: center;
			border: solid #dbdbdb;
			border-width: 1px 0 0 0;

			&.menuOpen {
				display: block;
				max-height: 1000px;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
						transition: all .25s ease;
			}
		}
		li {
			font-size: 16px;
			margin: 0;
			list-style: none;
			border-top: 1px solid #666;

			a {
				display: block;
				padding: 15px 30px;
				transition: @transition;
				font-size: 26px;
				color: @white;

				&:hover {
					text-decoration: none;
					color: @rnr-red;
				}
			}
		}

	}

}


//Events date table
.bolderPop{
	font-weight: 800;
}
.page-template-event-dates{
	#bigtext .bigtext-line0 {
		font-size: 20px;
	}
	.grid_1{
		padding:0;
	}
}
#eventDate{
	thead{
		background: @darkgray;
		color: @white;
		tr {
			td:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
				content: " \25B2\25BC";
			}
			td:not(.sorttable_nosort){
				&:hover{
					cursor: pointer;
				}
			}
		}
		td:first-of-type {
			padding-left: 10px;
		}
	}
	td {
		font-family: 'Open Sans Condensed';
		font-size: .85em;
		padding-right: 3%;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	tbody {
		tr {
			border-bottom: 1px solid @lightgray;
			td:first-of-type{
				padding-left: 10px;
			}
		}
	}
	.event_City {
		color: @rnr-red;
		font-weight: 300;
		//word-spacing: 200px;
	}
	.hidden-xs {
		visibility: hidden;
	}
	.breaker:after{
		content:"\a";
		white-space: pre;
	}
}


/* All Tempo related styling */
.tempo {

	/* Social ribbon */
	#ribbon {
		div {
			color: @darkgray;
		}
		.twitter a,
		.instagram a,
		.pinterest a,
		.youtube a,
		.facebook a {
			background: @darkgray;
			transition: @transition;

			&:hover {
				background: @rnr-red;
			}
		}
		.schedule a {
			color: @darkgray;
			margin-left: 15px;
			transition: @transition;

			&:hover {
				color: @rnr-red;
			}
		}
		span.pop {
			color: @darkgray;
		}
		#rnr-event.page-template-site-home #ribbon {
			div {
				font-family: 'Futura Std Bold Condensed';
				font-size: 24px;
				float: left;
				display: inline-block;
				line-height: normal;
				margin: 0;
				color: @darkgray;
			}
			.hash {
				position: relative;
				display: block;
				float: left;
				top: 0;
			}
			span.pop {
				font-family: 'Futura Std Medium';
			}
			div, span.pop {
				color: @darkgray;
			}
			.youtube a,
			.twitter a,
			.facebook a,
			.instagram a,
			.pinterest a {
				float: left;
				display: inline-block;
				line-height: normal;
				font-size: 18px;
				text-align: center;
				margin: 1px 0 0 5px;
				height: 25px;
				width: 25px;
				transition: @transition;
				background: @darkgray;
				padding-top: 0;
				&:hover {
					background: @rnr-red;
				}
			}
			.twitter a {
				margin-left: 5px;
			}
			.youtube a {
				margin-left: 0;
				padding-top: 6px;
			}
			&.moments_ribbon .twitter a,
			&.moments-share .twitter a {
				margin-left: 15px;
			}
			.schedule {
				float: right;

				a {
					text-align: center;
					margin: 0 0 0 5px;
					transition:@transition;
					color: @darkgray;

					&#see-schedule {
						color: @rnr-red;
					}
					span{
						font-size: 20px;
						height: 30px;
						width: 30px;
						background: @rnr-red;
						color: @white;
						padding: 3px 0 0 0 ;
						border-radius: 20px;
						transition: @transition;
						&:before{
							font-size: 26px;
							margin: 0;
						}
						&:hover {
							background: @darkgray;
							transition: @transition;
						}
					}
				}
			}
		}
	}

	#info {
		h2 {
			text-align: center;
			text-transform: uppercase;
			border-bottom: none;
		}
		h3 {
			color: @darkergray;
		}
		time {
			color: @darkergray;
		}
		article {
			min-height: 200px;
			&:first-of-type {
				padding-top: 20px;
			}
			h3, h5 {
				margin-top: 0;
				margin-bottom: 0;
				color: @darkergray;
				a {
					font-size: 20px;
				}
			}
			p {
				margin-bottom: 0;
				font-size: 18px;
			}
			.category {
				text-transform: uppercase;
			}
			.more_link {
				font-size: 13px;
			}
			.video_blog_post{
				position: relative;
			}
			figure{
				max-height: 133px;
				overflow: hidden;
				.play_button{
					position: absolute;
					z-index: 3;
					width: 50px;
					height: 50px;
					display: block;
					top: 50%;
					left: 50%;
					transform: translate3d( -50%, -50%, 0);
				}
			}
		}
		.centered_text {
			text-align: center;
		}
		.list {
			background: @rnr-red;
		}
	}

	/* series home with Tempo blog */
	&#rnr-series {
		main {
			#miles,
			#music,
			#medals,
			#moments {
				background: none;
			}
			 .miles-row {
				display: -webkit-flex;
				-webkit-backface-visibility: hidden;
				-webkit-flex-flow: row wrap;
				margin: 30px 2% 0;
				width: 96%;
				padding: 50px 0 0;
			}
			.blackout {
				width: 250px;
				height: 250px;
				border-radius: 50%;
				margin: 0 auto;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: 50%;
				border-top: none;
			}
			 .outro {
				h3, a {
					font-family: 'Futura Std Bold Condensed';
					font-size: 24px;
					text-align: center;
					text-transform: uppercase;
				}
				h3 {
					color: @mediumgray;
					padding-top: 20px;
					line-height: 1;
				}
				p{
					margin: 0 0 30px 0;
					padding: 0;
				}
				a {
					color: @rnr-red;
					display: block;
					position: relative;

					&.cta{
						background: none;

						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
			.blog-row {
				background: #e5e5e5;
				width: 100%;
				display: block;
				float: left;
				clear: both;
				padding: 50px 0;
			}
			.blog-title,
			.blog-intro {
				display: block;
				text-align: center;
				width: 100%;
			}
			.blog-title {
				border-bottom: 1px solid @mediumgray;
				font-family: 'Futura Std Bold Condensed';
				font-size: 24px;
				font-weight: bold;
				padding-bottom: 10px;
				text-transform: uppercase;
			}
			.blog-intro {
				margin: 10px 0 20px;
			}
			.blog-single {
				margin-bottom: 30px;

				.video_blog_post a {
					display: block;
					position: relative;
				}

				img {

					&.play_button {
						height: 70px;
						left: 50%;
						margin: -35px 0 0 -35px;
						position: absolute;
						top: 50%;
						width: 70px;
					}

				}

				&__title {
					font-size: 20px;
					margin-bottom: 10px;
					margin-top: 10px;

					a {
						color: @darkgray;
						font-weight: bold;
					}

				}

				&__excerpt {
					color: @darkgray;
					font-size: 16px;
				}

				&__author,
				&__category,
				&__read_more {
					font-size: 15px;
				}

				&__category {
					text-transform: uppercase;
				}
			}

			.post_categories {
				color: @darkgray;
				display: block;
				text-align: center;

				a {
					border-right: 2px solid @darkgray;
					margin-right: 5px;
					padding-right: 8px;

					&:last-child {
						border-right: none;
						margin-right: 0;
						padding-right: 0;
					}
				}
			}


		}

	}


}

/**
 * Read more toggle
 */
.read-more {

	&-state {
		display: none;

		&:checked {
			~ .read-more-wrap .read-more-target {
				max-height: 180px;
				opacity: 1;
			}

			~ .read-more-trigger:before {
				content: 'Show less';
			}
		}

		&  ~ .read-more-trigger:before {
			content: 'Read more';
		}

	}

	&-target {
		max-height: 15px;
		opacity: 0.5;
		overflow: hidden;
		transition: max-height .25s ease;
	}

	&-wrap {
		z-index: 10;
	}

	&-trigger {
		border: 1px solid #ddd;
		border-radius: 5px;
		color: @white;
		cursor: pointer;
		display: inline-block;
		font-size: .9em;
		line-height: 2;
		margin-top: 10px;
		padding: 0 .5em;
		z-index: 99999;
	}

}

/* end 320px */
