/*  640px */

@media @xs-breakpoint {
	.moments-event .grid_3_special .column_special {
		float: left;
	}
	h2 .moments_ribbon {
		margin: 23px 0 0;
	}

	.post_nav {
		font-size: 0;
		overflow: hidden;
		border-bottom: 1px solid @navborders;

		div {
			font-size: 18px;
			display: inline-block;
			width: 50%;
			padding: 15px;
			vertical-align: middle;
			border: none;
		}
	}
	#new-hero .grid_hero .column_license h3 span.blurb {
		font-size: 24px;
	}
	/* rock blog */
	.market-rock-blog .pw-widget {
		float: left;
		margin-right: 30px;
	}
	.event_nav {
		#subnav {
			.subnav-menu-label {
				float: left;
				width: 50%;
				text-align: left;

				& .eventname_dropdown {
					padding: 12px 0 10px 40px;
				}
			}
			.subnav_social {
				float: right;
				width: 50%;

				#ribbon {
					float: right;
					height: auto;
					margin-right: 5%;
					padding: 10px 15px 10px 0;
					text-align: right;

					.youtube,
					.twitter,
					.facebook,
					.instagram,
					.pinterest {
						padding: 0;
					}
					.hash {
						line-height: 1.4;
						display: inline;
						float: left;
						padding-top: 3px;
					}
					span.pop {
						display: inline-block;
					}
				}
			}
		}
	}
}
