/*  720px -- Tablets (portrait) */
@media @sm-breakpoint {
	body.category-rock-blog .alignleft,
	.tag-press .alignleft,
	.page-template-news-n-promos .archive_list .alignleft,
	.page-template-site-home-rockblog .alignleft,
	.prev_next_navi .alignleft,
	.prev_next_navi .alignright {
		width: auto;
	}
	.navigation {
		overflow: hidden;
	}

	#rnr-series {
		main {
			.blackout h3 {
				font-family: 'Futura Std Bold';
				font-size: 48px;
				color: #fff;
			}
		}
	}

	.author_social {
		text-align: left;
	}


	/*Event Dates Page*/
	.page-template-event-dates {
		#bigtext .bigtext-line0 {
			font-size: 3em;
		}
		.grid_1 {
			padding: 0 1em;
		}
	}
	#eventDate {
		td {
			font-size: 1.3em;
		}
	}

	/* end 720up */
}
