/*	960px -- Tablets (landscape), laptops, small monitors */
@media @md-breakpoint {
	.subnav-menu-label {
		display:none;
	}

	/* Grids */
	/* equal columns */
	.page-template-news-n-promos,
	.the-tempo-blog,
	body.search {

		.grid_2.offset240left {
			.sidenav {
				width:20%;
				float:left;
				margin-left:0;
			}
			.archive_list {
				float:right;
				width:75%;
			}
		}
	}


	.page-template-distances .sidenav,
	.page-template-news-n-promos .sidenav,
	.page-template-site-home-rockblog .sidenav,
	body.search .sidenav {
		margin-bottom:0;
	}


	.page main .grid_2.offset240left .column:first-child ul,
	.page-template-news-n-promos .grid_2.offset240left .sidenav ul,
	.market-rock-blog .grid_2.offset240left .sidenav ul {
		margin-bottom: 40px;
		margin-left: 0;
	}
	.page main .grid_2.offset240left .column:first-child li,
	.single.single-partner main .offset240left .sidenav li,
	.page-template-news-n-promos main .grid_2.offset240left .sidenav li,
	.market-rock-blog .grid_2.offset240left .sidenav .cat_list li {
		line-height: 1;
		margin: 0;
		list-style: none;
		border-bottom:none;
		padding:0;
	}
	main .grid_2.offset240left .sidenav a,
	.single.single-partner main .grid_2.offset240left .sidenav a {
		color: @mediumgray;
		padding: 0 0 17px;
		display: block;
		font-size: 16px;
		line-height:1;
	}
	.page main .grid_2.offset240left .column.sidenav a:hover,
	.single.single-partner main .grid_2.offset240left .sidenav a:hover {
		color: #000;
		text-decoration: none;
	}
	.single main .grid_2.offset240left .sidenav a,
	.archive main .grid_2.offset240left .sidenav a,
	.the-tempo-blog main .grid_2.offset240left .sidenav a,
	.page-template-news-n-promos main .grid_2.offset240left .sidenav a,
	.page-template-site-home-rockblog main .grid_2.offset240left .sidenav a,
	body.search main .grid_2.offset240left .sidenav a {
		color: @rnr-red;
		padding: 0;
		display: inline-block;
		font-size: inherit;
		line-height: 1.3;
	}
	.single main .grid_2.offset240left .sidenav .sidebar_postedin a,
	.archive main .grid_2.offset240left .sidenav .sidebar_postedin a,
	.page-template-news-n-promos main .grid_2.offset240left .sidenav .sidebar_postedin a,
	.page-template-site-home-rockblog main .grid_2.offset240left .sidenav .sidebar_postedin a,
	body.search main .grid_2.offset240left .sidenav .sidebar_postedin a {
		color: inherit;
	}
	/* sticky sidenav */
	/* .stickit {
		position: fixed;
		top: 165px;
	}

	.stickit-end {
		bottom: 0;
		position: absolute;
	} */
	main .grid_2.offset240left .sidenav a.nav-active {
		color:#000;
	}

		/* odd columns for registration page */
	.grid_2.reg {
			width: 240px
	}
	.grid_2.reg .column:last-child {
			width: 900px
	}

	#info figure {
		margin-right: 30px;
		float: left;
		display: block;
	}

	/* Blog and schedeule styles */

	.sidenav,
	.page-template-schedule main .offset240left .column:first-child,
	.page.page-template-schedule main .offset240left .column:first-child {
		display:block;
	}
	.single .offset240left .sidenav .sidebar_postedin,
	.archive .offset240left .sidenav .sidebar_postedin,
	.page-template-news-n-promos .offset240left .sidenav .sidebar_postedin,
	.page-template-site-home-rockblog .offset240left .sidenav .sidebar_postedin,
	.page.page-template-schedule .offset240left .column:first-child time,
	.page-template-schedule .offset240left .column:first-child time,
	body.search .offset240left .sidenav .sidebar_postedin {
		font-size: 80%;
	}
	.single main .offset240left .sidenav ul,
	.archive main .offset240left .sidenav ul,
	.page-template-schedule main .offset240left .column:first-child ul,
	.page.page-template-schedule main .offset240left .column:first-child ul,
	.page-template-news-n-promos main .offset240left .column:first-child ul,
	.page-template-site-home-rockblog main .offset240left .column:first-child ul,
	body.search main .offset240left .column:first-child ul {
		margin: 0;
	}
	.single main .offset240left .sidenav li,
	.archive main .offset240left .sidenav li,
	.page-template-schedule main .offset240left .column:first-child li,
	.page.page-template-schedule main .offset240left .column:first-child li,
	.page.page-template-news-n-promos main .offset240left .sidenav li,
	.page.page-template-site-home-rockblog main .offset240left .sidenav li,
	body.market-rock-blog.search main .offset240left .sidenav li,
	.the-tempo-blog .grid_2.offset240left .sidenav .cat_list li {
		list-style: none;
		margin-top: 16px;
	}
	.single .offset240left .sidenav li,
	.archive .offset240left .sidenav li,
	.page-template-schedule main .offset240left .sidenav li,
	.page.page-template-schedule main .offset240left .sidenav li {
		border-bottom: 1px solid @navborders;
		margin: 23px 0 0 0;
		padding: 0 0 23px 0;
	}
	.single .offset240left .sidenav li,
	.archive .offset240left .sidenav li,
	.the-tempo-blog .offset240left .sidenav li {
		border-bottom: 1px solid @navborders;
		padding: 0 0 13px 0;

		&:last-child {
			border:none;
		}
	}


	.single .offset240left .sidenav,
	.single .offset240left .sidenav a,
	.page-template-schedule main .offset240left .sidenav a,
	.page.page-template-schedule main .offset240left .sidenav a,
	.page-template-news-n-promos main .offset240left .sidenav a,
	.page-template-site-home-rockblog main .offset240left .sidenav a,
	body.search main .offset240left .sidenav a {
		color: inherit;
		font-size: inherit;
	}
	.single .offset240left .sidenav .sidebar_postedin a {
		color: @mediumgray;
	}
	.single .offset240left .sidenav a,
	.page-template-schedule main .offset240left .sidenav a,
	.page.page-template-schedule main .offset240left .sidenav a {
		display: inline-block;
	}
	.single-post .offset240left .sidenav a:hover,
	.page-template-schedule main .offset240left .sidenav a:hover,
	.page.page-template-schedule main .offset240left .sidenav a:hover {
		color: @black;
		text-decoration: none;
	}
	.page-template-schedule main .offset240left .sidenav time,
	.page.page-template-schedule main .offset240left .sidenav time {
		color: @black;
	}

	.page-template-schedule-php {
		.content {
			.event_item {
				margin-bottom: 60px;
			}
		}
	}

	/* series home	*/
	#rnr-series {
		main {
			.half-l, .half-r {
				width: 50%;
				height: 100%;
				position: relative;
			}
			 .half-r {
				margin-left: 50%;
			}
		 	.blackout {
				// position: absolute;
				// bottom: 0;
				// right: 0;
				// width: 100%;
				// height: 600px;
				// padding: 0 60px;
				// color: #fff;
				// border-top: 5px solid @rnr-red;
				// background: hsla(0, 0%, 0%, 0.8)
			}
			.half-r .blackout {
				right: auto;
				left: 0;
			}
		}
		#miles,  #music,   #medals,  #moments {
			// height: 1200px;
		}
		#miles {
			background: url(img/series_bg_panel1.jpg) no-repeat 50% 0;
		}
		#music {
			background: url(img/series_bg_panel2.jpg) no-repeat 50% 0;
		}
		#medals {
			background: url(img/series_bg_panel3.jpg) no-repeat 50% 0;
		}
		#moments {
			background: url(img/series_bg_panel1.jpg) no-repeat 50% 0;
		}
		&.tempo {
			main {
				height: 100%;
				position: relative;
			}
			.miles-row .grid_4 {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}

		}
	 }


	/* partners/results/grid */
	.page-template-partners-series .grid_2 {
		overflow:hidden;
	}

	.finisher_zone #badges,
	.finisher_zone #finisher-zone {
		padding:60px 0 0;
	}

	/* results */
	.finisher_zone #secondary_promotions {
		padding:60px 0 0;
	}

	.offset240left {
		.mid_prevent_mobile {

			&.video_desc {
				height:200px;

			}
		}
	}
	.mid_prevent_mobile {

		&.video_desc {
			height:267px;

		}
		.mid {
			-webkit-transform:translateY(-50%);
			-ms-transform:translateY(-50%);
			transform:translateY(-50%);
		}
	}

	/* rock blog */
	.sidebar-search {
		margin-bottom:10px;
	}
	.market-rock-blog #hero {
		padding:60px 3%;
	}

	.post_navigation {
		margin-bottom:60px;
	}


	.event_nav {
		#subnav {
			width:100%;
			.event_name_and_subnav{
				width: 70%;
				display:inline-block;
				vertical-align:middle;
			}
			.subnav_social {
				width: calc(100% / 3);
				display:inline-block;
				vertical-align:middle;
				#ribbon {
					margin-right: 0;
					.hash {
						padding-top: 2px;
					}
				}
			}
			.event_home_link {
				border: none;
				color:#fff;
				display: block;
				float: left;
				margin: 0;
				padding: 12px 15px;
				font-size:23px;
				font-family: 'Futura Std Bold Condensed';
				text-align: left;
				&:hover{
					color: @rnr-red;
					text-decoration: none;
					transition: @transition;
				}

			}
			.current_travel_subpage,
			.current_page_item a {
				background: @rnr-red; /* Old browsers: IE9 SVG, needs conditional override of 'filter' to 'none' */
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlMWMyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VlMWMyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Q2MTkyMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNjE5MjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background:    -moz-linear-gradient(top, @rnr-red 0%, @rnr-red 50%, #d61920 51%, #d61920 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @rnr-red), color-stop(50%, @rnr-red), color-stop(51%, #d61920), color-stop(100%, #d61920)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, @rnr-red 0%, @rnr-red 50%, #d61920 51%, #d61920 100%); /* Chrome10+,Safari5.1+ */
				background:      -o-linear-gradient(top, @rnr-red 0%, @rnr-red 50%, #d61920 51%, #d61920 100%); /* Opera 11.10+ */
				background:     -ms-linear-gradient(top, @rnr-red 0%, @rnr-red 50%, #d61920 51%, #d61920 100%); /* IE10+ */
				background:         linear-gradient(to bottom, @rnr-red 0%, @rnr-red 50%, #d61920 51%, #d61920 100%); /* W3C */

				&:hover {
					background: #d61920; /* Old browsers: IE9 SVG, needs conditional override of 'filter' to 'none' */
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
					background:    -moz-linear-gradient(top,  #d61920 0%, #d61920 50%, #c0161d 51%, #c0161d 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d61920), color-stop(50%,#d61920), color-stop(51%,#c0161d), color-stop(100%,#c0161d)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  #d61920 0%,#d61920 50%,#c0161d 51%,#c0161d 100%); /* Chrome10+,Safari5.1+ */
					background:      -o-linear-gradient(top,  #d61920 0%,#d61920 50%,#c0161d 51%,#c0161d 100%); /* Opera 11.10+ */
					background:     -ms-linear-gradient(top,  #d61920 0%,#d61920 50%,#c0161d 51%,#c0161d 100%); /* IE10+ */
					background:         linear-gradient(to bottom,  #d61920 0%,#d61920 50%,#c0161d 51%,#c0161d 100%); /* W3C */
					color: #fff;
				}
			}
			#event-subnav {
				float: left;
				display: table;
				width: auto;
				margin: 0 auto;
			}
			ul {
				max-height:inherit;
				display: table-cell;
				vertical-align: middle;
				li {
					display:inline-block;
					border:none;
					a {
						padding: 10px 15px 9px;
					}
				}
			}

		}
	}

	.event_nav_series {
		#subnav {
			width:100%;

			.subnav_social {
				display:inline-block;
				vertical-align:middle;
				float: right;
			}
			.event_home_link {
				border: none;
				color:#fff;
				display: block;
				float: left;
				margin: 0;
				padding-top: 8px;
				padding-bottom: 8px;
				font-size:22px;
				font-family: 'Futura Std Bold Condensed';
				text-align: left;
				// line-height: 36.4px;
				width: calc(100% / 3);
				&:hover{
					color: @rnr-red;
					text-decoration: none;
					transition: @transition;
				}
			}
			#event-subnav {
				float: none;
				display: table;
				width: calc(100% / 3);
				margin: 0 auto;
			}
			ul {
				max-height:inherit;
				display: table-cell;
				vertical-align: middle;
				li {
					display:inline-block;
					border:none;
					a{
						padding-top: 8px;
						padding-bottom: 8px;
					}
				}
			}
			a {
				padding: 18px 13px;
			}
			&:after{
				clear: both;
				content: '';
				display: block;
			}
			#ribbon {
				height: auto;

				.hash {
					display: inline-block;
					float: left;
					margin-top: 10px;
				}
				div {
					float: none;
				}

			}
		}
	}


	/*Date Events Page*/
	.page-template-event-dates{
		#bigtext .bigtext-line0 {
			font-size: 4em;
		}
	}
	#eventDate{
		.hidden-xs {
			visibility: visible;
		}
		.breaker:after{
			content:"";
	   		white-space: normal;
		}
	}

	/* end 960px */
}
