/* Fonts -------------------------------------------- */

@font-face {
	font-family:'Futura Std Light';
	src: url('fonts/futura-std/web/FuturaStd-Light/FuturaStd-Light.eot');
	src: url('fonts/futura-std/web/FuturaStd-Light/FuturaStd-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/futura-std/web/FuturaStd-Light/FuturaStd-Light.woff') format('woff'),
		url('fonts/futura-std/web/FuturaStd-Light/FuturaStd-Light.ttf') format('truetype'),
		url('fonts/futura-std/web/FuturaStd-Light/FuturaStd-Light.svg#FuturaStd-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'Futura Std Medium';
	src: url('fonts/futura-std/web/FuturaStd-Medium/FuturaStd-Medium.eot');
	src: url('fonts/futura-std/web/FuturaStd-Medium/FuturaStd-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/futura-std/web/FuturaStd-Medium/FuturaStd-Medium.woff') format('woff'),
		url('fonts/futura-std/web/FuturaStd-Medium/FuturaStd-Medium.ttf') format('truetype'),
		url('fonts/futura-std/web/FuturaStd-Medium/FuturaStd-Medium.svg#FuturaStd-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'Futura Std Heavy';
	src: url('fonts/futura-std/web/FuturaStd-Heavy/FuturaStd-Heavy.eot');
	src: url('fonts/futura-std/web/FuturaStd-Heavy/FuturaStd-Heavy.eot?#iefix') format('embedded-opentype'),
		url('fonts/futura-std/web/FuturaStd-Heavy/FuturaStd-Heavy.woff') format('woff'),
		url('fonts/futura-std/web/FuturaStd-Heavy/FuturaStd-Heavy.ttf') format('truetype'),
		url('fonts/futura-std/web/FuturaStd-Heavy/FuturaStd-Heavy.svg#FuturaStd-Heavy') format('svg');
	font-weight: 650;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'Futura Std Bold';
	src: url('fonts/futura-std/web/FuturaStd-Bold/FuturaStd-Bold.eot');
	src: url('fonts/futura-std/web/FuturaStd-Bold/FuturaStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/futura-std/web/FuturaStd-Bold/FuturaStd-Bold.woff') format('woff'),
		url('fonts/futura-std/web/FuturaStd-Bold/FuturaStd-Bold.ttf') format('truetype'),
		url('fonts/futura-std/web/FuturaStd-Bold/FuturaStd-Bold.svg#FuturaStd-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'Futura Std Light Condensed';
	src: url('fonts/futura-std/web/FuturaStd-CondensedLight/FuturaStd-CondensedLight.eot');
	src: url('fonts/futura-std/web/FuturaStd-CondensedLight/FuturaStd-CondensedLight.eot?#iefix') format('embedded-opentype'),
		url('fonts/futura-std/web/FuturaStd-CondensedLight/FuturaStd-CondensedLight.woff') format('woff'),
		url('fonts/futura-std/web/FuturaStd-CondensedLight/FuturaStd-CondensedLight.ttf') format('truetype'),
		url('fonts/futura-std/web/FuturaStd-CondensedLight/FuturaStd-CondensedLight.svg#FuturaStd-CondensedLight') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: condensed;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'Futura Std Medium Condensed';
	src: url('fonts/futura-std/web/FuturaStd-Condensed/FuturaStd-Condensed.eot');
	src: url('fonts/futura-std/web/FuturaStd-Condensed/FuturaStd-Condensed.eot?#iefix') format('embedded-opentype'),
		url('fonts/futura-std/web/FuturaStd-Condensed/FuturaStd-Condensed.woff') format('woff'),
		url('fonts/futura-std/web/FuturaStd-Condensed/FuturaStd-Condensed.ttf') format('truetype'),
		url('fonts/futura-std/web/FuturaStd-Condensed/FuturaStd-Condensed.svg#FuturaStd-Condensed') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: condensed;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'Futura Std Bold Condensed';
	src: url('fonts/futura-std/web/FuturaStd-CondensedBold/FuturaStd-CondensedBold.eot');
	src: url('fonts/futura-std/web/FuturaStd-CondensedBold/FuturaStd-CondensedBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/futura-std/web/FuturaStd-CondensedBold/FuturaStd-CondensedBold.woff') format('woff'),
		url('fonts/futura-std/web/FuturaStd-CondensedBold/FuturaStd-CondensedBold.ttf') format('truetype'),
		url('fonts/futura-std/web/FuturaStd-CondensedBold/FuturaStd-CondensedBold.svg#FuturaStd-CondensedBold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: condensed;
	unicode-range: U+0020-25CA;
}

/* fontello icons */
@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello/fontello.eot?57434828');
  src: url('fonts/fontello/fontello.eot?57434828#iefix') format('embedded-opentype'),
       url('fonts/fontello/fontello.woff2?57434828') format('woff2'),
       url('fonts/fontello/fontello.woff?57434828') format('woff'),
       url('fonts/fontello/fontello.ttf?57434828') format('truetype'),
       url('fonts/fontello/fontello.svg?57434828#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('fonts/fontello/fontello.svg?57434828#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-bus:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-list:before { content: '\e805'; } /* '' */
.icon-play:before { content: '\e806'; } /* '' */
.icon-location:before { content: '\e807'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-ok-circled:before { content: '\e80a'; } /* '' */
.icon-help-circled:before { content: '\e80b'; } /* '' */
.icon-pinterest:before { content: '\e80c'; } /* '' */
.icon-mail-alt:before { content: '\e80d'; } /* '' */
.icon-left-open:before { content: '\e80e'; } /* '' */
.icon-right-open:before { content: '\e80f'; } /* '' */
.icon-up-open:before { content: '\e810'; } /* '' */
.icon-youtube-play:before { content: '\e811'; } /* '' */
.icon-quote-left:before { content: '\e812'; } /* '' */
.icon-down-open:before { content: '\e813'; } /* '' */
.icon-link:before { content: '\e814'; } /* '' */
.icon-search:before { content: '\e815'; } /* '' */
.icon-mail:before { content: '\e816'; } /* '' */
.icon-schedule_icon:before { content: '\e817'; } /* '' */
.icon-blog_icon:before { content: '\e818'; } /* '' */
.icon-email-envelope:before { content: '\e819'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */

.icon-bus {
	font-size: 25px;
	display: inline-block;
	margin: -10px 0 0 0;
}
.icon-ok-circled {
  color:#3eb64a;
  font-size:24px;
}
.icon-help-circled {
  margin-left:10px;
}
