/**
 * mixins
 */
.button_gradient( @color1; @color2 ) {
	color: #fff;
	text-decoration: none;
	background: @color1; /* Old browsers */
	background:    -moz-linear-gradient(top, @color1 0%, @color1 50%, @color2 51%, @color2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @color1), color-stop(50%, @color1), color-stop(51%, @color2), color-stop(100%, @color2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, @color1 0%, @color1 50%, @color2 51%, @color2 100%); /* Chrome10+,Safari5.1+ */
	background:      -o-linear-gradient(top, @color1 0%, @color1 50%, @color2 51%, @color2 100%); /* Opera 11.10+ */
	background:     -ms-linear-gradient(top, @color1 0%, @color1 50%, @color2 51%, @color2 100%); /* IE10+ */
	background:         linear-gradient(to bottom, @color1 0%, @color1 50%, @color2 51%, @color2 100%); /* W3C*/
}
.button_font() {
	text-align: center;
	font-family: 'Futura Std Bold Condensed';
	font-size: 16px;
	text-decoration: none;
	display: inline-block;
	padding: 9px 17px;
	text-transform: uppercase;
	color: #fff;
	border: none;
}
