/* ==========================================================================
	 RnR custom styles
	 ========================================================================== */

body {
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	color: @mediumgray;
}
a {
	text-decoration: none;
	color: @rnr-red;

	&:hover {
		text-decoration: underline;
	}
}

p {
	line-height: 1.4;
	margin: 0 0 24px;
	padding: 0;
}
h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
	color: @darkgray;
}
ul,
li {
	margin: 0;
	padding: 0;
}
hr {
	height: 1px;
	margin: 0 0 60px;
	border: 0;
	background: #e5e5e5;
}
figure {
	margin: 0 0 30px 0;
	text-align: center;

	&.gallery-item {
		margin: 0;
	}
}

img {
	max-width: 100%;
	height: auto;
}
::selection {
	color: #fff;
	background: #fe57a1 ; /* Safari */
}
::-moz-selection {
	color: #fff;
	background: #fe57a1 ; /* Firefox */
}

.center {
	text-align: center;
}
.mid {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		 -o-transform: translateY(-50%);
			transform: translateY(-50%);
}
.pop {
	color: @rnr-red;
}
.backtotop {
	font-size: 85%;
	position: relative;
	display: inline-block;
	padding-left: 18px;

	&:after {
		position: absolute;
		left: 0;
		margin-top: 9px;
		content: '\A';
		border-width: 0 5px 8.7px 5px;
		border-style: solid;
		border-color: transparent transparent @rnr-red transparent;
	}
}
section section .backtotop {
	margin-bottom: 30px;
}

.show,
.expand {
	cursor: pointer;
}
.hide,
.collapse {
	display: none;
}

#container {
	max-width: 1920px;
	margin: 0 auto;
}
.shade {
	background: @bg-gray;
}
.wrapper {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

main {
	font-size: 18px;
	font-weight: normal;
	overflow: hidden;
	padding: 60px 3% 0 3%;

	h1 {
		font-family: 'Futura Std Light';
		margin: -0.158em 0 1em;
		color: @mediumgray;
	}

	h2 {
		font-family: 'Futura Std Bold Condensed';
		font-size: 24px;
		line-height: 1;
		margin-bottom: 20px;
		padding-bottom: 20px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		border-bottom: 1px solid #e5e5e5;
	}
	h3 {
		font-size: 24px;
		font-weight: 100;
		line-height: 1.25;
		margin: 60px 0 30px;
	}
	ul {
		margin: 0 0 30px 20px;

		ul {
			margin: 10px 20px 20px 20px;
		}
	}
	li {
		margin-bottom: 15px;
	}

}

main h3:first-of-type,
.market-rock-blog.single-post h3:first-of-type {
	margin-top: 0;
}
.single-post main h3:first-of-type {
	margin-top: 60px;
}

#grid_2_overview {
	margin-bottom: 54px;
}
.grayscale img {
	-webkit-transition: all 0.6s ease; /* Fade to color for Chrome and Safari */

	-webkit-filter: grayscale(100%); /* Webkit Nightlies & Google Chrome Canary */
	-webkit-backface-visibility: hidden; /* Fix for transition flickering */
	        filter: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale'); /* Firefox 10+, Firefox on Android */
	        filter: gray; /* IE8-9 */

	&:hover {
		        filter: none; /* Applies to FF + IE */
		-webkit-filter: grayscale(0);
	}
}

.lowercase {
	text-transform: lowercase;
}


.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	position: static;
	overflow: visible;
	clip: auto;
	width: auto;
	height: auto;
	margin: 0;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	display: table; /* 2 */
	content: ' '; /* 1 */
}

.clearfix:after {
	clear: both;
}

.content {
	.pw-widget {
		clear: both;
		margin-bottom: 30px;
	}
	.pw-layout-horizontal .pw-button {
		vertical-align: top;
	}
	.pw-button {
		font-size: 16px!important;
	}
	.sharewidget_bottom {
		margin-bottom: 30px;
	}
}


/* new social icons */
a.pw-size-medium.pw-button {
	margin-right: 5px !important;
	background-color: blue;

	span.pw-icon.ra1-pw-icon {
		font-family: 'fontello';
		font-size: 16px;
		line-height: 24px;
		width: 24px;
		height: 24px;
		padding: 3px;
		text-align: center;
		color: #fff;
		background-image: none;

		&.ra1-pw-icon-facebook {
			background-color: #3b5998;

			&:before {
				content: '\e801';
			}
		}
		&.ra1-pw-icon-twitter {
			background-color: #55acee;

			&:before {
				content: '\e804';
			}
		}
		&.ra1-pw-icon-pinterest {
			background-color: #bd0819;

			&:before {
				content: '\e80c';
			}
		}
		&.ra1-pw-icon-email {
			background-color: #343434;

			&:before {
				content: '\e80d';
			}
		}
	}
	span.pw-button-counter {
		padding-left: 0 !important;

		span.pw-button-counter__count {
			font-size: 12px;
			padding: 3px 8px !important;
			border-radius: 0;
		}
	}
}


/* distances gallery carousel */
.gallery-carousel {
	margin-bottom: 30px;
}
.owl-singleposts,
.owl-autoplay {
	margin-bottom: 30px;
	margin-bottom: 24px;
	padding: 0 0 15px;
	border-bottom: 1px solid @navborders;
}
.owl-distances {
	.owl-controls {
		position: relative;
		text-align: center;
	}
	.owl-buttons {
		position: absolute;
		top: 0;
		width: 100%;
	}

}

.owl-distances .owl-prev,
.owl-distances .owl-next,
.owl-singlepost-controls .owl-prev,
.owl-singlepost-controls .owl-next {
	top: 5px;
}
.attachment-distance-gallery {
	margin-bottom: 15px;
}
.owl-buttons span {
	display: inline-block;
	vertical-align: top;
}


.highlight.westin {
	background-color: #BAD9C9;
	color: #51555A;
}
a.highlight.westin:hover {
	background: #C5E6D5;
}


.fancybox-title p {
	margin: 0;
}

.margin_above {
	margin-top: 60px!important;
}
.switcher-content {
	display: none;
}
#switcher-panel1,
#switcher-panel2 {
	h3 {
		font-size: 24px;
		font-weight: 100;
		color: @rnr-red;
	}
}

.embedded_tweet {
	overflow: hidden;
}
.separatortitle {
	padding-top: 60px;
	border-top: 1px solid @navborders;
}


/* exceptions */
.market-madrid footer nav#eventfooter ul li.footer-pinterest-link {
	display: none;
}


/* tabs */
.pixlee-tabs {
	.ui-tabs-nav {
		margin: 0 0 30px 0;
		text-align: center;
		border-bottom: 1px solid #e5e5e5;

		li {
			display: inline-block;
			margin: 0 0 -1px 0;
			border-top: 1px solid #e5e5e5;
			border-right: 1px solid #e5e5e5;

			&:first-child {
				margin-left: 0;
				border-left: 1px solid #e5e5e5;
			}
			a,
			&.ui-state-active span {
				display: block;
				padding: 10px 20px;
				color: #fff;
				background-color: #333;
			}
			&.ui-state-active a,
			&.ui-state-active span {
				display: block;
				padding: 10px 20px;
				color: #333;
				background-color: #fff;
			}
		}
	}
}


// go to top link
#goTop {
	font-size: 18px;
	position: fixed;
	z-index: 9999;
	right: 30px;
	bottom: -100px;
	display: block;
	width: 40px;
	height: 40px;
	padding-top: 7px;
	cursor: pointer;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	background-color: @rnr-red;
}

/**
 * event
 */
.single_humana_byline {
	font-size: 16px;
	margin-bottom: 24px;

	img {
		width: 80px;
		vertical-align: text-top;
	}
}


.humana_byline {
	font-family: 'Arial', sans-serif;
	margin-top: 15px;
	color: #999;

	img {
		width: 120px;
		vertical-align: text-top;
	}
}
