// Variables
@rnr-red:           #ee1c24; // main red color
@rnr-redshadow:     #c0161d;
@ironman-red:       #CF0A2C;
@ironman-redshadow: #9C0821;
@navborders:    	#e5e5e5; // borders in nav
@lightgray:     	#a5a5a5; // counter text, racebadge text, etc.
@mediumgray:   		#959595; // text throughout (hotels, etc)
@darkgray:      	#7b7b7b;
@darkergray:    	darken(@darkgray, 15%);
@bg-gray:       	#f2f2f2; // panel background color, hotels, etc.
@black:         	#000;
@white:         	#fff;
@transition:    	all .25s ease;


// Media Queries
@screen-xxs-min: 25em;  // 400px
@screen-xs-min: 40em;  // 640px
@screen-sm-min: 45em;  // 720px
@screen-md-min: 60em;  // 960px
@screen-lg-min: 75em;  // 1200px

@xxs-breakpoint: ~"screen and (min-width:@{screen-xxs-min})";
@xs-breakpoint: ~"screen and (min-width:@{screen-xs-min})";
@sm-breakpoint: ~"screen and (min-width:@{screen-sm-min})";
@md-breakpoint: ~"screen and (min-width:@{screen-md-min})";
@lg-breakpoint: ~"screen and (min-width:@{screen-lg-min})";

@fat-adminbar-breakpoint: ~"screen and (min-width:601px)";
@slim-adminbar-breakpoint: ~"screen and (min-width:783px)";


// Font Variables
@futura-lt: 'Futura Std Light';
@futura-md: 'Futura Std Medium';
@futura-hv: 'Futura Std Heavy';
@futura-bd: 'Futura Std Bold';
@futura-ltcd: 'Futura Std Light Condensed';
@futura-mdcd: 'Futura Std Medium Condensed';
@futura-bdcd: 'Futura Std Bold Condensed';
