.footer {
	&__container {
		display: none;
	}

	&__copyright {
		background: @jet;

		p {
			color: @white;
			font-size: 10px;
			line-height: 10px;
			margin: 25px 0;
			text-align: center;
		}
	}
}
