body {
	padding-top: 0;
}


.header {
	&__container {
		border-bottom: 2px solid @black;
		padding-bottom: 15px;
		padding-top: 15px;
	}

	&__logo {
		.clearfix();

		a {
			display: block;
		}

		img {
			max-height: 30px;
			width: 100%;
		}
	}


	// Phone Only Breakpoint
	// ---------------------------------
	@media @xs-only-breakpoint {
		&__logo {
			img {
				height: 25px;
			}
		}
	}


	// Tablet Breakpoint
	// ---------------------------------
	@media @sm-breakpoint {
		border-bottom: 1px solid @aluminum;

		&__container {
			border: none;
		}
	}


	// Laptop Breakpoint
	// ---------------------------------
	@media @md-breakpoint {
		&__logo {
			a {
				margin-right: 0;
			}
		}
	}
}
