// Desktop/Mobile Navigation
// ---------------------------------
.main-nav,
.mobile-nav {
	display: none;
}

// Multi-page post navigation
// ---------------------------------
.article__body {

	.page-links {
		padding: 15px 0;

		a {
			background-color: @red;
			border-radius: 3px;
			color: @white;
			display: inline-block;
			padding: 5px 15px;
			text-align: center;
		}
		& > .page-link-number {
			margin: 0 15px;
		}

	}

}
// Social Media Navigation
// ---------------------------------
.social-nav {
	.clearfix();

	&__menu {
		float: right;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			float: left;
		}

		a {
			color: @black;
			display: block;
			font-size: 16px;
			line-height: 30px;
			padding: 0 7px;

			&:hover {
				color: @red;
			}
		}
	}
}


// Laptop Breakpoint
// ---------------------------------
@media @md-breakpoint {
	.social-nav {
		a {
			font-size: 20px;
		}
	}
}
