
.humana5k-logo {
	width: 300px;
}
#features .column h3 {
	font-size: 22px;
	font-weight: 300;
	margin-bottom: 10px;
	text-align: center;
}
.tuneupfor {
	text-align: center;
}
a {
	color: @humana-green;

	&.cta {
		.button_gradient( @humana-green, @humana-green-shade );

		&:hover {
			.button_gradient( @humana-green-shade, @humana-green-dark );
		}
	}
}


.backtotop::after {
	border-color: transparent transparent @humana-green;
}

nav#secondary .current-menu-item a,
#primary .sub-menu .current_page_item a,
nav#secondary .current-menu-item a:hover,
nav#secondary ul li a:hover,
nav#secondary ul li a.selected {
	color: @humana-green;
	background-color: transparent;
}
#info figure {
	display: block;
	float: none;
	margin-right: 0;
}


nav {
	&#secondary ul {
		text-align: center;

		@media @md-breakpoint {
			li {
				margin: 0 30px;
			}
		}
	}
	ul {
		font-size: 16px;

		@media @md-breakpoint {
			font-size: 0;
		}

	}
}

.grid_2.offset240left {
	.column {
		width: auto;

		@media @md-breakpoint {
			width: 20%;
		}
	}
	@media @md-breakpoint {
		.reg.column {
			width: auto;
		}
	}

}
.sticky-nav {
	margin-bottom: 60px;
}


.glance {
	overflow: hidden;
	padding: 30px;
	margin-bottom: 30px;
	font-size: 14px;
	background: @bg-gray;

	.column {
		margin: 0;
		padding: 0;

		&:last-child {
			text-align: center;
			padding: 0 20px;

			p {
				font-style: italic;
				font-size: 12px;
				line-height: 1.1;
			}
		}
		@media @md-breakpoint {
			.grid_2.offset240left & {
				width: calc( 100%/3 );
			}
		}
		p {
			margin-bottom: 20px;
			line-height: 1;
		}
	}
}

.training.column {
	ul {
		margin: 0 0 0 20px;
	}
	li {
		margin-bottom: 15px;
	}
}

