.uat {

	&_section_btn {
		bottom: 60px;
		position: fixed;
		width: 100%;

		.uat {
			&__btn {
				background-color: red;
				border: none;
				color: white;
				font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
				padding: 20px 30px;
				width: 100%;
			}
		}
	}

	&_section_overlay {
		background: rgba(0, 0, 0, .5);
		display: none;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 9998;

		.uat {
			&__modal {
				background: white;
				display: none;
				margin: 0 auto;
				max-width: 320px;
				padding: 50px;
				position: relative;
				width: 100%;

				h1 {
					margin: 0;
				}
			}
		}
	}

	// Tablet Breakpoint
	// ---------------------------------
	@media screen and (min-width:768px) {
		&_section_btn {
			bottom: 0;
		}

		&_section_overlay {
			.uat {
				&__modal {
					max-width: 1200px;
					width: 90%;
				}
			}
		}
	}
}
