// Color Variables
// ---------------------------------
@aluminum      : #999999;
@black         : #000000;
@blue          : #1A488D;
@deep-blue     : #201C7C;
@deep-cobalt   : #153A7A;
@deep-orchid   : #881376;
@dark-grey     : #A0A2A2;
@green         : #149550;
@iron          : #CCCCCC;
@jet           : #222222;
@light-grey    : #E0E0E0;
@lime-green    : #85BC3B;
@oil           : #333333;
@orange        : #E6691F;
@pink          : #EEB4BB;
@red           : #D02434;
@rust          : #AF3E12;
@salem-green   : #008A45;
@smoke         : #E0E0E0;
@steel         : #686868;
@tuatara       : #444444;
@strong-red    : #BF1C29;
@vivid-amber   : #F1B70E;
@white         : #FFFFFF;
@white-smoke   : #F2F2F2;
@yellow        : #FFEE26;
@velopress     : #E35147;


// Font Variables
// ---------------------------------
@crimson: "Crimson Text", Georgia, "Times New Roman", serif;
@opensans: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@oscondensed: 'Open Sans Condensed', Tahoma, Geneva, sans-serif;


// Miscellaneous
// ---------------------------------
@transition: all .25s ease;


// Media Queries
// ---------------------------------
@screen-xxs-min: 640px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@screen-xl-min: 1280px;

@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);

@xxs-breakpoint: ~"screen and (min-width:@{screen-xxs-min})";
@xs-only-breakpoint: ~"screen and (max-width:@{screen-xs-max})";
@sm-breakpoint: ~"screen and (min-width:@{screen-sm-min})";
@sm-only-breakpoint: ~"screen and (min-width:@{screen-sm-min}) and (max-width:@{screen-sm-max})";
@md-breakpoint: ~"screen and (min-width:@{screen-md-min})";
@md-only-breakpoint: ~"screen and (min-width:@{screen-md-min}) and (max-width:@{screen-md-max})";
@lg-breakpoint: ~"screen and (min-width:@{screen-lg-min})";
@xl-breakpoint: ~"screen and (min-width:@{screen-xl-min})";
