// Hidden Menu Items
// ---------------------------------
#menu-posts-bike-reviews {
	.wp-submenu {
		li:last-child {
			display: none;
		}
	}
}

#menu-posts-apparel-reviews {
	.wp-submenu {
		li:last-child {
			display: none;
		}
	}
}


// Hidden Meta Boxes
// ---------------------------------
#bike-reviews-catdiv,
#apparel-reviews-catdiv {
	display: none;
}
