/* stylesheet for the confirmation card */
/* http://meyerweb.com/eric/tools/css/reset/
	 v2.0 | 20110126
	 License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}


body {
	font: 13px/normal arial, sans-serif;
}
p,
fieldset {
	margin-bottom: 10px;
}
strong {
	font-weight: bold;
}
.separator {
	clear: both;
}

h1 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
h2 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
	padding-bottom: 5px;
	text-transform: uppercase;
}
#print_this {
	font-size: 32px;
	font-weight: bold;
	width: 95%;
	margin: 10px auto 0 auto;
	padding: 10px 0;
	text-align: center;
	border: 1px solid #e6db55;
	background-color: #ffffe0;
}
#print_this a {
	display: block;
	text-decoration: none;
	color: #333;
}
#print_this a:hover {
	text-decoration: underline;
}
#wrapper {
	width: 960px;
	margin: 20px auto 0 auto;
}
fieldset {
	overflow: hidden;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
}
.group {
	overflow: hidden;
	padding: 10px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}


/* -- header text -- */
#header_text {
	text-align: center;
}
.alert {
	font-weight: bold;
	text-transform: uppercase;
	color: #f00;
}

/* -- racer's raceday info -- */
#raceday_info li.first_row {
	float: left;
	width: 50%;
}
#mb_raceday_info li.first_row,
#tr_raceday_info li.first_row {
	float: left;
	width: 50%;
}
.predicted {
	text-align: right;
}
#raceday_info li.second_row,
#tr_raceday_info li.second_row {
	float: left;
	width: 33.33333333333333%;
}
.gender {
	text-align: center;
}
.age {
	text-align: right;
}
.centeralign {
	text-align: center;
}
.rightalign {
	text-align: right;
}
.result {
	font-family: courier, 'courier new', monospace;
	font-size: 14pt;
	font-weight: bold;
}
#raceday_info .bib_number {
	font-size: 18pt;
	font-weight: bold;
	text-align: center;
}
#raceday_info .bib_number .result {
	font-size: 22pt;
}

/* -- name/address and mandatory information -- */
#address_mandatory li,
.left_column,
.right_column {
	float: left;
	width: 50%;
}
.mandatory_info {
	text-align: right;
}
#address_mandatory h2,
#address_mandatory2 h2,
.title_underline {
	border-bottom: 1px solid #000;
}
.note {
	font-size: 8px;
}
#questions li {
	font-size: 11px;
	float: none;
	width: auto;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #000;
}
#questions li.split {
	float: left;
	width: 60%;
}

#waiver_text {
	font-size: 13px;
	text-align: justify;
}
#signature {
	margin: 40px 0 20px 0;
}
#signature li {
	font-weight: bold;
	float: left;
	width: 33.33333333333333%;
	border-top: 1px solid #000;
}
#signature .signature_date {
	text-align: center;
}
#signature_minor1 {
	clear: both;
	overflow: hidden;
	margin: 50px 0 20px 0;
}
#signature_minor1 li {
	font-weight: bold;
	float: left;
	width: 50%;
	border-top: 1px solid #000;
}
#signature_minor1 .signature_date {
	text-align: center;
}
#signature_minor2 {
	clear: both;
	overflow: hidden;
	margin: 50px 0 20px 0;
}
#signature_minor2 li {
	font-weight: bold;
	float: left;
	width: 33.33333333333333%;
	border-top: 1px solid #000;
}
#signature_minor2 .signature_date {
	text-align: center;
}
.minor_disclaimer {
	font-size: 13px;
	clear: both;
	margin-top: 10px;
	text-align: justify;
}


/* -- new stuff -- */
.printout-v2 #header_container {
	border-bottom: 5px solid #ee1c24;
	margin-bottom: 20px;
}
.printout-v2 .header {
	padding-bottom: 20px;
	margin-bottom: 5px;
	border-bottom: 3px solid #ccc;
	overflow: hidden;
}
.printout-v2 .event_logo {
	float: left;
	padding-right: 30px;
	margin-right: 30px;
	border-right: 1px solid #ccc;
}
.header_txt {
	padding-top: 10px;
	font-size: 28px;
}
.event_distance {
	font-weight: bold;
	font-size: 36px;
	text-transform: uppercase;
}
.event_date {
	font-size: 24px;
	color: #999;
}
.printout-v2 .event_logo img {
	max-width: 250px;
	height: auto;
}
.printout-v2 .runner_info {
	margin-bottom: 20px;
	text-transform: uppercase;
}
.runner_info_table {
	width: 100%;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.runner_info_table td {
	padding: 20px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 28px;
	vertical-align: middle;
	font-weight: bold;
	text-align: center;
}
.runner_info_table td.nostretch {
	width: 1%;
	font-weight: normal;
	white-space: nowrap;
	color: #666;
	font-size: 13px;
	text-align: left;
}
.custom_alerts {
	font-size: 16px;
	text-align: center;
}


@media print {
	#print_this {
		display: none;
	}
	#wrapper {
		width: auto;
		margin: 0;
	}
	body {
		font-size: 8pt;
	}
	h1 {
		font-size: 12pt;
	}
	h2 {
		font-size: 6pt;
	}
	.result {
		font-size: 13pt;
	}
	p,
	fieldset {
		font-size: 6pt;
		margin-bottom: 8pt;
	}
	.note,
	.minor_disclaimer,
	#waiver_text {
		font-size: 6pt;
	}
	.group {
		border: none;
	}
	#questions li {
		font-size: 6pt;
		margin-bottom: 2pt;
		padding-bottom: 2pt;
	}
	#signature {
		margin: 10pt 0 10pt 0;
	}


	.header_txt,
	.event_date {
		font-size: 12pt;
	}
	.event_distance {
		font-size: 16pt;
	}
	.printout-v2 .header {
		padding-bottom: 5pt;
	}
	.printout-v2 .event_logo {
		margin-right: 15pt;
		padding-right: 15pt;
	}
	.printout-v2 .event_logo img {
		max-width: 175px;
	}
	.printout-v2 .runner_info {
		margin-bottom: 10pt;
	}
	.runner_info_table td {
		font-size: 16pt;
		padding: 10pt;
	}
	.group {
		padding: 0;
	}
	.custom_alerts p {
		font-size: 8pt;
	}

}
