/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Francois+One|Ubuntu);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3 {
  font-family:'Francois One', sans-serif;
  text-transform:uppercase;
}
h2 {
  padding:2% 0;
}
h1 {
  font-size:2em;
  line-height:1.125em;
  color:#333;
  border-bottom:1px #666 solid;
}
h2 {
  font-size:1.75em;
  color:#666;
  line-height:1.25em;
}
h3 {
  font-size:1.5em;
  line-height:1.25em;
  color:#999;
}
ul {
  margin:0 0 0.625em 1.875em;
  list-style-type:disc;
}
ol {
  margin:0 0 0.625em 1.875em;
  list-style-type:decimal;
}
li {
  margin:0 0 .313em 0;
}
body {
  background-color:#f9f9f9;
  font:1em/1.25em 'Ubuntu', sans-serif;
  color:#666;
  word-wrap:break-word;
}
p { 
  text-align:left;
  margin-bottom:0.625em;
}
strong {
  font-weight:bold;
}
a:link, a:active, a:hover, a:visited {
  color:#000;
}
/* Container Elements */
#container {
  background:#fff;
  max-width:960px;
  margin:0 auto;
  border-left:1px solid #E7E8E6;
  border-right:1px solid #E7E8E6;
} 
  #contentBody {
    padding:2%;
  }
.anchor_link {
  font-size:.625em;
  color:#333;
  text-decoration:none;
  vertical-align:top;
}
  .anchor_link:hover {
    color:#ccc;
  }

@media only screen and (max-width: 960px) {
  #container {
    border:none;
  }
}

/*
@media screen and (min-width: 468px) and (max-width: 700px) {
  #container {
    width:82.978723404255%;
    }
}

@media screen and (min-width: 300px) and (max-width: 420px) {
  #container {
    width:82.978723404255%;
  }
  h1 {
    font-size:1em;
  }
  h2 {
    font-size:.08em;
  }
}
*/