/*
Theme Name: Confirmation Card
Theme URI: http://competitor.com/
Description: Simple theme for the confirmation card
Version: 1.6
Author: Joey Hernandez
Author URI: http://competitor.com/
*/


/* http://meyerweb.com/eric/tools/css/reset/
	 v2.0 | 20110126
	 License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border: 0;
}


/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}


body {
	font: 13px arial, sans-serif;
}
h1 {
	font-size: 19px;
	font-weight: bold;
}
h2 {
	font-size: 16px;
	font-weight: bold;
	color: #181818;
}
p {
	line-height: 20px;
	margin: 10px 0;
}
ol {
	margin: 5px 5px 5px 0;
}
li {
	padding: 5px 5px 5px 15px;
}
strong {
	font-weight: bold;
}
.attn_warning {
	margin-bottom: 20px;
	padding: 0 10px;
	border: 1px solid #e6db55;
	background-color: #ffffe0;
}
.page-template-nfl-php .attn_warning {
	color: #000;
}
.usr_conf {
	margin-bottom: 20px;
	border: 1px solid #ccc;
}
.usr_conf li {
	overflow: hidden;
	list-style-type: none;
}
.usr_conf label {
	float: left;
	width: 100px;
}
.usr_conf label:hover {
	cursor: pointer;
}
.usr_conf input[type='submit'] {
	display: block;
	margin: 20px auto auto;
}
#conf_sheet_faq {
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.print_confirm_btn {
	margin-bottom: 30px;
}
.print_confirm_btn a:link,
.print_confirm_btn a:visited {
	text-decoration: none;
	color: #fff;
}
.print_confirmation_sheet {
	font-size: 16px;
	display: block;
	width: 200px;
	margin: auto;
	padding: 10px;
	text-align: center;
	border: 1px solid #00461c;
	border-radius: 8px;
	background-color: #00933a;
}
.try_again {
	border: 1px solid #460400;
	background-color: #930800;
}


/* carlsbad 5000 */
.cbad_form_group {
	padding: 15px;
	border: 1px solid #ccc;
}
.attn_warning {
	margin: 0 auto 20px auto;
	padding: 20px;
	border: 2px solid #e6db55;
	background-color: #ffffe0;
}
.usr_conf {
	border: none;
}

.cbad_form_found {
	overflow: hidden;
	width: 960px;
	margin: 0 auto 20px auto;
	padding: 20px;
	border: 2px solid #000;
}
#print_this {
	font-size: 32px;
	font-weight: bold;
	margin: 10px auto 20px auto;
	padding: 10px 0;
	text-align: center;
	border: 1px solid #e6db55;
	background-color: #ffffe0;
}
#print_this a {
	display: block;
	text-decoration: none;
	color: #333;
}
#print_this a:hover {
	text-decoration: underline;
}
h1 {
	font-size: 21pt;
	padding-top: 20px;
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 10px;
}
p {
	font-weight: bold;
}
.divider {
	padding-bottom: 10px;
	border-bottom: 1px solid gainsboro;
}
.racer_info {
	font-family: courier, 'courier new', monospace;
	font-size: 16pt;
}
.clear {
	clear: both;
}
ul {
	margin: 0 0 10px 35px;
	list-style-type: disc;
}
li {
	font-size: 10pt;
	padding: 0;
}
.usr_conf li {
	margin-bottom: 5px;
}


/* begin images */
img {
	max-width: 100%;
	/*width:100%;*/
	height: auto;
}
img.centered {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
img.alignright {
	display: inline;
	margin: 0 0 2px 7px;
	padding: 4px;
}
img.alignleft {
	display: inline;
	margin: 0 7px 2px 0;
	padding: 4px;
}
.alignright {
	float: right;
}
.alignleft {
	float: left;
}
object img {
	height: inherit;
}
.wp-caption {
	width: auto!important;
}
/* end images */


/* international template */
.page-template-conf-intl-php .wrapper {
	max-width: 960px;
	margin: auto;
}
.page-template-conf-intl-php h1,
.page-template-conf-intl-php h2 {
	margin-bottom: 10px;
}
.lang_chooser {
	clear: both;
	overflow: hidden;
	padding: 5px;
	border: 1px solid #ccc;
}
.widgettitle {
	margin-right: 20px;
}
.page-template-conf-intl-php .widget .widgettitle {
	float: left;
	margin-right: 15px;
}
.page-template-conf-intl-php #qtranslate-2 {
	padding: 0;
}
.qtrans_language_chooser {
	float: left;
}


/* responsive */
@media only screen and (min-width:320px) {
	.page-template-conf-intl-php .wrapper {
		width: 93.75%;
	}
}


/* print media query */
@media print {
	#print_this {
		display: none;
	}
	.cbad_form_found {
		width: auto;
		margin: 0;
		padding: 0;
		border: none;
	}
	body {
		font-size: 8pt;
	}
	h1 {
		font-size: 12pt;
	}
	h2 {
		font-size: 10pt;
	}
	p,
	fieldset {
		margin-bottom: 10pt;
	}
	fieldset {
		padding: 5pt;
		border: 0.25pt solid #ccc;
	}
}
