.grd-countdown {
	&-alert {
		font-size: 16px;
		font-weight: bold;

		@media @md-breakpoint {
			font-size: 29px;
		}

		&-fr {
			margin-top: 10px;
		}
	}
	&-table {
		margin: auto;

		@media @md-breakpoint {
			width: 75%;
		}

		td {
			font-family: 'Open Sans', sans-serif;
			padding: 0 15px;
			color: @white;
			line-height: 1;
			border: 0;
			text-align: center;

			.grd-countdown-sticky & {
				padding: 0 5px;
				vertical-align: middle;
			}
			@media @md-breakpoint {
				.grd-filterbar__desktop & {
					padding: 0 10px;
				}
			}

		}

		&-val {
			font-size: 32px;
			font-weight: bold;

			@media @md-breakpoint {
				.grd-marquee & {
					font-size: 42px;
				}
			}
		}
		&-label {
			font-size: 12px;
			text-transform: uppercase;

			@media @md-breakpoint {
				.grd-marquee & {
					font-size: 16px;
				}
			}
		}
	}
	&-sticky {
		max-height: 0;
		overflow: hidden;
		transition: @slow-transition;
		position: fixed;
		top: 0;
		z-index: 100;
		background-color: @rnr-darkred;
		width: 100%;
		display: flex;
		align-items: center;
		padding: 0 10px;
		color: @white;
		text-transform: uppercase;
		text-align: center;
		justify-content: center;

		@media @fat-adminbar-breakpoint {
			.admin-bar & {
				top: 46px;
			}
		}
		@media @slim-adminbar-breakpoint {
			.admin-bar & {
				top: 32px;
			}
		}
		@media @md-breakpoint {
			display: none;
		}

		.page-template-welcome-locations-php & {
			display: none;
		}

		&--fixed {
			max-height: 1000px;
			padding: 5px 10px 10px;
		}
		&-alert {
			padding-right: 15px;
			font-size: 13px;
			font-weight: bold;

			@media @md-breakpoint {
				&-fr {
					margin: 5px 0;
				}
				.grd-filterbar-item-countdown & {
					padding: 0;
					text-transform: uppercase;
					color: @white;
					font-family: @montserrat;
				}
			}

		}
		table {
			margin: 0;

			div {
				display: block;
				vertical-align: middle;
			}
		}
	}

}
