.grd-sg {
	margin-bottom: 24px;

	@media @md-breakpoint {
		order: 2;
		margin-bottom: 0;
	}

	#grd-sg__inline& {
		padding: 40px 24px;
	}

	&-intro,
	&__inline-intro {
		margin-bottom: 10px;
		text-transform: uppercase;
		font-size: 16px;
	}
	&-datacap,
	&__inline-datacap {
		display: flex;
		justify-content: center;
		margin-bottom: 5px;
	}
	&-email,
	&__inline-email {
		color: @black;
		padding: 5px;
		max-width: 270px;
		border: 1px solid @navborders;
		background: @white;
		flex-grow: 1;
		font-size: 16px;
	}
	&-submit,
	&__inline-submit {
		border: 0;
		margin-left: 10px;
		.button_font();
		.button_gradient( #7f7f7f, #727272 );

		&:hover {
			.button_gradient( #727272, #585858 );
		}
	}
	&-msg,
	&__inline-msg {
		font-size: 13px;
		font-style: italic;
		margin-bottom: 10px;
	}
	&-success,
	&__inline-success {
		font-size: 16px;
	}
}

.fancybox-slide--iframe .fancybox-content {
	width: 800px;
	height: 600px;
	max-width: 80%;
	max-height: 80%;
	margin: 0;
}
