#findarace {
	border: none;

	@media @md-breakpoint {
		min-height: 400px;
	}

	.mix {
		padding: 0;
		background-color: @bg-gray;
		position: relative;

		&_group {
			font-size: 18px;
			margin: 0;

			&__fail-message {
				transition: @transition;
				// visibility: hidden;
				display: none;
				text-align: center;
				opacity: 0;
				pointer-events: none;
			}
			&.mixitup-container-failed {
				.mix_group__fail {
					&-message {
						padding: 20px 10px 0 10px;
						display: block;
						opacity: 1;
						// visibility: visible;
						pointer-events: all;
						margin: 0 auto 30px;
					}
					&-button {
						.button_font();
						.button_gradient( #7f7f7f, #727272 );

						&:hover {
							.button_gradient( #727272, #585858 );
						}
					}
				}

			}
			.mix {
				width: 100%;
				border: none;
				margin: 0 0 30px 0;
			}
		}

		.inner_mix {
			padding: 15px;

			@media @sm-breakpoint {
				overflow: hidden;
				margin: 0 -15px;
			}
			@media @md-breakpoint {
				display: flex;
				padding: 0 15px 15px;
			}

			a.cta,
			.highlight.black {
				margin-top: 15px;

				@media @sm-breakpoint {
					margin-top: 0;
				}
			}
			&_tabletup_column {
				@media @sm-breakpoint {
					float: left;
					width: 40%;
					padding: 0 15px;

					&:first-child {
						width: 60%;
					}
				}
				@media @md-breakpoint {
					width: 25%;

					&:first-child {
						width: 50%;
					}
				}
				@media @lg-breakpoint {
					width: 25%;

					&:first-child {
						width: 45%;
					}
				}
			}
			&_desktopup_column {
				@media @md-breakpoint {
					width: 25%;
					float: left;
					padding: 0 15px;
					text-align: center;
					align-self: center;
				}
				@media @lg-breakpoint {
					width: 30%;

					h3 {
						font-size: 29px;
					}
				}


			}
		}
		&-featured {
			text-align: center;
			color: @white;
			text-transform: uppercase;
			font-size: 13px;
			font-weight: bold;
			padding-top: 2px;
			background-color: @mediumgray;

			@media @md-breakpoint {
				position: absolute;
				left: 0;
				top: 100%;
				width: 100%;

				span {
					display: block;
					transform: rotate(-90deg);
					transform-origin: top left;
					background-color: @mediumgray;
					text-align: left;
					padding-left: 10px;
				}
			}
		}

		&-title {
			font-family: @futura-bd;
			color: @darkgray;
			font-size: 29px;
			margin-bottom: 0;
			border-bottom: 0;
			text-align: center;
		}

		&-date {
			font-family: @futura-bdcd;
			margin-bottom: 10px;
			color: @darkgray;
			text-align: center;
		}
		&-distancelist {
			margin: 0;
			list-style: none;
			text-align: center;

			li {
				display: inline-block;
				margin: 0 15px 15px 0;
			}
			&-item {
				font-size: 13px;
				padding: 5px 10px;
				color: @mediumgray;
				transition: @transition;
				border: 1px solid @mediumgray;
				background-color: @white;

				&:hover {
					text-decoration: none;
					background-color: @rnr-darkred;
					color: @white;
					cursor: pointer;
					border: 1px solid @rnr-darkred;

				}
				&--active {
					background-color: @rnr-darkred;
					color: @white;
					border: 1px solid @rnr-darkred;
				}
			}

		}
		&_grid_2 {
			font-size: 0;
			margin: 0 -15px;

			&_column {
				font-size: 16px;
				display: inline-block;
				vertical-align: top;
				width: 50%;
				padding: 0 15px;

				@media @sm-breakpoint {
					width: 100%;
				}

				img {
					margin-bottom: 15px;
				}
			}

		}

		&-details-toggle {
			text-transform: uppercase;
			font-weight: bold;
			color: @rnr-darkred;
		}
		&-togglecontent {
			margin: 0 15px;

			@media @sm-breakpoint {
				// clear: both;
				// overflow: hidden;
				border-top: 1px solid @darkgray;
				padding-top: 15px;
				display: flex;
				flex-flow: row wrap;

				& > * {
					flex: 1 100%;
				}
			}

			h3 {
				text-align: center;

				@media @md-breakpoint {
					display: none;
				}
			}
			h4 {
				font-weight: normal;
				text-transform: uppercase;
				font-size: 13px;
				padding-top: 5px;

				@media @sm-breakpoint {
					transform: rotate(-90deg);
					padding-top: 0;
					transform-origin: left top;
				}

			}

			&-content {
				border-top: 1px solid @darkgray;
				margin-bottom: 10px;

				@media @sm-breakpoint {
					// float: left;
					// width: 50%;
					border-top: none;
					border-left: 1px solid @darkgray;
					position: relative;
					padding: 0 15px;
					min-height: 250px;
					flex: 2 0px;
				}

				ul {
					list-style: none;
					margin: 15px 0;

					li {
						margin-bottom: 10px;
						font-weight: bold;
						font-size: 13px;
						text-transform: uppercase;
						color: @darkgray;
						display: flex;
					}
				}
				&-img {
					flex: none;
					margin: 0 15px 0 0;

					img {
						width: 27px;
						height: 27px;
					}
				}
				&-para {
					margin-bottom: 0;

					span {
						font-weight: normal;
						text-transform: initial;
					}
				}
			}
			&__title {
				@media @sm-breakpoint {
					position: absolute;
					left: 0;
					bottom: -10px;
				}
			}
			&__features {
				ul {
					@media @xs-breakpoint {
						display: flex;
						flex-wrap: wrap;
					}
					@media @sm-breakpoint {
						display: block;
					}
					@media @md-breakpoint {
						display: flex;
					}
					li {
						margin-bottom: 30px;

						@media @xs-breakpoint {
							padding: 0 15px;
							width: 50%;
						}
						@media @sm-breakpoint {
							width: 100%;
						}
						@media @md-breakpoint {
							width: 50%;
						}
					}
				}
				&-img {
					img {
						width: 50px;
						height: 50px;
					}
				}
			}
			&__amenities {
				&-grid {
					@media @xs-breakpoint {
						display: flex;
					}
					@media @sm-breakpoint {
						display: block;
					}
					@media @md-breakpoint {
						display: flex;
					}
				}
				&-column {
					@media @xs-breakpoint {
						padding: 0 15px;
						width: 60%;

						&:first-child {
							width: 40%;
						}
					}
					@media @sm-breakpoint {
						width: 100%;

						&:first-child {
							width: 100%;
						}
					}
					@media @md-breakpoint {
						width: 60%;

						&:first-child {
							width: 40%;
						}
					}
				}
			}
			&__link {
				text-align: center;
				text-transform: uppercase;
				margin-bottom: 24px;
				font-weight: bold;

				@media @sm-breakpoint {
					text-align: right;
				}
				@media @md-breakpoint {
					margin-bottom: 0;
				}
			}
			&__media {
				text-align: center;
				margin-bottom: 15px;

				@media @sm-breakpoint {
					display: none;
				}
			}

		}
		&-triangle-down {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 10px 0 10px;
			border-color: @darkgray transparent transparent transparent;
			position: relative;
			top: -1px;
			float: right;
			margin-right: 10px;

			@media @sm-breakpoint {
				border-color: transparent transparent transparent @darkgray;
				border-width: 10px 0 10px 10px;
				margin-right: 0;
				left: -1px;
				position: absolute;
				margin-top: 10px;
			}

			&:after {
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 9px 9px 0 9px;
				border-color: @bg-gray transparent transparent transparent;
				position: absolute;
				top: -10px;
				left: -9px;

				@media @sm-breakpoint {
					top: -9px;
					left: -10px;
					border-width: 9px 0px 9px 9px;
					border-color: transparent transparent transparent @bg-gray;
				}
			}
		}
		&-price-group,
		&-cta-group {
			@media @sm-breakpoint {
				float: left;
				width: 65%;
			}
			@media @md-breakpoint {
				width: 70%;
			}
			.mix-price-span {
				display: none;
				font-size: 16px;
				flex-wrap: wrap;

				@media @md-breakpoint {
					flex-wrap: nowrap;
				}

				&-cents,
				&-symbol {
					font-size: 24px;
					vertical-align: super;
				}
				&-code {
					font-size: 18px;
					margin-left: -27px;
					vertical-align: baseline;
				}

				&__price {
					color: @rnr-darkred;
					font-weight: bold;
					font-size: 48px;
					margin-bottom: 10px;
					line-height: .8;
					width: 100%;

					@media @md-breakpoint {
						float: left;
						width: auto;
					}
					&-deets {
						@media @md-breakpoint {
							float: left;
							padding: 0 15px;
						}
					}
				}
				&__distance {
					color: @rnr-darkred;
					text-transform: capitalize;
					margin-bottom: 0;
				}
				&__savings {
					font-weight: bold;
					color: @darkgray;
					margin-bottom: 0;
				}
				&__limited {
					color: @darkgray;
					margin-bottom: 0;
				}
				&__regclosed {
					font-weight: bold;
					color: @darkgray;
					margin-bottom: 0;
					padding-right: 15px;
					line-height: 1.25;

					@media @md-breakpoint {
						padding-right: 15px;
					}
				}


				&.mix-price-halfmarathon {
					display: flex;
				}
			}
		}
		&-cta-group {
			@media @sm-breakpoint {
				float: right;
				width: 35%;
				text-align: center;
			}
			@media @md-breakpoint {
				width: 30%;
			}
		}
		&.carlsbad-5000 {
			.mix {
				&-price-group,
				&-cta-group {
					.mix-price-span {
						&.mix-price-fivek {
							display: flex;
						}
					}
				}
			}
		}
	}
}


.grd-filterbar {
	&-item {
		flex: 1;
		margin: 0;
		text-align: center;
		border-left: 1px solid @white;

		@media @md-breakpoint {
			position: relative;
		}



		&-countdown {
			display: none;
		}
		&-sortby {
			-webkit-flex-grow: .5;
			flex-grow: .5;
		}
	}
	&-label,
	&-toggle {
		color: @white;
		font-size: 10px;
		text-transform: uppercase;
		line-height: 40px;
		// height: 100%;
		display: block;
		padding: 10px 0;

		&__remix {
			background-color: @darkgray;

			span {
				display: inline-block;
				line-height: 1;
				vertical-align: middle;
			}
		}
		&-active {
			background-color: @darkgray;
		}
		.grd-filterbar__mobile & {
			line-height: normal;
		}

	}
	&-toggle {
		&:hover {
			background-color: @darkgray;
			text-decoration: none;
		}
	}

	&-content {
		position: absolute;
		bottom: 58px;
		background-color: @white;
		width: 100%;
		font-size: 13px;
		padding: 0 10px;
		border-top: 2px solid @rnr-darkred;
		text-align: left;
		left: 0;
		z-index: 1000;

		h3 {
			text-transform: uppercase;
			margin-bottom: 10px;
			padding-top: 24px;
			font-family: @montserrat;
			font-weight: 800;
		}
		&-controls {
			margin: 0;
			list-style: none;

			li {
				display: block;
				flex: unset;
				height: auto;
				margin: 0;
				border-top: 1px solid @navborders;

				&:first-child {
					border: none;
				}

				ul {
					margin: 0;
				}
			}
		}
		&-control {
			width: 100%;
			border: none;
			text-align: left;
			background-color: @white;
			padding: 10px 0;
			text-transform: uppercase;
			font-size: 16px;

			&:hover {
				color: @black;
			}

			&.mixitup-control-active {
				color: @rnr-darkred;

				&:after {
					content: '\e80a';
					font-family: 'fontello';
					display: inline-block;
					width: 1em;
					text-align: center;
					margin-left: .2em;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					float: right;
				}
			}
			.grd-filterbar-content-controls-nonus ul li & {
				padding: 10px;
				background-color: @bg-gray;
			}
		}
		&-label {
			width: 100%;
			border: none;
			background-color: @white;
			text-align: left;
			padding: 10px 0;
			text-transform: uppercase;
			font-size: 16px;
			cursor: pointer;

			.icon-play {
				float: right;
			}
		}
		&__city {
			max-height: 250px;
			overflow-y: scroll;
		}

	}

	&__mobile {
		border-top: 2px solid @rnr-darkred;
		position: fixed;
		bottom: 0;
		background-color: @black;
		width: 100%;
		z-index: 100;
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		// height: 60px;
		box-shadow: 0 -10px 5px rgba(0, 0, 0, .15);

		@media @md-breakpoint {
			display: none;
		}

		&-svg {
			height: 20px;
			display: block;
			margin: 0 auto 5px auto;
		}
		.grd-filterbar-item {
			&:first-child {
				border-left: none;
			}
		}

	}
	&__desktop {
		display: none;

		@media @md-breakpoint {
			display: flex;
			background-color: @black;
			list-style: none;
			margin: 30px 0 15px;
			align-content: stretch;
			justify-content: center;

			&--fixed {
				position: fixed;
				top: 0;
				z-index: 100;
				width: 100%;
				max-width: 1200px;
				margin: 0;
				box-shadow: 0 10px 5px rgba(0, 0, 0, .15);
			}

			&-label,
			&-toggle {
				font-size: 14px;
			}
			.grd-filterbar-item {
				&:nth-child(2) {
					border-left: none;

					.page-template-welcome-locations-php & {
						border-left: 1px solid @white;
					}
				}
			}

		}


		&-content {
			bottom: auto;
			left: auto;
			border-right: 2px solid @navborders;
			border-bottom: 2px solid @navborders;
			border-left: 2px solid @navborders;

			&__city {
				overflow-y: scroll;
				max-height: 270px;
			}

			&__remix {
				width: 200%;
				right: 0;
			}
		}
		&-svg {
			padding: 0 10px;
			height: 40px;
		}
		&--fixed {
			@media @fat-adminbar-breakpoint {
				.admin-bar & {
					top: 46px;
				}

			}
			@media @slim-adminbar-breakpoint {
				.admin-bar & {
					top: 32px;
				}

			}
			.grd-filterbar {
				&-label,
				&-toggle {
					@media @md-breakpoint {
						line-height: 60px;
					}
				}
				&-item {
					&:first-child {
						border: none;
					}
					&:nth-child(2) {
						// border-left: 1px solid @white;
						display: none;

						.page-template-welcome-locations-php & {
							display: block;
						}
					}
					&-countdown {
						display: inline;
						padding-top: 5px;
						background-color: @rnr-darkred;
					}
				}

				&__desktop-content__remix {
					width: 250%;
				}
			}
			.grd-filterbar__desktop-svg {
				height: 30px;
			}


		}
	}

}

