#getgoing {
	display: none;
}

.grd {
	main.no-hero& {
		/* @media @md-breakpoint {
			overflow: visible;
		} */

		.wrapper {
			padding: 0;

			section {
				padding: 0;
			}
		}
	}
	@media @sm-breakpoint {
		&_mobile {
			display: none !important;

		}
	}

	&_tablet {
		display: none;

		@media @sm-breakpoint {
			display: block;
		}
	}
	&_desktop {
		display: none;

		@media @md-breakpoint {
			display: block;
		}
		&_no {
			@media @md-breakpoint {
				display: none;
			}
		}
	}
	&-marquee {
		position: relative;
		background: url( ../../img/grd/bg-2017.jpg ) repeat @white;
		text-align: center;

		@media @sm-breakpoint {
			font-size: 0;
			overflow: hidden;
			display: flex;
			align-items: stretch;
			margin-bottom: 30px;
		}

		&-white {
			padding: 40px 10px 0px;

			.page-template-welcome-locations-php & {
				padding: 40px 10px 1px;
				margin-bottom: 30px;

				@media @sm-breakpoint {
					margin-bottom: 0;
					align-self: center;
				}
			}

			@media @md-breakpoint {
				padding: 40px 30px 0;
			}

			h1 {
				text-transform: uppercase;
				text-align: center;
				line-height: 1.2;
				font-family: @montserrat;
				color: @black;
				margin-bottom: 20px;
				font-weight: 900;

				@media @xs-breakpoint {
					line-height: 1;
				}

				.kicker,
				.subhead {
					display: block;
					overflow: hidden;
					font-size: 26px;

					.page-template-welcome-locations-php & {
						font-size: 19px;
					}

					/* @media @xs-breakpoint {
						font-size: 36px;
					} */
					@media @xs-breakpoint {
						font-size: 26px;

						.page-template-welcome-locations-php & {
							font-size: 26px;
						}
					}
					@media @xs-breakpoint {
						.page-template-welcome-locations-php & {
							font-size: 19px;
						}
					}
					@media @lg-breakpoint {
						font-size: 36px;

						.page-template-welcome-locations-php & {
							font-size: 26px;
						}
					}

					&-info1 {
						font-family: 'Arial', sans-serif;
						font-size: 16px;
						font-weight: bold;

						@media @xs-breakpoint {
							font-size: 22px;
						}
						@media @sm-breakpoint {
							font-size: 16px;
						}
						@media @lg-breakpoint {
							font-size: 22px;
						}
					}
					&-info2 {
						color: @rnr-darkred;
					}

					&-info4 {

						&:before,
						&:after {
							background-color: @darkgray;
							position: relative;
							display: inline-block;
							width: 50%;
							height: 1px;
							margin-bottom: 6px;
							content: '';
							vertical-align: middle;
						}
						&:before {
							right: .5em;
							margin-left: -50%;
						}
						&:after {
							left: .5em;
							margin-right: -50%;
						}
					}
				}
			}

			@media @sm-breakpoint {
				width: 50%;
				display: inline-block;
				font-size: 18px;
				vertical-align: top;
			}

			&__info {
				font-size: 16px;
				color: @black;

				strong {
					color: @rnr-darkred;
					font-size: 19px;
				}
			}
		}
		&-red {
			font-family: 'Open Sans', sans-serif;
			padding: 15px 10px 50px 10px;
			text-transform: uppercase;
			color: @white;
			background-color: @rnr-darkred;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;

			.page-template-welcome-locations-php & {
				display: none;

				@media @sm-breakpoint {
					display: flex;
					min-height: 300px;
				}
			}

			@media @sm-breakpoint {
				display: flex;
				width: 50%;
				padding: 50px 10px 50px 40px;
				align-content: center;
				vertical-align: top;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;

				&_arrow {
					width: 50%;
					transform: rotate(90deg);
					position: absolute;
					left: 25%;
					top: 50%;

					&:before,
					&:after {
						content: '';
						position: absolute;
						height: 30px;
						width: 50%;
						top: -30px;
						background: url( ../../img/grd/bg-2017.jpg ) repeat @white;
					}
					&:before {
						left: -15px;
						transform: skew(45deg);
					}
					&:after {
						right: -15px;
						transform: skew(-45deg);
					}
				}
			}

			&__upsell {
				font-size: 24px;
				font-weight: 800;
				line-height: 1.2;
				font-family: @montserrat;
				padding: 40px 0;

				@media @md-breakpoint {
					text-align: left;
					padding: 40px;
				}
			}
		}
	}

	@media @sm-breakpoint {
		&-countdown {
			order: 1;
			width: 100%;
			margin-bottom: 24px;
		}
	}


	&-cards {
		position: relative;

		&:before {
			left: -15px;
			transform: skew(45deg);
		}
		&:after {
			right: -15px;
			transform: skew(-45deg);
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			height: 30px;
			width: 50%;
			top: -30px;
			background: @white;

			@media @sm-breakpoint {
				content: initial;
			}
			.page-template-welcome-locations-php & {
				content: normal;
			}
		}

		@media @md-breakpoint {
			&--fixed {
				padding-top: 95px;
			}
		}

	}
	&-youtube {
		position: relative;

		.icon-youtube-play {
			font-size: 72px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate( -50%, -50% );
			opacity: .75;
		}
	}

}


.icon-play {
	display: inline-block;
	transition: @transition;
	transform: rotate(90deg);

	&.rotate {
		transform: rotate(-90deg);
	}
}
.owl {
	&-item {
		&.loading {
			min-height: 100px;
		}
	}
}
.fancybox-slide--video .fancybox-content {
	width: 800px;
	max-width: 80%;
	height: 600px;
	max-height: 80%;
	margin: 0;
}

footer {
	padding-bottom: 65px;

	@media @md-breakpoint {
		padding-bottom: 0;
	}
}

@media @sm-breakpoint {
	header nav {
		width: 58.5%;
	}
}
