.sponsor-list tr {
  cursor:move;
}
.wp-list-table-item {
  width:100%;
}
.wp-list-table th,
.wp-list-table-item td {
  width:25%;
  vertical-align:middle;
}

#add_pri_sponsor_form,
#add_sponsor_form{
  margin-bottom:30px;
}
.pri_edit_div,
.edit_div {
  background-color:#eee;
  border:1px solid #e1e1e1;
  padding:30px;
  margin-bottom:20px;
}
.widefat td.no-vertical-padding {
  padding:0 10px;
  border-bottom:1px solid #e1e1e1;
}
