/*  1200px -- Full width desktop site */
@media @lg-breakpoint {
	main {
		padding:0;
	}
	#hero h1 {
		font-size:104px;
	}
	.page-template-nrd-php #findrace .mix {
		width:20%;
	}

	.sgform .sg-input.sg-input-text {
		width:230px;
	}


}