body.page-template-nrd-php {
	background: #f3f2de url(../img/nrd/bg.png) repeat;
}

#getgoing {
	display: none;
}
/*
main {
	padding: 5px 5px 0 5px;
}
*/
.bigtext * {
  white-space:normal;
}
.competitor-logo {
  position:absolute;
  bottom:20px;
  width:100%;
  margin:0 -3%;
}
#hero h1 {
  font-size:62px;
  font-family: 'Pacifico', cursive;
  text-transform:initial;
  letter-spacing:initial;
  color:#f2efdc;
  line-height:1.1;
  margin-top:-100px;
  font-weight:300;
}
#hero h1 .nrd-eight {
  font-size:150%;
}
main {
  padding:0 5px;
}

#banner {
  background-color:#e1ba4d;
  font-family: 'Amatic SC', cursive;
  color:#414141;
  text-align:center;
  font-size:32px;
}
main #banner a {
  color:#f3f2de;
  background-color:#1b99a4;
  padding:0 10px;
  font-family: 'Amatic SC', cursive;
  font-size:32px;
  margin:0;
  white-space:nowrap;
  border-radius:8px;
  display:inline-block;
  text-decoration:none;
}
main h2 {
	color: #f3f2de;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: inherit;
		/* font-size: 18px;
		margin-bottom: 11px; */
	font-size: 24px;
  margin-top:0;
	margin-bottom: 24px;
	padding-bottom: 0;
	border: none;
	line-height: 1.4;
	letter-spacing: .05em;
}

main p,
main a {
	color: #fff;
	font-family: 'Slabo 13px', serif;
	font-size: 18px;
	line-height: 180%;
  margin:0 0 24px;
}
.page-template-nrd-php main #findrace a.nrd-link {
  font-family:"Slabo 13px",serif;
}
main .sgform p {
  color:#104959;
}
main a:hover {
	text-decoration: none;
}

#wrr-logo {
	text-align: center;
	margin: 15px 0 25px;
}
.wrr-logo {
  width:220px;
}
#city, #city-video {
  margin-top:5px;
}
#banner, #city, #city-video, #desert, #beach, #partners, #nrd_pixlee {
  overflow:hidden;
	margin-bottom: 5px;
}

#nrd_pixlee {
  text-align:center;
}
.pixlee_txt_group {
  padding:4.8%;
}
main #nrd_pixlee h2,
main #nrd_pixlee p {
  color:#104959;
}
#banner .wrapper {
  padding:10px 4.8%;
}
#city .wrapper,
#desert .wrapper,
#beach .wrapper,
#partners .wrapper {
	padding: 4.8%;
}

.wrr-play {
	display: block;
	text-align: center;
	text-decoration: underline;
	margin-bottom: 15px;
}

.preview {
	width: 280px;
	padding: 60px 0;
	margin: 0 auto 20px auto;
	background:url(../img/nrd/wrr_video-thumb_2.png) center center no-repeat;
}
.wrr_desktop_watch {
  display:none;
}

#city .wrapper {
	background: #1b99a4;
}
#city-video {
  display:none;
  clear:both;
  height:600px;
}
.city-video-wrapper {
  margin:0 auto;
  max-width:1200px;
  position:relative;
  height:100%;
}
#desert .wrapper {
	min-height: 580px;
	background: #d65d3e url(../img/nrd/bg_desert_m.png) no-repeat bottom;
	background-size: 158%;
}

#desert .runner {
	display: block;
	position: absolute;
	bottom: 2%;
	left: 36.5%;
	max-width: 25%;
}

.wrr-reminder {
  display: block;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 180px;
}

.wrr-reminder img {
	margin-bottom: 14px;
}

#beach .wrapper {
	min-height: 580px;
	background: #dc9a48 url(../img/nrd/bg_beach_m.png) no-repeat bottom;
	background-size: 159%;
	background-position-x: 13%;
}

#beach .runner {
	display: block;
	position: absolute;
	bottom: 2%;
	left: 47.5%;
	max-width: 23%;
}

#partners .wrapper {
	background: #10606e;
}

#getgoing,
#city .runner,
.byline {
	display: none;
}

.owl-carousel {
	margin-top: -7px;
}
.owl-next {
	border-color: transparent transparent transparent #104959;
	top: 50%;
}
.owl-prev {
	border-color: transparent #104959 transparent transparent;
	top: 50%;
}

.big_video_close {
  background: #ee1c24 none repeat scroll 0 0;
  line-height: 1;
  padding: 0 3px 4px;
  position: absolute;
  right: 20px;
  top: 20px;
}
#city-video .icon-cancel {
  font-size:45px;
}
.sgform {
	margin-bottom: 125px;
}
.sgform .sg-content {
  padding:0;
}
.sgform .sg-input-text,
.sgform .sg-question input[type="text"] {
  background-color:#fff;
}
.sgform .sg-type-group .sg-group-item {
  padding:0;
}
.sgform .sg-input.sg-input-text {
  width:100%;
}
.sgform .sg-question {
  margin-bottom:0;
}
.sgform .sg-wrapper, .sgform .sg-question-title, .sgform .sg-question-title label {
	font-family: 'Slabo 13px', serif;
	font-size: 18px;
	font-weight: normal;
}

.sgform .sg-next-button, .sgform .sg-submit-button {
	margin-left: 0;
}

.sgform .sg-button, .sgform .sg-file-field input[type="button"], .sgform .sg-browse-btn, .sgform .sg-add-another-button {
	padding: 10px 30px;
}

.sgform .sg-type-group .sg-group-item {
	float: none;
}

/* mixitup grid */
.page-template-nrd-php #findrace .controls button {
  width:100%;
  margin:0 0 10px 0;
}
.page-template-nrd-php #findrace {
  padding:0;
  background:transparent;
  margin-bottom:5px;
}
.page-template-nrd-php #findrace .wrapper {
  background-color:#dc9a48;
  padding:4.8%;
}
.page-template-nrd-php #findrace .loc {
  display:none;
}
.page-template-nrd-php #findrace h2 {
	color: #f3f2de;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: inherit;
	font-size: 24px;
  margin-top:0;
	margin-bottom: 24px;
	padding-bottom: 0;
	border: none;
	line-height: 1.4;
	letter-spacing: .05em;
  text-align:left;
}
.page-template-nrd-php #findrace .controls {
  color:#f3f2de;
}
.page-template-nrd-php #findrace .controls label {
	font-family: 'Open Sans', sans-serif;
  text-transform:initial;
}
.page-template-nrd-php #findrace .controls #sortselect {
  padding:3px 0 0 8px;
}
.page-template-nrd-php #findrace .controls #sortselect,
.page-template-nrd-php #findrace .controls button {
  border:2px solid #f3f2de;
}
.page-template-nrd-php #findrace .controls #sort::after {
  border-color:#f3f2de transparent;
}
.page-template-nrd-php #sortselect option {
  padding:10px 0 7px 8px;
}
.page-template-nrd-php #findrace .controls button.active {
  background: #f3f2de none repeat scroll 0 0;
  border-color: #f3f2de;
  color: #DC9A48;
}
.page-template-nrd-php #findrace .mix {
  color:#414141;
  padding:0;
  background-color:transparent;
}
.page-template-nrd-php #findrace .inner_mix {
  background-color:#f3f2de;
  padding:30px 15px 15px;
}
.page-template-nrd-php #findrace .mix h5 {
  font-weight:600;
  border:none;
  margin:0 0 10px;
  padding:0;
}
.page-template-nrd-php main #findrace a {
	font-family: 'Open Sans', sans-serif;
}
.page-template-nrd-php #findrace .mix a:last-child,
.page-template-nrd-php #findrace .mix span:last-child {
  margin:0;
}
.page-template-nrd-php #findrace .register {
  background-color:#d3313a;
  color:#f3f2de;
  display:block;
  border-radius:4px;
  font-weight:600;
	font-family: 'Open Sans', sans-serif;
  padding:5px 0;
}
.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  border-top: 0;
}
#city.stickycity,
#city-video.stickycity {
  margin-top:107px;
}

/* training subpage */
#training-group {
  background-color:#F3F2DE;
  margin-top:60px;
  font-family:'Open Sans Condensed', sans-serif;
}
main #training-group p,
main #training-group a {
  font-family:'Open Sans Condensed', sans-serif;
  font-size:22px;
}
#training-group h3.intro {
  padding:30px 30px 0 30px;
  text-align:center;
  color:#157B87;
  line-height:1.25;
}
#training-group .header {
  background-color:#157B87;
  overflow:hidden;
}
#training-group h2 {
  color:#f2efdc;
  line-height:1.3;
  margin-bottom:0;
  font-size:36px;
  padding:0 15px 10px;
  font-family:'Amatic SC', cursive;
}
#training-group .nrd_number {
  color:#1ABDC5;
}
#training-group .training-graphic {
  background-color:#D65C3F;
  margin:0;
  padding:10px;
}
#training-group ul {
  margin:15px 15px 30px 15px;
  list-style:none;
}
#training-group a {
  color:#157B87;
}
.training-content {
  color:#D65C3F;
}
#training-group .banner {
  overflow:hidden;
  text-align:center;
  padding:30px 15px;
  clear:both;
  margin-bottom:60px;
  background-color:#1ABDC5;
}
main #training-group .banner a {
  font-family:'Amatic SC', cursive;
  text-decoration:none;
  color:#f2efdc;

}
#training-group .chkout {
  font-size:29px;
  line-height:1;
}
#training-group .banner_url {
  font-size:36px;
  line-height:1;
}
#training-group .runner-left {
  display:none;
}