/*  640px -- Tablets (portrait) */
@media @xs-breakpoint {
	#banner .wrapper {
		padding:10px;
	}
	#hero h1 {
		font-size:80px;
	}
	.page-template-nrd-php .mix_group {
		margin:0 -15px;
		overflow:hidden;
	}
	.page-template-nrd-php #findrace .gap {
		width:50%;
	}
	.page-template-nrd-php #findrace .mix {
		width:50%;
		margin:0 0 30px 0;
		padding:0 15px;
	}
	.page-template-nrd-php #findrace .inner_mix {
		padding:15px;
	}
	.page-template-nrd-php #findrace .controls button {
		width: auto;
		margin:0 5px 10px 5px;
		padding:11px 10px 8px;
	}
	.sgform #sgE-2148645-1-4-box {
		margin-left:10px;
	}

	.sgform .sg-type-group .sg-group-item {
		float: left;
	}
	#city.stickycity,
	#city-video.stickycity {
		margin-top:63px;
	}
	/* training subpage */
	#training-group h2 {
		line-height:1.4;
		padding:0 15px;
		font-size:48px;
	}
	#training-group .training-graphic {
		float:left;
		margin:0 20px 0 0;
	}
	#training-group .chkout {
		font-size:48px;
	}
	#training-group .banner_url {
		font-size:72px;
	}
}