/*  720px -- Tablets (portrait) */
@media @sm-breakpoint {
	.competitor-logo {
		margin:0;
		width:auto;
		right:20px;
	}
	#training-group h3.intro {
		font-size:28px;
	}
	.page-template-nrd-php #findrace .mix {
		width:33.33333333333333%;
	}
	.wrr-reminder {
		display: inline-block;
		text-align: left;
		text-decoration: underline;
	}
	.wrr-reminder div {
		float: left;
		margin: -5px 15px 0 0;
	}

}