/*  960px -- Tablets (landscape), laptops, small monitors */
@media @md-breakpoint {
	/*
	main {
		padding: 60px 0 0 0;
	}
	*/
	#hero h1 {
		font-size:96px;
	}
	#banner, main #banner a {
		font-size:42px;
	}
	main #banner a {
		display:inline;
		text-decoration:none;
	}
	#city, #city-video {
		margin-top:60px;
	}
	#city,
	#city-video,
	#desert,
	#beach,
	#partners {
		margin-bottom: 60px;
		max-height: 600px;
	}
	.page-template-nrd-php #findrace,
	#nrd_pixlee {
		margin-bottom:60px;
	}
	#banner .wrapper {
		padding:0 10px;
	}
	#city .wrapper,
	#desert .wrapper,
	#beach .wrapper,
	#partners .wrapper,
	.page-template-nrd-php #findrace .wrapper {
		padding: 3.73%;
	}

	main a {
		color: #fff;
		text-decoration: underline;
	}

	#getgoing {
		display: block;
	}

	/*
	main h2 {
		font-size: 24px;
		margin-bottom: 26px;
	}
	main a,
	main p {
		font-size: 18px
	} */
	main p {
		max-width: 520px;
	}
	main #findrace p {
		max-width:none;
	}

	#wrr-logo {
		text-align: left;
		display: inline-block;
		margin: 0;
	}

	#city .wrapper {
		background: url(../img/nrd/bg_city.png) no-repeat bottom;
		min-height: 600px;
	}

	#city .runner {
		display: block;
		position: absolute;
		bottom: 30px;
		left: 41.5%;
	}

	.wrr-play {
		float: left;
		margin-top: -5px;
		margin-right: 15px;
		display: inline;
		text-align: center;
		margin-bottom: 0;
	}

	.preview {
		margin: 0 12px 0 0;
		width: 400px;
		padding: 70px 0;
	}
	.wrr_desktop_watch {
		display:block;
	}
	.wrr_mobile_watch {
		display:none;
	}
	#desert .wrapper {
		background: url(../img/nrd/bg_desert.png) no-repeat bottom;
		min-height: 600px;
	}

	#desert .runner {
		display: block;
		position: absolute;
		bottom: 30px;
		left: 42.5%;
	}


	#beach .wrapper {
		background: url(../img/nrd/bg_beach.png) no-repeat bottom;
		min-height: 600px;
	}

	#beach .runner {
		display: block;
		position: absolute;
		bottom: 30px;
		left: 34.9%;
	}

	#partners .wrapper {
		background: #10606e;
	}

	.wrr-logo {
		margin-bottom: 30px;
	}

	.byline {
		color: #104959;
		font-family: 'Slabo 13px', serif;
		font-size: 18px;
		display: inline-block;
		position: relative;
		top: 25px;
		left: 20px;
		line-height: 1.2;
	}
	.byline em {
		font-size: 14px;
		font-style: normal;
	}

	.wrr_left {
		float:left;
		padding-right:30px;
		width:50%;
	}
	.sgform {
		float:right;
		width:50%;
		padding:0 0 0 30px;
	}
	.sgform .sg-input.sg-input-text {
		width:199px;
	}
	#sgE-2148645-1-13-element {
		width:360px;
	}
	.page-template-nrd-php #findrace .mix {
		width:25%;
	}
	.page-template-nrd-php main .mix_group a {
		text-decoration:none;
	}
	#city.stickycity,
	#city-video.stickycity {
		margin-top:136px;
	}
	.pixlee_txt_group {
		padding:0 3.73%;
	}
	main #nrd_pixlee p {
		max-width:none;
	}
	/* training subpage */
	#training-group h2 {
		padding:0 15px;
		font-size:48px;
		line-height:1.4;
	}
	#training-group .banner {
		padding:30px 60px;
	}
	#training-group .runner-left {
		float:left;
		display:block;
	}
	#training-group .runner-right {
		float:right;
	}
	#training-group .banner figure {
		margin:0;
	}
	#training-group .banner img {
		width:90px;
	}
	#training-group .banner_url {
		font-size:96px;
	}
}