.advert {
	overflow: hidden;
	text-align: center;

	&_location_top {
		margin: 15px 0;
	}

	&_location_inline {
		border-bottom: 1px solid @aluminum;
		border-top: 1px solid @aluminum;
		clear: both;
		margin: 30px -15px;
		padding: 15px 0;

		.template--blogroll & {
			border: none;
			margin: 0;
			padding: 0;

			.advert__wrap {
				width: 100%;
			}

			.advert-loaded {
				border-bottom: 1px solid @iron;
				padding-bottom: 30px;
				margin-bottom: 30px;
			}
		}
		&.advert_location_home {
			margin: 30px 0;
		}
		.template--long-form & {
			margin: 30px 0;
		}
	}

	&_location_middle {
		padding: 0;
		margin: 15px 0;
	}

	&_location_side {
		margin: 30px -15px;
	}

	&_location_bottom {
		margin-bottom: 30px;
	}

	&__wrap {
		overflow: hidden;
	}

	&_xs_300x250 {
		.advert__wrap {
			margin: 0 auto;
			width: 300px;
		}
	}

	&.preview {
		.advert__wrap:before {
			color: @aluminum;
			display: block;
			font-size: 24px;
			text-align: center;
			width: 100%;
		}


		&.advert_xs_300x250 {
			.advert__wrap {
				background: @light-grey;
				height: 250px;

				&:before {
					content: "300 x 250";
					line-height: 250px;
				}
			}
		}
	}


	// Tablet Breakpoint
	// ---------------------------------
	@media @sm-breakpoint {
		&_location_top {
			margin-top: 30px;
		}

		&_sm_300x600 {
			.advert__wrap {
				margin: 0 auto;
				width: 300px;
			}
		}

		&_sm_728x90 {
			.advert__wrap {
				margin: 0 auto;
				width: 728px;
			}
		}

		&.preview {
			.advert__wrap:before {
				color: @aluminum;
				display: block;
				font-size: 24px;
				text-align: center;
				width: 100%;
			}

			&.advert_sm_300x600 {
				.advert__wrap {
					background: @light-grey;
					height: 600px;

					&:before {
						content: "300 x 600";
						line-height: 600px;
					}
				}
			}

			&.advert_sm_728x90 {
				.advert__wrap {
					background: @light-grey;
					height: 90px;

					&:before {
						content: "728 x 90";
						line-height: 90px;
					}
				}
			}
		}
	}


	// Laptop Breakpoint
	// ---------------------------------
	@media @md-breakpoint {
		&_md_728x90 {
			.advert__wrap {
				margin: 0 auto;
				width: 728px;
			}
		}

		&_md_970x250 {
			.advert__wrap {
				margin: 0 auto;
				width: 970px;
			}
		}

		&_location_inline {
			&.advert_location_home {
				margin: 30px 15px;
			}
			.single-post & {
				margin-left: -65px;
				width: 110%;
			}
		}

		&.preview {
			&.advert_md_970x250 {
				.advert__wrap {
					background: @light-grey;
					height: 250px;

					&:before {
						content: "970 x 250";
						line-height: 250px;
					}
				}
			}
		}
	}


	// Deskotp Breakpoint
	// ---------------------------------
	@media @lg-breakpoint {
		&_lg_728x90 {
			.advert__wrap {
				margin: 0 auto;
				width: 728px;
			}
		}

		&.preview {
			&.advert_lg_728x90 {
				.advert__wrap {
					background: @light-grey;
					height: 90px;

					&:before {
						content: "728 x 90";
						line-height: 90px;
					}
				}
			}
		}
	}
}

.fancybox-content {
	&--interstitial {
		overflow: visible;

		.button-close--interstitial {
			background: #fff;
			border-radius: 50%;
			color: #000;
			color: rgba(0,0,0,0.8);
			font-size: 30px;
			height: 32px;
			line-height: 32px;
			position: absolute;
			right: -28px;
			text-align: center;
			text-decoration: none;
			top: -28px;
			width: 32px;
		}
	}

	// Tablet Breakpoint
	// ---------------------------------
	@media @sm-breakpoint {

		&--interstitial {

			.button-close--interstitial {
				font-size: 28px;
				height: 40px;
				line-height: 40px;
				right: -35px;
				top: -35px;
				width: 40px;
			}

		}

	}

}
