.article {

	&__banner {
		margin: 30px 0;
		text-align: center;
	}

	&__bread-crumb {
		color: @steel;
		font-size: 12px;
		line-height: 18px;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;

		li {
			display: inline-block;
		}

		a {
			color: @steel;

			&:hover {
				color: @red;
			}
		}
	}

	&__header {
		margin-bottom: 15px;

		p {
			font-size: 12px;
			line-height: 16px;
			margin: 0;
		}

		&__banner {
			margin-bottom: 15px;
		}

		&__filter {
			background: rgba(0, 0, 0, 0.2);
			height: 100%;
			position: absolute;
			width: 100%;
		}

		&__title {
			font-size: 18px;
			font-weight: 600;
			line-height: 24px;
			margin: 0 0 10px;
		}

		&__byline {
			font-weight: 300;
		}

		&__sponsored,
		&__author,
		&__published {
			margin-right: 15px;
		}

		&__rank {
			font-weight: 600;
		}

		&__score {
			font-family: @oscondensed;
			font-size: 14px;
			list-style: none;
			margin: 10px 0 0;
			padding: 0;
			.clearfix();

			li {
				float: left;
				padding-right: 20px;
			}
		}
	}

	&__body {
		border-bottom: 1px solid @aluminum;
		clear: both;
		margin-bottom: 30px;
		padding-bottom: 30px;

		&:before,
		&:after, {
			content: " ";
			display: table;
		}
		&:after {
			clear: both;
		}

		h2 {
			display: inline-block;
			margin-bottom: 0;
		}

		img {
			height: auto;
		}

		.wp-caption-text {
			font-size: 12px;
			font-style: italic;
			margin: 10px 10px 15px;
		}


		p,
		li {
			font-size: 15px;
			line-height: 24px;
			margin: 15px 0;
		}
		a:target::before {
			content: '';
			display: block;
			height: 75px;
			margin: -90px 0 0;
		}
		.no-dots li {
			margin: 0;
		}
		blockquote {
			border-left: 1px solid @red;
			font-family: @crimson;
			font-size: 18px;
			font-weight: 600;
			line-height: 24px;
			margin: 15px 0;
			padding-left: 15px;
		}

		.page-links a,
		.pagination a {
			color: @oil;

			&:hover {
				color: @red;
			}
		}
	}

	&__thumbnail {
		display: block;
	}

	&__review {
		&__overview {
			margin-bottom: 30px;

			h2 {
				border: none;
				display: block;
				font-size: 18px;
				font-weight: 600;
				margin-bottom: 15px;
				text-align: center;
			}

			ul {
				list-style: none;
				padding: 0;
			}
		}

		&__pros-and-cons {
			margin: 0 0 30px;
		}

		& &__msrp {
			border-bottom: 2px solid @blue;
			float: left;
			font-size: 16px;
			margin-top: 0;
			padding-right: 10px;
		}

		&__vendors {
			display: flex;
			flex-flow: row wrap;
			margin: 0;
			text-align: center;
			width: 100%;

			li {
				flex-grow: 1;
				padding: 0 2px;
			}

			a {
				color: @white;
				display: block;
				padding: 5px 15px;
			}
		}
	}

	&__magazine-archive {
		&__item {
			text-align: center;

			img {
				border: 1px solid @iron;
			}
		}
	}

	&__footer {
		margin-bottom: 30px;
	}

	&__author {
		&__thumbnail {
			padding-right: 0;
		}

		&__bio {
			h3 {
				color: @blue;
				font-family: @oscondensed;
				font-size: 20px;
				margin: -5px 0 0;
			}

			p {
				font-size: 11px;
				line-height: 16px;
				margin-top: 5px;
			}

			a {
				color: @blue;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&__social {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
			}

			a {
				color: @black;
				display: block;
				font-size: 20px;
				margin-right: 20px;
			}
		}
	}

	&_type_archive-result {
		border-bottom: 1px solid @iron;
		margin-bottom: 30px;
		padding-bottom: 20px;
		.clearfix();

		.article {
			&__thumbnail {
				margin: 0 auto 10px;
			}

			&__title {
				font-size: 18px;
				line-height: 22px;
				margin: 0 0 10px;
			}

			&__permalink {
				color: @oil;

				&:hover {
					color: @red;
				}
			}

			&__byline {
				font-size: 11px;
				font-weight: 300;
				line-height: 18px;
				margin: 5px 0;

				span {
					margin-right: 15px;
				}
			}

			&__excerpt {
				font-size: 14px;
				line-height: 20px;
				margin: 15px 0;
			}

			&__meta {
				font-size: 11px;
				font-weight: 300;
				margin: 5px 15px 5px 0;
				word-wrap: break-word;

				a {
					color: @oil;

					&:hover {
						text-decoration: none;
					}
				}
			}

			&__category {
				background-color: @black;
				color: @white;
				line-height: 14px;
				padding: 5px;
			}
		}
	}

	&_type_latest {
		.article {
			&__permalink {
				color: @black;
				display: block;
				position: relative;

				&:hover {
					color: @red;
				}
			}

			&__category {
				background-color: @black;
				color: @white;
				float: left;
				font-family: @oscondensed;
				font-size: 12px;
				font-weight: bold;
				left: 15px;
				line-height: 20px;
				padding: 0 5px;
				position: absolute;
				top: 15px;
			}

			&__title {
				border-color: @black;
				border-left-style: solid;
				border-left-width: 2px;
				font-size: 14.1px;
				font-weight: 600;
				line-height: 20px;
				margin: 10px;
				padding-left: 5px;
			}
		}
	}

	&_type_search-result {
		margin: 15px 0;

		a {
			color: @black;

			&:hover {
				text-decoration: none;

				.article__title {
					color: @red;
					text-decoration: underline;
				}
			}
		}

		.article {
			&__title {
				font-size: 14px;
				font-weight: bold;
				line-height: 18px;
				margin: 15px 0 5px;
				word-wrap: break-word;
			}

			&__rank,
			&__score,
			&__msrp,
			&__rating,
			&__weight,
			&__gender {
				font-size: 12px;
				font-weight: 400;
				line-height: 18px;
				margin: 0;
			}

			&__msrp {
				color: @red;
			}
		}
	}

	&_type_sponsored {
		.article {
			&__permalink {
				color: @white;
				display: block;
				position: relative;

				&:hover {
					color: @white;
				}
			}

			&__thumbnail {
				background: @dark-grey;
			}

			&__category {
				color: @white;
				float: left;
				font-family: @oscondensed;
				font-size: 12px;
				font-weight: bold;
				left: 15px;
				line-height: 20px;
				padding: 0 5px;
				position: absolute;
				top: 15px;
			}

			&__title {
				border-left-style: solid;
				border-left-width: 2px;
				bottom: 0px;
				font-family: @crimson;
				font-size: 24px;
				line-height: 28px;
				margin: 10px 15px;
				padding-left: 5px;
				position: absolute;
			}

			&__img-filter {
				background: rgba(27, 69, 119, 0.2);
				height: 100%;
				position: absolute;
				top: 0;
				width: 100%;

				&:hover {
					background: rgba(27, 69, 119, 0.5);
				}
			}
		}
	}

	&_category_amgen-tour-of-california,
	&_category_analysis,
	&_category_races,
	&_category_race-results,
	&_category_race-report,
	&_category_rider-diaries,
	&_category_vuelta-a-espana {
		.article {
			&__category {
				background-color: @red;
				color: @white;
			}

			&__title {
				border-color: @red;
			}
		}
	}

	&_category_bikes-and-tech,
	&_category_cyclocross,
	&_category_gear-and-reviews,
	&_category_mountain,
	&_category_mtb,
	&_category_news,
	&_category_no-spoil,
	&_category_road,
	&_category_track {
		.article {
			&__category {
				background-color: @blue;
				color: @white;
			}

			&__title {
				border-color: @blue;
			}
		}
	}

	&_category_giro-ditalia {
		.article {
			&__category {
				background-color: @pink;
				color: @white;
			}

			&__title {
				border-color: @pink;
			}
		}
	}

	&_category_sponsored {
		.article {
			&__category {
				background-color: @black;
				color: @white;
			}

			&__title {
				border-color: @black;
			}
		}
	}

	&_category_gallery,
	&_category_mailbag,
	&_category_training,
	&_category_training-center {
		.article {
			&__category {
				background-color: @green;
				color: @white;
			}

			&__title {
				border-color: @green;
			}
		}
	}

	&_category_video {
		.article {
			&__category {
				background-color: @green;
				color: @white;
			}

			&__title {
				border-color: @green;
			}

			&__thumbnail {
				&__wrap {
					position: relative;
				}

				&__overlay {
					background: url('images/icon-play.svg') center no-repeat;
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
				}
			}
		}
	}

	&_category_tour-de-france {
		.article {
			&__category {
				background-color: @yellow;
				color: @black;
			}

			&__title {
				border-color: @yellow;
			}
		}
	}

	.category_giro-ditalia {
		blockquote {
			border-left: 1px solid @pink;
		}
	}

	.category_tour-de-france {
		blockquote {
			border-left: 1px solid @yellow;
		}
	}

	.amp & {
		&__author {
			&__thumbnail {
				width: 135px;
			}

			&__bio {
				width: 170px;
			}
		}
	}


	// Phone Only Breakpoint
	// ---------------------------------
	@media @xs-only-breakpoint {
		blockquote {
			&.alignleft,
			&.alignright {
				float: none;
				margin: 15px auto;
			}
		}

		&_type_sponsored {
			margin-top: 15px;

			&:last-child {
				margin-bottom: 15px;
			}
		}

		&__header {
			&__author {
				clear: both;
				display: block;
				margin-bottom: 7px;
			}
		}
	}


	// Tablet Breakpoint
	// ---------------------------------
	@media @sm-breakpoint {
		blockquote {
			font-size: 32px;
			line-height: 38px;
			margin: 20px 0;
			padding-left: 20px;

			&.aligncenter {
				margin: 20px auto;
				width: 620px;
			}

			&.alignleft {
				// margin-left: -35px;
				margin-right: 15px;
				width: 45%;
			}

			&.alignright {
				border-left: none;
				border-right: 1px solid #D02434;
				padding-left: 0;
				padding-right: 20px;
				margin-left: 15px;
				width: 45%;
			}

			footer {
				font-style: italic;
				font-size: 19px;
				font-weight: normal;
			}
		}

		&__header {
			&__title {
				font-size: 20px;
				line-height: 28px;
			}

			& &__rank {
				font-size: 14px;
			}
		}

		&__review {
			&__overview {
				h2 {
					margin-bottom: 15px;
					text-align: left;
				}

				p {
					margin: 10px 0;
				}
			}

			&__vendors {
				justify-content: flex-start;;

				li {
					flex-grow: 0;
					margin-top: 0;
					padding: 0 10px;

					&:first-child {
						padding-left: 0;
					}
				}
			}
		}

		&__author {
			&__bio {
				p {
					font-size: 14px;
					line-height: 18px;
				}
			}
		}

		&_type_latest {
			.article {
				&__category {
					left: 10px;
					top: 10px;
				}

				&__title {
					margin-left: 0;
					padding-left: 15px;
				}
			}

			&--featured {
				.article {
					&__title {
						font-size: 18px;
						line-height: 24px;
					}

					&__category {
						left: 15px;
						top: 15px;
					}
				}
			}
		}

		&_category_video {
			.article__thumbnail {
				&__overlay {
					background-size: 50px;
				}
			}
		}

		.amp & {
			&__author {
				&__bio {
					width: 600px;
				}
			}

			.grid-exempt {
				amp-img {
					margin-left:auto;
					max-width:100%;
				}
			}
		}
	}


	// Laptop Breakpoint
	// ---------------------------------
	@media @md-breakpoint {
		blockquote {
			font-size: 36px;
			line-height: 40px;
		}

		&__bread-crumb {
			text-align: left;
		}

		&__header {
			&__title {
				font-size: 28px;
				line-height: 34px;
			}

			& &__rank {
				font-size: 16px;
				margin-top: 15px;
			}

			&__score {
				font-size: 16px;
				margin-top: 15px;
			}
		}

		&_type_archive-result {
			.article {
				&__thumbnail {
					float: left;
					margin: 0 15px 0 0;
					max-width: 200px;

					&__wrap {
						.clearfix();
						float: left;
						width: 215px;
					}
				}

				&__body__wrap {
					float: left;
					width: 400px;
				}
			}
		}

		&_type_search-result {
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				margin-top: 0;
			}
		}

		&_category_video {
			.article__thumbnail {
				&__overlay {
					background-size: 60px;
				}
			}
		}

		.amp & {
			&__author {
				&__bio {
					width: 820px;
				}
			}
		}


	}


	// Desktop Breakpoint
	// ---------------------------------
	@media @lg-breakpoint {
		&_type_archive-result {
			.article {
				&__body__wrap {
					width: 535px;
				}
			}
		}

		&_category_video {
			.article__thumbnail {
				&__overlay {
					background-size: 75px;
				}
			}
		}

		.amp & {
			&__author {
				&__bio {
					width: 1020px;
				}
			}
		}
	}


	// Custom Desktop Breakpoint
	// ---------------------------------
	@media @xl-breakpoint {
		&__bread-crumb {
			line-height: 16px;
			margin-bottom: 0px;
			text-align: left;
		}
	}
}
