.breaking-news {
	background: @white-smoke;
	border-bottom: 2px solid @iron;
	border-top: 1px solid @iron;
	padding: 10px 0;

	p {
		font-size: 12px;
		font-style: italic;
		font-weight: 300;
		line-height: 24px;
		margin: 0;
		text-align: center;
	}

	a {
		font-size: 12px;
		margin-left: 10px;
	}

	em {
		color: @red;
		font-weight: bold;
	}


	// Tablet Breakpoint
	// ---------------------------------
	@media @sm-breakpoint {
		p {
			font-size: 16px;
			line-height: 30px;
		}
	}
}
