.btn {
	&--red {
		background: @red;
		border: none;
		color: @white;
		padding: 5px 15px;

		&[disabled] {
			background: @aluminum;
		}

		&:active,
		&:focus,
		&:hover {
			background: @tuatara;
			color: @white;
			text-decoration: none;
			transition: background-color 300ms linear;
		}
		&:visited {
			color: @white;

		}
		&.btn--buynow {
			font-weight: 600;
		}
	}
}
