.content {
	&__container {
		margin-bottom: 30px;
	}

	&__title {
		font-family: @crimson;
		font-size: 32px;
		font-weight: normal;
		line-height: 38px;
		margin: 15px 0;
		text-align: center;
	}

	&__description {
		border-left: 2px solid @red;
		font-weight: 300;
		line-height: 20px;
		padding-left: 15px;

	}

	&__flex {
		&_position_second {
			.article {
				margin-bottom: 15px;
			}
		}
	}

	&__author {
		border-bottom: 2px solid @black;
		margin: 15px 0 45px;

		&__thumbnail {
			text-align: center;
		}

		&__name {
			color: @blue;
			font-family: @oscondensed;
			margin: 0 0 15px;
		}

		&__description {
			border-left: 2px solid @blue;
			padding-left: 10px;
		}

		&__social {
			list-style: none;
			margin: 15px 0;
			padding: 0;

			li {
				display: inline-block;
			}

			a {
				color: @black;
				display: block;
				font-size: 20px;
				margin-right: 20px;

				&:hover {
					color: @red;
				}
			}
		}
	}

	&__section {
		h2 {
			border-bottom: 2px solid @red;
			font-size: 20px;
			line-height: 24px;
			margin: 0 0 15px;
		}

		&_cols_five {
			.article {
				&:last-child {
					display: none;
				}
			}
		}

		&__header {
			margin-top: 15px;

			h2 {
				float: left;
			}
		}

		&__more {
			float: right;
			font-size: 12px;
			line-height: 24px;

			&:hover {
				color: @red;
			}
		}
	}


	// Tablet Breakpoint
	// ---------------------------------
	@media @sm-breakpoint {
		&__title {
			font-size: 42px;
			line-height: 50px;
		}

		&__flex {
			display: flex;
			flex-wrap: wrap;

			&_position_first {
				display: flex;
				padding: 0 15px;
				width: 300px;
			}

			&_position_second {
				width: 449px;
			}

			&_position_third {
				.article_type_latest--featured {
					width: 420px;
				}

				.advert {
					float: right;
					width: 330px;
				}

				.photo-galleries {
					float: left;
					margin-top: 30px;
					width: 420px;
				}
			}

			&_position_fourth {
				display: flex;
				flex-flow: row wrap;
				width: 419px;
			}
		}

		&__description {
			margin-bottom: 50px;
		}

		&__author {
			&__thumbnail {
				float: left;
				margin-right: 15px;
				width: 120px;

				+ .content__author__bio {
					float: left;
					width: 585px;
				}
			}
		}

		&__section {
			margin-top: 30px;

			&__header {
				margin-top: 0px;
			}
		}

		&--sponsored {
			.content {
				&__title {
					float: left;
					max-width: 550px;
				}

				&__description {
					clear: both;
				}
			}
		}

		// Safari 9+ flexbox hotfix
		@supports (overflow:-webkit-marquee) and (justify-content:inherit) {
			.content__flex {
				margin-right: -16px;
			}
		}
	}


	// Laptop Breakpoint
	// ---------------------------------
	@media @md-breakpoint {
		&__title {
			text-align: left;
		}

		&__flex {
			&_position_second {
				width: 340px;
			}

			&_position_third {
				width: 330px;

				.article_type_latest--featured {
					width: 330px;
				}
			}

			&_position_fourth {
				width: 639px;

				.article {
					&:nth-last-child(2),
					&:last-child {
						display: none;
					}
				}
			}
		}

		&__author {
			&__thumbnail {
				+ .content__author__bio {
					width: 805px;
				}
			}
		}

		&__section {
			&_cols_five {
				.article {
					width: 20%;

					&:last-child {
						display: block;
					}
				}
			}
		}
	}


	// Laptop Only Breakpoint
	// ---------------------------------
	@media @md-only-breakpoint {
		.content {
			&__flex {
				&_position_second {
					margin-left: -15px;
					margin-right: -15px;
					width: 369px;
				}
			}
		}
	}


	// Desktop Breakpoint
	// ---------------------------------
	@media @lg-breakpoint {
		&__flex {
			&_position_second {
				display: flex;
				flex-wrap: wrap;
				width: 539px;
			}

			&_position_fourth {
				width: 839px;
			}
		}

		&__author {
			&__thumbnail {
				+ .content__author__bio {
					width: 1005px;
				}
			}
		}
	}
}
