.footer {
	background: @black;
	padding-bottom: 60px;
	padding-top: 30px;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__logo {
		background-image: url('images/velonews-logo.svg');
		background-position: top left;
		background-repeat: no-repeat;
		background-size: contain;
		height: 30px;
	}

	&__search-form {
		margin: 30px 0;
		position: relative;
		max-width: 220px;
	}

	&__search-field {
		background: none;
		border: 2px solid @white;
		color: @white;
		padding: 5px 25px 5px 5px;
		width: 100%;
	}

	&__search-icon {
		color: @white;
		line-height: 30px;
		position: absolute;
		right: 10px;
		top: 10px;
	}

	&__section {
		margin-bottom: 40px;

		h2 {
			color: @white;
			font-size: 14px;
			margin: 0;
		}

		ul {
			margin: 10px 0 0;
		}

		li {
			padding-bottom: 10px;
		}

		p {
			color: @white;
			font-size: 12px;
		}

		a {
			color: @white;
			font-size: 12px;
			text-decoration: none;

			&:hover {
				color: @red;
				text-decoration: underline;
			}
		}

		.btn--red{
			font-size: 14px;

			&:hover {
				color: @white;
				text-decoration: none;
			}
		}
	}

	&__social-menu {
		li {
			float: left;
			padding-bottom: 0;
		}

		a {
			color: @white;
			font-size: 24px;
			margin-right: 30px;
			text-decoration: none;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&__newsletter {
		&__input {
			padding: 3px 5px;
		}
	}

	&__copyright {
		background: @jet;

		p {
			color: @white;
			font-size: 10px;
			line-height: 10px;
			margin: 25px 0;
			text-align: center;
		}
	}

	&-shim {
		margin-top: 15px;
	}


	// Phone Breakpoint
	// ---------------------------------
	@media @xs-only-breakpoint {
		&__container {
			width: 285px;
		}
	}


	// Tablet Breakpoint
	// ---------------------------------
	@media @sm-breakpoint {
		padding-bottom: 0;

		&__container {
			> .row {
				display: flex;
				flex-flow: row wrap;
			}
		}

		&__copyright {
			margin-top: 30px;
		}

		.col-sm-6:nth-child(odd) {
			border-right: 1px solid @red;
		}

		// Safari 9+ flexbox hotfix
		@supports (overflow:-webkit-marquee) and (justify-content:inherit) {
			.col-sm-6 {
				width: 49%;
			}
		}
	}


	// Laptop Breakpoint
	// ---------------------------------
	@media @md-breakpoint {
		&__section {
			li {
				padding-bottom: 0;
			}
		}

		.col-sm-6 {
			border-right: 1px solid @red;

			&:last-child {
				border-right: none;
			}
		}

		// Safari 9+ flexbox hotfix
		@supports (overflow:-webkit-marquee) and (justify-content:inherit) {
			.col-md-3 {
				width: 24%;
			}
		}
	}
}
