.guide {
	&__menu {
		padding: 0 15px;
	}
}

.reviewer_meta {
	overflow: hidden;

	&__image {
		float: left;
		margin: 0 15px 15px 0;
	}
	&__name {
		.article__body p& {
			margin-top: 0;
		}
	}
}

.stars_rating {
	margin: 0 30px 24px 0;
	vertical-align: sub;

	@media only screen and (min-width: 640px) {
		display: inline-block;
	}

	span {
		font-size: 29px;
		margin-right: 5px;
	}
}
