body {
	font-family: @opensans;


	// Tablet Breakpoint
	// ---------------------------------
	@media @sm-breakpoint {
		padding-top: 50px;
	}


	// WordPress Desktop Breakpoint
	// ---------------------------------
	@media screen and (min-width: 783px) {
		.admin-bar & {
			top: 32px;
		}
	}

	// Laptop Breakpoint
	// ---------------------------------
	@media @md-breakpoint {
		padding-top: 60px;
	}
}


// Selection
// ---------------------------------
::selection {
	background: #fe57a1; /* Safari */
	color:#fff;
}

::-moz-selection {
	background: #fe57a1; /* Firefox */
	color:#fff;
}

a {
	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		color: @red;
	}

	&:hover {
		text-decoration: underline;
	}
}

img {
	height: auto;
	max-width: 100%;
}


// Miscellaneous
// ---------------------------------
.fancybox{
	&-overlay {
		z-index: 9998;
	}

	&-wrap {
		z-index: 9999;
	}

	&-title-float-wrap .child {
		font-family: @opensans;
		font-size: 14px;
		font-weight: normal;
		line-height: 20px;
		white-space: normal;
	}
}

.alert {
	border: 1px solid transparent;
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 15px;
	position: relative;

	&-warning {
		background-color: #fcf8e3;
		border-color: #faebcc;
		color: #8a6d3b;
	}

	&__copy {
		margin-right: 30px;
	}

	&__dismiss {
		float: right;
		position: absolute;
		right: 10px;
		top: 10px;

		&__link {
			filter: alpha(opacity=20);
			font-size: 20px;
			font-weight: 700;
			line-height: 1;
			opacity: .2;
			text-shadow: 0 1px 0 #fff;

			&:hover {
				opacity: .5;
				text-decoration: none;
			}
		}

		.fa {
			color: @black;
		}
	}
}

.no-dots {
	list-style: none;
}


// Mixins
// ---------------------------------
.clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}
