.header {
	position: relative;
	z-index: 9998;

	&__container {
		border-bottom: 2px solid @black;
	}

	&__logo {
		a {
			display: block;
			line-height: 49px;
		}

		img {
			max-height: 30px;
			width: 100%;
		}
	}

	&__left {
		padding-right: 0;
	}

	&__right {
		padding-left: 0;
		position: inherit;
	}

	&__search {
		.site-search {
			&__form {
				padding: 10px 15px;
				position: relative;

				&__wrap {
					margin-right: 40px;
				}

				&__field {
					border: none;
					font-size: 14px;
					height: 35px;
					line-height: 35px;
					padding: 0 10px;
					width: 100%;
				}

				&__btn {
					background-color: @red;
					border: none;
					color: @white;
					height: 35px;
					padding: 0;
					position: absolute;
					right: 15px;
					text-align: center;
					top: 10px;
					width: 55px;

					&__text {
						.screen-reader-text();
					}

					&__icon {
						color: @white;
						font-size: 18px;
					}
				}

			}

		}

	}


	// Phone Only Breakpoint
	// ---------------------------------
	@media @xs-only-breakpoint {
		&__logo {
			img {
				height: 25px;
			}
		}
	}


	// Tablet Breakpoint
	// ---------------------------------
	@media @sm-breakpoint {
		background: @white;
		box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
		position: fixed;
		top: 0;
		width: 100%;

		.admin-bar & {
			top: 46px;
		}

		&__container {
			border: none;
		}

		&__logo {
			a {
				margin-right: -25px;
			}
		}
	}


	// WordPress Desktop Breakpoint
	// ---------------------------------
	@media screen and (min-width: 783px) {
		.admin-bar & {
			top: 32px;
		}
	}


	// Laptop Breakpoint
	// ---------------------------------
	@media @md-breakpoint {
		&__logo {
			a {
				line-height: 59px;
				margin-right: 0;
			}
		}
	}
}
