.icon {
	background-position: top left;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;

	&_name_flat {
		background-image: url("images/icon-flat.svg");
	}

	&_name_hill {
		background-image: url("images/icon-hill.svg");
	}

	&_name_peaks {
		background-image: url("images/icon-peaks.svg");
	}

	&_name_time-trial {
		background-image: url("images/icon-time-trial.svg");
	}
}
