.leader-board {
	margin-top: 30px;

	&__table {
		border: 1px solid @aluminum;
		border-top: 2px solid @black;
		width: 100%;

		thead {
			background: @white-smoke;

			th {
				font-size: 13px;
				font-weight: 600;
				line-height: 30px;
				padding: 0 15px;
			}

			a {
				color: @steel;

				&:hover,
				&:focus {
					color: @red;
				}
			}
		}

		tbody {
			tr:first-child {
				border-bottom: 1px solid @iron;
			}

			td {
				border-right: 1px solid @iron;
				font-size: 12px;
				font-weight: 300;
				padding: 5px;

				&:last-child {
					border-right: none;
				}
			}
		}

		.live {
			color: @red;
		}

		&__title {
			text-align: left;
		}

		&__options {
			text-align: right;
		}
	}
}
