.live-blog {
	&__article {
		margin-bottom: 40px;

		h2 {
			border-bottom: 2px solid @red;
			margin-bottom: 15px;
		}

		&__timestamp {
			border-top: 1px solid @iron;
			font-size: 12px;
			font-weight: 300;
			padding-top: 15px;
		}
	}
}
