// Main Navigation
// ---------------------------------
.main-nav {
	float: right;

	ul {
		list-style: none;
		margin: 0;
	}

	a {
		display: block;
		&:hover {
			color: @red;
		}
	}
	.subscribe {
		a {
			color:@red;
		}
	}

	&__menu {
		float: right;
		padding: 0;
		text-align: right;
	}

	&__menu-item {
		border-left: 1px solid @white;
		border-right: 1px solid @white;
		display: none;
		float: left;
		margin: 0;
		text-align: center;

		&.subscribe-link,
		&.subscribe,
		&:last-child {
			display: block;
		}

		&.active,
		&:hover {
			background-color: @white-smoke;
			border-left: 1px solid @aluminum;
			border-right: 1px solid @aluminum;
		}

		&:hover {
			.main-nav__sub-menu {
				display: block;
			}
		}

		a {
			color: @black;
			display: block;
			font-size: 12px;
			font-weight: bold;
			line-height: 49px;
			padding: 0 7px;
			text-decoration: none;

			&:active,
			&:focus,
			&:hover {
				text-decoration: none;
			}
		}
	}

	&__sub-menu {
		background-color: @white-smoke;
		border-top: 1px solid @aluminum;
		display: none;
		left: 0;
		padding: 0;
		position: absolute;
		top: 48px;
		width: 100%;

		&.active {
			display: block;
		}
	}

	&__sub-menu-item {
		border-bottom: 1px solid @aluminum;
		text-align: center;

		&:hover {
			background: @red;

			a {
				color: @white;
			}
		}

		.header__search &:hover {
			background: none;
		}

		a {
			line-height: 20px;
			padding-bottom: 10px;
			padding-top: 10px;
		}
	}
}


// Mega Menu
// ---------------------------------
.mega-menu {
	&__menu {
		display: none;
		float: left;
		padding: 0;
		text-align: left;
	}

	&__menu-item {
		border-right: 1px solid @iron;
		float: left;
		padding: 0 15px;
		width: 25%;

		&:first-child {
			border-left: 1px solid @iron;
		}

		p {
			font-size: 14px;
			font-weight: 600;
			line-height: 16px;
			margin-bottom: 0;
		}
	}

	&__item-thumbnail {
		background: @iron;
		height: 120px;
	}
}


// Social Media Navigation
// ---------------------------------
.social-nav {
	display: none;
	float: right;

	&__menu {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			float: left;
		}

		a {
			color: @black;
			display: block;
			font-size: 16px;
			line-height: 49px;
			padding: 0 7px;

			&:hover {
				color: @red;
			}
		}
	}
}


// Mobile Navigation
// ---------------------------------
.mobile-nav {
	background-color: @white-smoke;
	bottom: 0;
	position: fixed;
	width: 100%;
	z-index: 9999;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__menu {
		height: 60px;
	}

	&__menu-item {
		float: left;
		height: 100%;
		text-align: center;
		width: 20%;

		&.active {
			> a {
				background-color: @red;
				color: @white;
			}

			.fa {
				color: @white;
			}

			.mobile-nav__sub-menu {
				display: block;
			}
		}

		> a {
			color: @black;
			display: block;
			font-size: 10px;
			font-weight: bold;
			height: 100%;

			&:focus,
			&:hover,
			&:active {
				text-decoration: none;
				color: @red;
				span {
					color: @red;
				}
			}
		}
	}

	&__sub-menu {
		background: @red;
		bottom: 60px;
		color: @white;
		display: none;
		font-size: 12px;
		font-weight: bold;
		left: 0;
		line-height: 45px;
		position: absolute;
		text-align: left;
		width: 100%;

		> li {
			border-bottom: 1px solid @white;

			&:last-child {
				border-bottom: none;
			}

			.fa {
				color: @white;
				float: right;
				font-size: 12px;
				line-height: 45px;
				width: auto;
			}

			&.active {
				ul {
					display: block;
				}

				.fa-caret-down {
					transform: rotate(-90deg);
				}
			}

			a {
				padding: 0 15px;
			}
		}

		ul {
			background: @oil;
			display: none;

			li {
				line-height: 36px;

				&:active,
				&:hover {
					background: @steel;
				}
			}

			a {
				padding: 0 15px 0 30px;
			}
		}

		a {
			color: @white;
			display: block;
			text-decoration: none;
		}
	}

	.fa {
		color: @black;
		display: block;
		font-size: 20px;
		line-height: 40px;
		text-align: center;
		width: 100%;
	}

	.current-menu-item {
		a,
		.fa {
			color: @red;
		}
	}
}


// Pagination
// ---------------------------------
.page-links {
	line-height: 20px;
	margin: 15px 0;
	text-align: center;

	span {
		color: @red;
		font-weight: bold;
	}

	a {
		padding: 0 5px;

		&:hover {
			span {
				color: @red;
			}
		}

		span {
			color: @oil;
		}
	}
}

.posts-navigation {
	.nav-links {
		text-align: center;
	}

	.nav-previous,
	.nav-next {
		display: inline-block;
		padding: 0 15px;
	}
}


// Tablet Breakpoint
// ---------------------------------
@media @sm-breakpoint {
	.mobile-nav {
		display: none;
	}

	.main-nav {
		float: left;
		width: 500px;

		a {
			font-family: @oscondensed;
		}

		&__menu-item {
			display: block;
			position: relative;

			&:last-child .main-nav__sub-menu {
				left: auto;
				right: -1px;
				width: 300px;
			}
		}

		.dropdown-nav {
			> a:after {
				content: "\f0d7";
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				margin-left: 5px;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		&__sub-menu {
			border: 1px solid @aluminum;
			border-top: 1px solid @iron;
			left: -1px;
			top: 50px;
			width: 200px;

			li:last-child {
				border-bottom: none;
			}
		}
	}

	.social-nav {
		display: block;
	}
}


// Laptop Breakpoint
// ---------------------------------
@media @md-breakpoint {
	.main-nav {
		width: 670px;

		a {
			font-family: @opensans;
			font-size: 14px;
		}

		&__menu-item > a {
			line-height: 59px;
			padding: 0 8px;
		}

		&__sub-menu {
			top: 59px;
		}
	}

	.mega-menu {
		position: inherit;

		&__container {
			background: @white-smoke;
			border: 1px solid @iron;
			border-bottom: 2px solid @black;
			display: none;
			left: 0;
			padding: 30px 0;
			position: absolute;
			top: 59px;
			width: 100%;

			&.active {
				display: block;
			}
		}

		&:focus,
		&:hover {
			.mega-menu__container {
				display: block;
			}
		}

		&__row {
			margin: 0 auto;
			position: relative;
			width: 940px;
		}

		.main-nav {
			&__sub-menu {
				border: none;
				display: block;
				float: left;
				position: relative;
				top: 0;
				width: 220px;
			}

			&__sub-menu-item {
				border: none;
				text-align: left;

				> a {
					font-size: 14px;
					line-height: 30px;
					padding-bottom: 0;
					padding-top: 0;

					&:hover {
						background: @red;
						color: @white;
					}
				}

				&.active > a {
					background: @red;
					color: @white;

					&:after {
						content: "\f0da";
						display: inline-block;
						font: normal normal normal 14px/1 FontAwesome;
						font-size: inherit;
						margin-left: 5px;
						text-rendering: auto;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
					}
				}
			}
		}

		&__menu {
			border: none;
			width: 720px;

			&.active {
				display: flex;
			}
		}
	}

	.social-nav {
		a {
			font-size: 20px;
			line-height: 59px;
		}
	}
}


// Desktop Breakpoint
// ---------------------------------
@media @lg-breakpoint {
	.main-nav {
		width: 835px;

		&__menu-item > a {
			padding: 0 20px;
		}
	}

	.mega-menu {
		&__row {
			width: 1140px;
		}

		&__menu {
			width: 920px;
		}
	}
}
