.newsletter {

	p {
		font-size: 12px;
		line-height: 16px;
	}

	& &__title {
		font-size: 17px;
		line-height: 25px;
		margin: 0;
	}

	&__form {
		margin-top: 15px;

		p {
			color: @steel;
			font-size: 11px;
		}
	}

	&__input {
		border: 1px solid #999;
		border-right: none;
		float: left;
		height: 30px;
		padding: 2px 5px;
		width: 160px;
	}

	& &__error {
		color: @red;
		display: none;
		font-weight: bold;
	}

	&__loading {
		display: none;
	}

	&_position_inline {
		margin: 30px 0;

		h3 {
			margin-top: 0;
		}

		.newsletter {
			&__wrap {
				background: @white-smoke;
				border: 1px solid @aluminum;
				max-width: none;
				padding: 10px;
			}

			&__input {
				width: 183px;
			}
		}
	}

	&_position_sidebar {
		.newsletter {
			&__wrap {
				background: @white-smoke;
				border: 1px solid @aluminum;
				padding: 10px;
				text-align: center;

				img {
					margin: 0 auto;
				}
			}
		}

		.btn {
			width: 100px;
		}
	}

	&_position_footer {
		.newsletter {
			&__form {
				margin: 12px 0;
			}

			&__input {
				background: none;
				border: 2px solid @white;
				color: @white;
				height: 30px;
				padding: 5px 10px;
			}
		}
	}


	// Phone Breakpoint
	// ---------------------------------
	@media @xs-only-breakpoint {
		&_position_footer {
			.newsletter__input {
				width: 130px;
			}
		}
	}


	// Tablet Breakpoint
	// ---------------------------------
	@media @sm-breakpoint {
		&_position_inline {
			.newsletter__input {
				width: 300px;
			}
		}
	}

	// Laptop Breakpoint
	// ---------------------------------
	@media @md-breakpoint {
		&_position_inline {
			.newsletter {
				&__wrap {
					margin: 0 auto;
					width: 410px;
				}

				&__input {
					width: 300px;
				}
			}
		}

		&_position_footer {
			.newsletter__input {
				margin-bottom: 7px;
				width: 170px;
			}
		}
	}


	// Desktop Breakpoint
	// ---------------------------------
	@media @lg-breakpoint {
		&__wrap {
			margin: 0 auto;
			max-width: 300px;
		}

		&__input {
			width: 178px;
		}
	}
}
