.news-feed {
	&__wrap {
		border-top: 2px solid @black;
		width:100%;
	}

	&__nav {
		display: table;
		font-family: @oscondensed;
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;

		li {
			background-color: @smoke;
			display: table-cell;
			text-align: center;

			&:hover {
				background: @oil;

				a {
					color: @white;
				}
			}

			a {
				background: none;
				color: @black;
				display: block;
				font-size: 14px;
				font-weight: bold;
				line-height: 16px;
				padding: 10px 7px;

				&:hover,
				&:focus {
					text-decoration: none;
				}
			}

			&.active,
			&.active a,
			&.active a:hover,
			&.active a:focus {
				background-color: @red;
				color: @white;
				text-decoration: none;
			}
		}
	}

	&__feed {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			border-bottom: 1px solid @iron;
			margin: 0 10px 15px 10px;
			padding: 10px 0;

			a {
				color: @black;
				font-size: 14px;

				&:hover {
					color: @red;
					text-decoration: underline;
				}
			}
		}
	}

	&__item-footer {
		font-family: @oscondensed;
		margin-top: 5px;

		> div {
			background: @white;
			float: right;
		}

		&__category {
			padding-left: 10px;

			&:after {
				color: @steel;
				content: "|";
				margin: 0 5px;
			}
		}

		&__timestamp {
			color: @steel;
			margin-right: -10px;
			padding-right: 10px;
		}
	}

	&__item_category {
		&_gear-and-reviews,
		&_gear {
			.news-feed__item-footer__category {
				color: @blue;
			}
		}

		&_sponsored {
			.news-feed__item-footer__category {
				color: @black;
			}
		}

		&_training {
			.news-feed__item-footer__category {
				color: @green;
			}
		}

		&_races {
			.news-feed__item-footer__category {
				color: @red;
			}
		}
	}

	&__more {
		text-align: center;

		a {
			color: @black;
			display: block;
			font-weight: bold;
			padding: 20px 0 25px;

			&:hover {
				color: @red;
				text-decoration: underline;
			}
		}

		.fa {
			margin-left: 10px;
		}
	}


	// Phone Only Breakpoint
	// ---------------------------------
	@media @xs-only-breakpoint {
		background: @white;
		display: none;
		height: 100%;
		position: absolute;
		top: 50px;
		width: 100%;
		z-index: 9997;

		&.active {
			display: block;
		}

		&__nav {
			display: none;
		}
	}


	// Tablet Breakpoint
	// ---------------------------------
	@media @sm-breakpoint {
		&__wrap {
			border: 1px solid @aluminum;
			border-top: 2px solid @black;
		}
	}


	// Desktop Breakpoint
	// ---------------------------------
	@media @lg-breakpoint {
		&__wrap {
			margin: 0 auto;
			max-width: 300px;
		}
	}
}
