// Generic Owl Carousel
// ---------------------------------
.owl-carousel {
	clear: both;

	.owl-stage {
		display: flex;
		flex-flow: row wrap;
	}

	.owl-item {
		h2 {
			border-bottom: 2px solid @red;
			font-size: 20px;
			line-height: 24px;
		}

		.gallery-item {
			a {
				display: block;
				background-color: @iron;
			}
			figcaption a {
				background: transparent;
				display: inline;
			}
		}

		img {
			margin: 0 auto;
			width: auto;
		}

		figcaption {
			h3 {
				margin: 7px 0;
			}

			a {
				display: inline;
			}
		}
	}

	.owl-controls {
		padding: 15px;
	}
	&.thumbs-carousel .owl-controls {
		padding: 0;
	}
	.owl-nav {
		margin-top: 0;

		[class*='owl-'] {
			background: transparent;
			border-radius: 0;
			font-size: 30px;
			margin: 0;
			padding: 5px;
			opacity: 0.5;

			&:hover {
				background: none;
				opacity: 0.9;
			}
		}

		.owl-prev {
			left: 5px;
			padding-right: 9px;
			position: absolute;
			top: 0;
		}

		.owl-next {
			padding-left: 9px;
			position: absolute;
			right: 5px;
			top: 0;
		}
	}

	.owl-dots {
		width: 100%;

		.owl-dot {
			span {
				background: @black;
				opacity: 0.5;
			}

			&.active span,
			&:hover span {
				background: @red;
				opacity: 0.9;
			}
		}
	}

	.gallery {
		&-ad-last-slide {
			align-items: center;
			background: @iron;
			display: flex;
			flex-flow: row nowrap;
			overflow: hidden;

			a {
				margin: 0 auto;
			}

			img {
				width: auto;
			}
		}
	}

	.wp-caption-text {
		font-size: 12px;
		font-style: italic;
		margin: 10px 10px 0;
	}

	&.generic-carousel,
	&.list-carousel {
		.owl-nav {
			[class*='owl-'] {
				background: rgba(0, 0, 0, .7);
			}
		}
	}

}


// List Thumbnails Carousel
// ---------------------------------
.thumbs-carousel {
	background-color: @white-smoke;
	padding: 10px 30px;
	margin: 15px 0 30px;

	.owl-item {
		opacity: .5;
		text-align: center;

		&:hover {
			cursor: pointer;
			opacity: 1;
		}

		img {
			border: 1px solid @iron;
		}

		&.current {
			color: @red;
			font-weight: bold;
			opacity: 1;

			img {
				border-color: @red;
			}
		}
	}

	.owl-carousel__item {
		&__wrap {
			display: none;
		}

		&__count {
			display: none;
			font-weight: bold;
			margin-top: 5px;
		}
	}

	.owl-nav [class*='owl-'] {
		color: @oil;

		&:hover {
			color: @oil;
		}
	}

	&.owl-loaded {
		.owl-carousel__item {
			&__wrap {
				display: block;
			}
		}
	}
}


// List Carousel
// ---------------------------------
.list-carousel {
	.owl-item {
		img {
			margin-bottom: 15px;
		}
	}
}


// Products Carousel
// ---------------------------------
.product-carousel {
	padding: 0 30px;
	margin: 30px 0;

	&_type_related {
		margin-top: 0;
	}

	.owl-item {
		padding: 0 10px;
		text-align: center;

		a {
			color: @oil;

			&:hover {
				color: @red;
			}
		}

		img {
			border: 1px solid @iron;
			margin-bottom: 10px;
		}
	}

	.owl-carousel__item {
		&__wrap {
			display: none;
		}

		&__count {
			display: none;
			font-weight: bold;
			margin-top: 5px;
		}
	}

	.owl-nav [class*='owl-'] {
		color: @oil;

		&:hover {
			color: @oil;
		}
	}

	&.owl-loaded {
		.owl-carousel__item {
			&__wrap {
				display: block;
			}
		}
	}
}


// Tablet Breakpoint
// ---------------------------------
@media @sm-breakpoint {
	.owl-carousel {
		.owl-item {
			img {
				max-width: 100%;
			}
		}
	}

	.thumbs-carousel {
		.owl-item {
			padding: 0px 10px;
		}

		.owl-carousel__item__count {
			display: inline-block;
		}
	}
}
