.cookie-popup-bar{
	background: #f2f2f2;
	border: 2px solid #999;
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	bottom: 0;
	color: #000;
	margin: 0 10px;
	padding: 10px;
	position: fixed;
	z-index: 99999;

	a {
		color: @red;
		font-weight: normal;
	}

	p {
		font-family: 'Open Sans', Calibri, Verdana, arial, sans-serif;
		font-size: 12px;
		line-height: 1.42857143;
		margin-top: 0;

		&:last-child{
			margin: 0;
		}
	}

	.close-cookie-bar{
		background-color: #000;
		border-radius: 20px;
		float: right;
		height: 25px;
		position: relative;
		text-align: center;
		width: 25px;

		 &:before {
			color: #fff;
			content: '×';
			font-size: 18px;
			left: 0;
			line-height: 15px;
			padding: 5px 7px;
			position: absolute;
			text-align: center;
			top: 0;
		}
	}

	@media @sm-breakpoint {

		// & {
			left: 50px;
			width: 600px;
		// }

	}
}

/**
 * Read more toggle
 */
.read-more {

	&-state {
		display: none;

		&:checked {
			~ .read-more-wrap .read-more-target {
				max-height: 180px;
				opacity: 1;
			}

			~ .read-more-trigger:before {
				content: 'Show less';
			}
		}

		&  ~ .read-more-trigger:before {
			content: 'Read more';
		}

	}

	&-target {
		max-height: 15px;
		opacity: 0.5;
		overflow: hidden;
		transition: max-height.25s ease;
	}

	&-wrap {
		z-index: 10;
	}

	&-trigger {
		border: 1px solid #ddd;
		border-radius: 5px;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-size: .9em;
		line-height: 2;
		margin-top: 10px;
		padding: 0 .5em;
		z-index: 99999;
	}

}
