.product {

	&__nav {
		padding: 15px 0;
		width: 100%;

		a {
			color: @oil;
			display: inline-block;
			font-size: 16px;
			line-height: 18px;

			&:hover {
				color: @red;
			}
		}

		&_direction_next {
			float: right;
		}

		.fa {
			font-size: 12px;
			line-height: 18px;
		}

		&__link-text {
			padding: 0 10px;
		}
	}

	& &__msrp {
		font-style: italic;
		margin-top: 0;
	}

	.wp-caption-text {
		font-size: 12px;
		font-style: italic;
		margin: 10px 10px 0;
	}
	&__image {
		text-align: center;
	}
	.advert_sm_300x600 {
		margin-top: 60px;
	}


	// Laptop Breakpoint
	// ---------------------------------
	@media @md-breakpoint {
		&__nav {
			padding: 0;
			width: auto;

			a {
				margin-top: 200px;
				position: absolute;
			}

			&_direction_prev {
				left: 0;
			}

			&_direction_next {
				right: 0;
			}

			&__link-text {
				.screen-reader-text();
			}

			.fa {
				font-size: 24px;
			}
		}


		.row {
			position: relative;
		}
	}
}
