.product-search {
	margin-bottom: 15px;

	&__wrap {
		background: @white-smoke;
	}

	&__heading {
		color: @tuatara;

		&_name_brand {
			margin: 0;
			padding: 10px 15px;
		}

		&_name_filter {
			margin-top: 30px;
			padding: 0 15px;
		}
	}

	&__form {
		background: @white-smoke;
		border: 1px solid @aluminum;

		&__fieldset {
			border-bottom: 2px solid @black;

			&:last-child {
				border-bottom: none;
			}

			&_name_search {
				padding: 15px 0;
				position: relative;

				.product-search {
					&__form__option {
						float: left;
						margin-bottom: 0;
					}

					&__form-toggle {
						color: @aluminum;
						float: right;
						font-size: 19px;
						line-height: 30px;
						padding: 0 15px;
					}
				}
			}

			&_name_submit {
				padding: 15px;
				text-align: center;
			}
		}

		&__legend {
			background: @light-grey;
			font-size: 15px;
			font-weight: bold;
			line-height: 18px;
			margin-bottom: 0;
			padding: 10px 15px;

			a {
				color: @black;

				&:hover {
					text-decoration: none;
				}
			}
		}

		&__group {
			display: none;
			margin-top: 20px;
			padding-bottom: 15px;
		}

		&__option {
			margin-bottom: 5px;
			padding: 0 15px;
			position: relative;

			&__hidden {
				display: none;
			}
		}

		&__label {
			font-weight: normal;
			line-height: 16px;
			margin: 0;

			&:hover {
				cursor: pointer;

				&:before {
					background: @oil;
				}
			}

			&:before {
				background: @white;
				border: 1px solid @black;
				content: "";
				display: block;
				left: 14px;
				position: absolute;
				height: 15px;
				width: 15px;
			}
		}

		& &__input {
			border: none;
			float: left;
			height: 30px;
			padding: 5px;
		}

		& &__checkbox {
			height: 15px;
			margin: 0;
			width: 15px;

			&:checked + label:before {
				background: @red;
			}
		}

		.product-search &__toggle {
			margin: 0 0 15px;
			text-align: center;
		}
	}

	&__more {
		padding: 0 15px;
		text-align: center;

		a {
			color: @black;
			font-style: italic;
			font-weight: bold;

			&:hover {
				color: @red;
			}
		}
	}

	&__results {
		p {
			font-family: @oscondensed;
			font-size: 16px;
			font-weight: bold;
			line-height: 24px;
			margin: 0;
		}

		&__wrap {
			border-bottom: 1px solid @iron;
			margin: 15px 0;
			.clearfix();
		}
	}

	&__category {
		margin: 15px 0;
		// padding: 0 1px;
		text-align: center;

		a {
			color: @black;
			display: block;
			font-weight: 600;

			&:hover {
				color: @red;
			}
		}

		&__title {
			margin-top: 10px;
		}
	}

	.bike-search__featured {
		border: 1px solid @aluminum;
		border-top: 2px solid @black;
		float: none;

		&__wrap {
			padding: 15px;
		}
		&__title {
			background: @light-grey;
			font-family: @oscondensed;
			font-size: 14px;
			margin: 0;
			padding: 5px 15px;
			text-align: center;
			width: 100%;
		}
		.article__thumbnail {
			margin: auto;
		}

	}


	@media @xxs-breakpoint {
		.bike-search {
			&__category {
				margin: 15px 0;
				text-align: center;
				position: relative;

				a {
					color: @white;
					display: block;
					font-weight: 600;
					position: relative;

					&:hover {
						color: @white;

						.bike-search__img-filter {
							background: rgba(27,69,119,0.5);
						}
					}
				}

				&__title {
					left: 0;
					right: 0;
					font-family: @crimson;
					font-size: 24px;
					line-height: 28px;
					position: absolute;
					top: 50%;
					transform: translateY( -50% );

				}
			}
			&__img-filter {
				background: rgba(27,69,119,0.2);
				height: 100%;
				position: absolute;
				top: 0;
				width: 100%;

				&:hover {
					background: rgba(27,69,119,0.5);
				}
			}
			&__featured {
				max-width: 200px;
				float: right;
				margin: 5px 0 15px 15px;
			}

		}
	}

	// Tablet Breakpoint
	// ---------------------------------
	@media @sm-breakpoint {
		&__category {
			padding: 0 15px;
			text-align: left;

			&__title {
				border-left: 2px solid @blue;
				padding-left: 10px;
			}
		}
		.bike-search__category__title {
			padding-left: 0;
			border: none;
			margin-top: 0;
		}
	}


	// Laptop Breakpoint
	// ---------------------------------
	@media @md-breakpoint {
		&__wrap {
			background: transparent;
		}

		&__form {
			&__fieldset {
				&_name_search {
					.product-search {
						&__form__input {
							width: 158px;
						}

						&__form-toggle {
							display: none;
						}
					}
				}
			}

			&__group {
				display: block;
			}
		}

		&__results {
			display: none;
		}
	}
}
