.race-table {
	&__wrap {
		border: 1px solid @aluminum;
		border-top: 2px solid @black;
		margin: 10px 0 15px;
	}

	&__nav {
		border-bottom: 1px solid @oil;
		display: table;
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;

		li {
			display: table-cell;
			text-align: center;
		}

		a {
			color: @black;
			display: block;
			font-family: @oscondensed;
			font-size: 12px;
			font-weight: bold;
			line-height: 14px;
			padding: 10px 5px;

			&:hover {
				background: @oil;
				color: @white;
				text-decoration: none;
			}
		}

		.active a {
			background: @red;
			color: @white;
			text-decoration: none;
		}
	}

	&__content {
		overflow: auto;
	}

	&__pane {
		// max-height: 545px;
		overflow-x: hidden;
		overflow-y: auto;

		&__wrap {
			padding: 15px;

			h1,
			h2,
			h3,
			h4,
			p,
			ul,
			ol {
				margin-top: 0;
			}
		}
	}

	&__table {
		font-family: @oscondensed;
		font-size: 12px;
		line-height: 14px;
		width: 100%;

		thead {
			tr {
				background: @oil;
				color: @white;
			}

			th {
				padding: 10px;
				text-align: center;
			}
		}

		tbody {
			tr {
				&:nth-child(odd) {
					background: @white-smoke;
				}
			}

			td {
				font-size: 14px;
				padding: 10px 0;
				text-align: center;
			}
		}

		&__stage {
			color: @red;
			font-size: 11px;
			font-weight: bold;
		}

		.icon {
			background-position: center;
			height: 20px;
			margin-bottom: -5px;
		}
	}


	// Tablet Breakpoint
	// ---------------------------------
	@media @sm-breakpoint {
		&__wrap {
			margin-bottom: 0;
		}

		&__nav {
			a {
				padding: 10px;
			}
		}
	}
}
