.ratings-chart {
	margin-bottom: 15px;
	margin-top: 15px;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__rating {
		margin-bottom: 10px;

		&__label {
			font-family: @oscondensed;
			font-size: 14px;
			line-height: 16px;
			margin-bottom: 5px;
			word-wrap: break-word;

			span {
				clear: both;
				display: block;
				font-family: @opensans;
				font-size: 11px;
				line-height: 16px;
				margin: 2px 0 5px;
			}
		}

		&__wrap {
			background: @iron;
			position: relative;
			transition: 0.4s linear;
			transition-property: width, background-color;
		}

		&__bar {
			background: @blue;
			height: 20px;
			width: 0%;
		}

		&__markers {
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;

			li {
				border-right: 1px solid @white;
				color: @white;
				float: left;
				font-family: @oscondensed;
				font-size: 12px;
				font-weight: bold;
				line-height: 20px;
				margin: 0;
				padding: 0 5px;
				text-align: right;
				width: 10%;
			}
		}

		&_max {
			&_5 {
				width: 25%;
			}

			&_10 {
				width: 50%;
			}

			&_15 {
				width: 75%;
			}

			&_20 {
				width: 100%;
			}
		}

		&_name_aesthetics {
			.ratings-chart__rating__bar,
			&.ratings-chart__rating__bar {
				background: @salem-green;
			}
		}

		&_name_build {
			.ratings-chart__rating__bar,
			&.ratings-chart__rating__bar {
				background: @deep-cobalt;
			}
		}

		&_name_climbing {
			.ratings-chart__rating__bar,
			&.ratings-chart__rating__bar {
				background: @deep-orchid;
			}
		}

		&_name_comfort {
			.ratings-chart__rating__bar,
			&.ratings-chart__rating__bar {
				background: @rust;
			}
		}

		&_name_descending {
			.ratings-chart__rating__bar,
			&.ratings-chart__rating__bar {
				background: @strong-red;
			}
		}

		&_name_handling {
			.ratings-chart__rating__bar,
			&.ratings-chart__rating__bar {
				background: @vivid-amber;
			}
		}

		&_name_lab {
			.ratings-chart__rating__bar,
			&.ratings-chart__rating__bar {
				background: @deep-blue;
			}
		}

		&_name_overall {
			border-bottom: 1px solid @oil;
			padding-bottom: 10px;

			.ratings-chart__rating__wrap {
				.clearfix();
			}

			.ratings-chart__rating__bar {
				float: left;
			}
		}

		&_name_pedaling {
			.ratings-chart__rating__bar,
			&.ratings-chart__rating__bar {
				background: @lime-green;
			}
		}

		&_name_value {
			.ratings-chart__rating__bar,
			&.ratings-chart__rating__bar {
				background: @orange;
			}
		}

		&_name_versatility {
			.ratings-chart__rating__bar,
			&.ratings-chart__rating__bar {
				background: @deep-orchid;
			}
		}
	}


	// Laptop Breakpoint
	// ---------------------------------
	@media @md-breakpoint {
		&__rating {
			&__label {
				font-size: 16px;

				span {
					font-size: 12px;
					line-height: 20px;
				}
			}
		}
	}
}
