.recommended-content {
	&__wrap {
		border: 1px solid @aluminum;
		border-top: 2px solid @black;
		margin: 0 auto;
	}
	&.alignleft .recommended-content__wrap,
	&.alignright .recommended-content__wrap {
		max-width: 300px;
	}

	&__title {
		background: @smoke;
		font-family: @oscondensed;
		font-size: 14px;
		margin: 0;
		padding: 5px 15px;
		text-align: center;
		width: 100%;
	}

	&__menu {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			border-bottom: 1px solid @iron;
			margin: 0;

			&:last-child {
				border-bottom: none;
			}
		}

		a {
			background: @white-smoke;
			color: @black;
			display: block;
			// font-size: 13px;
			// line-height: 20px;
			padding: 5px 15px;

			&:hover {
				color: @red;
			}
		}
	}

	/* &.alt-1 {
		.recommended-content {
			&__wrap {
				border-top-color: @iron;
				border-right: none;
				border-bottom: 2px solid @iron;
				border-left: none;
			}
			&__title {
				background: @red;
				text-transform: uppercase;
				color: @white;
				width: auto;
				padding: 2px 15px;
				font-size: 13px;
				display: inline-block;
			}
			&__menu {
				li {
					border-bottom: none;
				}
				a {
					background: transparent;
				}
			}
		}
	} */
	&.alt-2 {
		.recommended-content {
			&__wrap {
				border-right: none;
				border-bottom: 2px solid @iron;
				border-left: none;
			}
			&__menu {
				a {
					padding: 15px 0;
					background: transparent;
					overflow: hidden;
				}
			}
			&__thumbnail {
				text-align: center;
				margin-bottom: 15px;
			}
			&__headline {
				margin-top: 0;
			}
			&__excerpt {
				font-size: 13px;
				line-height: 20px;
				margin-bottom: 0;
			}
		}
	}

	@media @xxs-breakpoint {
		&.alt-2 {
			.recommended-content {
				&__thumbnail {
					float: left;
					margin: 0 15px 0 0;
				}
				&__details {
					margin-left: 165px;
				}
			}
		}
	}

	// Phone Only Breakpoint
	// ---------------------------------
	@media @xs-only-breakpoint {
		&.alignleft,
		&.alignright {
			float: none;
			margin: 0 auto;
		}
	}
}
