.related-products {
	margin-bottom: 30px;

	&__title {
		border-bottom: 2px solid @blue;
		float: left;
		font-size: 20px;
		line-height: 24px;
		margin: 0 0 15px;
	}

	&__more {
		color: #686868;
		float: right;
		font-size: 12px;
		line-height: 24px;

		&:hover {
			color: @red;
		}
	}

	&__body {
		.article {
			&__title {
				border: none;
				padding: 0;
			}

			&__details {
				p {
					line-height: 20px;
					margin: 0;
				}

				em {
					color: @red;
					font-style: normal;
					font-weight: bold;
				}
			}
		}
	}


	// Phone Only Breakpoint
	// ---------------------------------
	@media @xs-only-breakpoint {
		&__body {
			.article {
				border-bottom: 1px solid @oil;
				padding: 0;

				&__permalink {
					float: left;
				}

				&__thumbnail {
					width: 100%;

					&__wrap {
						float: left;
						padding-right: 15px;
						width: 45%;
					}
				}

				&__category {
					display: none;
				}

				&__details {
					float: left;
					font-family: @oscondensed;
					padding-right: 15px;
					width: 55%;
				}

				&__title {
					font-size: 16px;
				}
			}
		}
	}


	// Tablet Breakpoint
	// ---------------------------------
	@media @sm-breakpoint {
		.article {
			&__category {
				left: 10px;
				top: 10px;
			}

			&__details {
				p {
					font-size: 12px;
					line-height: 18px;
				}

				.article__title {
					font-size: 14px;
					line-height: 20px;
					margin-top: 5px;
				}
			}
		}
	}
}
