.related-content {
	margin-bottom: 30px;

	&__title {
		border-bottom: 2px solid @red;
		float: left;
		font-size: 20px;
		line-height: 24px;
		margin: 0 0 15px;
	}

	&__more {
		color: #686868;
		float: right;
		font-size: 12px;
		line-height: 24px;

		&:hover {
			color: @red;
		}
	}


	// Phone Only Breakpoint
	// ---------------------------------
	@media @xs-only-breakpoint {
		margin: 0 auto;
		max-width: 560px;

		.article:nth-last-child(2),
		.article:last-child {
			display: none;
		}
	}


	// Tablet Breakpoint
	// ---------------------------------
	@media @sm-breakpoint {
		.article {
			&__title {
				font-size: 14px;
				line-height: 18px;
				padding-left: 10px;
			}

			&__category {
				left: 10px;
				top: 10px;
			}
		}
	}
}
