.site-search {
	&__form {
		padding-bottom: 25px;
		text-align: center;

		&__field {
			border: 1px solid @aluminum;
			float: left;
			padding: 8px;
			width: 90%;
		}

		&__btn {
			background: @red;
			border: none;
			color: @white;
			padding: 9px;
			width: 10%;

			/* .fa {
				margin-left: -6px;
			} */
		}
	}

	&__nav {
		border-bottom: 2px solid @black;
		font-size: 16px;
		font-weight: bold;
		padding: 15px 0;

		& &__item {
			color: @black;

			&:hover {
				text-decoration: underline;;
			}

			&.active {
				color: @red;

				&:hover {
					color: @red;
					text-decoration: none;
				}
			}
		}
	}


	// Tablet Breakpoint
	// ---------------------------------
	@media @sm-breakpoint {
		&__form {
			text-align: left;
			padding-bottom: 20px;

			/* &__field {
				width: 365px;
			} */
		}
	}


	// Laptop Breakpoint
	// ---------------------------------
	/* @media @md-breakpoint {
		&__form {
			&__field {
				width: 574px;
			}
		}
	}
	 */

	// Desktop Breakpoint
	// ---------------------------------
	/* @media @lg-breakpoint {
		&__form {
			&__field {
				width: 708px;
			}
		}
	} */

	// Algolia Search
	// ---------------------------------
	#ais-main {
		padding: 0;
	}
	#algolia-hits {
		padding-top: 20px;
	}

	@media screen and (max-width: 1000px) {
		.ais-hits--item {
			border: none;
			padding: 0;
		}
	}
}

