.article__body--fixed {
	padding-top: 62px;

	// & #article-right {
	// 	padding-bottom: 50px;
	// }
	// .article__body {
	// 	margin-bottom: 0;
	// }

	@media @sm-breakpoint {

		#article-right {
			padding-bottom: 60px;
		}

	}
}
.social-bar {
	&__wrap {
		.pw-widget {
			margin-bottom: 0;

			&.__pw-layout-horizontal {
				display: block;

				.pw-button {
					display: inline-block;
					margin: 0 5px 0 0;

					&.__pw-counter-vertical {
						.pw-button-icon,
						.pw-button-counter {
							display: inline-block;
						}

						.pw-button-counter {
							font-size: 14px;
							line-height: 32px;
							margin-left: -10px;
							padding: 0 10px;
						}
					}

					&.__pw-label-true.__pw-counter-none {
						.pw-button__inner {
							min-width: initial;
							min-width: auto;
						}

						.pw-button-text {
							padding: 0;
						}
					}
				}

				.pw-button-facebook-icon {
					.pw-button-counter {
						margin-left: -15px;
					}
				}
			}
		}
	}

	&_location_top {
		margin-bottom: 15px;
		padding-top: 15px;

		.pw-widget {
			margin-bottom: 0;

			&.__pw-layout-horizontal {
				.pw-button.__pw-size-32.__pw-label-true {
					.pw-button__outer {
						padding: 0 10px 0 0;
					}

					.pw-button__inner {
						min-width: initial;
						min-width: auto;
					}
				}
			}

			.pw-button-facebook,
			.pw-button-twitter {
				margin-right: 5px;
			}
		}
	}

	&_location_left {
		padding: 0;
		position: relative;
		z-index: 9997;

		.social-bar {
			&__wrap {
				margin: 0 3px;
			}
		}
	}

	&--fixed {
		background: rgba(255, 255, 255, 0.9);
		// box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.15);
		height: auto;
		left: 0;
		margin: 0;
		padding: 15px;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 9997;

		@media screen and (min-width:601px) and (max-width:767px) {
			.admin-bar & {
				top: 46px;
			}
		}

	}

	// Tablet Breakpoint
	// ---------------------------------
	@media @sm-breakpoint {

		.content--sponsored &_location_middle {
			float: left;
		}

		&--fixed {
			bottom: 0;
			margin: 0;
			top: auto;
		}

	}

	// Desktop Breakpoint
	// ---------------------------------
	@media @lg-breakpoint {
		&_location_left {
			.social-widget {
				&__wrap {
					margin: 0 9px;
					z-index: 999;
				}
			}
		}
	}
}
