.sponsorship {
	text-align: center;

	&__label {
		font-weight: 300;
		font-size: 16px;
	}

	&__logo {
		height: 25px;
		width: auto;
		vertical-align: middle;
	}

	.template--long-form & {
		position: absolute;
		right: 10px;
		top: 10px;

		&__wrap {
			color: @white;
		}
	}
}


// Tablet Breakpoint
// ---------------------------------
@media @sm-breakpoint {

	.template--long-form {
		.sponsorship {
			right: 15px;
			top: 15px;
		}
	}

	.template--blogroll,
	.template--extended {

		.sponsorship {
			float: right;

			&__wrap {
				line-height: 50px;
				margin: 0 0 15px;
			}
		}
	}

	.template--multi-stage,
	.template--single-race {

		.sponsorship {
			float: left;

			&__wrap {
				margin: 35px 0 0 15px;
			}
		}
	}

	.template--single {
		.sponsorship {
			text-align: right;
		}
	}

	.amp {
		.sponsorship {
			float: none;
			text-align: left;
		}
	}
}
