/**
 * NOTE: this LESS file uses "max-width" instead of the normal
 * "min-width".
 *
 * It's much cleaner to do it this way instead of resetting all the properties
 * at the 768px mark
 */

.tabular__data {
	border: 1px solid @aluminum;
	width: 100%;
	margin: 15px 0;
	line-height: 24px;

	th,
	td {
		padding: 5px;
		border-bottom: 1px solid @aluminum;
		border-right: 1px solid @aluminum;
	}
	tbody tr:nth-child( 2n + 1 ) {
		background-color: @white-smoke;
	}

	@media only screen and (max-width: 767px) {
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		tr {
			border-bottom: 1px solid @aluminum;
		}
		th,
		td {
			display: block;
			border-right: none;
		}
		td {
			padding-left: 50%;
			position: relative;
			white-space: normal;
			text-align: left;

			&:before {
				content: attr( data-title );
				position: absolute;
				top: 6px;
				left: 5px;
				width: 45%;
				padding-right: 10px;
				text-align: left;
				font-weight: bold;
			}
		}

	}
}
