.velopress-book {
	border: 1px solid @aluminum;

	&__header {
		background-color: @smoke;
		border-top: 2px solid @black;
		overflow: hidden;

		&__logo {
			float: left;
			padding-right: 15px;
			margin-right: 15px;
			border-right: 1px solid @black;
		}
		&__module_title {
			background: @smoke;
			font-family: @oscondensed;
			font-size: 16px;
			margin: 0;
			padding: 5px 15px;
			text-align: center;
			width: 100%;
		}
	}

	&__content {
		padding: 15px;
		overflow: hidden;

		&__cover {
			max-width: 150px;
			margin: 0 auto 15px auto;
		}
		.template--long-form .article__body &__cover img {
			max-width: 100%;
		}
		&__title {
			a {
				color: @velopress;
				margin: 0 0 5px 0;
			}
		}

		&__subtitle {
			color: @aluminum;
			font-size: 13px;
		}
		.article__body &__author {
			font-size: 13px;
			font-weight: bold;
			line-height: 1.4;
			margin: 10px 0;
		}
		.article__body &__desc {
			line-height: 1.4;
		}
		&__cta {
			text-transform: uppercase;
			text-align: center;

			a {
				font-weight: bold;
				color: @white;
				padding: 10px 50px;
				display: inline-block;
				background-color: @velopress;
				transition: @transition;

				&:hover {
					background-color: @oil;
					text-decoration: none;
				}
			}
		}
	}

	@media @xxs-breakpoint {
		&.aligncenter {
			.velopress-book {
				&__content {
					&__cover {
						float: left;
						margin: 5px 15px 15px 0;
					}
				}
			}
		}
		&.alignleft,
		&.alignright {
			max-width: 300px;
		}
	}

	@media @sm-breakpoint {
		&.alignleft,
		&.alignright {
			max-width: initial;
		}
	}

	@media @md-breakpoint {
		&.alignleft,
		&.alignright {
			max-width: 300px;
		}
	}
}
