/*  1200px */
@media @lg-breakpoint {
	.finisher_zone.no-hero,
	.finisher_zone_search_results.no-hero {
		#subnav {
			.subnav-menu {
				a {
					font-size: 16px;
					padding: 18px;
				}
			}
		}
		.subnav-menu {
			margin-right: 15px;
		}
	}
	.fz_badgelist,
	.fzvr_badgelist {
		ul {
			border-top: 1px solid @navborders;
		}
		li {
			float: left;
			width: 25%;
			margin-bottom: -10000px;
			padding-bottom: 10000px;
			border-top: none;
			border-bottom: 1px solid @navborders;
			&:nth-child(even) {
				border-right: 1px solid @navborders;
			}
			&:nth-child(4n+4) {
				border-right: none;
			}
		}
	}
	.fz_badgelist,
	.fzvr_badgelist {
		.fz_share span {
			display: block;
			&:last-of-type {
				margin: 0;
				padding: 0;
				border: none;
			}
		}
		.fz_badge_social {
			span {
				font-size: 18px;
				width: 30px;
				height: 30px;
				padding-top: 3px;
			}
			.pinterest-share img {
				width: 30px;
				margin-top: -3px;
			}
			.pw-icon.ra1-pw-icon {
				line-height: 30px;
				width: 30px;
				height: 30px;
			}
		}
	}

	.fz_whatsnext li {
		padding: 30px 30px 10000px;
	}
	.fz_whatsnext_bottom {
		li {
			padding: 30px;
		}
		figure {
			margin: 0 30px 30px 0;
		}
	}
	.fz_runner_placing,
	.fz_runner_placing_alt {
		li {
			padding: 20px 30px;
			vertical-align: middle;
		}
		figure {
			float: left;
			margin: 0 30px 0 0;
		}
		.cta-alt {
			float: left;
			width: 50%;
			margin-top: 10%;
		}
	}
}
