@media (min-width: 30em) {
	.fz_dropdown_module select {
		width: auto;
	}

	.finisher_zone_search_results {
		font-size: 18px;
		padding-bottom: 60px;
		h3 {
			font-size: 24px;
		}
		h4 {
			font-size: 32px;
		}
	}


	.fz_label {
		font-size: 14px;
		font-weight: normal;
		display: block;
		margin-bottom: 10px;
		padding: 10px 5px;
		padding: 0;
		text-align: center;
		text-transform: uppercase;
		color: #959595;
	}

	.narrow-hero {
		padding: 0 0 5%;
		.copy {
			h2 {
				font-family: 'futura std bold';
				font-size: 60px;
				font-weight: 700;
				display: block;
				margin-bottom: 0;
				padding-top: 10%;
				letter-spacing: -0.05em;
				color: #fff;
				border: none;
			}
		}
	}

	.fz_badgelist,
	.fzvr_badgelist {
		ul {
			overflow: hidden;
		}
		li {
			float: left;
			overflow: hidden;
			width: 50%;
			margin-bottom: -10000px;
			padding-bottom: 10000px;
			border-right: 1px solid @navborders;
			border-bottom: 1px solid @navborders;
			&:nth-child(even) {
				border-right: none;
				border-bottom: 1px solid @navborders;
			}
		}
		//if flexbox support, use this
		.flexbox & {
			ul {
				display: -webkit-box;
				display: -webkit-flex;
				display:         flex;

				-webkit-flex-wrap: wrap;
				        flex-wrap: wrap;
			}
			li {
				position: relative;
				margin-bottom: 0;
				padding-bottom: 60px;
				
				//if social item, use this
				&.fz_socialitem {
					padding-bottom: 15px;
					
					img {
						margin-bottom: 15px;
					}
				}
			}
			.fz_badge_social {
				position: absolute;
				bottom: 25px;
				left: 0;
				width: 100%;
			}
		}
	}

	.fz_runner_times.fz_bullets,
	.runner_info_data.fz_bullets {
		li {
			border-left: none;
			&:first-child {
				border-left: 1px solid @navborders;
			}
		}
	}

	.fz_runner_vitals {
		.gender,
		.age,
		.hometown {
			width: (100%/3);
		}
	}
	.fz_runner_placing {
		figure {
			display: block;
		}
		li {
			display: table-cell;
			width: 50%;
			&:last-child {
				//border-top:1px solid @navborders;
			}
		}
	}

	.fz_whatsnext_bottom {
		li {
			border-top: none;
		}
		.smaller_txt p {
			text-align: left;
		}
	}
	#finisher-results {
		.fz_multiple_events_msg {
			border-top: none;
			li {
				border-top: none;
			}
		}
	}

	.fz_assessment img {
		max-width: 300px;
	}
	.fz_offer {
		border-bottom: 1px solid @navborders;
	}
	.fz_offer:last-child {
		border-bottom: none;
	}


	#finisher-speedometer .fz_speedometer,
	.fz_whatsnext_wrapper,
	.fz_assessment_wrapper {
		background: #fff;
		background: linear-gradient(to bottom, #fff 1%,#f0f0f0 100%);
	}

	#finisher-downloads {
		//checkboxes
		.fz-cert-checkbox {
			float: left;
			width: 50%;
			padding-left: 30px;
		}
	}

}
