@media @sm-breakpoint {
	.fz_badgelist li,
	.fzvr_badgelist li {
		text-align: left;
	}
	.fz_rank_table {
		margin-bottom: 60px;
	}
	.fz_navigation {
		overflow: hidden;
		margin: 0 -15px 30px;
		.fz_nav_column {
			float: left;
			width: calc(100%/3);
			margin: 0;
			padding: 0 15px;
		}
	}

	.fz_badgelist .fz_share span,
	.fzvr_badgelist .fz_share span {
		display: inline;
		&:last-of-type {
			margin-left: 15px;
			padding-left: 15px;
			border-left: 1px solid @navborders;
		}
	}
	.grid_2_special,
	.grid_3_special,
	.grid_4_special,
	.grid_5_special {
		.column_special {
			float: none;
		}
	}


	/**
	 * virtual run
	 */
	.page-template-fz-vr-search-and-results-php {
		.download_cert {
			position: absolute;
			right: 30px;
			top: 20px;
			z-index: 1000;
			width: 30%;
			text-align: right;
			border: none;
			padding: 0;
		}
	}
}
