@media @md-breakpoint {
	span.hidden-sm {
		display: inline;
	}
	span.hidden-lrg {
		display: none;
	}
	.finisher_zone.no-hero,
	.finisher_zone_search_results.no-hero {
		#subnav {
			.wrapper {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			.fz-home {
				border: none;
				max-width: 23%;
				min-width: 20%;
			}
			.presented_by {
				max-width: 30%;

				&:not(:empty) {
					border: none;
				}

				&:empty{
					width: 20%;
				}
			}
			.subnav-menu {
				a {
					font-size: 14px;
					padding: 18px 8px;
				}
			}
			&:after {
				display: block;
				clear: both;
				content: '';
			}
		}

	}
	.narrow-hero {
		.wrapper {
			border-top: 1px solid rgba(149, 149, 149, 0.6);
			.copy {
				width: 70%;
				margin: 0 auto;
			}
		}
	}
	.grid_2.offset240left .sidenav .sticky-nav {
		a {
			font-size: 14px;
		}
		img {
			margin-right: 10px;
		}
	}
	main.no-hero .offset240left {
		padding-top: 60px;
	}
	.sidenav {
		ul {
			display: block;
		}
		li {
			display: block;
			width: auto;
			text-align: left;
			border: none;
			&:first-child {
				//display: block;
			}
		}
		a {
			font-size: 16px;
		}
		img {
			display: inline;
			margin: 0 10px 0 0;
		}
	}
	.fz_whatsnext {
		overflow: hidden;
		margin: 0;
		border-right: 1px solid @navborders;
		border-left: none;
		li {
			float: left;
			width: calc(100%/3);
			margin-bottom: 0;
			margin-bottom: -10000px;
			padding: 30px 30px 10000px;
			list-style: none;
			border-top: 1px solid @navborders;
			border-left: 1px solid @navborders;
		}
		.flexbox & {
			display: -webkit-box;
			display: -webkit-flex;
			display:         flex;

			-webkit-flex-wrap: wrap;
					flex-wrap: wrap;
			li {
				position: relative;
				margin-bottom: 0;
				padding-bottom: 60px;
			}
			p.center {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
			}
		}
	}
	.fz_whatsnext_bottom {
		margin: 0 0 30px;
		border-bottom: 1px solid @navborders;
		figure {
			float: left;
			margin: 0 30px 30px 0;
		}
		li {
			padding: 30px;
		}
	}
	.fz_badgelist {
		li {
			padding: 30px 30px 10000px;
		}
		.fz_badgelist_hdr {
			padding: 30px 0 15px;
		}
	}
	.fz_speedometer,
	.fz_assessment_wrapper .fz_assessment,
	.fz_assessment_wrapper .fz_offer {
		padding: 30px;
	}
	.fz_speedometer {
		.fz_y_axis {
			font-size: 16px;
			display: block;
			float: left;
			width: 15%;
		}
		.fz_mats {
			float: right;
			width: 85%;
		}
		.fz_speedo_legend {
			display: none;
		}
	}


	/**
	 * virtual run
	 */
	.page-template-fz-vr-search-and-results-php {
		.sidenav li {
			width: auto;
		}
	}

}
