#finisher-zone-archive {
	.grid_3_special {
		overflow: visible !important;
	}
}
.controls {
	color: @mediumgray;
	font-size: 0;
	margin: 0 0 60px;
	text-align: center;

	label {
		text-transform: uppercase;
		font-family: 'Futura Std Medium Condensed';
		font-size: 17px;
		margin: 0 5px 0 50px;

		&:first-child {
			margin-left: 0;
		}
		&:last-of-type {
			display: block;
			margin: 30px 0 10px 0;

			@media @md-breakpoint {
				display: inline;
				margin: 0 5px 0 50px;
			}
		}
	}
	button {
		background: transparent;
		border: 2px solid #cfcfcf;
		font-family: 'Arial', sans-serif;
		font-weight: bold;
		font-size: 14px;
		margin: 0 0 10px 10px;
		padding: 10px 0 7px;
		text-transform: uppercase;
		transition:@transition;
		width: 26%;

		@media @sm-breakpoint {
			width: 15%;
		}
		@media @md-breakpoint {
			margin: 0 0 0 10px;
			width: 10.5%;
		}
		@media @lg-breakpoint {
			width: 120px;
		}
		&:hover {
			border-color: @mediumgray;
		}
		&:focus {
			outline: 0 none;
		}
		&.mixitup-control-active {
			background: #cfcfcf;
			border-color: #cfcfcf;
			color: #777;
		}
	}
	select {
		&:focus {
			outline: 0 none;
		}
	}
	#sort {
		display: inline-block;
		position: relative;
	}
	select {
		background: none;
		border: 2px solid #cfcfcf;
		border-radius: 0;
		cursor: pointer;
		font-family: 'Arial', sans-serif;
		font-size: 14px;
		font-weight: bold;
		margin-left: 10px;
		padding: 10px 0 7px 8px;
		position: relative;
		text-transform: uppercase;
		transition: all 170ms ease-in-out;
		width: auto;
		z-index: 1000;

		&:hover {
			transition: all 170ms ease-in-out;
			border-color: @mediumgray;
		}
		&:after {
			border: none;
		}
	}

}
