.amp-carousel {
	margin-bottom: 30px;

	img {
		object-fit: contain;
	}

	.caption {
		background-color: rgba( 0, 0, 0, 0.6 );
		bottom: 0;
		color: #fff;
		left: 0;
		max-height: 30%;
		padding: 8px;
		position: absolute;
		right: 0;
		text-align: center;

		h4 {
			margin: 0 0 5px;
		}
	}
}

// AMP's custom social share buttons
.article__social-sharing {
	margin: 15px 0;
	text-align: center;
}

amp-social-share {
	background-position: 5px center;
	color: #fff;
	display: inline-block;
	font-weight: 600;
	line-height: 32px;
	padding-left: 25px;

	&[type="facebook"] {
		background-size: 28px;
	}

	&[type="twitter"] {
		background-size: 25px;
	}

	&[type="email"] {
		background-color: #36aec0;
	}

}
