
.header {
	&__container {
		border-bottom: 2px solid @black;
		padding-bottom: 15px;
		padding-top: 15px;
	}

	&__logo {
		.clearfix();

		a {
			display: block;
		}

		img {
			max-height: 30px;
			width: 100%;
		}
	}


	// Phone Only Breakpoint
	// ---------------------------------
	@media @xs-only-breakpoint {
		&__logo {
			img {
				height: 25px;
			}
		}
	}


	// Tablet Breakpoint
	// ---------------------------------
	@media @sm-breakpoint {
		border-bottom: 1px solid @black;

		&__container {
			border: none;
		}
	}


	// Laptop Breakpoint
	// ---------------------------------
	@media @md-breakpoint {
		&__logo {
			a {
				margin-right: 0;
			}
		}
	}
}

// Social Media Navigation
// ---------------------------------
.social-nav {
	.clearfix();

	float: right;
	margin: 0;
	padding: 0;

	ul {
		padding: 0;
		display: inline;
	}
	li {
		float: left;
		list-style: none;
	}

	a {
		color: @black;
		display: block;
		font-size: 16px;
		line-height: 30px;
		padding: 0 7px;

		&:hover {
			color: @comp-blue;
		}
	}
}

// Laptop Breakpoint
// ---------------------------------
@media @md-breakpoint {
	.social-nav {
		a {
			font-size: 20px;
		}
	}
}
