.advert {
	margin: 0 auto;
	text-align: center;
}

article {
	padding: 0 15px;

	.article {
		&__published {
			margin-left: 15px;
		}
	}

	// Multi-page post navigation
	// ---------------------------------
	.page-links {
		padding: 10px 0;
		text-align: center;

		a {
			background-color: @comp-blue;
			border-radius: 3px;
			color: @white;
			display: inline-block;
			margin: 0 3px;
			padding: 5px 8px;
			text-align: center;
		}
		& > .page-link-number {
			margin: 0 3px;
		}

	}

}

// Related articles at footer
// --------------------------
.related-articles-category {
	padding: 15px;

	article {
		border: 1px solid #a7a9ac;
		margin-bottom: 30px;
		padding: 0;

		a {
			color: #141313;
		}

		.title {
			font-size: 16px;
			font-style: italic;
			min-height: 74px;
			padding: 20px;
		}

		.fa-angle-right {
			color: #939393;
			float: right;
			fotn-size: 30px;
			font-weight: bold;
		}
	}

}
