/* medals */
main.m_medals {
	padding: 0;

	.narrow {
		margin-bottom: 60px;
	}

}

#medals-landing,
#medals-panel1,
#remix-landing,
#limited-edition-landing,
#heavy-medals-landing,
#hof-landing,
#charity-landing {
	padding: 60px 0;

	@media @md-breakpoint {
		.wrapper {
			padding: 0 15px;
		}
	}
}

#medals-panel1 {
	.inner_mix {
		padding: 15px 0 30px 0;
		border: @m-border;

		p {
			font-size: 18px;
			margin: 15px 0 0 0;
		}
		h3 span {
			font-size: 16px;
			display: block;
			margin: 10px 0;
		}
	}
	.mix {
		@media @xs-breakpoint {
			padding: 0 15px;
			margin: 0 0 30px 0;
			width: 50%;

			&_group {
				margin: 0 -15px;
				overflow: hidden;
			}
		}
		@media @md-breakpoint {
			padding: 0 30px;
			margin: 0 0 60px 0;
			width: calc( 100%/3 );

			&_group {
				margin: 0 -30px;
			}
		}

		@media @lg-breakpoint {
			width: 25%;
		}
		h3 {
			padding: 0 15px;
		}
	}

	.owl-buttons {
		position: absolute;
		top: 35%;
		width: 100%;

		.owl-prev {
			top: 0;
			left: 15px;
		}
		.owl-next {
			top: 0;
			right: 15px;
		}
	}

	.gap {
		@media @xs-breakpoint {
			width: 50%;
		}
		@media @md-breakpoint {
			width: calc( 100%/3 );
		}
		@media @lg-breakpoint {
			width: 25%;
		}
	}

	@media @xs-breakpoint {
		.controls label {
			display: inline-block;
		}
		.inner_mix p.no_carousel {
			margin-bottom: 32px;
		}
	}

}

.m_medals .pixlee {
	margin-bottom: 60px;
}
.m_medals .heavy_medals_table {
	tr:nth-child(2n) {
		td {
			background-color: #f2f2f2;
		}
	}
}

#bling-carousel {
	margin: 60px 0;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;

	.owl-prev,
	.owl-next {
		top: 50%;
	}
	.owl-pagination {
		margin-bottom: 30px;
	}
	.medal_info {
		position: absolute;
		z-index: 200;
		top: 20px;
		width: 100%;
		padding: 15px;
		border: 1px solid #e5e5e5;
		background-color: #fff;
	}
}
.medal_info {
	figcaption {
		font-size: 13px;
		line-height: 20px;
	}
}
.blinggroup {
	font-size: 0;
	margin: 60px 0;

	p {
		font-size: 18px;
	}
}

.column_special span {
	font-size: 18px;
}

a.fancybox {
	cursor: zoom-in;
}

/* .fancybox-skin {
	border-radius: 0;
}
.fancybox-title-outside-wrap {
	right: initial;
	bottom: initial;
	width: 100%;
	margin-top: 0;
	padding: 10px 20px;
	text-align: left;
	color: @mediumgray;
	background-color: #fff;

	h2,
	h3,
	h4 {
		font-family: 'Futura Std Bold Condensed';
		font-size: 24px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
} */
