/* miles */
main.m_miles {
	padding: 0;

	ul {
		margin: 0;
		list-style-type: none;
	}

}

#miles {
	&-panel1 {
		padding: 60px 0;
		background-color: @black;

		@media @md-breakpoint {
			color: #fff;
		}

		h2 {
			color: #fff;
			border-bottom: @m-border;
		}
		h3 {
			color: #fff;
		}
		.category_desktop {
			display: none;

			@media @md-breakpoint {
				display: block;
				overflow: hidden;
				margin-top: 60px;
			}
		}

		.accordion {
			margin-top: 60px;

			img {
				border-radius: 50%;
			}
			&-section-content {
				padding: 15px;
			}

		}

		@media @md-breakpoint {
			.category_mobile {
				display: none;
			}
			#tabs {
				ul {
					margin: 0 -15px;
				}
				li {
					display: inline-block;
					vertical-align: top;
					padding: 0 15px;
					text-align: center;
					width: 25%;
				}
				img {
					border-radius: 50%;
				}
			}

			.ui-tabs-active p {
				font-weight:600;
				color:@rnr-red;
			}

		}

	}
	&-panel1,
	&-categories {
		.wrapper {
			padding: 0 15px;
		}
	}

	&-categories {
		padding: 60px 0;

		.column {
			width: 100%;
			margin-bottom: 30px;

			@media @xs-breakpoint {
				padding: 0 15px;
				vertical-align: top;
				width: 50%;
				margin-bottom: 30px;
				display: inline-block;
			}
			@media @md-breakpoint {
				padding: 0 30px;
				margin-bottom: 60px;
			}
		}
		h3 {
			font-size: 32px;
			color: #fff;

			@media @md-breakpoint {
				margin-top: 30px;
			}
		}
		.mix_group {
			margin-top: 60px;

			@media @xs-breakpoint {
				margin: 60px -15px 0 -15px;
			}
			@media @md-breakpoint {
				margin: 60px -30px 0 -30px;
			}
		}
		.inner_location {
			font-size: 16px;
			padding: 30px 15px;
			color: #fff;

			@media @xs-breakpoint {
				height: 470px;
			}
			@media @md-breakpoint {
				padding: 30px;
				height: 430px;
			}
			@media @lg-breakpoint {
				height: 390px;
			}
		}
		.event {
			&_filters_desktop {
				margin-bottom: 30px;

				li {
					font-size: 10px;
					font-weight: 700;
					display: inline-block;
					margin-right: 10px;
					padding: 5px 15px;
					text-transform: uppercase;
					color: #fff;
					border-radius: 8px;
					background-color: @rnr-red;
				}
			}

			&_links {
				font-size: 16px;
				font-weight: 600;
				margin: 0 -15px;
				padding: 10px 15px;
				color: @rnr-red;
				background-color: rgba(0,0,0, 0.8);

				@media @md-breakpoint {
					padding: 10px 30px;
					margin: 0 -30px;
				}

				li {
					display: inline;
					margin-right: 10px;
					padding-left: 10px;
					border-left: 1px solid @rnr-red;

					&:first-child {
						padding: 0;
						border: none;
					}
				}

				a {
					font-size: 14px;
					text-decoration: underline;
				}
			}
		}

	}



}

