/* sorts/filters */
.controls {
	font-size: 0;
	margin: 30px 0 60px 0;
	text-align: center;
	color: @mediumgray;

	label {
		font-family: 'Futura Std Medium Condensed';
		font-size: 17px;
		display: block;
		margin: 30px 0 10px 0;
		text-transform: uppercase;

		@media @xs-breakpoint {
			display: inline-block;
		}

	}
	button {
		font-family: 'Arial', sans-serif;
		font-size: 14px;
		font-weight: bold;
		margin: 0 0 10px 10px;
		padding: 10px 20px 7px;
		transition: @transition;
		text-transform: uppercase;
		border: 2px solid #cfcfcf;
		background: transparent;

		&:hover {
			border-color: @mediumgray;
		}
		&:focus {
			outline: 0 none;
		}
		&.mixitup-control-active {
			color: #777;
			border-color: #cfcfcf;
			background: #cfcfcf;
		}
	}

}

.mix_group {
	font-size: 0;
}

.mix,
.gap {
	display: inline-block;
	width: 100%;
}


#music-panel2 {
	.mix_group {
		text-align: center;
	}
	.mix {
		max-width: 360px;

		@media @md-breakpoint {
			max-width: none;
		}

		.location,
		.date {
			margin-bottom: 20px;
		}
		a.headliner_link,
		a.racedetails_link {
			font-family: 'Futura Std Bold Condensed';
			font-size: 14px;
			display: block;
			padding: 5px 0;
			text-align: center;
			text-transform: uppercase;
			color: #fff;
			background: @mediumgray;
			transition: @transition;

			&:hover {
				text-decoration: none;
				background: #777;
			}
		}
		a.headliner_link {
			background: @rnr-red;

			&:hover {
				background: #c0161d;
			}
		}

	}
}

#medals-panel1 {
	.mix {
		h3 {
			font-size: 22px;
			font-weight: lighter;
			line-height: 1;
			margin: 0;
			padding: 0 0 8px;
			border-bottom: @m-border;
		}
	}
}

#music-panel2,
#medals-panel1 {
	.grid_2 {
		font-size: 18px;
	}
	.mix {
		position: relative;
		margin: 0 0 30px 0;
		text-align: center;
		vertical-align: top;
		color: @mediumgray;
	}
	.inner_mix {
		background-color: #fff;
	}
	.mix_info {
		padding: 0 15px 15px 15px;
	}
}


