/* moments */
main.m_moments {
	font-size: 16px;
	padding: 0;
}


#moments {
	&-featured,
	&-panel1a,
	&-panel2a,
	&-share-your-moment {
		padding: 60px 0 0 0;
	}
	&-featured {
		@media @xs-breakpoint {
			.wrapper {
				padding: 0 15px;
			}
		}
		/* h2.moment_title {
			margin: 0 15px 30px 15px;

			@media @md-breakpoint {
				margin: 0 0 30px 0;
			}
		} */

	}

	&-panel1a {
		padding-bottom: 60px;

		.wrapper {
			padding: 0 15px;
		}
	}

	&-make-a-difference {
		padding: 60px 0;
		background-color: @m-mediumgray;

		h2 {
			border-bottom: @m-border;
		}

		/* @media @lg-breakpoint {
			.edge2edge {
				padding: 0 15px;
			}
		} */
		@media @xs-breakpoint {
			.wrapper {
				padding: 0 15px;
			}
		}

		#moments-panel2a {
			.wrapper {
				padding: 0 15px;

				@media @xs-breakpoint {
					padding: 0;
				}
			}
			@media @lg-breakpoint {
				.grid_2 {
					padding: 0 15px;
				}
			}
		}

	}

	&-share-your-moment {
		.wrapper {
			padding: 0 15px;
		}
		.column {
			margin-bottom: 60px;
		}
	}
}

.edge2edge {
	padding: 0 15px;
	max-width: 1200px;
	margin: auto;

	@media @md-breakpoint {
		#moments-make-a-difference & {
			padding: 0;
		}
	}
}

.odd .chk_right,
.even .chk_left {
	padding: 60px 15px;
	border-top: 5px solid @rnr-red;

	@media @md-breakpoint {
		padding: 30px;
	}

	.humana_accent {
		border-top: 5px solid #5d9b42;
	}
}

.checkerboard {
	color: #fff;
	background-color: #3c3c3c;
	max-width: 640px;
	margin: auto;

	@media @md-breakpoint {
		max-width: none;
	}

	&_row {
		margin: auto;

		@media @md-breakpoint {
			overflow: hidden;
			max-width: none;
		}

		h3 {
			font-family: 'Futura Std Bold';
			font-size: 24px;
			line-height: 1;
			margin: 0 0 30px 0;
			padding: 0 0 30px 0;
			text-align: center;
			border-bottom: 1px solid #999;

			@media @md-breakpoint {
				padding-bottom: 15px;
				margin-bottom: 15px;
			}
		}
		&.odd {
			.chk_left {
				text-align: center;
			}
		}
		&.even {
			.chk_right {
				text-align: center;
			}
		}
	}
	a {
		color: #fff;
	}
}

.moments_grid_2 {

	@media @lg-breakpoint {
		// margin: 0 auto;
		padding: 0;

		figure {
			float: left;
			margin: 0 30px 30px 0;
			width: 40%;
		}
	}

	.column {
		margin-bottom: 60px;
	}
}

@media @md-breakpoint {
	.chk_left {
		float: left;
		width: 50%;
	}
	.chk_right {
		float: right;
		width: 50%;
	}
}
