/* music */
.page-template-music-series-php {
	font-size: 18px;
	font-weight: lighter;
	padding: 0;

	main {
		padding: 0;
	}
	.grid_2_special {

		.column_special h2 {
			padding-bottom: 0;
			border: none;
		}

		@media @md-breakpoint {
			.column_left {
				float: left;
			}
			.column_right {
				float: right;
			}
		}
	}


	h2 {
		font-family: 'Futura Std Bold Condensed';
		font-size: 24px;
		line-height: 1;
		margin-bottom: 30px;
		padding-bottom: 23px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		border-bottom: 1px solid @navborders;
	}


	#music {
		&-panel1,
		&-panel3 {
			padding: 60px 0;

			@media @md-breakpoint {
				padding: 60px 0 0;
			}
		}
		&-panel1,
		&-panel2,
		&-panel3,
		&-panel6 {
			.wrapper {
				padding: 0 15px;
			}
		}
		&-panel2 {
			padding: 60px 0 0;
			background-color: @m-mediumgray;

			@media @md-breakpoint {
				padding: 60px 0 0;

				.wrapper {
					padding: 0 15px;
				}
			}

			.link_group {
				overflow: hidden;
				margin: 0 -15px;

				.link {
					float: left;
					width: 50%;
					padding: 0 15px;
				}
			}
			.mix {
				@media @xs-breakpoint {
					width: 50%;
					margin: 0 0 30px 0;
					padding: 0 15px;

					&_group {
						overflow: hidden;
						margin: 0 -15px;
					}
				}
				@media @md-breakpoint {
					width: calc( 100%/3 );

					margin: 0 0 60px 0;
					padding: 0 30px;

					&_group {
						overflow: hidden;
						margin: 0 -30px;
					}
				}

				.link a {
					display: block;
					width: auto;
					padding: 5px 0;
				}
				h3 {
					margin: 0 0 12px 0;
					padding: 0 0 8px;
					line-height: 1;
					font-size: 26px;
					font-weight: lighter;
					border-bottom: 1px solid @m-mediumgray;
				}
				@media @lg-breakpoint {
					.location,
					.date {
						font-size: 16px;
					}
				}

			}
			.gap {
				@media @xs-breakpoint {
					width: 50%;
				}
				@media @md-breakpoint {
					width: calc( 100%/3 );
				}
			}
		}
		&-panel2 h2,
		&-panel6 h2.center {
			border-bottom: @m-border;
		}
		&-panel3 {
			@media @lg-breakpoint {
				padding: 60px 0 0;
			}
			.iheart {
				display: none;

				@media @md-breakpoint {
					display: block;
					text-align: center;
				}
			}
		}

		&-panel5 {
			padding: 60px 15px;
		}
		&-panel6 {
			padding: 60px 0;
			background-color: @m-mediumgray;

			@media @md-breakpoint {
				padding:60px 0;

				.course-music {
					padding:0 15px;
				}
			}
		}

	}

	.artist_deets_group {
		font-size: 18px;

		@media @lg-breakpoint {
			margin: 0 -15px;
			overflow: hidden;

			div {
				float: left;
				padding: 0 15px;
				width: 50%;
			}
		}
	}

	.past-artists {
		@media @xs-breakpoint {
			overflow: hidden;
		}
		ul {
			margin: 0;
			list-style: none;

			@media @xs-breakpoint {
				margin: 0 -30px;
			}
		}
		li {
			text-align: center;

			@media @xs-breakpoint {
				display: inline-block;
				padding: 0 30px;
				vertical-align: middle;
				width: calc( 100%/3 );
			}
			@media @md-breakpoint {
				width: 25%;
			}
		}
		.no_mobile {
			display: none;

			@media @xs-breakpoint {
				display: inline-block;
			}
		}
	}

	.button {
		&_group {
			margin-bottom: 0;

			li {
				float: left;
				width: 50%;

				a {
					padding: 9px 0;
					display: block;
				}
			}
			&.button_group_center {
				display: table;
				margin: 0 auto;
				width: 100%;
			}
		}
		&_single {
			margin-bottom: 0;
			font-size: 14px;
		}

	}

}

#hero-lower {
	position: relative;
	clear: both;
	height: 600px;
	padding: 0 3%;
	text-align: center;
	text-transform: uppercase;
	color: #fff;

	@media @lg-breakpoint {
		padding: 0;
	}

	h1 {
		font-family: 'Futura Std Bold';
		font-size: 11.25em;
		line-height: 1;
		display: inline-block;
		margin: -40px 0 0 0;
		letter-spacing: -0.04em;
		color: #fff;

		#bigtext {
			width: 100%;
		}
		span {
			&:before {
				right: 0.9em;
				margin-left: -50%;
			}
			&:after {
				left: 0.9em;
				margin-right: -50%;
			}
		}
	}
}
