.banner{
	display: flex;
	flex-wrap: wrap;
	font-family: 'Open Sans', sans-serif;

	&::after {
		clear: both;
		content: '';
		display: block;
	}
	.featured-event {
		padding: 1% 5%;
		text-align: center;

		h2 {
			text-transform: uppercase;
		}
		p {
			text-align: left;
		}
		.date {
			font-weight: bold;
			margin-bottom: 10px;
		}
		.cta {
			background: @mediumgray;
			display: inline-block;
			font-size: 14px;
			padding: 2% 0;
			width: 30%;

			&.register {
				background: @rnr-red;
			}
		}
		&-image {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;

			img {
				display: block;
				visibility: hidden;
			}

		}
	}
	#tourpass-box {
		background-color: @darkgray;
		color: #fff;
		font-family: 'Futura Std Medium';
		font-size: 20px;
		padding: 25px 35px 0;
		text-transform: uppercase;
		width: 100%;

		.cta{
			display: block;
			font-size: 40px;
			line-height: 62px;
		}
	}

	@media @xs-breakpoint {
		flex-wrap: nowrap;

		#tourpass-box {
			width: auto;
		}
	}

	@media @md-breakpoint {
		.banner-column,
		#tourpass-box {
			float: left;
			width: calc(100%/3);
		}
	}
}

