.drawer {
	&__close {
		border: 2px solid @lightgray;
		border-radius: 5px;
		color: @lightgray;
		cursor: pointer;
		height: 30px;
		position: absolute;
		right: 10px;
		top: 10px;
		opacity: 0.3;
		width: 30px;

		&:hover {
			opacity: 1;
		}

		&::before {
			content: '\e809';
			display: block;
			font-family: 'fontello';
			font-size: 24px;
			line-height: 24px;
		}
	}

	&__previous {
		left: 5px;

		&::before{
			content: '\e80e';
		}
	}

	&__next {
		right: 5px;

		&::before{
			content: '\e80f';
		}
	}

	&__previous,
	&__next {
		color: @navborders;
		cursor: pointer;
		width: 45px;
		height: 45px;
		position: absolute;
		top: 20%;

		&::before {
			font-family: 'fontello';
			display:block;
			font-size: 45px;
			line-height: 45px;
		}
	}

	@media @xs-breakpoint {

		&__close {
			height: 45px;
			right: 43px;
			top: 35px;
			width: 45px;

			&::before{
				font-size: 39px;
				line-height: 39px;
			}
		}
		&__previous,
		&__next {
			margin-top: -10px;
			top: 50%;
		}
	}

}
