body{
	overflow-y: scroll;
}

header{

	#header-copy{
		font-size: 32px;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		text-transform: uppercase;
		max-width: 800px;
		margin: auto;
	}

	#logo {
		text-align: center;
	}
}

//generated with http://www.cssportal.com/css-ribbon-generator/
.ribbon {
	height: 75px;
	overflow: hidden;
	position: absolute;
	right: -5px; top: -5px;
	text-align: right;
	width: 75px;
	z-index: 1;

	.text {
		background: #333;
		box shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
		color: #fff;
		display: block;
		font-size: 14px;
		font-weight: bold;
		line-height: 20px;
		position: absolute;
		text-transform: uppercase;
		text-align: center;
		transform: rotate(45deg);
		top: 19px;
		right: -21px;
		width: 100px;
	}
	.text::before {
		border-bottom: 3px solid transparent;
		border-left: 3px solid #333;
		border-right: 3px solid transparent;
		border-top: 3px solid #333;
		content: '';
		left: 0px;
		position: absolute;
		top: 100%;
		z-index: -1;
	}
	.text::after {
		border-bottom: 3px solid transparent;
		border-left: 3px solid transparent;
		border-right: 3px solid #333;
		border-top: 3px solid #333;
		content: '';
		position: absolute;
		right: 0px;
		top: 100%;
		z-index: -1;
	}
}
