#findrace{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;

	h2 {
		border: none;
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 0;
		padding-bottom: 0;
		text-transform: none;
	}
	/* EVENT CONTROLS */
	.controls {
		margin-bottom: 10px;
		width: 100%;

		button {
			color: @darkgray;
			border-color: @darkgray;

			&.active {
				background-color: @darkgray;
				color: #cfcfcf;
			}
		}

		label:last-of-type {
			margin: inherit;
		}
	}
	#sort {
		//float: right;
	}
	.mix {
		background-color: transparent;
		margin-bottom: 15px;
		padding: 0;
		a,
		a:hover{
			color: #fff;
		}
		&:first-child .drawer-previous,
		&.last-visible .drawer-next{
			display: none;
		}
	}
	.current-gridItem {
		.event-box {
			background-color: @darkgray;
			color: #fff;

			h2 {
				color: #fff;
			}

			.race-type-box {
				border-color: #fff;
			}

			&::after {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				border-left: 34px solid transparent;
				border-right: 34px solid transparent;
				border-top: 20px solid @navborders;
				margin-left: 50%;
				bottom: -40px;
				z-index: 999;
				left: -26px;
			}
		}
	}

	.event-box {
		background-color: #fff;
		padding: 30px 15px 15px 15px;
		position: relative;
	}
	/* ENTRIES STYLING */
	.event-entries {
		.race-type-box {
			border: 1px solid @darkgray;
			display: inline-block;
			font-size: 12px;
			margin: 0 2px;
			padding: 4px;
		}
		.race-types {
			font-family: 'Futura Std Bold Condensed';
			margin-bottom: 10px;
			text-transform: uppercase;
		}
		.date {
			padding-bottom: 5px;
		}
		// ie >= 10 which support flexbox
		_:-ms-input-placeholder, :root &{
			display: -ms-flexbox;
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}
	.event.active {
		background-color: @darkgray;
		color: #fff;

		h2 {
			color: #fff;
		}
		.race-type-box {
			border-color: #fff;
		}
	}
	.drawer {
		background-color: #fff;
		display: none;
		font-size: 16px;
		margin-bottom: 10px;
		margin-top: 20px;
		overflow: hidden;
		padding: 35px 15px 15px;
		position: relative;
		z-index: 9999;

		&::after {
			clear: both;
			content: '';
			display: block;
		}
		h2 {
			color:@rnr-red;
			font-size: 2em;
			text-transform: uppercase;
		}
		a:last-child {
			margin-left: auto;
		}
		&__header {
			margin-bottom: 25px;
			text-align: center;

			&::after {
				clear: both;
				content: '';
				display: block;
			}
		}
		li {
			padding-left: 20px;
		}

		.date {
			color: @lightgray;
			font-family: 'Futura Std Medium Condensed';
			font-size: 2em;
			text-transform: uppercase;
		}
		ul.race-prices {
			margin-bottom: 20px;

			&::after {
				content: '';
				clear: both;
				display: block;
			}
			li {
				float: left;
				width: 50%;
			}
		}
		.cta.register {
			max-width: 315px;
			width: 50%;
		}
		#counter {
			float: right;
			width: 45%;
			td {
				border-width: 0 1px 0 0;
				&:last-child {
					border-right: solid transparent;
				}
			}
		}
		#info-tabs {
			margin-bottom: 25px;
			text-align: left;
		}
		.drawer-panel-2 {
			text-align: left;
		}
	}
	#race-info,
	#participants-perks,
	#stjude-perks {
		border-bottom: 1px solid @navborders;
		margin-bottom: 25px;
		padding-bottom: 30px;

		ul {
			list-style: none;

			li {
				position: relative;

				&:before {
					color: @rnr-red;
					content: '\e806';
					font-family: 'fontello';
					left: 0;
					position: absolute;
					top: 0;
				}
			}
		}
	}
	/* TABS */
	.tp-tabs {

		.ui-tabs-nav {
			border-bottom: 1px solid @navborders;
			margin: 0 0 30px 0;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;

			li {
				border-right: 1px solid @navborders;
				border-top: 1px solid @navborders;
				display: inline-block;
				margin: 0 0 -1px 0;
				padding-left: 0;

				&:first-child {
					border-left: 1px solid @navborders;
				}
				a {
					display: block;
					background-color: #333;
					color: #fff;
					font-size: 0.8em;
					padding: 10px;
				}
				&.ui-state-active a {
					background-color: #fff;
					color: #333;
				}
			}
		}
	}
	//overriden owl pagination
	.owl-page span {
		width: 12px;
	}

	@media @xs-breakpoint {
		.drawer {
			padding: 25px 110px 10px 70px;

			h2 {
				float: left;
			}
			.date {
				float: right;
			}
			#counter {
				width: 40%;
			}
		}

		.tp-tabs .ui-tabs-nav li a {
			font-size: 1em;
			padding: 10px 20px;
		}
	}

	@media @md-breakpoint {

		.mix,
		.gap {
			width: 250px;
		}
		.controls {
			text-align: left;
		}
		#sort {
			float: right;
		}
		.drawer {
			h2 {
				font-size: 3em;
			}
			.date {
				font-size: 3em;
			}
			#info-tabs {
				float: left;
				width: 54%;
			}
			.drawer-panel-2 {
				float: left;
				margin-left: 40px;
				width: 41%;
			}
		}
	}
}

