.grd-countdown {
	margin-bottom: 30px;

	&-alert {
		font-size: 24px;
		font-weight: 700;
		// margin-bottom: 30px;
		color: @primary-color;

		@media @md-breakpoint {
			font-size: 29px;
		}

		&-fr {
			margin-top: 10px;
		}
	}
	&-table {
		margin: auto;

		@media @md-breakpoint {
			width: 75%;
		}

		td {
			font-family: @secondary-font;
			padding: 0 15px;
			line-height: 1;
			border: 0;
			text-align: center;

			.grd-countdown-sticky & {
				padding: 0 5px;
				vertical-align: middle;
			}
			@media @md-breakpoint {
				.grd-filterbar__desktop & {
					padding: 0 10px;
				}
			}

		}

		&-val {
			font-size: 32px;
			color: @sale-color;
			font-weight: bold;

			.grd-marquee & {
				font-size: 52px;

				@media @md-breakpoint {
					color: @sale-color;
				}
			}
		}
		&-label {
			font-size: 12px;
			text-transform: uppercase;
			color: @darkgray;

			.grd-marquee & {
				font-size: 16px;

				@media @md-breakpoint {
					color: @darkgray;
				}
			}
		}
	}


	&-sticky {
		max-height: 0;
		overflow: hidden;
		transition: @slow-transition;
		position: fixed;
		top: 0;
		z-index: 100;
		background-color: @primary-color;
		width: 100%;
		display: flex;
		align-items: center;
		padding: 0 10px;
		color: @white;
		text-transform: uppercase;
		text-align: center;
		justify-content: center;

		@media @fat-adminbar-breakpoint {
			.admin-bar & {
				top: 46px;
			}
		}
		@media @slim-adminbar-breakpoint {
			.admin-bar & {
				top: 32px;
			}
		}

		@media @md-breakpoint {
			display: none;
		}

		&--fixed {
			max-height: 1000px;
			padding: 5px 10px 10px;
		}
		&-alert {
			padding-right: 15px;
			font-size: 13px;
			font-weight: bold;

			@media @md-breakpoint {
				&-fr {
					margin: 5px 0;
				}
				.grd-filterbar-item-countdown & {
					padding: 0;
					text-transform: uppercase;
					color: @darkgray;
					// font-family: @main-font;
				}
			}

		}
		table {
			margin: 0;

			div {
				display: block;
				vertical-align: middle;
			}
		}
		.grd-countdown-table {
			&-val {
				color: @white;
			}
			&-label {
				color: @white;
			}
		}

	}

}
