.grd-sg {
	margin-bottom: 24px;

	@media @sm-breakpoint {
		order: 2;
		margin-bottom: 0;
	}

	#grd-sg__inline& {
		padding: 40px 24px;
	}

	&-intro,
	&__inline-intro {
		margin-bottom: 10px;
		text-transform: uppercase;
		font-size: 16px;
	}
	&-datacap,
	&__inline-datacap {
		display: flex;
		justify-content: center;
		margin-bottom: 5px;
	}
	&-email,
	&__inline-email {
		color: @sale-color;
		padding: 5px;
		max-width: 270px;
		border: 1px solid @sale-color;
		background: @white;
		flex-grow: 1;
		font-size: 16px;

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			text-transform: uppercase;
		}
		&::-moz-placeholder { /* Firefox 19+ */
			text-transform: uppercase;
		}
		&:-ms-input-placeholder { /* IE 10+ */
			text-transform: uppercase;
		}
		&:-moz-placeholder { /* Firefox 18- */
			text-transform: uppercase;
		}
	}
	&-submit,
	&__inline-submit {
		border: 0;
		margin-left: 10px;
		.button_font();
		.button_gradient( #ee1c24, #d61920 );

		&:hover {
			.button_gradient( #d61920, #c0161d );
		}
	}
	&-msg,
	&__inline-msg {
		font-size: 13px;
		font-style: italic;
		margin-bottom: 10px;
	}
	&-success,
	&__inline-success {
		font-size: 16px;
	}
}

.fancybox-slide--iframe .fancybox-content {
	width: 800px;
	height: 600px;
	max-width: 80%;
	max-height: 80%;
	margin: 0;
}
