// Variables
@sale-color: #D21B24;

@primary-color: #247AA0;
@primary-color-shade: darken( #247AA0, 5% );
@secondary-color: #E9F3FA;

@darkgray: #424343;
@bgsepia: #f9fae8;

@slow-transition: all .50s ease;

// Font
@main-font: 'Fredericka the Great', cursive;
@secondary-font: 'Montserrat', sans-serif;
