header nav {
	@media @md-breakpoint {
		width: 78.75%;
	}
}

#getgoing {
	display: none;
}

.grd {
	main.no-hero& {
		/* @media @md-breakpoint {
			overflow: visible;
		} */

		.wrapper {
			padding: 0;

			section {
				padding: 0;
			}
		}
	}
	@media @sm-breakpoint {
		&_mobile {
			display: none !important;

		}
	}

	&_tablet {
		display: none;

		@media @sm-breakpoint {
			display: block;
		}
	}
	&_desktop {
		display: none;

		@media @md-breakpoint {
			display: block;
		}
		&_no {
			@media @md-breakpoint {
				display: none;
			}
		}
	}
	&-marquee {
		position: relative;
		text-align: center;
		color: @primary-color;
		background: url( ../../img/grd/bg-wp-2017.jpg ) no-repeat @white;

		@media @sm-breakpoint {
			font-size: 0;
			overflow: hidden;
			display: flex;
			align-items: stretch;
			margin-bottom: 30px;
		}

		&-white {
			padding: 40px 10px 0px;

			&-group {
				&__img {
					display: none;
				}

				@media @xxs-breakpoint {
					display: flex;
					flex-wrap: nowrap;
					margin: 0 -5px;
					align-items: center;

					&__txt {
						width: 75%;
						padding: 0 5px;
					}
					&__img {
						width: 25%;
						display: block;
						padding: 0 5px;
					}
				}

			}


			.kicker,
			.subhead {
				overflow: hidden;
				font-size: 18px;
				text-transform: uppercase;
				text-align: center;
				line-height: 1.2;
				font-family: @main-font;
				color: @primary-color;
				margin-bottom: 10px;
				font-weight: 200;

				@media @md-breakpoint {
					font-size: 24px;
				}

				&-info1 {
					font-family: 'Arial', sans-serif;
					font-size: 16px;
					font-weight: bold;

					@media @xs-breakpoint {
						font-size: 22px;
					}
					@media @sm-breakpoint {
						font-size: 16px;
					}
					@media @lg-breakpoint {
						font-size: 22px;
					}
				}
				/* &-info2 {
					color: @sale-color;
				} */

				&-info2,
				&-info4 {

					&:before,
					&:after {
						background-color: @primary-color;
						position: relative;
						display: inline-block;
						width: 50%;
						height: 1px;
						margin-bottom: 6px;
						content: '';
						vertical-align: middle;
					}
					&:before {
						right: .5em;
						margin-left: -50%;
					}
					&:after {
						left: .5em;
						margin-right: -50%;
					}
				}
				&-info4 {
					text-transform: lowercase;
				}
			}

			h1 {
				text-transform: uppercase;
				text-align: center;
				font-family: @main-font;
				color: @primary-color;
				margin-bottom: 0;
				font-weight: 200;
				line-height: .85;

				img {
					width: 50px;
				}
				div {
					display: flex;
					justify-content: center;
				}
			}

			@media @sm-breakpoint {
				width: 50%;
				display: inline-block;
				font-size: 18px;
				vertical-align: top;
			}

			&__info {
				font-size: 16px;

				@media @md-breakpoint {
					width: 75%;
				}

				strong {
					color: @sale-color;
					font-size: 18px;
				}
			}
		}
		&-red {
			font-family: @secondary-font;
			padding: 0 10px;
			text-transform: uppercase;

			@media @sm-breakpoint {
				display: flex;
				width: 50%;
				padding: 50px 10px;
				align-content: center;
				vertical-align: top;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;

				/* &_arrow {
					width: 50%;
					transform: rotate(90deg);
					position: absolute;
					left: 25%;
					top: 50%;

					&:before,
					&:after {
						content: '';
						position: absolute;
						height: 30px;
						width: 50%;
						top: -30px;
						background: url( ../../img/grd/bg-2017.jpg ) repeat @white;
					}
					&:before {
						left: -15px;
						transform: skew(45deg);
					}
					&:after {
						right: -15px;
						transform: skew(-45deg);
					}
				} */
			}

			&__upsell {
				font-size: 24px;
				font-weight: 800;
				line-height: 1.2;
				font-family: @main-font;
				padding: 40px 0;

				@media @md-breakpoint {
					text-align: left;
					padding: 40px;
				}
			}
		}
	}

	@media @sm-breakpoint {
		&-countdown {
			order: 1;
			width: 100%;
			margin-bottom: 30px;
		}
	}


	&-cards {
		position: relative;

		/* &:before {
			left: -15px;
			transform: skew(45deg);
		}
		&:after {
			right: -15px;
			transform: skew(-45deg);
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			height: 30px;
			width: 50%;
			top: -30px;
			background: @white;

			@media @sm-breakpoint {
				content: initial;
			}
		} */

		@media @md-breakpoint {
			&--fixed {
				padding-top: 95px;
			}
		}

	}
	&-youtube {
		position: relative;

		.icon-youtube-play {
			font-size: 72px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate( -50%, -50% );
			opacity: .75;
		}
	}

}


.icon-play {
	display: inline-block;
	transition: @transition;
	transform: rotate(90deg);

	&.rotate {
		transform: rotate(-90deg);
	}
}
.owl {
	&-item {
		&.loading {
			min-height: 100px;
		}
	}
}
.fancybox-slide--video .fancybox-content {
	width: 800px;
	max-width: 80%;
	height: 600px;
	max-height: 80%;
	margin: 0;
}

footer {
	padding-bottom: 65px;

	@media @md-breakpoint {
		padding-bottom: 0;
	}
}
