	.grid_3_special {
		.column_special,
		.vr_full_column {
			text-align: center;

			h3 {
				color: @vr-gray;
				margin-bottom: 10px;
			}
		}
		.vr_full_column {
			margin-bottom: 30px;
			overflow: hidden;
			text-align: left;

			@media @xs-breakpoint {
				padding: 0 15px;
			}
			@media @sm-breakpoint {
				font-size: 16px;
				text-align: left;
			}
			@media @md-breakpoint {
				margin-bottom: 60px;
				padding: 0 30px;
			}
		}
	}
	.grid_4_special {
		.column_special {
			text-align: center;
		}
	}

	#phase-tabs {
		display: none;

		ul {
			border-bottom: 1px solid @vr-red;
			margin: 0 -5px 30px -5px;

			li {
				list-style: none;
				margin-bottom: -1px;
				padding: 0 5px;
				text-align: center;

				@media @xs-breakpoint {
					display: inline-block;
					width: calc( 100%/3 );
				}

				a {
					background-color: @rnr-redshadow;
					border-left: 1px solid @rnr-red;
					border-right: 1px solid @rnr-red;
					border-top: 1px solid @rnr-red;
					color: #fff;
					display: block;
					padding: 5px 0;
					transition: @transition;

					&.vr_inactive {
						background-color: @vr-graybg;
						border-color: @vr-gray;
						color: @vr-gray;
					}
				}
				&.ui-tabs-active a {
					background-color: #fff;
					color: @rnr-redshadow;

					&.vr_inactive {
						border-color: @vr-gray;
						color: @vr-gray;
					}
				}
				&.ui-state-hover a {
					background-color: @rnr-red;
					color: #fff;

					&.vr_inactive {
						border-color: @vr-gray;
						color: #fff;
					}
				}
				div {
					font-family: 'Futura Std Bold Condensed';
				}
				span {
					font-size: 13px;
				}
			}
		}

		.ui-tabs-panel {
			overflow: hidden;

			figcaption {
				color: #959595;
				font-size: 13px;
			}
		}

	}
	.vr_grid_3 {
		.winner_type {
			font-size: 16px;
			text-align: center;
		}

		@media @xs-breakpoint {
			.vr_column {
				margin: 0 -15px;
			}
			figure {
				display: inline-block;
				padding: 0 15px;
				width: calc( 100%/3 );
			}
		}
	}

	#phase-bonus {
		background-color: @vr-graybg;
		padding: 0 30px 0;

		.vr_triangle_down {
			border-color: #fff transparent transparent transparent;
			border-style: solid;
			border-width: 20px 20px 0 20px;
			height: 0;
			margin: 0 auto 15px auto;
			width: 0;
		}
	}
	.vr_light_description {
		color: @vr-gray;
		font-size: 16px;
		margin-bottom: 5px;
		text-align: center;
	}
	.vr_text_intro {
		margin-bottom: 60px;
	}
	.fancybox-lock body {
		position: fixed;
		height: 100%;
		width: 100%;
	}

	.fancybox-medals-wrap {
		h2 {
			border-bottom: 1px solid @navborders;
			color: #fff;
			font-family: 'Futura Std Bold Condensed', sans-serif;
			margin-bottom: 30px;
			padding-bottom: 23px;
			text-transform: uppercase;
		}
		h3,
		p {
			color: #fff;
			text-transform: uppercase;
		}
		.vr_gap {
			margin-bottom: 24px;
		}
	}
