.page {
	color: @vr-dkgray;
}

h2 {
	font-size: 36px;
	letter-spacing: inherit;
}
h3 {
	font-family: 'Futura Std Heavy';
	font-size: 26px;
}
h4 {
	font-size: 22px;
	margin-bottom: 15px;
}
.vr_upper {
	text-transform: uppercase;
}
