.narrow-hero {
	color: @vr-dkgray;
	padding: 20px 0 150px;
	text-align: center;

	.wrapper {
		// padding: 0 15px;
	}

	h3 {
		border: none;
		display: block;
		color: @vr-black;
		font-family: 'Futura Std Bold';
		font-size: 44px;
		font-weight: 700;
		letter-spacing: -0.05em;
		line-height: 1;
		margin: 15px 0 30px;
		text-align: center;
		text-transform: uppercase;
	}
	h4 {
		color: @vr-black;
		font-family: 'Futura Std Bold Condensed', arial;
		font-size: 41px;
		margin-bottom: 5px;
	}
	.styled-hero-text {
		font-family: 'Futura Std Medium', arial;
		font-size: 17px;
	}


	.hr {
		background-color: @vr-black;
		height: 1px;
		left: 50px;
		margin: 0 auto 10px;
		width: 150px;
	}

	@media @xxs-breakpoint {
		padding-bottom: 200px;
	}

	@media @xs-breakpoint {
		padding-bottom: 400px;

		.copy {
			display: flex;
			justify-content: center;
			margin: 0 auto;
			width: 90%;

			h4 {
				margin: 0;
			}

		}
		.hr {
			display: none;
		}
		.styled-hero-text {
			border-left: 1px solid @vr-black;
			font-size: 23px;
			margin-left: 15px;
			padding-left: 20px;
			text-align: left !important;
			width: 170px;
		}

	}
	/*  720px -- Tablets (portrait) */
	@media @sm-breakpoint {
		.copy {
			h3 {
				font-size: 55px;
				line-height: 57px;
			}

			h4 {
				font-size: 52px;
				line-height: 52px;
			}
		}
		.styled-hero-text {
			font-size: 28px;
			width: 210px;
		}
	}
}

