/**
 * Mobile Navigation
 */
nav#secondary {

	@media @md-breakpoint {
		display: none;
	}
	ul {
		li.vr_stayinformed {
			border-bottom: 1px solid @navborders;

			span {
				color: #a3a3a3;
				display: block;
				padding: 10px 0 0;
			}
			p {
				color: #a3a3a3;
				font-size: 18px;
				margin-bottom: 0;
			}
		}
	}
	ul.vr_subnav {
		border-top: none;
		max-height: inherit;

		li {
			display: inline-block;
			width: calc(100%/3);

			a {
				border-bottom: 1px solid @navborders;
				border-left: 1px solid @navborders;
				color: #a3a3a3;
				display: block;
				font-size: 19px;
				padding: 10px 0;
				text-transform: uppercase;

				&:hover {
					color: @rnr-red;
				}
			}
			&:first-child a {
				border-left: none;
			}
		}
	}
	.sg-body {
		background: #fff;
	}
	.sg-header,
	label {
		display: none;
	}
	.sg-content,
	.sg-question-options {
		padding: 0;
	}
	.sg-question input[type='email'] {
		width: 80%;
	}
	.sg-survey {
		.sg-mobile-optimized .sg-footer {
			background: transparent;
			box-shadow: none;
			padding: 0;
			position: static;
		}
		.sg-button {
			float: none;
			font-family: 'Futura Std Bold Condensed', sans-serif;
			font-size: 16px;
			text-transform: uppercase;
		}
	}
}

/**
 * Sticky Scroll navigation on desktop
 */
@media @md-breakpoint {
	main .grid_2.offset240left .column:first-child {
		li {
			font-family: 'Futura Std Bold Condensed',sans-serif;
			text-transform: uppercase;

		}
		ul.vr_subnav {
			margin: 0 0 0 30px;

			li {
				font-family: 'Arial', sans-serif;
				text-transform: initial;
			}
		}
	}

}

.sidenav {
	/* .stickit {
		top: 50px;
	} */
	.subscribe {
		.sg-body {
			background: #fff;
		}
		.sg-header,
		label {
			display: none;
		}
		.sg-content,
		.sg-question-options {
			padding: 0;
		}
		.sg-question input[type='text'] {
			width: 100%;
		}
		.sg-survey .sg-button {
			font-family: 'Futura Std Bold Condensed', sans-serif;
			font-size: 16px;
			text-transform: uppercase;
		}
		h4 {
			font-family: 'Futura Std Bold Condensed',sans-serif;
			font-size: 22px;
			text-transform: uppercase;
		}
		p {
			font-size: 16px;
			color: @vr-gray;
		}
	}

}

