#ribbon {
	background-color: @vr-graybg;

	div {
		color: @vr-gray;
	}
	.youtube a,
	.twitter a,
	.facebook a,
	.instagram a,
	.pinterest a {
		background: #fff;
		color: @vr-gray;

		&:hover {
			background: @rnr-red;
			color: #fff;
		}
	}
}

