.market-virtual-run.page {
	color: @vr-dkgray;

	@media @xs-breakpoint {
		.virtual-run-logo {
			width: 80%;
		}
	}

	h2 {
		font-size: 36px;
		letter-spacing: inherit;
	}
	h3 {
		font-family: 'Futura Std Heavy';
		font-size: 26px;
	}
	h4 {
		font-size: 22px;
		margin-bottom: 15px;
	}
	.vr_upper {
		text-transform: uppercase;
	}
	.virtual-run {
		padding: 60px 0 0;
	}
	.narrow-hero {
		color: @vr-dkgray;
		padding: 60px 0;
		text-align: center;

		.wrapper {
			padding: 0 15px;

			@media @md-breakpoint {
				.copy {
					text-align: left;
					width: 60%;
				}
			}
			h3 {
				border: none;
				color: @vr-black;
				display: block;
				font-family: 'Futura Std Bold';
				font-size: 38px;
				font-weight: 700;
				margin: 15px 0 30px;
				letter-spacing: -0.05em;
				line-height: 1;
				text-align: center;
				text-transform: uppercase;

				@media @md-breakpoint {
					font-size: 46px;
					text-align: left;
				}
			}
			p {
				font-size: 24px;
				font-weight: bold;
				line-height: 1.2;
				text-align: left;
				text-transform: uppercase;

				@media @md-breakpoint {
					font-size: 28px;
				}
			}
			.explore_link {
				display: inline-block;
				font-weight: bold;
				text-align: center;

				&__txt {
					display: block;
					font-size: 14px;
					margin-bottom: 5px;
				}
				&__arrow {
					background-color: @rnr-red;
					border-radius: 20px;
					color: #fff;
					height: 40px;
					margin: auto;
					padding-top: 10px;
					width: 40px;
				}
			}
		}
	}

	#ribbon {
		background-color: @vr-graybg;

		div {
			color: #fff;
		}
		.youtube a,
		.twitter a,
		.facebook a,
		.instagram a,
		.pinterest a {
			background: #fff;
			color: @vr-graybg;

			&:hover {
				background: @rnr-red;
				color: #fff;
			}
		}
	}

	nav#secondary {

		@media @md-breakpoint {
			display: none;
		}
		ul {
			li.vr_stayinformed {
				border-bottom: 1px solid @navborders;

				span {
					color: #a3a3a3;
					display: block;
					padding: 10px 0 0;
				}
				p {
					color: #a3a3a3;
					font-size: 18px;
					margin-bottom: 0;
				}
			}
		}
		ul.vr_subnav {
			border-top: none;
			max-height: inherit;

			li {
				display: inline-block;
				width: calc(100%/3);

				a {
					color: #a3a3a3;
					border-bottom: 1px solid @navborders;
					border-left: 1px solid @navborders;
					display: block;
					font-size: 19px;
					padding: 10px 0;
					text-transform: uppercase;

					&:hover {
						color: @rnr-red;
					}
				}
				&:first-child a {
					border-left: none;
				}
			}
		}
		.sg-body {
			background: #fff;
		}
		.sg-header,
		label {
			display: none;
		}
		.sg-content,
		.sg-question-options {
			padding: 0;
		}
		.sg-question input[type='email'] {
			width: 80%;
		}
		.sg-survey {
			.sg-mobile-optimized .sg-footer {
				background: transparent;
				box-shadow: none;
				padding: 0;
				position: static;
			}
			.sg-button {
				float: none;
				font-family: 'Futura Std Bold Condensed', sans-serif;
				font-size: 16px;
				text-transform: uppercase;
			}
		}
	}

	@media @md-breakpoint {
		main .grid_2.offset240left .column:first-child {
			li {
				font-family: 'Futura Std Bold Condensed',sans-serif;
				text-transform: uppercase;

				a {
					font-size: 16px;
				}
			}
			ul.vr_subnav {
				margin: 0 0 0 30px;

				li {
					font-family: 'Arial', sans-serif;
					text-transform: initial;
				}
			}
		}
		.sidenav {
			/* &.stickit {
				top: 50px;
			} */
			.subscribe {
				.sg-body {
					background: #fff;
				}
				.sg-header,
				label {
					display: none;
				}
				.sg-content,
				.sg-question-options {
					padding: 0;
				}
				.sg-question input[type='text'] {
					width: 100%;
				}
				.sg-survey .sg-button {
					font-family: 'Futura Std Bold Condensed', sans-serif;
					font-size: 16px;
					text-transform: uppercase;
				}
				h4 {
					font-family: 'Futura Std Bold Condensed',sans-serif;
					font-size: 22px;
					text-transform: uppercase;
				}
				p {
					color: @vr-gray;
					font-size: 16px;
				}
			}


		}


	}

	.grid_3_special {
		.column_special,
		.vr_full_column {
			text-align: center;

			h3 {
				color: @vr-gray;
				margin-bottom: 10px;
			}
		}
		.vr_full_column {
			margin-bottom: 30px;
			overflow: hidden;
			text-align: left;

			@media @xs-breakpoint {
				padding: 0 15px;
			}
			@media @sm-breakpoint {
				font-size: 16px;
				text-align: left;
			}
			@media @md-breakpoint {
				margin-bottom: 60px;
				padding: 0 30px;
			}
		}
	}
	.grid_4_special {
		.column_special {
			text-align: center;
		}
	}

	#phase-tabs {
		display: none;

		ul {
			border-bottom: 1px solid @vr-gray;
			margin: 0 -5px 30px -5px;

			li {
				list-style: none;
				margin-bottom: -1px;
				padding: 0 5px;
				text-align: center;

				@media @xs-breakpoint {
					display: inline-block;
					width: calc( 100%/3 );
				}

				a {
					background-color: @rnr-redshadow;
					border-left: 1px solid @rnr-red;
					border-right: 1px solid @rnr-red;
					border-top: 1px solid @rnr-red;
					color: #fff;
					display: block;
					padding: 5px 0;
					transition: @transition;

					&.vr_inactive {
						background-color: @vr-graybg;
						border-color: @vr-gray;
						color: @vr-gray;
					}
				}
				&.ui-tabs-active a {
					background-color: #fff;
					color: @rnr-redshadow;

					&.vr_inactive {
						border-color: @vr-gray;
						color: @vr-gray;
					}
				}
				&.ui-state-hover a {
					background-color: @rnr-red;
					color: #fff;

					&.vr_inactive {
						border-color: @vr-gray;
						color: #fff;
					}
				}
				div {
					font-family: 'Futura Std Bold Condensed';
				}
				span {
					font-size: 13px;
				}
			}
		}

		.ui-tabs-panel {
			overflow: hidden;

			figcaption {
				color: #959595;
				font-size: 13px;
			}
		}

	}
	.vr_grid_3 {
		.winner_type {
			font-size: 16px;
			text-align: center;
		}

		@media @xs-breakpoint {
			.vr_column {
				margin: 0 -15px;
			}
			figure {
				display: inline-block;
				padding: 0 15px;
				width: calc( 100%/3 );
			}
		}
	}

	#phase-bonus {
		background-color: @vr-graybg;
		padding: 0 30px 0;

		.vr_triangle_down {
			border-color: #fff transparent transparent transparent;
			border-style: solid;
			border-width: 20px 20px 0 20px;
			height: 0;
			margin: 0 auto 15px auto;
			width: 0;
		}
	}
	.vr_light_description {
		color: @vr-gray;
		font-size: 16px;
		margin-bottom: 5px;
		text-align: center;
	}
	.vr_text_intro {
		margin-bottom: 60px;
	}
	.fancybox-lock body {
		height: 100%;
		position: fixed;
		width: 100%;
	}

	.fancybox-medals-wrap {
		h2 {
			border-bottom: 1px solid @navborders;
			color: #fff;
			font-family: 'Futura Std Bold Condensed', sans-serif;
			margin-bottom: 30px;
			padding-bottom: 23px;
			text-transform: uppercase;
		}
		h3,
		p {
			color: #fff;
			text-transform: uppercase;
		}
		.vr_gap {
			margin-bottom: 24px;
		}
	}
}
