// Vendor Styles
// ------------------------------------
// @import "amp/bootstrap.less";
// @import "vendor/wordpress.less";
@import "../normalize.less";
@import "../boilerplate.less";


// Global Modules
// ------------------------------------
@import "../variables.less";
// @import "../style.less";
@import "320up.less";
// @import "modules/global.less";
// @import "modules/adverts.less";
// @import "modules/buttons.less";
// @import "modules/content.less";


// Global Elements
// ------------------------------------
// @import "amp/header.less";
// @import "amp/navigation.less";
// @import "modules/articles.less";
// @import "modules/recommended-widget.less";
// @import "modules/velopress.less";
// @import "modules/related-articles.less";
// @import "modules/sponsorship.less";
// @import "amp/footer.less";


// Pages/Archives
// ------------------------------------
// @import "pages/single.less";


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
	margin: 5px 15px 15px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 15px auto;
}

.alignright {
	float:right;
	margin: 5px 0 15px 15px;
}

.alignleft {
	float: left;
	margin: 5px 15px 15px 0;
}

a img.alignright {
	float: right;
	margin: 5px 0 15px 15px;
}

a img.alignnone {
	margin: 5px 15px 15px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 15px 15px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.aligncenter iframe {
	margin: 0 auto;
}

.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%; /* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 15px 15px 0;
}

.wp-caption.alignleft {
	margin: 5px 15px 15px 0;
}

.wp-caption.alignright {
	margin: 5px 0 15px 15px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

body {
	padding-top: 0;
	&.alert-bar-enabled {
		padding-top: 0;
	}
}

a {
	text-decoration: none;
	color: @rnr-red;
}
a:hover {
	text-decoration: underline;
}

.header {
	.clearfix();

	&__container {
		border-bottom: 2px solid @black;
		padding: 15px;
	}

	&__logo {
		float: left;
		max-width: 50%;

		a {
			display: block;
		}

		img {
			max-height: 30px;
			width: 100%;
		}
	}

	&__logo {
		img {
			height: 25px;
		}
	}
}

// Social Media Navigation
// ---------------------------------
.social-nav {
	.clearfix();

	&__menu {
		float: right;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			float: left;
		}

		a {
			color: #000;
			display: block;
			font-size: 16px;
			line-height: 30px;
			padding: 0 7px;

			&:hover {
				color: @rnr-red;
			}
		}
	}
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.footer {

	&__copyright {

		p {
			color: @darkgray;
			font-size: 10px;
			line-height: 10px;
			margin: 25px 0;
			text-align: center;
		}
	}
}


.article {
	.single &__categories__list {
		padding-left: 0;
	}
}
