.archive,
.blog,
.search {

	.breadcrumb {

		&__menu {
			border-bottom: none;
			margin-bottom: 0;
		}

	}

	.template--blogroll,
	& .template--archive-category.template--blogroll {

		.term-description {

			&__title {
				font-size: 24px;
				margin-bottom: 10px;
				text-transform: uppercase;
			}

		}

		.article {
			border-bottom: 1px solid @darkgray;
			margin-bottom: 20px;
			padding-bottom: 20px;
			overflow: hidden;

			&__thumbnail {
				float: left;
				margin-right: 15px;
				max-width: 150px;
			}

			&__details {
				margin-left: initial;
			}

			&__title {
				margin-top: 0;
				// .limit_lines(3);
			}

			&__excerpt {
				color: @darkgray;
				display: block;
				margin: 5px 0;
				// .limit_lines(2);
			}

		}

	}

}

