// the-tempo-blog class is here to add more weight to the classes and overwrite other styling
.the-tempo-blog .article {
	margin: 10px 0 20px;

	&__permalink {

		 &:hover {
			text-decoration: none;

			.article__title {
				text-decoration: underline;
			}

		}

	}

	&__thumbnail {
		margin: 0 0 5px;
		position: relative;

		figcaption {
			color: @darkgray;
			font-size: 14px;
			margin-top: 10px;
			text-align: right;
		}
		.single & {
			margin-bottom: 20px;
		}
	}

	&__label {
		background-color: @mediumgray;
		color: #fff;
		font-size: 11px;
		// font-weight: bold;
		left: 0;
		padding: 3px 6px;
		position: absolute;
		text-transform: uppercase;
		top: 0;
	}

	&__details {
		margin-left: 45%;

		.single & {
			margin-left: auto;
		}
	}

	&__title {
		border: none;
		font-size: 20px;
		font-weight: 600;
		letter-spacing: initial;
		margin-bottom: 8px;
		padding-bottom: 0;
		text-transform: none;
	}

	&__subheading {
		font-size: 16px;
		font-weight: 300;
		margin: 5px 0;
	}

	&__meta {
		// color: @rnr-red;
		font-size: 14px;

		.category {
			border-left: 1px solid @darkgray;
			margin-left: 5px;
			padding-left: 5px;
			text-transform: uppercase;
		}
	}

	&__content {
		margin: 20px 0;
	}

	&__excerpt {
		display: none;
	}

	&_type_featured {

		&--main {
			border-bottom: 1px solid @darkgray;
			padding-bottom: 20px;
			margin-bottom: 20px;

			.article {
				&__thumbnail {
					margin-bottom: 15px;

					img {
						width: 100%;
					}

					figcaption {
						display: none;
					}

				}

				&__details {
					margin-left: initial;
				}
			}

		}

	}

	&__author-bio {
		background-color: @bg-gray;
		margin-bottom: 30px;
		padding: 10px 15px 0;
		.clearfix();

		&__thumbnail {
			float: left;
			margin: 0 15px 15px 0;

			img {
				border-radius: 100px;
				height: 100px;
				width: 100px;
			}
		}

		&__text {
			font-size: 14px;
			margin-bottom: 10px;

			h3.article__author-bio__name {
				font-size: 16px;
				font-weight: bold;
				margin: 0 0 10px;
			}

			p {
				margin-bottom: 10px;
			}

		}

	}

	@media @sm-breakpoint {
		&_type_featured {
			&--main {
				.article {
					&__thumbnail {
						figcaption {
							display: block;
						}
					}
				}
			}
		}
	}

	@media @md-breakpoint {
		&__title {
			font-size: 24px;
		}

		&_type_related {

			.article__subheading {
				display: none;
			}

		}
	}

	/*
	 * Single Post styling
	 */
	&_type_single {

		.article {

			&__thumbnail {
				margin-bottom: 20px;
			}

			&__title {
				font-size: 22px;
			}

			&__details {
				margin: initial;
				overflow: hidden;
			}

			&__categories {

				h4 {
					font-size: 14px;
				}

				&__list {
					font-size: 15px;
					font-weight: bold;
					line-height: 15px;
					list-style: none;
					margin-bottom: 15px;
					margin-left: 0;
					margin-top: 5px;
					text-transform: uppercase;
				}

				&__item {
					border-right: 1px solid @darkgray;
					display: inline-block;
					margin: 0 5px 10px 0;
					padding-right: 10px;
					&:last-child {
						border: none;
					}
				}

			}

			&__related {
				border-bottom: 1px solid @darkgray;
				border-top: 1px solid @darkgray;
				padding-top: 15px;
				.clearfix();

				&.more-stories > h3 {
					font-size: 18px;
					margin: 0;
				}

				.article {

					&__title {
						font-size: 15px;
						margin-top: 0;
					}

				}

			}

		}

		@media @sm-breakpoint {
			.article {

				&__related {

					.article {

						&_type_related {
							width: calc(100% / 3);

							&:last-child {
								display: block;
							}
						}

						&__thumbnail {
							margin-top: 0;
						}
					}

				}

			}

		}

		@media @md-breakpoint {
			.article {
				&__title {
					margin-right: 160px;
				}
				&_type_related {
					.article__title {
						margin-right: 0;
					}
				}
			}

			.social-widget.social-widget_location_top {
				float: right;
				margin-top: 10px;
				margin-left: 20px;
				/* margin-top: 0;
				position: absolute;
				right: 0;
				top: 0; */
			}


		}

	}

}

