/*
 * Breadcrumb styling
 * Present in both single posts and category pages
 */
.breadcrumb {
	font-size: 14px;
	// font-weight: bold;
	margin-bottom: 20px;
	text-transform: uppercase;

	&__menu {
		border-bottom: 1px solid @darkgray;
		list-style: none;
		margin-bottom: 15px;
		margin-left: 0;
		padding-bottom: 10px;

		&-item {
			display: inline-block;
			margin: 0;

			.icon::before {
				font-size: 20px;
				font-weight: bold;
				width: auto;
			}
		}

	}
}
