/*
 * PA-GI-NA-TIOOOOOON
 */
.content {

	&__footer {
		margin-bottom: 20px;
		position: relative;
		.clearfix();

		&__newer {
			float: right;
			position: relative;
		}

		&__older {
			float: left;
			position: relative;
		}

	}

	&__pagination {
		margin-top: 5px;
		position: absolute;
		text-align: center;
		width: 100%;

		&__menu {
			display: inline-block;
			list-style: none;
			margin: 0 auto;

			& > li {
				display: inline-block;
				margin: 0 5px;
			}
		}

	}

}
