.the-tempo-blog .more-stories {
	border-bottom: 1px solid @darkgray;
	margin-bottom: 20px;

	.article {
		.clearfix();

		&__thumbnail {
			float: left;
			margin-right: 10px;
			max-width: 45%;
		}

	}

	&__wrap {
		display: flex;
		flex-wrap: wrap;
	}

	@media @sm-breakpoint {
		.article {
			float: left;
			padding-right: 20px;
			width: 50%;
			&__thumbnail {
				margin-top: 5px;
				width: 30%;
			}
			&__details {
				margin-left: 32%;
			}
		}
		.clearfix();
		&--latest {
			.article {
				&__thumbnail {
					float: none;
					margin-top: 0;
					margin-right: 0;
					max-width: initial;
					width: auto;
				}
				&__details {
					margin: auto;
				}
			}
		}

	}

}

