header {
	position: fixed;
	transition: @transition;
	width: 100%;
	z-index: 999;

	a {
		color: @darkergray;
	}
	#logo {
		height: 75px;
		transition: @transition;

		img {
			width: 150px;
		}

	}

	.menu-item-has-children {

		> a {
			position: relative;

			&:after {
				border-color: @darkgray transparent transparent transparent;
				border-style: solid;
				border-width: 9px 9px 0 9px;
				content: "\A";
				margin-left: 10px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				transition: @transition;
			}

			&.open {

				&:after {
					border-top-color: @rnr-red;
					transform: rotate(180deg) translateY(50%);
				}
			}

		}

		ul.sub-menu {
			background-color: #ccc;
			border-top: 1px solid @darkgray;
			box-shadow: inset 0 7px 9px -7px @darkergray;
			display: none;
		}

	}

	@media @md-breakpoint {
		position: static;
	}

}

// shrink effects on scroll
.shrink {
	border-bottom-width: 2px;

	#logo {
		height: 65px;
	}

	.hamburger {
		top: -46px;
	}

	.subscribe__label,
	.search-nav__label,
	.hamburger__label {
		opacity: 0;
	}

}

#mini-sub {
	bottom: initial;
	font-size: 30px;
	list-style: none;
	position: absolute;
	right: 17%;
	top: 8px;
	transition: @transition;

	li {
		display: inline-block;
	}

	@media @xxs-breakpoint {
		right: 15%;
	}

	@media @xs-breakpoint {
		right: 13%;
	}

	@media @sm-breakpoint {
		right: 11%;
	}

	@media @md-breakpoint {
		border-left: 1px solid @bg-gray;
		bottom: initial;
		float: right;
		font-size: inherit;
		list-style: none;
		position: relative;
		right: initial;
		top: 50%;

		li {
			font-size: 20px;
			margin: 0 6px;
			padding: 0.75em 0;

			a:hover {
				color: #000;
			}

		}

	}
}

.subscribe {
	position: relative;

	&::after {
		border-color: transparent transparent @darkergray transparent;
		border-style: solid;
		border-width: 9px;
		bottom: -25px;
		content: '';
		display: none;
		position: absolute;
		right: 10px;
		transition: @transition;

		.shrink & {
			bottom: -15px;
		}
	}

	&__label {
		bottom: -12px;
		display: block;
		font-family: @futura-ltcd;
		font-size: 11px;
		opacity: 1;
		position: absolute;
		transition: @transition;
		text-align: center;
		text-transform: uppercase;
		width: 100%;

		@media @md-breakpoint {
			display: none;
		}
	}

	&__wrap {
		display: none;
		margin-top: 24px;
		max-width: 375px;
		min-width: 305px;
		position: absolute;
		right: 0;
		right: 50%;
		transform: translateX(36%);
		transition: @transition;
		width: 100vw;
		z-index: 9999;

		.shrink & {
			margin-top: 14px;
		}

	}

	&.active {

		.subscribe__wrap,
		&::after {
			display: block;
		}

	}

	&-sg {
		background-color: @navborders;
		font-size: 18px;
		padding: 10px 20px;

		label {
			display: block;
		}

		input {
			border: none;
			margin-bottom: 20px;
			padding: 5px;
			width: 100%;

			&:focus {
				outline: @rnr-red solid 2px;
			}
		}

		button {
			.button_font();
			.button_gradient( @rnr-red, #d61920 );
			display: block;
			margin: 0 auto;
		}

		&__msg {
			font-size: 14px;
			display: inline;
			margin: 0 auto;

			&--empty,
			&--failure {
				color: @rnr-red;
			}
			&--success {
				color: green;
			}
		}

	}

	@media @md-breakpoint {
		position: relative;

		&::after {
			bottom: -1px;
			right: 5px;
		}

		&__label {
			display: none;
		}

		&__wrap {
			margin-top: 16px;
			position: absolute;
			right: -7px;
			transform: none;
			transition: none;
			width: auto;
		}

	}

}

.search-nav {
	position: relative;

	&::after {
		border-color: transparent transparent @darkergray transparent;
		border-style: solid;
		border-width: 9px;
		bottom: -25px;
		content: '';
		display: none;
		position: absolute;
		right: 10px;
		transition: @transition;

		.shrink & {
			bottom: -15px;
		}
	}

	&__label {
		bottom: -12px;
		display: block;
		font-family: @futura-ltcd;
		font-size: 11px;
		opacity: 1;
		position: absolute;
		transition: @transition;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
	}

	&__wrap {
		height: 70px;
		margin-top: 24px;
		max-height: 0;
		max-width: 375px;
		min-width: 305px;
		overflow: hidden;
		position: absolute;
		right: 0;
		right: 50%;
		transform: translateX(23%);
		transition: @transition;
		width: 100vw;
		z-index: 9999;

		.shrink & {
			margin-top: 14px;
		}

	}

	.search-form {
		background-color: @navborders;
		font-size: 16px;
		max-width: 375px;
		min-width: 305px;
		padding: 15px;
		position: absolute;
		width: 100vw;

		.search-field {
			-webkit-appearance: none;
			border-radius: 0;
			display: inline-block;
			line-height: 40px;
			padding: 0 8px;
			width: 72%;

			&:focus {
				outline: @rnr-red solid 2px;
			}
		}

	}

	&.active {

		.search-nav__wrap {
			max-height: 70px;
		}

		&::after {
			display: block;
		}

	}

	@media @md-breakpoint {
		position: relative;

		&::after {
			bottom: -1px;
			right: 5px;
		}

		&__label {
			display: none;
		}

		&__wrap {
			margin-top: 16px;
			position: absolute;
			right: -7px;
			transform: none;
			transition: none;
			width: auto;
		}

		.search-form {
			position: static;
			width: 340px;
		}

	}
}

.sidenav {
	display: none;

	ul {
		list-style: none;
	}

	li {
		margin-top: 16px;
		margin-bottom: 15px;
	}

	@media @md-breakpoint {
		display: block;

	}
}

#menu-header-cat-nav {
	background-color: @navborders;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	max-height: 0;
	overflow: hidden;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	transition: @transition;

	ul {
		list-style: none;
		font-size: inherit;
	}

	h4 {
		display: none;
	}

	.menu-item {
		a {
			display: block;
			padding: 12px 12px 12px 25px;
		}
	}

	.menuIsOpen & {
		max-height: 1000px;
	}

}

#global-rnr-menu {

	> ul {
		background-color: #ccc;
		border-top: 1px solid @darkgray;
		box-shadow: inset 0 7px 9px -7px @darkergray;
		font-size: 18px;
		margin: 0;
		padding: 0;

		a {
			background-color: transparent;
		}

		@media @md-breakpoint {
			background-color: inherit;
			border-top: none;
			box-shadow: none;
			font-size: 16px;
		}
	}

}
