#social-widget-top {

	&:not(.social-widget--fixed) {

		.pw-widget {
			margin-bottom: 20px;

			.pw {
				&-button {
					margin-right: 10px;

					&__outer {
						background-color: @bg-gray;
						border-radius: 20px;
						color: #A7A9AB;
						padding: 5px 5px;
					}

					&__inner {
						min-width: initial;
					}

					&-icon {

					}

					&-text {
						display: none;
					}

					&:hover {
						.pw-button__outer {
							color: @rnr-red;
						}
					}

				}

			}

		}

	}

	&.social-widget--fixed {
		background-color: rgba( 0, 0, 0, 0.8 );
		bottom: 0;
		margin-left: -15px;
		padding: 15px;
		position: fixed;
		z-index: 9999;

		.pw {
			&-widget {
				margin-bottom: 0;
			}

			&-button {
				margin-right: 15px;

				&:last-child {
					display: none;
					// margin: 0;
				}
			}
		}

	}

}

