/*
 * Sponsored label styling
 * Present in both single posts and category pages
 */
.content-sponsor {
	display: block;
	margin: 0 auto;
	text-align: center;

	img {
		box-sizing: border-box;
		margin-left: 5px;
		max-height: 50px;
	}

	&__text {
		color: @darkgray;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;

	}
	@media @md-breakpoint {
		& {
			float: right;

			&__text {
				display: inline-block;
			}

		}
	}
}
