// few mixins/classes
.clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}
.limit_lines( @lines: 3, @font-height: 22 ) {
	display: block;
	display: -webkit-box;
	max-height: (@lines * @font-height) + ( @lines * 4px );
	line-height: @font-height + 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: @lines;
	-webkit-box-orient: vertical;
}

.big-highlight {
	text-transform: uppercase;
	color: @rnr-red;
}

body,
main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
	color: @darkgray;
	font-family: 'Open Sans', sans-serif;
}

main {
	font-size: 16px;
	font-weight: normal;
	padding-top: 100px;

	@media @md-breakpoint {
		padding-top: 20px;
	}
}

h1 {
	font-size: 18px;
}

.wrapper.grid_2.offset240left {
	padding: 0;
}

.icon-angle-right{
	&::before {
		content: '\00bb';
	}
}

.fancybox-content {
	width: 640px;
	height: 80%;
	max-height: 80%;
	max-width: 90%;
}

/*Ribbon update for new blog*/
.tempo#rnr-event.page-template-site-home-rockblog {
	#ribbon {
		div {
			float: left;
			font-size: 36px;
		}
		.youtube a,
		.twitter a,
		.facebook a,
		.instagram a,
		.pinterest a {
			float: left;
			display: inline-block;
			line-height: normal;
			font-size: 21px;
			text-align: center;
			margin: 1px 0 0 15px;
			padding-top: 8px;
			height: 40px;
			width: 40px;
		}
		.hash {
			top: -0.15em;
			position: relative;
			display: block;
			float: left;
		}
	}
}

@media @sm-breakpoint {

	.fancybox-content {
		height: 60%;
	}

}

/*	960px -- Tablets (landscape), laptops, small monitors */
@media @md-breakpoint {
	// exists so that it CSS styling here overrides the main defaults
	.the-tempo-blog {

		#getgoing {
			width: 14%;
		}

		#main {

			.widget {
				margin-bottom: 40px;

				#menu-sidebar-cat-nav {
					margin-left: 0;
					margin-bottom: 0;

					li {
						border: none;
						margin: 0;
						padding: 0;

						a {
							color: @darkgray;
							width: 100%;
							background-color: @bg-gray;
							margin-top: 5px;
							padding: 10px 15px;
							position: relative;
							text-transform: uppercase;
							transition: all linear .15s;
							&:hover {
								color: @rnr-red;
								text-decoration: none;
							}
						}

						&.menu-item-has-children {

							> a {
								&:before {
									content: "\A";
									border-style: solid;
									border-width: 9px 9px 0 9px;
									border-color: @darkgray transparent transparent transparent;
									position: absolute;
									margin-top: 4px;
									right: 5%;
									transition: all linear .15s;
								}
								&:hover:before {
									border-top-color: @rnr-red;
								}

								&.open:before {
									transform: rotate(180deg);
								}
							}

							ul.sub-menu {
								display: none;
								margin: 0 0 0 15px;
							}

						}

					}
				}

				&_featured_authors {
					background-color: @bg-gray;
					padding: 10px;

					&__list {
						display: flex;
						flex-wrap: wrap;
						margin: 0 0 15px;
						justify-content: space-between;
					}

					&__item {
						display: inline-block;
						margin-bottom: 0 !important;
						padding: 0;
					}
				}

				&_social_icons {
					&__list {
						margin-bottom: 0;
						margin-left: 0;
					}
					&__item {
						border: none;
						display: inline-block;
						margin-right: 10px;
						padding: 0;

						a {
							background-color: @darkgray;
							border-radius: 20px;
							font-size: 21px;
							padding: 8px 7px;
							transition: all linear .15s;

							span {
								color: #fff;
							}

							&:hover{
								background-color: @rnr-red;
							}

						}

					}
				}

				&_iframe_modal {
					background-color: @bg-gray;
					font-family: 'Futura Std Bold', sans-serif;
					padding: 10px;
					text-align: center;
					text-transform: uppercase;
					font-size: 16px;

					a:hover {
						text-decoration: underline;
					}

					h3 {
						margin: 0 0 5px;
						color: @rnr-red;
						font-family: 'Futura Std Bold', sans-serif;
						font-size: 16px;
					}

					span {
						color: @darkgray;
					}

				}

			}

		}

		.fancybox-content {
			height: 52%;
		}


	}

}
