@media @md-breakpoint {
	// exists so that it CSS styling here overrides the main defaults
	.the-tempo-blog {

		#main {

			.widget {
				margin-bottom: 40px;

				#menu-sidebar-cat-nav {
					margin-left: 0;
					margin-bottom: 0;

					li {
						border: none;
						margin: 0;
						padding: 0;

						a {
							color: @darkgray;
							width: 100%;
							background-color: @bg-gray;
							margin-top: 5px;
							padding: 10px 15px;
							position: relative;
							text-transform: uppercase;
							transition: all linear .15s;
							&:hover {
								color: @rnr-red;
								text-decoration: none;
							}
						}

						&.menu-item-has-children {

							> a {
								&:before {
									content: "\A";
									border-style: solid;
									border-width: 9px 9px 0 9px;
									border-color: @darkgray transparent transparent transparent;
									position: absolute;
									margin-top: 4px;
									right: 5%;
									transition: all linear .15s;
								}
								&:hover:before {
									border-top-color: @rnr-red;
								}

								&.open:before {
									transform: rotate(180deg);
								}
							}

							ul.sub-menu {
								display: none;
								margin: 0 0 0 15px;
							}

						}

					}
				}

				&_featured_authors {
					background-color: @bg-gray;
					padding: 10px;

					&__list {
						display: flex;
						flex-wrap: wrap;
						margin: 0 0 15px;
						justify-content: space-between;
					}

					&__item {
						display: inline-block;
						margin-bottom: 0 !important;
						padding: 0;
					}
				}

				&_social_icons {
					&__list {
						margin-bottom: 0;
						margin-left: 0;
					}
					&__item {
						border: none;
						display: inline-block;
						margin-right: 10px;
						padding: 0;

						a {
							background-color: @darkgray;
							border-radius: 20px;
							font-size: 21px;
							padding: 8px 7px;
							transition: all linear .15s;

							span {
								color: #fff;
							}

							&:hover{
								background-color: @rnr-red;
							}

						}

					}
				}

				&_iframe_modal {
					background-color: @bg-gray;
					font-family: 'Futura Std Bold', sans-serif;
					padding: 10px;
					text-align: center;
					text-transform: uppercase;
					font-size: 16px;

					a:hover {
						text-decoration: underline;
					}

					h3 {
						margin: 0 0 5px;
						color: @rnr-red;
						font-family: 'Futura Std Bold', sans-serif;
						font-size: 16px;
					}

					span {
						color: @darkgray;
					}

				}

			}

		}

	}

}
