/* charity */
.grid_fg {
	margin-bottom: 30px;

	@media @xs-breakpoint {
		overflow: hidden;
	}

	.column_fg_left {
		text-align: center;
		margin-bottom: 30px;

		@media @xs-breakpoint {
			float: left;
			width: 180px;
			margin-right: -100%;
			text-align: left;
		}
	}
	.column_fg_right {
		@media @xs-breakpoint {
			float: right;
			margin-left: 210px;
		}
		.charity_bold {
			font-weight: bold;
			text-align: center;

			@media @xs-breakpoint {
				text-align: left;
			}
		}
		.charity_url {
			@media @xs-breakpoint {
				text-align: right;
			}
			a {
				display: block;

				@media @xs-breakpoint {
					display: inline-block;
				}
			}

		}
	}
}
