/* competitor wireless */
/* Hero */
#hero {
	.page-template-competitor-wireless-series-php & {
		height: auto;

		h1 {
			padding: 60px 0;

			@media @xs-breakpoint {
				padding: 120px 0;
			}
		}
	}
}

.cw {
	&--sponsor {
		color: @mediumgray;
		margin: 0 0 30px;
		display: block;
		text-align: center;
		font-family: 'Arial', sans-serif;
		font-size: 13px;
		letter-spacing: normal;
		font-weight: lighter;
		text-transform: initial;

		img {
			margin-left: 5px;
			width: 200px;
		}
	}
	&--forms.wrapper {
		background-color: @navborders;
		padding: 30px;
		margin-bottom: 30px;

		@media @md-breakpoint {
			margin-bottom: 60px;
		}

		.column_special {
			margin-bottom: 0;
		}

	}
	#error_invalid_phone,
	#error_invalid_code,
	#error_phone_max_requests,
	#error_tracking {
		color: @rnr-red;
		font-size: 13px;
		padding: 10px 0;
		font-style: italic;
	}
	.mobile_codes,
	.find_athletes,
	.runner_search {
		margin-bottom: 30px;

		@media @md-breakpoint {
			font-size: 0;
			margin: 0;
		}

		label {
			text-transform: uppercase;
			color: #000;
			display: block;
			font-size: 14px;
			font-weight: bold;
			margin-bottom: 5px;
			cursor: pointer;
		}
		input {
			padding: 10px;
			transition: @transition;
			color: @mediumgray;
			border: 1px solid @navborders;
			outline: none;
			font-size: 16px;
			background: #fff;
			width: 100%;
			box-shadow: none;

			@media @md-breakpoint {
				display: inline-block;
				width: 70%;
			}
		}
		button {
			.button_font();
			.button_gradient( @rnr-red, #d61920 );
			width: 100%;

			@media @md-breakpoint {
				display: inline-block;
				width: 30%;
			}

			&:hover {
				.button_gradient( #d61920, #c0161d );
			}
			&:disabled {
				.button_gradient( @white, #f2f2f2 );
				color: @mediumgray;
			}
		}
	}

	&--findathlete {
		.find_athletes {
			label {
				text-transform: uppercase;
				color: #000;
				display: block;
				font-size: 14px;
				font-weight: bold;
				margin-bottom: 5px;
				cursor: pointer;
			}
			&--dropdown {
				width: 100%;
				padding: 0;
				font-size: 16px;
				border: 1px solid @navborders;
				overflow: hidden;
				background: #fff;
				position: relative;

				&:after {
					top: 50%;
					right: 10px;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-color: rgba(0, 0, 0, 0);
					border-top-color: #000000;
					border-width: 5px;
					margin-top: -2px;
					z-index: 100;
				}

				select {
					margin: 0;
					width: 100%;
					padding: 10px;
					border: none;
					text-transform: uppercase;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					background-image: none;
				}
			}

		}
		.athlete_search_results {
			margin-bottom: 30px;

			@media @md-breakpoint {
				margin-bottom: 60px;
			}

			table {
				width: 100%;
				table-layout: fixed;
				border-top: 1px solid @navborders;
				border-left: 1px solid @navborders;

				&#search-results-tracked,
				&#search-results {
					border-top: none;
				}
				&#search-results-tracked {
					border-bottom: 5px solid @navborders;
				}

				th {
					width: calc( 100%/3 );
					border-right: 1px solid @navborders;
					border-bottom: 1px solid @navborders;
					font-size: 14px;
					font-weight: normal;
					padding: 10px 5px;
					text-align: center;
					text-transform: uppercase;
					color: #959595;
				}
				td {
					font-size: 16px;
					padding: 10px 5px;
					text-align: center;
					border-right: 1px solid @navborders;
					border-bottom: 1px solid @navborders;
				}

				button {
					.button_font();
					.button_gradient( #7f7f7f, #727272);

					&:hover {
						.button_gradient( #727272, #585858);
					}

					&.tracking {
						.button_font();
						.button_gradient( #39b54a, #33a342 );

						&:hover {
							.button_gradient( #33a342, #2b8638 );
						}
					}
				}
			}
			#search-confirm-init {
				margin-top: 30px;

				@media @md-breakpoint {
					margin-top: 60px;
				}

				label {
					cursor: pointer;
				}
				.track_button_div {
					text-align: right;
				}
				#start-tracking {
					.button_font();
					font-size: 26px;
					.button_gradient( #39b54a, #33a342 );

					&:hover {
						.button_gradient( #33a342, #2b8638 );
					}
					&:disabled {
						.button_gradient( @white, #f2f2f2 );
						color: @mediumgray;
					}
				}
			}
			.cw--untrack_txt {
				color: @mediumgray;
				display: block;
				text-align: center;
				font-family: 'Arial', sans-serif;
				font-size: 13px;
				letter-spacing: normal;
				font-weight: lighter;
				text-transform: initial;
			}
		}
	}

	&--tracking-confirmation {
		background-color: @bg-gray;
		border: 1px solid @navborders;
		margin-bottom: 30px;

		@media @md-breakpoint {
			margin-bottom: 60px;
		}

		&.wrapper {
			padding: 30px;
		}

		.column_special {
			margin-bottom: 0;
		}

	}
	&--restrictions {
		margin-bottom: 30px;

		@media @md-breakpoint {
			margin-bottom: 60px;
		}

		.accordion {
			margin-bottom: 0;
		}
		.column_special {
			margin: 0;
		}
	}
	&--note {
		background-color: #000;
		color: #fff;
		text-align: center;
		padding: 10px;
	}
	&--alert {
		background-color: @rnr-red;
		color: #fff;
		text-align: center;
		padding: 10px 10px 1px;
	}

	&--faq {
		margin-bottom: 30px;

		@media @md-breakpoint {
			margin-bottom: 60px;
		}
	}
	&--terms {
		font-size: 14px;
	}

}
