#map_canvas {
	display: inline-block;
	width: 100%;
	height: 600px;
	margin-bottom: 0.625em;
	border: 1px solid #333;

	img {
		max-width: none;
	}
}

#elevation_chart {
	width: 100%;
	height: 200px;
	margin-bottom: 0.625em;
	border: 1px solid #333;
}
.multipleWM {
	float: left;
	margin-bottom: 0.625em;

	select {
		padding: 0.313em;
		border: 1px solid #999;
	}
	input[type='submit'] {
		font: bold 100% arial, sans-serif;
		margin-top: 0.625em;
		padding: 0.313em;
		color: #fff;
		border: none;
		border-radius: 5px;
		background-color: #e51b24;
		background-image: none;
	}
}

.filterMap {
	position: relative;
	float: right;
	margin-bottom: 0.625em;

	a {
		&:link,
		&:visited {
			color: #fff;
		}
	}

}

.show_hide {
	display: none;
	float: right;
	padding: 0.313em 0.625em;
	text-decoration: none;
	color: #fff;
	background-color: #e51b24;
}
.filterDiv {
	position: absolute;
	z-index: 500;
	top: 100%;
	right: 0;
	width: 220px;
	padding: 0.313em;
	border: 1px solid #333;
	background-color: #fff;

	ol {
		padding: 0;
	}
	input[type='checkbox'],
	input[type='radio'] {
		margin-right: 5px;
	}
	input[type='submit'] {
		display: table;
		margin: 10px auto;
	}
	legend {
		font-weight: bold;
	}
	fieldset {
		margin-bottom: 0.625em;
		border-bottom: 1px solid #ccc;
	}
	li {
		clear: both;
		margin: 0 0 5px;
		padding: 0;
		list-style: none;
	}
	label {
		font-size: 16px;
		margin-right: 0.625em;
	}
	.miles_or_km {
		margin-left: 20px;
	}
}

.filter_img {
	float: right;
	width: 20px;
}
.map_disclaimer {
	font-size: 0.846em;
	font-style: italic;
}
.kmlicon {
	vertical-align: middle;
}
