/* distances page	*/
.page-template-distances {
	main figure:first-of-type {
		margin-bottom: 60px;
	}
	.glance_container {
		margin-bottom:30px;
	}
	.glance {
		overflow: auto;
		font-size: 16px;
		padding: 30px 30px 10px 30px;
		background: @bg-gray;
		margin-bottom:30px;

		.column {
			margin: 0;
			padding: 0;

			@media @md-breakpoint {
				width: calc( 100%/3 );
			}

			&:last-child {
				text-align: center;
				padding: 0 20px;

				@media @md-breakpoint {
					width: calc( 100%/3 );
				}
				p {
					font-style: italic;
					font-size: 12px;
					line-height: 1.1;
				}
			}
			p {
				margin-bottom: 20px;
				line-height: 1;
			}
		}
		.cta {
			margin-bottom: 18px;
			padding: 9px 32px;
		}
	}
	.perks {
		overflow: auto;
		border: 1px solid @navborders;
		margin: 0 0 30px 0;
		padding: 25px 25px 13px 25px;

		li {
			list-style: disc;
			font-size: 16px;

			@media @xs-breakpoint {
				width: 50%;
				display: inline-block;
				padding-right: 25px;
				vertical-align: top;

				&:before {
					position: absolute;
					display: list-item;
					content: '';
				}
			}
			@media @lg-breakpoint {
				width: calc( 100%/3 );
			}
		}
	}

}
