/* expo - series */
.page-template-expo-series {
	// main a {
	// 	text-decoration: underline;

	// 	&:hover {
	// 		text-decoration: none;
	// 	}
	// }
	.accordion {

		.tier {
			padding: 25px 60px;
			border-top: 1px solid @navborders;
			clear: both;
		}
		.desc {
			font-style: italic;
			padding: 25px 60px;
		}
		ul {
			margin: 0;
			list-style: none;
		}
		h4 {
			float: left;
			font-weight: normal;
		}
		.price {
			text-align: right;
		}

		&-section {
			margin-bottom: 30px;
			position: relative;

			a.cta {
				position: absolute;
				right: 30px;
				top: 20px;
				padding: 9px 32px;
				z-index: 1000;
				text-decoration: none;
			}

			&-content {
				background: @bg-gray;
				border: solid @navborders;
				border-width: 0 1px 1px 1px;
				padding: 30px;
				display: none;
				overflow: auto;

				.grid_3 {
					margin: 25px 0 25px;
					padding: 0;
					border: 2px solid @navborders;

					.column {
						margin: 0;
						padding: 15px 15px 0 15px;
						font-size: 90%;

						@media @md-breakpoint {
							margin: 0;
							padding: 15px 15px 0 15px;
							width: calc(100% / 3);
							font-size: 100%;
						}
					}
				}
			}
			&-title {

				@media @md-breakpoint {
					font-size: 21px;
				}

			}
		}
	}


	.price_inactive h4,
	.price_inactive {
		color: #ddd;
		font-style: italic;
	}
}
