/* 15 in 15 */

.page-template-fifteen-in-fifteen {
	.banner15 {
		margin-bottom: 60px;
	}
	.bottom15 {
		width: 75%;
		text-align: center;
		margin: 60px auto 60px auto;
	}
	.grid_3_fifteen {
		@media @sm-breakpoint {
			margin: 0 -15px;
		}
		@media @md-breakpoint {
			margin: 0 -30px;
		}
	}
	.column15 {
		margin-bottom: 60px;

		@media @sm-breakpoint {
			display: inline-block;
			width: 50%;
			padding: 0 15px;
			vertical-align: top;
		}
		@media @md-breakpoint {
			width: calc( 100% / 3 );
			padding: 0 30px;
		}
	}
	.box15 {
		border: 1px solid #e5e5e5;
		padding: 30px;
	}
}
