.blog-icon {
	text-align: center;
	display: block;
	width: 60px;
	margin: 5px auto 20px auto;
	background: @rnr-red;
}

.icon-blog_icon {
	text-align: center;
	color: @white;
	font-size: 55px;
	line-height: 1;
	display: inline-block;
	padding: 3px 0 0 3px;

	&::before {
		font-family: 'fontello';
		font-style: normal;
		font-weight: normal;
		speak: none;
		display: inline-block;
		text-decoration: none;
		width: 1em;
		margin-right: .2em;
		text-align: center;
		font-variant: normal;
		text-transform: none;
		line-height: 1em;
		margin-left: 0;
	}
}
