.page-template-ironman-php {
	#hero {
		height: auto;

		#bigtext {
			padding: 60px 0;

			@media @md-breakpoint {
				padding: 120px 0;
			}
		}
		.ironman-logo {
			width: 300px;

			@media @md-breakpoint {
				width: 500px;
			}
		}
	}

}
