/* LV ANNOUNCEMENTS / BUBBLES? */
.page-template-announcements,
.page-template-page-insider {
	nav#secondary {
		@media @md-breakpoint {
			display: none;
		}

		li {
			margin-left: 20px;
			text-align: left;
		}
		img {
			width: 35px;
			margin-right: 15px;
		}
		.cta {
			display: block;
			margin-top: 15px;
			padding: 9px 17px;
			color: @white;
		}
	}
}


main.lv-announcements {
	padding-top: 30px;
	padding-right: 0;
	padding-left: 0;

	@media @md-breakpoint {
		padding-top: 60px;
	}

	.sidenav {
		li {
			font-family: 'Futura Std Bold Condensed', sans-serif;
			border-bottom: 2px solid #ddd;
		}
		img {
			width: 35px;
			margin-right: 5px;
		}
		.sticky-nav a.cta {
			margin-top: 15px;
			padding: 9px 17px;
			color: @white;
		}
	}

	.main-image {
		margin-bottom: 30px;
	}
	.lv-announcement {
		padding: 30px 0;
		border-top: 2px solid #ddd;

		img {
			margin-bottom: 15px;

			@media @md-breakpoint {
				float: left;
				margin-right: 30px;
			}
		}
		h2 {
			margin-bottom: 0;
			padding-bottom: 5px;
			border: none;
		}
		.distance {
			font-family: 'Futura Std Bold Condensed', sans-serif;
			display: inline-block;
			margin-right: 20px;
			color: @rnr-red;
		}
		@media @md-breakpoint {
			.highlight{
				float: right;
			}
		}
	}
	a.highlight {
		margin: 0 auto;
		border: 2px solid #e9e9e9;
	}
	.entry-footer {
		padding-top: 30px;
		border-top: 2px solid #ddd;
	}
}
