.page-template-legacy-runners,
.post-template-legacy-runners{

	#main {

		.legacy_runners {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-left: 0;

			.legacy_runner {
				font-size: 14px;
				list-style: none;
				margin-bottom: 20px;

				&__link {
					color: @mediumgray;
					display: block;

					img {
						border: 1px solid @white;
					}

					&:hover {
						color: @rnr-red;

						img {
							border: 1px solid @rnr-red;
						}

					}

				}

				&__thumb {
					margin-bottom: 10px;
				}

				&__name {
					display: block;
				}

				&__caption {
					display: none;
				}

				/**
				 * CSS to hide the empty li elements which left align the bottom row
				 * - width is the size of the image plus the border
				 * - would not work if design did not have set widths for the images
				 */
				&:empty {
					height: 0;
					margin: 0;
					width: 152px;
				}

			}

		}

	}

	.fancybox-show-caption .fancybox-caption-wrap {
		background: rgba( 0, 0, 0, 0.6 );
		margin-top: 60px;
		padding-top: 0;
	}

}
