.page-template-moments-event-php {
	h2 {
		text-align: center;

		@media @sm-breakpoint {
			text-align: left;

			&#section-1 {
				overflow: hidden;
			}
			.moments_ribbon {
				float: right;
				margin: 0;
			}
		}
	}
	.moments_ribbon {
		text-align: center;
		margin-bottom: 30px;

		h2 & {
			margin: 23px 0 0;
		}
	}
	.presented_by {
		text-align: center;
		margin-top: 20px;

		@media @sm-breakpoint {
			float: right;
			margin: 0;
		}

		span {
			font-size: 13px;
			font-weight: normal;
			margin-right: 10px;
			letter-spacing: normal;
			font-family: 'Arial', sans-serif;
			text-transform: capitalize;
		}
	}

	.fancybox {
		&-opened .fancybox-skin {
			background: rgba(0, 0, 0, .8);
		}
		&-inner {
			overflow:auto!important;

		}
	}

	.pw {
		&-button {
			font-size:16px!important;

			&-counter {
				display:none;
			}
		}
	}

	.moments-share li {
		display:inline-block;
		list-style:none;
		margin:0 10px;
	}
	.share_via {
		float:left;
		padding-top: 8px;
	}
	.switcher {
		position:relative;
	}
	.icon-play {
		position:absolute;
		left: 0;
		right: 0;
		font-size:48px;
		top:-20px;
		color: #fff;
		background-color:rgba(238, 28, 36, 0.75);
		border-radius:50%;
		width:70px;
		height:70px;
		margin:auto;
		padding:2px 0 0 7px;
	}
	.video_grid {
		margin-top:30px;

		.column_special h4 {
			margin-bottom:0;
			text-align:center;
		}
	}

}
