/* past results	*/
.page-template-past-results {
	main h2 {
		margin-bottom: 0;
	}
	#results {
		@media @sm-breakpoint {
			margin: 0 -15px;
		}
		@media @md-breakpoint {
			margin: 0 -30px;
		}
		.result {
			margin: 30px 0 0 0;
			color: @mediumgray;

			@media @sm-breakpoint {
				display: inline-block;
				width: 50%;
				padding: 0 15px;
				vertical-align: top;
			}
			@media @md-breakpoint {
				width: calc( 100%/3 );
				margin: 60px 0 0 0;
				padding: 0 30px;
			}

			a.expand {
				display: block;
				margin-top: 20px;
			}
			h2 {
				font-size: 30px;
				margin-bottom: 30px;
			}
			h3 {
				line-height: 1.3;
				color: @black;
				margin: 25px 0 10px;
			}
			h4 {
				color: @mediumgray;
				margin: 0 0 20px 0;
				font-weight: 300;
				font-size: 110%;
			}
			/* .cta {
				margin: 0;
			}
			.cta a {
				margin: 0 auto;

				@media @xxs-breakpoint {
					width: 50%;
				}
			} */
			.owl {
				&-item img {
					margin-bottom: 7px;
				}
				&-pagination {
					margin-bottom: 15px;
				}
				&-controls {
					margin: 5px 0 20px 0;
				}
				&-buttons {
					display: none;
				}
			}
			.collapse {
				margin: 20px 0;
			}

		}
		.inner_result {
			padding: 30px 5%;
			background: @bg-gray;
		}
	}

}
