#volunteer{
	#red{
		color: @rnr-red;
		select{
			color:@darkgray;
		}
	}
}
#updates{
	h2{
		text-align: center;
		border-bottom: 1px solid @darkgray;
	}
	background:	@navborders;
	padding: 3em 0;
}
#benefits{
	padding-top: 3em;
	padding-bottom: 3em;
	.grid_2_special{
		.quote{
			font-size: 24px;
			color: @darkgray;
		}
		.attribute{
			font-size: 18px;
			color: @darkgray;
		}
	}
}
#rc-rights{
	.column_special{
		padding: 0 100px;
	}
}
//tab styling from tourpass
.tp {
	&-tabs {
		.ui-tabs-nav {
			border-bottom: 1px solid @navborders;
			margin: 0 0 30px 0;
			text-align: center;

			li {
				border-right: 1px solid @navborders;
				border-top: 1px solid @navborders;
				display: inline-block;
				margin: 0 0 -1px 0;
				
				&:first-child {
					margin-left: 0;
					border-left: 1px solid @navborders;
				}
				a,
				&.ui-state-active span {
					background-color: #333;
					color: @white;
					display: block;
					padding: 10px 20px;
				}
				&.ui-state-active a,
				&.ui-state-active span {
					color: #333;
					background-color: @white;
					padding: 10px 20px;
					display: block;

				}
			}
		}
	}
	&_nav {
		display: table;
		margin: auto;
		background-color: @navborders;

		ul {
			margin: 0;
			list-style: none;
		}
		li {
			float: left;
			margin: 0;
		}
	}

	&_nav .bullet-title {
		padding: 30px;
	}
	&_nav a {
		padding: 30px;
		display: block;
	}
	&_nav a:hover,
	&_nav .bling-current-page {
		background-color: #eee;
	}
}
.page-template-racecrew-series{
	.sg-question-title {
		display: none;
	}
	.sg-question{
		border: none;
	}
	.sg-content{
		padding: 0;
	}
	.sg-group{
		text-align: center;
		@media screen and (min-width: 500px)  {
			text-align: left;
		}
		.sg-group-item {
			float: none;
			@media screen and (min-width: 500px)  {
				float: left;
				margin-left: 0;
				&:first-of-type{
					margin-left: 5%;
				}
			}
			
			&:first-of-type{
				@media@xs-breakpoint {
						margin-left: 20%;
					}
				@media@sm-breakpoint {
					margin-left: 25%;
				}
				@media@lg-breakpoint {
					margin-left: 30%;
				}
			}
			input, select {
				background: #fff;
			}
			select {
			    -webkit-appearance: none;
			    -moz-appearance: none;
			    appearance: none;
			    padding: 7px;
			    	&:focus {
		  				outline: 0 none;
		 			}
			}
		}
	}
	

}