/* realbuzz charity page */
.realbuzz-template {
	.grid_2 {
		padding: 0;

		@media @lg-breakpoint {
			padding: 0 1em;
		}
		@media @lg-breakpoint {
			padding: 0;
		}

		.column:first-child {
			margin-bottom: 60px;
		}
		&.offset240right {
			.column {
				@media @md-breakpoint {
					margin-right: 330px;
					width: auto;
				}
				&:last-child {
					font-size: 16px;

					@media @md-breakpoint {
						float: right;
						margin: 0 0 0 -100%;
						width: 300px;
					}
				}
			}

		}

	}

	.top_articles {
		@media @xxs-breakpoint {
			padding: 0 1em;
		}
		@media @lg-breakpoint {
			padding: 0;
		}
	}

	.sidenav {
		display: block;
		margin-bottom: 60px;

	}
	nav#secondary ul.charity-listings-dropdown {
		margin-top: 0;
		background: #f2f2f2;
		max-height: none;
		border-bottom: 1px solid #dbdbdb;

		@media @md-breakpoint {
			position: absolute;
			left: 0;
			z-index: 1;
			padding: 0;
		}

		li {
			font-size: 19px;
			width: 50%;
			display: inline-block;
			vertical-align: middle;
			border-bottom: none;

			a {
				border-bottom: none;
				padding: 10px 30px;

			}

			@media @xs-breakpoint {
				width: calc( 100%/3 );
			}
			@media @sm-breakpoint {
				width: 25%;
			}
			@media @md-breakpoint {
				width: calc( 100%/6 );
			}
		}

	}

	.charity-listings-toggle {
		position: relative;

		&:after {
			content: '';
			border-style: solid;
			border-width: 16px 9px 0 9px;
			border-color: #959595 transparent transparent transparent;
			position: absolute;
			margin: 8px 0 0 20px;
			transition: all linear 0.15s;

			@media @md-breakpoint {
				margin-top: 14px;
			}
		}

		&.open:after {
			transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			transition: all linear 0.15s;
		}
	}

	.sidebar_callout {
		background-color: #4e4e4e;
		color: @white;
		padding: 15px;
		margin-bottom: 30px;
		font-size: 16px;

		h3 {
			color: @white;
			font-family: 'Futura Std Bold Condensed';
			border-bottom: 1px solid #e5e5e5;
			text-transform: uppercase;
			padding-bottom: 20px;
			margin-bottom: 20px;
			letter-spacing: .05em;
			font-size: 19px;
		}
	}

}

#rnr-event.market-las-vegas.realbuzz-template #hero h1 {
	color: @white;
}
.market-las-vegas.twenty_years.realbuzz-template #hero h1 .kicker,
.market-las-vegas.twenty_years.realbuzz-template #hero h1 .subhead {
	&:before,
	&:after {
		background-color: @white;
	}
}




