/* register page */
.page-template-register-page,
.page-template-register-page-v2 {
	main a {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
	.grid_2.offset780left {
		.column:last-child {
			font-size: 16px;

			h2 {
				margin-top: 60px;

				&:first-of-type {
					margin-top: 0;
				}
			}
			ul {
				margin: 0 0 0 17px;
			}
			li {
				margin-bottom: 14px;
			}
		}
	}
	.raceit-badge {
		margin-top: 65px;

		span {
			font-size: 12px;
			display: block;
			margin-bottom: 13px;
		}
	}

	.accordion {
		font-size: 21px;
		margin-bottom: 60px;

		.desc {
			font-size: 80%;
			font-style: italic;
			padding: 25px 7%;
			text-align: center;

			@media @sm-breakpoint {
				padding: 25px 60px;
				font-size: 100%;
				text-align: left;
			}
		}
		h4 {
			font-size: 80%;
			font-weight: normal;
			float: left;

			@media @sm-breakpoint {
				font-size: 100%;
			}
		}
		.price {
			font-size: 80%;
			text-align: right;

			@media @sm-breakpoint {
				font-size: 100%;
			}
		}
		&-section {

			a.cta,
			.highlight {
				z-index: 1000;
				width: 100%;
				padding: 9px 32px;
				text-decoration: none;

				@media @sm-breakpoint {
					position: absolute;
					top: 20px;
					right: 30px;
					width: auto;
				}
			}

			&-content {
				padding: 0;
				margin: 0;
				list-style: none;

				.tier {
					clear: both;
					padding: 25px 7%;
					border-top: 1px solid @navborders;
					margin: 0;
					overflow: hidden;

					@media @sm-breakpoint {
						padding: 25px 60px;
					}
				}
			}
			&-title {
				@media @sm-breakpoint {
					padding: 25px 160px 24px 60px;
				}

				&-ri {
					cursor: initial;
					padding-left: 22px;

					&:hover {
						background-color: @bg-gray;
					}
					&:before {
						content: initial;
					}
				}
			}
		}
	}
	.price_inactive h4,
	.price_inactive {
		font-style: italic;
		color: #ddd;
	}
}
