/**
 * rock idol template
 */
.page-template-rock-idol {
	text-align: center;

	#bigtext {
		display: flex;
	}

	.rock-idol-logo {
		margin: 8em auto;

		@media @xs-breakpoint {
			margin: 4em auto;
		}
	}

	nav#secondary ul {
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			text-align: center;
		}
		@media screen { @media (min-width: 0px) {
			text-align: center;
		} }

		li {
			@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
				margin: 0 30px;
			}
			@media screen { @media (min-width: 0px) {
				margin: 0 30px;
			} }
		}
	}



	h3 {
		font-family: 'Futura Std Bold Condensed';
		margin-top: 15px;
		text-transform: uppercase;
	}
	main {
		padding: 0;
	}

	#intro,
	#how-to-enter,
	#the-finalists {
		padding-bottom: 60px;
	}
	#intro h2 {
		font-size: 36px;
		margin-top: 60px;
		margin-bottom: 60px;
	}
	#how-to-enter iframe {
		min-height: 410px;

		@media @xxs-breakpoint {
			min-height: 3125px;
		}
		@media @xs-breakpoint {
			min-height: 2440px;
		}
		@media @sm-breakpoint {
			min-height: 2335px;
		}
		@media @md-breakpoint {
			min-height: 2235px;
		}
		@media @lg-breakpoint {
			min-height: 2190px;
		}
	}
	#the-finalists iframe {
		min-height: 410px;

		@media @xxs-breakpoint {
			min-height: 1030px;
		}
		@media @xs-breakpoint {
			min-height: 860px;
		}
		@media @sm-breakpoint {
			min-height: 840px;
		}
		@media @md-breakpoint {
			min-height: 800px;
		}
		@media @lg-breakpoint {
			min-height: 775px;
		}
	}
	@-moz-document url-prefix() {
		#how-to-enter iframe {
			min-height: 3905px;
		}

		@media @xxs-breakpoint {
			#the-finalists iframe {
				min-height: 1050px;
			}
		}
		@media @xs-breakpoint {
			#the-finalists iframe {
				min-height: 880px;
			}
		}
		@media @sm-breakpoint {
			#how-to-enter iframe {
				min-height: 2385px;
			}
			#the-finalists iframe {
				min-height: 860px;
			}
		}
		@media @md-breakpoint {
			#the-finalists iframe {
				min-height: 810px;
			}
		}
		@media @lg-breakpoint {
			#how-to-enter iframe {
				min-height: 2230px;
			}
			#the-finalists iframe {
				min-height: 790px;
			}
		}
	}
	.package-copy {
		margin-bottom: 30px;
	}
	.grid_2_special .column_special,
	.grid_3_special .column_special,
	.grid_4_special .column_special,
	.grid_5_special .column_special {
		float: none;
		text-align: center;
	}
	.icon {
		width: 65px;
		height: 65px;
		margin: 0 auto;
		margin-bottom: 20px;
		padding: 5px 7px 0 0;
		text-align: center;

		// ie hack for SVGs
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			img {
				height: 65px;
				width: 65px;
			}
		}
		@media screen {
			@media (min-width: 0px) {
				img {
					height: 65px;
					width: 65px;
				}
			}
		}
	}

	.packages {
		.package {
			@media @sm-breakpoint {
				float: none;
			}
			img {
				margin-bottom: 20px;
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}
		.and-more {
			border: none;
		}
	}

	.the-finalists {
		margin-top: 40px;
	}
	h4,
	.finalist-city {
		font-size: 24px;
		text-transform: uppercase;
	}
	h4 {
		font-family: 'Futura Std Bold Condensed', sans-serif;
	}
	.finalist-city {
		font-family: 'Futura Std Medium Condensed', sans-serif;
		margin-bottom: 30px;

		@media @md-breakpoint {
			margin-bottom: 15px;
		}
	}
	.finalist {
		color: @darkgray;

		.finalist-image {
			width: 250px;
			height: 250px;
			margin: 0 auto 20px;
			transition: @transition;
			border-radius: 125px;
			background-size: cover;

			@media @md-breakpoint {
				background-color: @rnr-red;
				background-blend-mode: multiply;
				opacity: 0.8;
			}
		}
		&:hover {
			text-decoration: none;
			color: @rnr-red;

			.finalist-image {
				opacity: 1;
				background-color: transparent;
			}
			h4 {
				color: @rnr-red;
			}
		}
	}

	.fancybox-rock-idol {
		#ribbon {
			margin-bottom: 30px;
			text-align: center;
		}
		#ribbon div {
			float: none;
		}
		.column_2 {
			text-align: left;

			@media @md-breakpoint {
				float: right;
				width: 63%;
			}
		}
		h4,
		.finalist-city {
			font-family: 'Open Sans', sans-serif;
			font-size: 2em;
			color: @mediumgray;
		}
		h4 {
			margin-bottom: 0;
		}
		@media @md-breakpoint {
			.quote {
				clear: both;
				font-size: 3em;
				width: 100%;
			}
		}
	}

	div[id^='finalist-'] {
		padding: 20px;
	}
}

