/* lv runner perks */
#runner_perks_lv {
	fieldset {
		margin-bottom: 20px;
	}

	.controls {
		color: @mediumgray;
		font-size: 0;
		text-align: center;
		overflow: hidden;
		margin: 30px 0 60px 0;

		label {
			font-family: 'Futura Std Medium Condensed';
			font-size: 17px;
			text-transform: uppercase;
		}
		button {
			font-family: 'Arial', sans-serif;
			font-weight: bold;
			font-size: 14px;
			background: transparent;
			border: 2px solid #cfcfcf;
			text-transform: uppercase;
			margin: 0 0 10px 10px;
			padding: 10px 20px 7px;
			transition:@transition;

			&:hover {
				border-color: @mediumgray;
			}
			&.active {
				background: #cfcfcf;
				color: #777;
				border-color: #cfcfcf;
			}
			&:focus {
				outline: 0 none;
			}
		}
		#sort {
			display: inline-block;
			position: relative;

			&:after {
				content: "";
				cursor: pointer;
				width: 0;
				height: 0;
				position: absolute;
				right: 10px;
				top: 50%;
				margin-top: -5.2px;
				border-width: 10.4px 6px 0 6px;
				border-style: solid;
				border-color: @mediumgray transparent;
			}
		}

		#sortselect {
			font-family: 'Arial', sans-serif;
			font-size: 14px;
			font-weight: bold;
			position: relative;
			z-index: 1000;
			margin-left: 10px;
			padding: 10px 30px 7px 8px;
			cursor: pointer;
			-webkit-transition: all 170ms ease-in-out;
			   -moz-transition: all 170ms ease-in-out;
				-ms-transition: all 170ms ease-in-out;
				 -o-transition: all 170ms ease-in-out;
					transition: all 170ms ease-in-out;
			text-transform: uppercase;
			border: 2px solid #cfcfcf;
			border-radius: 0;
			background: transparent;

			-webkit-appearance: none;
			   -moz-appearance: none;
					appearance: none;

			&:hover {
				-webkit-transition: all 170ms ease-in-out;
				   -moz-transition: all 170ms ease-in-out;
					-ms-transition: all 170ms ease-in-out;
					 -o-transition: all 170ms ease-in-out;
						transition: all 170ms ease-in-out;
				border-color: @mediumgray;
			}
		}

	}
	.filterlabel {
		margin: 0 5px 0 50px;
	}
	.mix {
		position: relative;
		text-align: center;
		display: none;
		vertical-align: top;
		color: @mediumgray;
		float: none;
		margin: 0 0 30px 0;
	}
	.perk-featured {
		.inner_column_special {
			border-top: 5px solid @black;
		}
		h2 {
			color: @black;
		}
	}

	.inner_column_special {
		background-color: @bg-gray;
		padding: 30px;

		h3 {
			color: @black;
		}
	}
	.column_special_content {
		color: @black;
		font-size: 16px;
	}
	.perk_extra {
		color: @mediumgray;
	}
	.mix,
	.gap {
		width: 100%;
	}

	.grid_3_special .column_special,
	.gap {
		@media @xs-breakpoint {
			width: 50%;
		}
		@media @md-breakpoint {
			width: calc( 100%/3 );
		}
	}

}

