@import "../variables.less";
@import "../modules/no-hero.less";


.page-template-tourpass-php {
	.group {
		padding:60px 0 30px;
	}

	.tp {
		&-tabs {
			.ui-tabs-nav {
				border-bottom: 1px solid @navborders;
				margin: 0 0 30px 0;
				text-align: center;

				li {
					border-right: 1px solid @navborders;
					border-top: 1px solid @navborders;
					display: inline-block;
					margin: 0 0 -1px 0;

					&:first-child {
						margin-left: 0;
						border-left: 1px solid @navborders;
					}
					a,
					&.ui-state-active span {
						background-color: #333;
						color: @white;
						display: block;
						padding: 10px 20px;
					}
					&.ui-state-active a,
					&.ui-state-active span {
						color: #333;
						background-color: @white;
						padding: 10px 20px;
						display: block;

					}
				}
			}
		}
		&_nav {
			display: table;
			margin: auto;
			background-color: @navborders;

			ul {
				margin: 0;
				list-style: none;
			}
			li {
				float: left;
				margin: 0;
			}
		}

		&_nav .bullet-title {
			padding: 30px;
		}
		&_nav a {
			padding: 30px;
			display: block;
		}
		&_nav a:hover,
		&_nav .bling-current-page {
			background-color: #eee;
		}
	}


	.tourpass {
		&_video {
			width: 75%;
			margin: auto;
		}
	}


	.steps {
		background: url( img/tourpass/1-2-3-sprite.png ) no-repeat top left;
		width: 40px;
		height: 40px;
	}
	.circle2 {
		background-position: -40px 0;
	}
	.circle3 {
		background-position: -80px 0;
	}

	.tour_stops {
		&_list {
			text-align: center;
		}
		&_table {
			vertical-align: top;
			margin: 0 10px 60px 10px;
			display: inline-block;

			td {
				padding: 10px;
				text-align: center;
				border-bottom: 1px solid @navborders;
			}
		}

	}

	.europe_stops {
		margin-bottom: 60px;
	}
	.owl-carousel {
		border-top: 1px solid @navborders;

		&.oc-noborder {
			border: none;
		}
	}


}
