/* travel */
.travel {
	.column section {
		margin-bottom: 30px;

		@media @md-breakpoint {
			margin-bottom: 60px;
		}
	}
	&_subpages,
	&_events,
	&_sponsors {
		h3 {
			font-family: 'Futura Std Bold Condensed', sans-serif;
			text-transform: uppercase;
		}
	}
	&_content,
	&_hotels {
		margin-bottom: 60px;
	}
	&_events {
		text-align: center;

		#selectrace {
			font-family: 'Futura Std Heavy', sans-serif;
			width: 100%;
			margin-bottom: 60px;
			padding: 10px;
			text-transform: uppercase;
			border: 1px solid @navborders;

			@media @xs-breakpoint {
				width: auto;
			}
			option {
				padding: 5px 10px;
				color: @mediumgray;
				background-color: @white;
			}
		}
	}
	&_item {
		padding: 30px;
		background-color: @bg-gray;
	}
	&_subpages {
		.type_sponsor {
			font-size: 13px;

			img {
				display: block;
				margin: 5px auto;
			}
		}
		.column & {
			padding-top: 30px;

			@media @md-breakpoint {
				padding-top: 60px;
			}
		}
		&.grid_2_special,
		&.grid_3_special,
		&.grid_4_special {
			.column_special {
				text-align: center;
			}
		}
		.wrapper {
			text-align: center;
		}
	}
	&_subpage_title {
		.travel_subpage_icon {
			height: 25px;
			margin-right: 10px;
		}
		span {
			font-family: 'Arial', sans-serif;
			font-size: 13px;
			font-weight: lighter;
			float: right;
			letter-spacing: normal;
			text-transform: initial;
			color: @mediumgray;

			img {
				height: 25px;
				margin-left: 10px;

				&.pack_sponsor {
					height: 40px;
				}
			}
		}
	}
	&_sponsors {
		text-align: center;
		.sponsors_list {
			margin: 0 0 30px 0;

			li {
				margin-bottom: 30px;
				list-style: none;

				@media @xs-breakpoint {
					display: inline-block;
					padding: 15px;
				}
				@media @md-breakpoint {
					padding: 30px;
				}
			}
		}
	}
	&_bullet_box {
		overflow: hidden;
		padding: 15px;
		border: 1px solid @navborders;

		@media @xs-breakpoint {
			font-size: 0;
		}
		span {
			font-size: 24px;
			float: right;
		}
		li {
			@media @xs-breakpoint {
				font-size: 18px;
				display: inline-block;
				width: 50%;
				padding-right: 25px;
				vertical-align: top;

				&:before {
					position: absolute;
					display: list-item;
					content: '';
				}
			}
			@media @md-breakpoint {
				width: calc( 100% / 3 );
			}
			@media @lg-breakpoint {
				width: 25%;
			}
		}
		&_hdr {
			font-weight: 600;
		}
	}
	&_videos,
	&_westin {
		.video-modal,
		.external-link {
			position: relative;
		}
		.icon-play,
		.icon-link {
			font-size: 48px;
			position: absolute;
			top: -20px;
			right: 0;
			left: 0;
			width: 70px;
			height: 70px;
			margin: auto;
			padding: 2px 0 0 7px;
			color: @white;
			border-radius: 50%;
			background-color: rgba(238, 28, 36, 0.75);
		}
		.icon-link {
			padding: 2px 0 0 3px;
		}
	}
	&_westin {
		text-transform: uppercase;

		@media @xs-breakpoint {
			overflow: hidden;
			padding: 15px 0;

			figure {
				float: left;
				width: calc( 100% / 3 );
				margin: 0 30px 30px 0;
			}
		}
	}
	.type_letter {
		font-family: 'Futura Std Bold Condensed', sans-serif;
		font-weight: bold;
		display: inline-block;
		width: 20px;
		text-align: center;
		text-transform: uppercase;
		color: @white;

		&_h {
			background-color: @rnr-red;
		}
		&_f {
			background-color: #8ebda5;
		}
		&_o {
			background-color: @black;
		}
		&_sl,
		&_fl {
			font-family: 'Futura Std Bold Condensed', sans-serif;
			font-size: 16px;
			font-style: italic;
			color: @mediumgray;
		}
	}
	&_hotel {
		&_sort_legend {
			.controls {
				text-align: center;

				@media @xs-breakpoint {
					font-size: 0;
					overflow: hidden;
					margin: 0 -15px;

					div {
						font-size: 16px;
						display: inline-block;
						padding: 0 15px;
						vertical-align: top;
					}
				}
				@media @sm-breakpoint {
					overflow: hidden;
					margin: 0 0 30px 0;

					div {
						float: left;
					}
				}
				label {
					font-family: 'Futura Std Medium Condensed';
					font-size: 17px;
					display: block;
					margin-bottom: 10px;
					text-transform: uppercase;

					@media @sm-breakpoint {
						float: left;
						margin: 10px 0 0 0;
					}
				}
				.hotel_sort_price,
				.hotel_sort_distance {
					position: relative;
					overflow: hidden;
					width: 100%;
					margin: 0 auto;
					margin-bottom: 30px;
					padding: 0;
					border: 1px solid @navborders;
					background: @white;

					@media @xs-breakpoint {
						width: 45%;
						margin: 0 15px 30px 15px;
					}
					&:after {
						position: absolute;
						z-index: 100;
						top: 50%;
						right: 10px;
						width: 0;
						height: 0;
						margin-top: -2px;
						content: ' ';
						pointer-events: none;
						border: solid transparent;
						border-width: 5px;
						border-color: rgba(0, 0, 0, 0);
						border-top-color: @black;
					}
				}
				@media @sm-breakpoint {
					.hotel_sort_price {
						width: 150px;
					}
					.hotel_sort_distance {
						width: 260px;
					}
				}
				.sortselect {
					font-family: 'Futura Std Heavy', sans-serif;
					width: 130%;
					padding: 10px;
					text-transform: uppercase;
					border: none;
					background-image: none;

					-webkit-appearance: none;
					   -moz-appearance: none;
					        appearance: none;

					@media @sm-breakpoint {
						margin: 0;
					}
					option {
						color: @mediumgray;
						background-color: @white;
					}
				}
			}
			.hotel_view_links {
				font-family: 'Futura Std Medium Condensed';
				font-size: 17px;
				margin-bottom: 30px;
				text-align: center;
				text-transform: uppercase;

				@media @sm-breakpoint {
					float: right;
					margin: 17px 0 0 0;
					padding-right: 0;
				}
				a {
					cursor: pointer;
				}
			}
			.hotel_legend {
				font-size: 16px;
				margin-bottom: 30px;
				padding: 15px;
				color: @black;
				border: 1px solid #cfcfcf;

				@media @xs-breakpoint {
					font-size: 0;
				}
				@media @lg-breakpoint {
					text-align: center;
				}
				ol {
					margin: 0;
					padding: 0;

					@media @lg-breakpoint {
						margin: 0 -15px;
					}
					li {
						list-style: none;

						@media @xs-breakpoint {
							font-size: 16px;
							display: inline-block;
							width: 50%;
						}
						@media @lg-breakpoint {
							width: auto;
							margin: 5px 0;
							padding: 0 15px;
						}
						span {
							width: 23px;
							margin-right: 10px;
						}
					}
				}
				.icon-bus {
					font-size: 16px;
				}
			}
			.westin_blurb {
				margin-bottom: 30px;
				padding: 15px;
				border: 1px solid #8ebda5;
				background-color: @navborders;
			}
		}
		&_group {
			margin-bottom: 30px;

			@media @md-breakpoint {
				margin-bottom: 60px;
			}
			.view_details {
				font-size: 16px;
				a {
					cursor: pointer;
				}
			}
			.mix.hotel {
				overflow: hidden;
				margin-bottom: 15px;
				padding: 15px 0;
				border-bottom: 1px solid @navborders;
			}
			figure {
				position: relative;

				@media @md-breakpoint {
					float: left;
					max-width: 200px;
				}
				.type_letter {
					font-size: 22px;
					position: absolute;
					width: 30px;
				}
			}
			h3 {
				font-family: 'Futura Std Bold Condensed', sans-serif;
				margin-bottom: 15px;
				text-transform: uppercase;

				a {
					color: @darkgray;
				}
				.post-edit {
					font-size: 16px;
					a {
						color: @rnr-red;
					}
				}
			}
			ol {
				margin-top: 5px;
				padding: 0;

				li {
					font-family: 'Futura Std Bold Condensed', sans-serif;
					font-size: 19px;
					font-weight: bold;
					margin-bottom: 5px;
					list-style: none;
					text-transform: uppercase;

					@media @md-breakpoint {
						display: inline-block;
						width: 50%;
					}
					span {
						&.event {
							color: @black;

							&__5k-fr,
							&__10k-fr {
								text-transform: lowercase;
							}
						}
						&.location {
							&__fr {
								text-transform: lowercase;
							}
						}
					}

					.type_letter_sl,
					.type_letter_fl {
						font-size: 19px;
					}
				}
			}
			.hotel {
				&_sellpoints {
					h4 {
						font-family: 'Futura Std Bold Condensed', sans-serif;
						font-size: 19px;
						text-transform: uppercase;
					}
				}
				&_content {
					@media @xs-breakpoint {
						overflow: hidden;
						margin: 0 -15px;
					}
					@media @md-breakpoint {
						margin: 0 -30px;
					}
					&_center {
						@media @xs-breakpoint {
							float: left;
							width: calc( 100% * 2/3 );
							padding: 0 15px;
						}
						@media @md-breakpoint {
							width: 70%;
							padding: 0 30px;
						}
						@media @lg-breakpoint {
							width: 80%;
						}
					}
					&_right {
						@media @xs-breakpoint {
							float: right;
							width: calc( 100% / 3 );
							padding: 0 15px;
						}
						@media @md-breakpoint {
							width: 30%;
							padding: 0 30px;
						}
						@media @lg-breakpoint {
							width: 20%;
						}
						span {
							font-family: 'Futura Std Heavy', sans-serif;
						}
						&_price {
							font-size: 32px;
							display: block;
							color: @rnr-red;
						}
						.bed_type {
							font-weight: bold;
							margin-bottom: 5px;
						}
						&_amenities {
							margin-bottom: 15px;
							color: @black;

							span {
								font-size: 19px;
							}
						}
					}
				}
			}
		}
		&_extra_info {
			margin-bottom: 30px;

			@media @md-breakpoint {
				margin-bottom: 60px;
			}
		}
	}
}
