/**
 * series
 */

.vip {
	h2 {
		text-align: center;
	}
	&__selectgroup {
		margin-bottom: 30px;

		label {
			font-weight: bold;
			margin-bottom: 10px;
			display: block;
			color: @black;

			@media @md-breakpoint {
				display: inline;
			}
		}
		&_dd {
			display: block;
			position: relative;

			@media @md-breakpoint {
				display: inline;
			}
			select {
				position: relative;
				font-size: 14px;
				background: transparent;
				border: 2px solid #cfcfcf;
				cursor: pointer;
				transition: @transition;
				z-index: 1000;
				width: 100%;
				font-family: 'Arial', sans-serif;
				font-size: 1em;
				color: @mediumgray;
				text-transform: none;
				padding: 10px 20% 7px 8px;
				font-weight: lighter;
				border-color: @bg-gray;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;

				@media @md-breakpoint {
					width: auto;
					margin-left: 10px;
				}
				&:hover {
					border-color: #cecece;
				}
				&:focus {
					outline: 0 none;
				}
			}
			&:after {
				content: "";
				cursor: pointer;
				width: 0;
				height: 0;
				position: absolute;
				right: 15px;
				top: 50%;
				margin-top: -5px;
				border-width: 10px 6px 0 6px;
				border-style: solid;
				border-color: @mediumgray transparent;
			}
		}
	}
	&__amenities {
		margin-bottom: 60px;

		@media @xs-breakpoint {
			ul {
				font-size: 0;

				li {
					font-size: 18px;
					width: 50%;
					display: inline-block;
					padding-right: 25px;
					vertical-align: top;
					&:before {
						position: absolute;
						display: list-item;
						content: '';
					}
				}
			}
		}
		@media @md-breakpoint {
			ul li {
				width: 25%;
			}
		}
	}
}


/**
 * event
 */

.vip_event {
	.accordion {
		font-size: 21px;
		margin-bottom: 0;

		.tier {
			border-top: 1px solid @navborders;
			clear: both;
			padding: 25px 7%;

			@media @sm-breakpoint {
				padding: 25px 60px;
			}
			&.price_inactive h4,
			&.price_inactive {
				color: #ddd;
				font-style: italic;
			}
		}
		.desc {
			font-style: italic;
			font-size: 80%;
			text-align: center;
			padding: 25px 7%;

			@media @sm-breakpoint {
				padding: 25px 60px;
				font-size: 100%;
				text-align: left;
			}
		}
		li {
			margin: 0;
		}
		h4 {
			float: left;
			font-weight: normal;
			font-size: 80%;
		}
		.price {
			text-align: right;
			font-size: 80%;
		}
		@media @sm-breakpoint {
			h4,
			.price {
				font-size: 100%;
			}
		}
		&-section {
			a.cta,
			.highlight {
				padding: 9px 32px;
				z-index: 1000;
				width: 100%;

				@media @sm-breakpoint {
					position: absolute;
					top: 20px;
					right: 30px;
					width: auto;
				}
			}
			&-content {
				padding: 0;
				margin: 0;
				list-style: none;
			}
		}
	}
	@media @xs-breakpoint {
		.amenity_list {
			ul {
				font-size: 0;
			}
			li {
				display: inline-block;
				padding-right: 25px;
				width: 50%;
				vertical-align: top;
				font-size: 18px;

				&:before {
					position: absolute;
					display: list-item;
					content: '';
				}
			}
		}
	}
	#vip-legal {
		border-top: 1px solid @navborders;
		padding-top: 30px;
	}
	.vip {
		&_pricebox {
			margin-bottom: 30px;
			font-size: 21px;
			position: relative;

			&-title {
				padding: 25px 30px 24px;
				width: 100%;
				display: inline-block;
				background: @bg-gray;
				color: @black;
				border: 1px solid transparent;
			}
			a.cta {
				padding: 9px 32px;
				z-index: 1000;
				width: 100%;

				@media @sm-breakpoint {
					position: absolute;
					top: 20px;
					right: 30px;
					width: auto;
				}
			}
		}
	}
}


/**
 * vegas
 */

.responsive_table {
	display: none;

	@media @md-breakpoint {
		width: 100%;
		margin: 30px 0 60px;
		display: table;

		tr:nth-child(even) td {
			background-color: #f2f2f2;
		}
		tr:last-child td,
		tr.vip_no_shade td {
			background-color: transparent;
		}
		td,
		th {
			padding: 15px;
			text-transform: uppercase;
			text-align: center;
			border-right: 1px solid #cbcbcb;
			border-bottom: 1px solid #cbcbcb;
		}
		tr td.vip_perk {
			text-align: right;
			background-color: transparent;
			text-transform: initial;
			border-left: 1px solid #cbcbcb;
			width: calc( 100% / 3 );
		}
		td.vip_no_border {
			border-bottom: none;
		}
	}
}

.vip_high_roller,
.hr_tab a {
	color: #ee1c24;
}

.vip_platinum,
.pt_tab a {
	color: #bcbcbc;
}

.vip_spectator,
.sp_tab a {
	color: @black;
}

.vip_gold,
.au_tab a {
	color: #a9a408;
}

.vip_silver,
.ag_tab a {
	color: #9f9f9f;
}

#vip_tabs {
	margin: 30px 0;

	.ui-tabs-panel {
		padding: 30px 15px;
		border-left: 1px solid @navborders;
		border-right: 1px solid @navborders;
		border-bottom: 1px solid @navborders;
		background-color: @bg-gray;
	}
	.ui-state-active {
		border-bottom: 1px solid @bg-gray;
	}
	a.toggle {
		color: @mediumgray;
	}

	@media @md-breakpoint {
		display: none;
	}
}

.vip {
	&_tabs_nav {
		font-weight: 600;
		font-size: 0;
		margin: 0;
		list-style: none;
		text-transform: uppercase;
		border-top: 1px solid @navborders;
		border-left: 1px solid @navborders;

		li {
			display: inline-block;
			font-size: 16px;
			width: 50%;
			margin: 0;
			text-align: center;
			border-right: 1px solid @navborders;
			border-bottom: 1px solid @navborders;

			// @media @xs-breakpoint {
			// 	width: calc(100% / 3);
			// }
		}
		a {
			display: block;
			padding: 10px 0;

			&:hover {
				text-decoration: none;
			}
		}
		.ui-state-active {
			background-color: @bg-gray;
		}
	}
	&_subtext {
		font-size: 14px;
		font-weight: 300;
	}
	&_purchase {
		margin: 60px 0 0;
		text-align: center;
	}
	&_footnote,
	&_footnote_mobile {
		font-size: 13px;
		font-weight: bold;
	}
	&_tooltip {
		font-size: 14px;
		display: none;
	}
	&_perk a.toggle {
		color: @mediumgray;
	}
	@media @md-breakpoint {
		&_hdr {
			border-top: 1px solid #cbcbcb;
		}

		&_pricing {
			color: @black;
			font-weight: 600;
			margin: 20px 0;
			font-size: 28px;
		}
		&_footnote_mobile {
			display: none;
		}
	}
}
