@import "../variables.less";
@import "../modules/no-hero.less";

/* what rocked */
.pixlee-widget {
	padding: 30px 0;
}
.pixlee_nav {
	margin-top: 30px;
	text-align: center;

	div {
		display: inline-block;
		padding: 0 30px 15px 30px;
	}
}
