.regional {
	&_event {
		margin-bottom: 30px;
		border: 1px solid @navborders;

		@media @md-breakpoint {
			overflow:  hidden;

			.regional_featuredimg {
				float: left;
				width: 50%;

				@media @lg-breakpoint {
					width: 60%;
				}
			}
		}

		.regional_racelist {
			text-transform: uppercase;
		}
		.regional_eventdetails {
			padding: 30px;
			transition: @transition;
			text-align: center;

			@media @md-breakpoint {
				float: right;
				width: 50%;
				height: 240px;
				padding: 0 30px;
			}
			@media (min-width: 64em) {
				height: 255px;
			}
			@media (min-width: 68.750em) {
				height: 275px;
			}
			@media @lg-breakpoint {
				width: 40%;
				height: 360px;
			}
		}
	}

	&_parent header {
		@media @md-breakpoint {

			#logo.regional {
				float: none;
				margin: auto;

				@media @lg-breakpoint {
					border: none;
				}

				img {
					width: 200px;
				}
			}
		}
	}

	&_child {
		header {
			#logo.regional {
				float: none;
				height: 90px;
				margin: auto;
				border: none;

				@media @md-breakpoint {
					margin: 0;
				}

				img {
					left: 3%;
					float: left;
					width: 150px;

					@media @md-breakpoint {
						left: auto;
						float: none;
						width: 79%;
					}
				}
			}
		}
	}

	&_hamburger {
		@media @md-breakpoint {
			width: 100%;
		}
		.menulabel {
			position: absolute;
			top: -60px;
			right: 17%;
			cursor: pointer;

			@media @xs-breakpoint {
				right: 11%;
			}
			@media @md-breakpoint {
				right: 9%;
			}
			@media @lg-breakpoint {
				right: 8%;
			}
		}
		.hamburger {
			top: -63px;
			right: 3%;
			left: auto;

			@media @md-breakpoint {
				display: inline-block;
			}
		}
		@media @md-breakpoint {
			#global-rnr-menu {
				overflow: hidden;
				max-height: 0;
				background: @rnr-red;

				&.menuOpen {
					max-height: 1000px;
				}
				ul {
					border: none;
				}
				li a {
					padding: 12px 30px 7px;
					transition: @transition;
					color: #fff;
					border-bottom: 1px solid #d61920;

					&:hover {
						color: #000;
					}
				}
			}
		}
	}

	&_lp {
		padding: 30px 3% 0 3%;

		h1 {
			font-family: 'Open Sans', sans-serif;
			font-size: 46px;
			font-weight: normal;
			margin-bottom: 30px;
			text-align: center;
			text-transform: uppercase;
		}
		h2.regional_eventlocation {
			font-family: 'Open Sans', sans-serif;
			font-size: 36px;
			margin-bottom: 5px;
			padding: 0;
			letter-spacing: normal;
			border: none;

			a {
				color: @darkgray;
			}
		}
		h3.regional_eventdate {
			font-family: 'Open Sans', sans-serif;
			font-size: 24px;
			font-weight: 600;
			margin-bottom: 20px;
			text-transform: uppercase;
			color: @rnr-red;
		}
		.owl {
			&-singleposts,
			&-autoplay {
				margin-bottom: 60px;
				border-bottom: none;
			}

			&-singlepost-controls {
				border-top: none;
			}
		}

		.wp-caption-text {
			margin: 10px 0;
		}
	}

	&_featuredimg {
		text-align: center;
	}

	&_event_selling_pt {
		margin-bottom: 60px;
		background-color: #000;

		@media @md-breakpoint {
			overflow: hidden;
		}

		.regional_featuredimg {
			transition: @transition;
			background-position: center;

			@media @md-breakpoint {
				float: left;
				width: 50%;
			}
		}
		.regional_eventdetails {
			padding: 30px;
			transition: @transition;
			text-align: center;
			color: #fff;
			border-top: 5px solid @rnr-red;

			@media @md-breakpoint {
				float: right;
				width: 50%;
			}

			h2 {
				color: #fff;
			}
		}
	}

	&_about_race {
		margin: 0 auto 60px auto;
		text-align: center;

		li {
			list-style-position: inside;
		}
	}

	&_sibling_nav {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		display: table;
		margin: 0 auto 60px auto;
		text-align: center;
		text-transform: uppercase;

		ul {
			margin: 0 0 30px;
			list-style: none;

			@media @xs-breakpoint {
				font-size: 0;
			}
		}
		li {
			font-size: 22px;
			margin: 0;
			padding: 15px;
			border-top: 2px solid @navborders;

			@media @xs-breakpoint {
				display: inline-block;
				padding: 0 15px;
				border-top: none;
				border-left: 2px solid @navborders;
			}

			&:first-child {
				border: none;
			}
			a {
				color: @mediumgray;
			}
		}
	}

	&_hdr {
		margin-bottom: 30px;
		text-align: center;

		h1 {
			font-size: 42px;
			font-weight: 700;
			line-height: 1.25;
			margin: 0;
			letter-spacing: -2px;
			color: #6d6e70;

			@media @xs-breakpoint {
				font-size: 56px;
			}
		}
		.regional_eventdate {
			font-size: 21px;
		}
		.regional_racelist {
			text-transform: uppercase;
		}
	}
	&_cta_group {
		display: table;
		margin: 0 auto 60px;
		text-align: center;
	}

	.cta& {
		display: block;
	}

	#ribbon& {
		height: auto;
		margin: 60px 0;
		text-align: center;

		h4 {
			font-family: 'Open Sans', sans-serif;
			font-size: 26px;
			margin-bottom: 10px;
			text-transform: uppercase;
			color: @mediumgray;
		}

		ul {
			display: table;
			margin: auto;

			li {
				display: inline-block;

				a {
					margin: 0 5px;
				}
			}
		}
	}
}
