/**
 * Switched out the word ad to hypnotoad (ALL HAIL HYNPOTOAD)
 * to get around ad blockers sometimes (especially custom mark up ads)
 * (I'm sorry)
 */
.hypnotoad {
	&_col {
		margin-bottom: 1.875em;
		text-align: center;

		@media screen and (min-width: 640px) {
			display: block;
			float: right;
			width: 48.38709677419355%; /* 300 */
			margin-bottom: 0;
		}
		@media screen and (min-width: 990px) {
			float: right;
			width: 30.92783505154639%;
		}
		@media screen and (min-width: 1300px) {
			float: left;
			width: 23.80952380952381%; /* 300 */
			margin-left: 1.875em;
		}
	}
	&_unit {
		margin-bottom: 25px;

		@media screen and (min-width: 1300px) {
			&_container {
				max-width: 1280px;
			}

		}

		div {
			margin: auto;
			text-align: center;
		}
		@media screen and (min-width: 990px) {
			&.hypnotoad_970x90,
			&.hypnotoad_728x90 {
				display: block;
				overflow: hidden;
				text-align: center;
			}
			&.hypnotoad_970x90 {
				margin-bottom: 0;
			}
		}
	}
	&_300x250,
	&_300x600 {
		text-align: center;
	}

	@media screen and (min-width: 850px) {
		&_728x90 {
			display: block;
			clear: both;
			margin-top: 1.875em;
			text-align: center;
		}
	}
}


.sidebar {
	@media screen and (min-width: 640px) {
		.hypnotoad_300x250_3 {
			margin-left: 1.25em;
		}
	}
	@media screen and (min-width: 990px) {
		.hypnotoad_300x250_2,
		.hypnotoad_300x250_3 {
			float: none;
			margin-left: 0;
		}
	}
}


#div-300_250_side {
	text-align: center;
}

 .advert.advert_location_inline {
	text-align: center;

	.advert-loaded {
		border-top: 1px solid #a7a9ac;
		border-bottom: 1px solid #a7a9ac;
		margin-bottom: 15px;
		margin-top: 15px;
		padding-bottom: 15px;
		padding-top: 15px;
	}
}

.home .sponsored_ad {
	margin-bottom: 1.875em;
}
