/* @@ breaking news headlines */
.breaking_news_alert,
.leaderboard_news_alert {
	margin-top: 1.875em;
	text-align: center;
	text-transform: uppercase;

	a {
		font-weight: 600;
		display: block;
		padding: 0.625em 0;
	}
}
.breaking_news_alert a {
	color: @white;
	border: 1px solid #af3e09;
	background-color: #ef550c;
}
.leaderboard_news_alert a {
	color: #333;
	border: 1px solid #e6db55;
	background-color: #ffffe0;
}