/* @@ buttons */
.btn {
	&_primary {
		a {
			font-weight: 400;
			font-style: italic;
			display: block;
			width: 10em;
			margin: 0 auto 1.875em auto;
			padding: 0.625em 0;
			-webkit-transition: all 0.25s ease;
			   -moz-transition: all 0.25s ease;
			     -o-transition: all 0.25s ease;
			        transition: all 0.25s ease;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			color: @white;
			background-color: #1c75bc;
			box-shadow: 0 5px 0 0 #1865a2;

			@media screen and (min-width: 480px) {
				display: inline-block;
			}

			&:hover {
				text-decoration: none;
				background-color: #1e7dc9;
			}
			&.wide_btn {
				width: auto;
				padding: 0.625em;
			}
		}
		.next-post,
		.prev-post {
			padding: 0.625em 0 0.313em;
		}
	}
	&_find_routes,
	&_race_search,
	&_find_shoes {
		width: 100%;
		margin: 0;
		color: @white;
		border: none;
		background-color: #1c75bc;

		&:hover {
			background-color: #1e7dc9;
		}
	}

	&_secondary a {
		font-weight: 400;
		font-style: italic;
		display: block;
		width: 10em;
		margin: 0 auto 1.875em auto;
		padding: 0.625em 0;
		-webkit-transition: all 0.25s ease;
		   -moz-transition: all 0.25s ease;
		     -o-transition: all 0.25s ease;
		        transition: all 0.25s ease;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		color: @white;
		background-color: @comp-blue;
		box-shadow: 0 5px 0 0 #2397c7;

		&:hover {
			text-decoration: none;
			background-color: #1e83ae;
		}
		&.btn--buynow {
			display: inline-block;
			padding: .625em 1.25em .625em 1.875em;
			margin-bottom: 0;
			box-shadow: none;
			width: auto;

			.icon-right-open {
				font-size: .909em;
				margin-left: 20px;
				vertical-align: text-top;
			}
		}
	}


}


