.footer {
	overflow: hidden;
	margin: 1.875em 0;
	padding-top: 1.875em;
	color: #6d6e71;
	border-top: 1px solid #d1d3d4;
	border-bottom: 1px solid #d1d3d4;

	@media screen and (min-width: 1300px) {
		max-width: 1280px;
	}

	&_hot_topics {
		display: none;
	}
	&_col {
		margin-bottom: 1.875em;

		@media screen and (min-width: 990px) {
			float: left;
			width: calc( 100%/3 );
		}

		&_2 {
			ul {
				display: table;
				overflow: hidden;
				margin: auto;

				@media screen and (min-width: 480px) {
					display: block;
				}
				@media screen and (min-width: 1300px) {
					font-size: 0.938em;
				}
			}
			li {
				margin-bottom: 0.625em;

				@media screen and (min-width: 480px) {
					float: left;
					width: 50%;
				}
				@media screen and (min-width: 990px) {
					float: none;
					width: auto;
				}
				@media screen and (min-width: 1300px) {
					float: left;
					width: 50%;
				}
			}
		}
	}
	h4 {
		font-size: 1.188em;
		font-weight: 600;
		font-style: italic;
		padding: 0 0 0.625em;
		color: #6d6e71;
	}
	.subscribe_group {
		@media screen and (min-width: 480px) {
			display: table;
			width: 80%;
			margin: auto;
		}
		@media screen and (min-width: 990px) {
			display: block;
			width: auto;
			margin: 0;
			padding-right: 1.875em;
		}
	}

}

.digi_band,
.mag_image {
	display: inline-block;
	width: 50%;
}
.digi_band {
	background-color: @comp-blue;

	@media screen and (min-width: 480px) {
		width: 60%;
	}

	h5 {
		padding: 0.625em 0 0.625em 0.625em;

		a {
			display: block;
			color: @white;
		}
	}
}
.mag_image {
	@media screen and (min-width: 480px) {
		width: 40%;
	}
}



.sub_footer {
	padding-bottom: 1.875em;
	text-align: center;

	@media screen and (min-width: 640px) {
		text-align: left;
	}

	&_col_1,
	&_col_2 {
		@media screen and (min-width: 480px) {
			float: left;
			width: 50%;
			margin-bottom: 1.25em;
		}
		@media screen and (min-width: 640px) {
			float: none;
			width: auto;
			margin-left: 0;
		}

		ul {
			@media screen and (min-width: 640px) {
				margin-left: 9.375em;
			}
		}
	}
	&_col_3 {
		@media screen and (min-width: 480px) {
			clear: both;
		}

		@media screen and (min-width: 990px) {
			ul {
				margin-left: 22.188em;
			}
		}
	}

	h5 {
		color: #6d6e71;

		@media screen and (min-width: 640px) {
			float: left;
			width: 8.333em;
			margin-right: -100%;
			padding: 0;
		}
	}
	li {
		font-size: 0.875em;
		vertical-align: top;
		border-bottom: 1px solid #a7a9ac;

		@media screen and (min-width: 640px) {
			display: inline-block;
			margin-right: 0.625em;
			padding: 0 0.625em 0 0;
			border-right: 1px solid #a7a9ac;
			border-bottom: none;

			&:last-child {
				margin-right: 0;
				padding-right: 0;
				border-right: none;
			}
		}
	}
	a {
		display: block;
		padding: 0.625em 0;
		color: #6d6e71;

		@media screen and (min-width: 640px) {
			display: inline;
			padding: 0;
		}
	}
	.copyright {
		font-size: 0.875em;
		margin-top: 1.429em;
		text-align: center;

		@media screen and (min-width: 990px) {
			float: left;
			width: 25.357em;
			margin: 0;
			text-align: left;
		}
	}
}

