#hot-stories {
	.noshow {
		display: none;
	}
	.tabs {
		font-style: italic;
		overflow: hidden;

		li {
			float: left;
			width: 100%;
			margin-bottom: 0.625em;
		}
	}

	.ga-tab {
		a {
			display: block;
			padding: 0.625em 0;
			text-align: center;
			color: @white;
			background-color: @comp-blue;
		}
	}


	.tab_indicator {
		position: relative;
		display: none;
		width: 0;
		height: 0;
		margin: auto;
		border-right: 15px solid transparent;
		border-left: 15px solid transparent;
		border-top: 15px solid @comp-blue;
	}

	.active .tab_indicator {
		display: block;
	}
	.tab_content {
		padding: 0 0.938em 0.938em 0.938em;

		li {
			margin-bottom: 0.625em;
			padding: 0 0.938em;
			background: url(images/running/running-bullet.png) no-repeat 0 8px;
		}
	}

}
