/* @@ navigation */
.navbar {
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
	background-color: rgba(255,255,255,0.9);

	@media screen and (min-width: 990px) {
		position: relative;
		top: auto;
		width: auto;
		background-color: @white;
		max-width: 990px;
		margin: auto;
		padding: 0 0.625em;
	}

	@media screen and (min-width: 1300px) {
		max-width: 1280px;
	}

	&-header {
		overflow: hidden;
	}
	&-toggle {
		cursor: pointer;
		text-align: center;
		border: none;
		border-radius: 0;

		.icon-bar {
			background-color: @black;
			height: 5px;
		}
	}
	&-brand {
		float: left;
		padding: .313em 0 0 0;

		@media screen and (min-width: 990px) {
			padding: 0.938em 0.625em 0.938em 0;
		}

		.brand {
			// width: 173px;
			height: 35px;

			@media screen and (min-width: 1300px) {
				height: 50px;
			}
		}
	}


	.main_nav {
		display: none;
		float: left;
		margin-left: 0.313em;
		text-transform: lowercase;

		@media screen and (min-width: 900px) {
			display: block;
			clear: left;
		}

		@media screen and (min-width: 1300px) {
			clear: none;
			margin-top: 15px;
		}

		li {
			float: left;

			@media screen and (min-width: 900px) {
				&:hover {
					background-color: @comp-blue;

					a {
						color: @white;
					}
					.sub-menu {
						visibility: visible;
						opacity: 1;
						background-color: @comp-blue;

						a:hover {
							background-color: #1c75bc;
						}
					}
				}
			}
		}
		a {
			display: inline-block;
			padding: 0.938em 0.625em;
			transition: background-color 0.25s ease;
			color: #141313;

			&:hover {
				text-decoration: none;
				color: @white;
				background-color: @comp-blue;
			}
		}
		.sub-menu {
			position: absolute;
			z-index: 20;
			visibility: hidden;
			transition: all 0.25s ease;
			opacity: 0;

			@media screen and (min-width: 900px) {
				a {
					color: @white;
				}
			}
		}
	}

	&-right {
		background-color: @comp-blue;
	}

	.admin-bar & {
		position: relative;
	}
	.current-menu-item a {
		color: @white;
		background-color: @comp-blue;
	}

	.logo_slashes {
		display: none;
		float: left;
		margin-left: 0.313em;
		padding-top: 0.625em;

		@media screen and (min-width: 900px) {
			display: block;
		}


		@media screen and (min-width: 990px) {
			padding-top: 0.938em;
		}
	}
	#searchbar {
		display: none;
		clear: both;
		overflow: hidden;
		width: 100%;
		padding: 0.625em;
		text-align: right;
		background-color: #a7a9ac;

		@media screen and (min-width: 990px) {
			margin-bottom: 1.875em;
		}
	}
	&-form {
		display: table;
		float: right;
	}
	.form-control {
		font: italic 300 1em/1.42857 'Open Sans',sans-serif;
		float: left;
		margin-right: 0.313em;
		padding: 0.625em;
	}
	.btn {
		font-size: 1em;
		display: inline-block;
		margin: 0 auto;
		padding: 0.625em 0.625em 0.563em 0.625em;
	}
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
	margin: 0;
}

.right_nav_btns {
	position: absolute;
	top: 0;
	right: 0;
	float: right;

	@media screen and (min-width: 900px) {
		right: 10px;
	}
}