.postmeta {
	display: none;
	clear: both;
	padding: 0.938em;
	margin-bottom: 1.875em;
	border: 1px solid #a7a9ac;

	@media screen and (min-width: 640px) {
		display: block;
	}

	h3 {
		margin: 0;
		padding: 0.536em;
	}

	.post_tags {
		margin-bottom: 1.875em;

		a {
			font-size: 0.813em;
			display: inline-block;
			margin: 0 0.385em 0.385em 0;
			padding: 0.385em;
			-webkit-transition: background-color 0.25s ease;
			   -moz-transition: background-color 0.25s ease;
			     -o-transition: background-color 0.25s ease;
			        transition: background-color 0.25s ease;
			color: @white;
			background-color: @comp-blue;

			&:hover {
				background-color: #1c75bc;
			}
		}
	}
	&.author_meta {
		overflow: hidden;
		margin-bottom: 1.875em;

		h4 {
			padding-top: 0;
		}

		.avatar {
			display: table;
			margin: 0 auto 1.875em;
			border-radius: 50%;

			@media screen and (min-width: 640px) {
				float: left;
				margin: 0 1.875em 1.875em 0;
			}
		}

		.author_social {
			display: flex;

			a {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 2.500em;
				height: 2.500em;
				-webkit-transition: all 0.25s ease;
				   -moz-transition: all 0.25s ease;
				     -o-transition: all 0.25s ease;
				        transition: all 0.25s ease;
				text-align: center;

				&:hover {
					text-decoration: none;
				}

				&.custom {
					&-facebook-button {
						background-color: #1c75bc;

						&:hover {
							background-color: #1865a2;
						}
					}
					&-twitter-button {
						background-color: @comp-blue;

						&:hover {
							background-color: #2397c7;
						}
					}
					&-gplus-button {
						background-color: #db4830;

						&:hover {
							background-color: #c1402a;
						}
					}
				}
			}
			.author-button {
				line-height: 1;
				width: auto;
				padding: 0.750em;
				color: @white;
				background-color: #00a79d;

				&:hover {
					background-color: #008d85;
				}
			}
		}
	}
}

