.recommended-widget{
	border-top: 1px solid #a7a9ac;
	border-bottom: 1px solid #a7a9ac;
	margin-bottom: 1.25em;
	padding-top: 5px;

	&__title {
		background: url('images/running/running-slashes-blue.svg') no-repeat 0 3px;
		font-size: 24px;
		padding: 0 0 10px 40px;
	}

	// adding class again to add more weight to the styling declarations
	.recommended-widget {

		&__menu {
			list-style-type: none;

			&-item {
				margin-left: 15px;
				margin-bottom: 0.625em;
				padding: 0 0.938em;
				background: url(images/running/running-bullet.png) no-repeat 0 6px;

				a {
					color: #000;
					text-decoration: none;
					font-style: italic;

					&:hover {
						color: #1c75bc;
						text-decoration: underline;
					}
				}
			}
		}
	}

	&.alt-1 {
		border: 2px solid #a7a9ac;
		padding-left: 10px;
		padding-right: 10px;
		background-color: #f2f2f2;
	}

	&.alt-2 {
		padding-top: 10px;
		padding-bottom: 15px;
		a {
			color: #000;
			text-decoration: none;
		}
		& .article {

			&__permalink:hover{
				text-decoration: underline;
			}

			&__thumbnail {
				float: left;
				margin-right: 25px;
			}

			&__title {
				font-weight: bold;
				padding-top: 0;
				padding-bottom: 10px;
			}

			&__excerpt {
				font-weight: normal;
			}

			&::after {
				clear: both;
				content: ' ';
				display: table;
			}
		}
	}

}
