/**
 * Related by category posts in article footer
 */
.related-articles-category {
	margin: 0 -15px;

	@media screen and ( min-width: 640px ) {
		display: flex;
		justify-content: space-between;
	}

	article {
		border: 1px solid #a7a9ac;
		margin: 0 15px 30px;

		@media screen and ( min-width: 640px ) {
			width: 50%;
		}
		@media screen and ( min-width: 1300px ) {
			width: calc( 100%/3 );
		}

		a {
			display: block;
			height: 100%;
		}

		.more_link {
			border: none;
			margin-bottom: 0;

			.icon-right-open {
				float: right;
			}

			img {
				width:100%;
			}
		}

		.title {
			padding: 20px;
			min-height: 74px;
		}

		// only want 2 posts showing on smaller screens
		&:nth-child( n + 3 ) {
			display: none;
		}
	}

	@media screen and ( min-width: 1300px ) {
		article:nth-child( n + 3 ) {
			display: inline-block;
		}
	}

}
