.content {
	.search-tabs {
		font-style: italic;
		overflow: hidden;
		margin: 3.75em 0 1.25em 0;
		list-style: none;

		li {
			float: left;
			width: 50%;
			margin: 0;
		}
		a {
			display: block;
			padding: 0.625em 0;
			text-align: center;
			color: @white;
		}
		.ar-tab {
			a {
				background-color: #1c75bc;
			}
			.tab_indicator {
				border-top: 15px solid #1c75bc;
			}
		}
		.ir-tab {
			a {
				background-color: @comp-blue;
			}
			.tab_indicator {
				border-top: 15px solid @comp-blue;
			}
		}

		.tab_indicator {
			position: relative;
			display: none;
			width: 0;
			height: 0;
			margin: auto;
			border-right: 15px solid transparent;
			border-left: 15px solid transparent;
		}
		.active .tab_indicator {
			display: block;
		}

	}
	.images_search_result {
		overflow: hidden;
		list-style: none;

		li {
			margin: 0 0 3.75em 0;

			@media screen and (min-width: 480px) {
				float: left;
				width: calc( 100%/3 );
				padding: 0 0.938em;
			}
		}
		&_row {
			margin-bottom: 1.25em;

			.image_search_title {
				font-size: 0.875em;
				font-weight: bold;

				@media screen and (min-width: 1300px) {
					font-size: 1em;
				}
			}
		}
		h4 {
			margin-top: 0.5em;
		}
	}


}
