#sb-site {
	background-color: @white;

	@media screen and (min-width: 990px) {
		background-color: transparent;
	}
}


.sb {
	&-active {
		#sb-site {
			background-color: @white;
		}
		#bg-link-left,
		#bg-link-right {
			display: none;
		}
		&-right .sb-toggle-right {
			right: 0;
		}
	}
	&-right {
		.side_social_icons {
			float: left;
		}
		.sb-close {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	&-slidebar {
		background-color: @comp-blue;

		.owl {
			&-theme .owl-controls .owl-page span {
				opacity: 1;
				background-color: #1c75bc;
			}
			&-theme .owl-controls .owl-page.active span,
			&-theme .owl-controls.clickable .owl-page:hover span {
				background-color: @white;
			}
			&-theme .owl-controls .owl-buttons div {
				opacity: 1;
				color: @white;
			}
			&-buttons div {
				bottom: 0;
			}
		}

		.overlay {
			top: 10px;
			height: 66.66666666666667%;
		}
	}
	&-toggle {
		&-left {
			float: left;
			padding: 9px 10px 8px;
			@media screen and (min-width: 990px) {
				display: none;
			}
		}
		&-right {
			float: right;
			margin: 0;
			padding: 9px 10px 8px;
			-webkit-transition: all 0.25s ease;
			   -moz-transition: all 0.25s ease;
			     -o-transition: all 0.25s ease;
			        transition: all 0.25s ease;
			@media screen and (min-width: 990px) {
				position: relative;
				right: 0;
			}
		}
		&-search {
			float: right;
			margin: 0;
			padding: 9px 10px 8px;
			background-color: #1c75bc;
		}
	}
	@media screen and (min-width: 990px) {
		&-left {
			display: none;
		}
	}
}


.sb-active-right .social_icons,
.social_icons {
	display: none;
}


.social_row {
	font-size: 0.875em;
	position: relative;
	overflow: hidden;
	padding: 0.714em 0;
}
.side_social_icons {
	float: right;
}


/* @@ slidebar sprites */
.sb_sprite {
	width: 32px;
	height: 32px;
	background: url(images/running/competitor-sprites.png) no-repeat top left;
}
.sbr {
	&_shoe img {
		background-position: 0 -50px;
	}
	&_calendar img {
		background-position: 0 -100px;
	}
	&_nutrition img {
		background-position: 0 -150px;
	}
	&_routes img {
		background-position: 0 -200px;
	}
	&_trails img {
		background-position: 0 -250px;
	}
	&_podcasts img {
		background-position: 0 -300px;
	}
	&_26s img {
		background-position: 0 -350px;
	}
	&_subscribe img {
		background-position: 0 -400px;
	}
	&_search img {
		background-position: 0 -450px;
	}
}
.sbl {
	&_home img {
		background-position: 0 -500px;
	}
	&_training img {
		background-position: 0 -550px;
	}
	&_news img {
		background-position: 0 -600px;
	}
	&_video img {
		background-position: 0 -650px;
	}
	&_subscribe img {
		background-position: 0 -700px;
	}
	&_search img {
		background-position: 0 -750px;
	}
	&_blank img {
		background: none;
	}
}


.side_social_icons {
	li {
		float: left;
		margin-left: 0.357em;

		&:first-child {
			margin-left: 0;
		}
	}

	a {
		padding: 0.714em;
		-webkit-transition: all 0.25s ease;
		   -moz-transition: all 0.25s ease;
		     -o-transition: all 0.25s ease;
		        transition: all 0.25s ease;
		color: #1c75bc;

		&:hover {
			color: @white;
		}
	}

}

.side_row {
	margin-bottom: 1.25em;

	h3 {
		font-size: 1.357em;
		font-weight: 600;
		padding: 0.429em;
		color: @white;
		background-color: #1c75bc;
	}
	li {
		margin-bottom: 0.625em;
		padding: 0 0.938em;
		background: url(images/running/running-bullet-white.png) no-repeat 0 8px;
	}
	a {
		color: @white;
	}

	&.nav_group {
		font-style: italic;
		overflow: hidden;
		margin-bottom: 1.25em;
		text-transform: lowercase;

		li {
			border-bottom: 1px solid @comp-blue;
			border-left: 1px solid @comp-blue;
			padding: 0;
			background: none;
			margin: 0;

			@media screen and (min-width: 400px) {
				float: left;
				width: 50%;
			}
		}
		a {
			display: block;
			padding: 0.938em 0.625em;
			-webkit-transition: all 0.25s ease;
			   -moz-transition: all 0.25s ease;
			     -o-transition: all 0.25s ease;
			        transition: all 0.25s ease;
			color: @white;
			background-color: #1c75bc;

			&:hover {
				text-decoration: none;
				background-color: @comp-blue;
			}
		}
	}
	.owl-item {
		div {
			max-width: 300px;
			margin: 0.625em 1.25em;
			text-align: center;

			@media screen and (min-width: 400px) {
				margin: 0.625em auto;
			}
		}
		.white_bg a {
			color: #141312;
		}
		.list_group {
			background: none;
		}

	}

}
