/* @@ social sticky */
.social-bar--fixed {
	z-index: 9999;
	background-color: rgba(255,255,255,0.9);

	#sharingWidgetTop {
		padding: 0.625em;

		@media screen and (min-width: 640px) {
			max-width: 640px;
			margin: auto;
		}
		@media screen and (min-width: 990px) {
			max-width: 990px;
		}
	}
}

#share-links {
	margin-bottom: 1.875em;

	@media screen and (max-width: 468px) {
		text-align: center;
	}
	@media screen and (min-width: 1300px) {
		display: none;
	}


	&.social-bar--fixed {
		margin-bottom: 0;
	}
	.pw-button {
		font-size: 16px!important;

		&__inner {
			min-width: auto;
		}
	}
}

.content--fixed {
	padding-top: 61px;
}

#article-left {
	display: none;

	@media screen and (min-width: 1300px) {
		position: relative;
		display: block;
		float: left;
		width: 3.225806451612903%;
		margin-right: 30px;
	}
}
@media screen and (min-width: 1300px) {
	#article-right {
		float: right;
		width: 93.54838709677419%;
		margin-bottom: 1.875em;
	}
}


.share-links {
	margin-bottom: 1.875em;
}

 /* Custom social sharing icons using fontello font */
#sharingWidgetLarge {
	display: none !important;
}
#sharingWidgetSmall {
	display: block !important;
}

a.pw-button.pw-size-medium{
	margin-right: 5px !important;

	span.pw-icon.ra1-pw-icon{
		background-image: none;
		color: @white;
		height: 24px;
		width: 24px;
		font-family: fontello;
		font-size: 16px;
		text-align: center;
		line-height: 24px;
		padding: 3px;

		&.ra1-pw-icon-facebook{
			background-color: #3b5998;

			&:before{
				content: '\e80c';
			}
		}
		&.ra1-pw-icon-twitter{
			background-color: #55acee;
			&:before{
				content: '\e80d';
			}
		}
		&.ra1-pw-icon-googleplus{
			background-color: #dd4b39;

			&:before{
				content: '\e815';
			}
		}
		&.ra1-pw-icon-pinterest{
			background-color: #bd0819;

			&:before{
				content: '\e818';
			}
		}
		&.ra1-pw-icon-email{
			background-color: #343434;

			&:before{
				content: '\e819';
			}
		}
	}
	span.pw-button-counter{
		padding-left:0 !important;

		span.pw-button-counter__count{
			border-radius: 0;
			padding: 3px 8px !important;
			font-size: 12px;
		}
	}
}