#subscribe-widget {
	padding-right: 0.536em;
	padding-left: 0.536em;

	@media screen and (min-width: 640px) {
		padding-right: 1em;
		padding-left: 1em;
	}

	.form_container {
		display: table;
		margin: auto;
	}

	/* .nl-options {
		position: relative;

		ul.collapse {
			margin: 0 -4px;
		}
	} */
	.tabs_2 {
		font-style: italic;
		overflow: hidden;

		li {
			float: left;
			width: 100%;
			margin-bottom: 0.625em;
		}
	}

	/* .digi-tab a,
	.nl-tab a {
		display: block;
		padding: 0.625em 0;
		text-align: center;
		color: @white;
	}
	.digi-tab a {
		background-color: #1c75bc;
	}
	.nl-tab a {
		background-color: @comp-blue;
	} */

	/* .tab_indicator {
		position: relative;
		display: none;
		width: 0;
		height: 0;
		margin: auto;
		border-right: 15px solid transparent;
		border-left: 15px solid transparent;
	}
	.digi-tab .tab_indicator {
		border-top: 15px solid #1c75bc;
	}
	.nl-tab .tab_indicator {
		border-top: 15px solid @comp-blue;
	}
	.active .tab_indicator {
		display: block;
	} */

	/* .tab_content_2 {
		padding: 0 0.938em 0.938em 0.938em;

		li {
			margin-bottom: 0.625em;
			padding: 0 0.938em;
			background: url(images/running/running-bullet.png) no-repeat 0 8px;
		}
	} */

}


.subscribe-form {
	.errorMessage {
		font-size: 0.813em;
		font-style: italic;
		clear: both;
		margin: 5px 0 20px;
		padding: 5px;
		text-align: left;
		color: #f00;
		border: 1px solid red;
		background-color: #efefef;
	}
	.confirmMessage {
		margin: 0 0 10px 0;
		padding: 8px;
		color: @black;
		border: 1px solid darkgreen;
		background-color: rgb(223, 255, 223);
	}
	input.fields_email {
		font-family: 'Open Sans', sans-serif;
		font-size: 1.188em;
		width: 100%;
		margin: 8px 0;
		padding: 10px;
		border: 1px solid #e6e7e8;
		outline: none;
		background-color: #e6e7e8;
	}
	.submit-button {
		margin: 1.25em 0;
		color: @white;
		background-color: #1c75bc;

		&:hover {
			background-color: #1e7dc9;
		}
	}
	.icontact_mini_links {
		font-size: 0.813em;
		font-style: italic;
		overflow: hidden;
		margin-bottom: 0.536em;

		@media screen and (min-width: 640px) {
			margin-bottom: 1em;
		}

		a {
			font-weight: bold;
		}
	}

}


#icontact_wrapper_inarticle {
	// display: none;
	@media screen and (min-width: 990px) {
		display: block;
		margin: 1.875em 0;
		padding: 1.25em 0;
		border-top: 1px solid #a7a9ac;
		border-bottom: 1px solid #a7a9ac;
	}

	/* #icontact_wrapper {
		margin: 1.875em 0;
		padding: 1.25em 0;
		border-top: 1px solid #a7a9ac;
		border-bottom: 1px solid #a7a9ac;
	} */
	.icontact_header {
		overflow: hidden;
	}
	.icontact_intro_text {
		padding-top: 0;

		@media screen and (min-width: 480px) {
			float: left;
			width: 70%;
		}
		@media screen and (min-width: 990px) {
			width: 75%;
		}
		@media screen and (min-width: 1300px) {
			width: 80%;
		}

		h3 {
			padding-top: 0;
		}
	}

	.nl_logo {
		display: none;
		float: right;

		@media screen and (min-width: 480px) {
			display: block;
		}
	}



	ul.collapse li {
		float: left;
		width: 30%;
		margin-bottom: 20px;
		list-style-type: none;

		label p {
			display: none;
		}
	}
	.nl-options input {
		float: left;
		width: 30px;
	}
}


.icontact_inarticle {

	@media screen and (min-width: 990px) {
		clear: both;
		margin: 0 0 1.25em;
	}

	input:not([type='submit']) {
		width: 100%;
		margin-bottom: 1.25em;

		@media screen and (min-width: 480px) {
			width: 63.04347826086957%;
			margin-bottom: 0;
		}
		@media screen and (min-width: 1300px) {
			width: 81.72043010752688%;
		}
	}
	button {
		width: 100%;
		color: @white;
		background-color: #1c75bc;

		@media screen and (min-width: 480px) {
			width: 34.78260869565217%;
		}
		@media screen and (min-width: 1300px) {
			width: 17.20430107526882%;
		}
	}

	.nl_privacy_link {
		float: right;
	}

}

.sub-leadin {
	font-weight: bold;
	font-style: italic;
}


.footer_form_container {
	h3 {
		padding-top: 0;
	}
	.nl_privacy_link {
		padding-top: 0.536em;

		a {
			float: right;
		}
	}

}
