.velopress-book {
	border: 1px solid #a7a9ac;
	margin-bottom: 30px;

	&__header {
		background-color: #E0E0E0;
		border-bottom: 1px solid #a7a9ac;
		overflow: hidden;

		&__logo {
			float: left;
			padding-right: 15px;
			margin-right: 15px;
			border-right: 1px solid #000;
		}
		&__module_title {
			background: #E0E0E0;
			font-size: 16px;
			margin: 0;
			padding: 5px 15px;
			text-align: center;
			width: 100%;
		}
	}

	&__content {
		padding: 15px;
		overflow: hidden;

		&__cover {
			max-width: 150px;
			margin: 0 auto 15px auto;
		}
		&__title {
			font-style: normal;
			padding-top: 0;

			a {
				color: #E35147;
				margin: 0 0 5px 0;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&__subtitle {
			color: #999;
			font-size: 13px;
		}
		&__author {
			font-size: 13px;
			font-weight: bold;
			line-height: 1.4;
			margin: 10px 0;
		}
		&__desc {
			line-height: 1.4;
			font-size: 0.938em;
		}
		&__cta {
			text-transform: uppercase;
			text-align: center;

			a {
				font-weight: bold;
				color: #fff;
				padding: 10px 50px;
				display: inline-block;
				background-color: #E35147;
				transition: all 0.25s ease;
				text-decoration: none;

				&:hover {
					background-color: #333;
					text-decoration: none;
				}
			}
		}
	}

	@media screen and ( min-width: 640px ) {
		&.aligncenter {
			.velopress-book {
				&__content {
					&__cover {
						float: left;
						margin: 5px 15px 15px 0;
					}
				}
			}
		}
		&.alignleft,
		&.alignright {
			max-width: 300px;
		}
		&.alignleft {
			float: left;
			margin: 0 1.875em 1.875em 0;
		}
		&.alignright {
			float: right;
			margin: 0 0 1.875em 1.875em;
		}
		&__content {
			&__title {
				font-size: 1.375em;
			}
		}
	}
}
