/**
 * YouTube playlist
 */
#ytThumbs {
	.clearfix();
}
.video_playlist {
	background-color: #d3d3d3;
	margin-bottom: 1.875em;
	overflow: hidden;

	.ytPlayer {
		position: relative;
		overflow: hidden;
		height: 0;
		margin-bottom: 20px;
		padding-bottom: 56.25%;

		@media screen and ( min-width: 1300px ) {
			float: left;
			width: 65.59139784946237%;
			margin-bottom: 0;
		}
	}
	.ytlist,
	.bclist {
		overflow: auto;

		.small {
			display: inline-block;
			width: 120px;
			margin: 0 0.938em 0.938em;
			cursor: pointer;
			vertical-align: top;

			@media screen and (min-width: 1300px) {
				display: block;
				width: auto;
				margin: 0 0 1.875em 0;
			}
		}
	}

	.ytlist {
		white-space: nowrap;
	}

	@media screen and (min-width: 1300px) {
		.scrolling_list,
		.ytlist {
			float: right;
			width: 31.18279569892473%;
			height: 523px;
			margin-left: 1.875em;
			white-space: normal;
			background-color: transparent;
		}
	}

}
.scrolling_list {
	position: relative;
	overflow: auto;
	background-color: #d3d3d3;
}

.ytPlayer {
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/**
 * Brightcove playlist
 */
#myVideo {
	max-width: 100%;
}
.video-js {
	float: left;
	height: 350px;
	margin: 20px 0;
	width: 640px;

	@media screen and (min-width: 1300px) {
		margin-left: 20px;
	}
}
#container .vjs-playlist {
	background-color: #d3d3d3;
	width: 100%;

	&-item-list {
		margin-top: 20px !important;
		white-space: nowrap;
	}

	&-item {
		display: inline-block;
		font-size: 14px;
		margin: 0 0.938em 0.938em;
		vertical-align: top;
		width: 120px;
	}

	@media screen and (min-width: 1300px) {
		float: right;
		height: 390px;
		width: 260px;

		&-item-list {
			white-space: normal;
		}
	}
}
