.navbar {
  border:none;
  border-radius:0;
  background-image:none;
  min-height:0;
  z-index:600;
}
.navbar .navbar-brand {
  /* padding:0.938em 0.625em 0.938em 0; */
  margin:0!important;
  font-size:1em;
  line-height:1.42857;
  padding:.625em 0;
}
.navbar-toggle {
  display:block;
  margin:0;
}
.navbar .navbar-right {
  width:auto;
  float:right!important;
}
.ad_970x90 {
  padding:1.875em 0;
}
.container {
  width:auto;
}
.list-categories > li.active > a,
.list-categories > li:hover > a {
  border-bottom:none;
  background-color:#1e7dc9;
}
.list-categories > li > a {
  padding:0.769em 1.231em;
  background-color:#1c75bc;
  color:#fff;
}
.bc-dc-grid {
  margin:0;
  padding-bottom:1.875em;
}
.fa,
.fa:before {
  font-size:1.429em!important;
}
.hypnotoad_unit_container {
  overflow:hidden;
  margin:auto;
}
.video-name {
  font-family:'Open Sans', sans-serif;
  font-size:1.750em;  /* 28px */
  font-weight:600;
  padding:1.375em 0 .625em 0;
  text-transform:none;
  font-style:italic;
}


.footer_form_container ul.collapse2 li,
#nl .form_container ul.collapse2 li {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  float: left;
  font-size: 0.8em;
  padding: 2px 0;
  width: 50%;
}
.footer_form_container ul.collapse2 li,
#nl .form_container ul.collapse2 li {
  font-size: 0.8em;
}
.footer_form_container input[type=checkbox] {
  margin:4px;
}
.sub_footer {
  padding:0 .625em;
}
.hypnotoad_unit.ad_728x90 {
    margin: 0;
    padding: 1.875em 0;
}
.list-categories > li {
  padding:0 5px 0 0;
}

.dropdown .dropdown-menu > li > a {
  margin:auto;
  padding:0 20px;
}
#bc-list-categories-dropdown .dropdown-menu {
  left:0;
  margin-top:0;
}
#bc-dc-grid-container.container {
  padding-top:0;
}
#bc-category-load-more-btn .btn {
  background-color:#1c75bc;
  height:auto;
  line-height:normal;
}

/* @@ marquee type */
.bc-video-wrapper,
.bc-video-info-wrapper {
  margin-top:0;
}
.partial-video {
  margin-bottom:20px;
}
.page-index,
.page-category,
.page-detail,
.site-container,
.bc-video-browser {
  background-color:#fff;
}
.bc_marquee .video-name,
.bc_marquee .video-description {
  color:#141313;
}
.video-name {
  color:#666;
}
.video-description {
  color:#9f9f9f;
}
.bc_marquee .bc-video-browser .category-list li a {
  padding:10px
}
.bc-video-browser .category-list li a {
  padding:10px 20px;
  color:#141313;
}
.bc_marquee .category-list h2 {
  font-size:20px;
}
.bc-label {
  color:#1c75bc;
}
.share ul > li {
  padding:0;
  margin-left:15px;
}
.share ul > li:first-child {
  margin-left:0;
}
.bc-video-browser-inner h4 {
  padding:0;
}
.bc-video-browser .bc-video-grid-items .bc-video-grid-item .caption {
  color:#666;
}
.bc-video-browser .category-list {
  border:1px solid #a7a9ac;
}
.bc-video-browser .category-list li {
  background-color:#fff;
  border-bottom:none;
  font-style:italic;
  font-size:16px;
  text-transform:capitalize;
}
.bc-video-browser .category-list li:hover {
  border:none;
}
.bc-video-browser .category-list li.active {
  background-color:#27aae1;
  font-weight:normal;
  border:none;
}
.bc-video-browser .category-list li.active a {
  color:#fff;
}
.bc-video-browser .category-list li a:hover {
  background-color:#a7a9ac;
}
.bc-video-browser .category-list .sub-category-list li {
  background-color:#a7a9ac;
}
.bc-video-browser .category-list .sub-category-list li a:hover {
  background-color:#666;
}

/* @@ social icons reset */
.fa.icon-fb-light,
.fa.icon-twitter-light,
.fa.icon-gplus-light,
.fa.icon-linkedin-light,
.fa.icon-envelope-light,
.fa.icon-fb-dark,
.fa.icon-twitter-dark,
.fa.icon-gplus-dark,
.fa.icon-linkedin-dark,
.fa.icon-envelope-dark {
  background-image:none;
}
.list.list-inline li {
  vertical-align:top;
}


/* @@ media queries */
@media screen and (min-width: 640px) {
  .sub_footer {
    margin:auto;
    max-width:640px;
  }
}
@media screen and (min-width: 990px) {
  .navbar .navbar-brand {
    padding:.938em 0 0 0;
  }
  .sub_footer {
    max-width:990px;
  }
  .sb-toggle-left.navbar-toggle {
    display:none;
  }
}
@media screen and (min-width: 1300px) {
  .sub_footer {
    max-width:1280px;
  }
}
