.cgg {
	&_2016_banner {
		margin: 2.375em 0 1.25em;
	}
	&_2016_full {
		margin-bottom: 1.25em;
		text-align: center;
	}
	&_2016_row {
		overflow: hidden;
		margin: auto;
	}
	&_2016_one_third.cgg_2016_right_module {
		margin-left: 0;
	}
	&_2016_ad_col {
		margin-bottom: 1.25em;
		padding: 2em 0;
		text-align: center;
		background-color: #eee;
	}
	&_2016_one_third,
	&_2016_module {
		overflow: hidden;
	}
	&_2016_ad_col h4 {
		padding: 0 0 1.400em;
	}
	&_2016_one_third .cgg_2016_one_sixth,
	&_2016_last_third .cgg_2016_one_sixth {
		margin-bottom: 1.25em;
		text-align: center;
	}
	#div-300_600_top_300_250 {
		display: table;
		margin: auto;
	}
	.buyers-guide-slider-container {
		clear: both;
	}

	/* single */
	&_banner {
		margin:2.375em 0 1.25em;
	}
	&_full {
		text-align:center;
		margin-bottom:1.25em;
	}
	&_row {
		overflow:hidden;
		margin:auto;
	}
	&_one_third.cgg_right_module {
		margin-left:0;
	}
	&_ad_col,
	&_ad_col_2 {
		background-color:#eee;
		text-align:center;
		padding:2em 0;
		margin-bottom:1.25em;
	}
	&_one_third,
	&_module {
		overflow:hidden;
	}
	&_ad_col h4 {
		padding:0 0 1.400em;
	}
	&_one_third .cgg_one_sixth,
	&_last_third .cgg_one_sixth {
		text-align:center;
		margin-bottom:1.25em;
	}
	#div-300_600_top_300_250 {
		display:table;
		margin:auto;
	}
	.buyers-guide-slider-container {
		clear:both;
		margin-bottom:.938em;
		padding-bottom:.938em;
		border-bottom:1px solid #a7a9ac;
	}
	/* single */
	&_one_half {
		text-align:center;
	}
	&_last_half p:nth-of-type(1) {
		display: none;
	}
	&_last_half h2 {
		padding-top: 0.714em;
	}
	.slide h3 {
		padding:0.455em 0 0 0;
	}
	.owl-theme .owl-controls .owl-buttons div {
		position:relative;
	}
	.owl-theme .owl-controls {
		margin:0 0 .625em 0;
		overflow:hidden;
	}
	.owl-prev {
		float:left;
	}
	.owl-next {
		float:right;
	}
	.more-gear-slider-container h2 {
		padding-top:0;
	}
	.slide {
		text-align:center;
	}
	.owl-carousel .owl-item {
		padding:0 .625em;
	}
	&_last_half h3 {
		padding-top:0;
	}

	&_clear {
		clear:both;
	}


	/* media queries */
	@media only screen and ( min-width:440px ) {
		&_2016_one_third .cgg_2016_one_sixth,
		&_2016_last_third .cgg_2016_one_sixth {
			float: left;
			margin-bottom: 1.25em;
		}
		&_2016_right_module {
			margin-left: 1.25em;
		}
		&_2016_row {
			display: table;
		}

		/* single */
		&_one_third .cgg_one_sixth,
		&_last_third .cgg_one_sixth {
			float:left;
			margin-bottom:1.25em;
		}
		&_right_module {
			margin-left:1.25em;
		}
		&_row {
			display:table;
		}
	}
	@media only screen and ( min-width:990px ) {
		&_2016_container {
			max-width: 830px;
			margin: auto;
		}
		&_2016_banner {
			margin: 2.375em 0 1.875em;
		}
		&_2016_full,
		&_2016_one_third .cgg_2016_one_sixth,
		&_2016_last_third .cgg_2016_one_sixth {
			margin-bottom: 1.875em;
		}
		&_2016_one_third .cgg_2016_one_sixth,
		&_2016_last_third .cgg_2016_one_sixth {
			width: 46.25%;
		}
		&_2016_one_third {
			float: left;
			width: 48.19277108433735%;
		}
		&_2016_one_third.cgg_2016_right_module {
			float: left;
			margin-left: 1.875em;
		}
		&_2016_ad_col {
			margin-bottom: 1.875em;
		}
		&_2016_right_module {
			margin-left: 1.875em;
		}
		&_2016_last_third .cgg_2016_row {
			display: block;
			float: left;
			width: 48.19277108433735%;
		}
		&_2016_right_module_2 {
			float: left;
			margin-left: 1.875em;
		}

		/* single */
		&_container {
			max-width:830px;
			margin:auto;
		}
		&_banner {
			margin:2.375em 0 1.875em;
		}
		&_full,
		&_one_third .cgg_one_sixth,
		&_last_third .cgg_one_sixth {
			margin-bottom:1.875em;
		}
		&_one_third .cgg_one_sixth,
		&_last_third .cgg_one_sixth {
			width:46.25%;
		}
		&_one_third {
			float:left;
			width:48.19277108433735%;
		}
		&_one_third&_right_module {
			float:left;
			margin-left:1.875em;
		}
		&_ad_col,
		&_ad_col_2 {
			margin-bottom:1.875em;
		}
		&_right_module {
			margin-left:1.875em;
		}
		&_last_third .cgg_row {
			float:left;
			width:48.19277108433735%;
			display:block;
		}
		.owl-carousel .owl-item {
			padding:0 .938em;
		}
	}
	@media only screen and ( min-width:1300px ) {
		&_2016_container {
			max-width: 1260px;
		}
		&_2016_banner {
			margin: 2.375em 0 1.875em;
			text-align: center;
		}
		&_2016_two_thirds {
			float: left;
			width: 65.87301587301587%;
		}
		&_2016_last_third {
			float: left;
			width: 31.746%;
			margin-left: 1.875em;
		}
		&_2016_last_third .cgg_2016_row {
			float: none;
			width: auto;
			margin-left: 0;
		}
		&_2016_ad_col {
			padding: 2em 0 4.250em;
		}
		&_2016_right_module_2 {
			margin-left: 0;
		}

		/* single */
		&_container {
			max-width:1260px;
		}
		&_banner {
			margin:2.375em 0 1.875em;
			text-align: center;
		}
		&_two_thirds {
			float:left;
			width:65.87301587301587%;
		}
		&_last_third {
			float: left;
			margin-left: 1.875em;
			width: 31.746%;
		}
		&_last_third .cgg_row {
			width:auto;
			float:none;
			margin-left:0;
		}
		&_one_half,
		&_last_half {
			float:left;
			width:48.80952380952381%;
		}
		&_last_half {
			margin-left:1.875em;
		}
		&_ad_col {
			padding:2em 0 5.5em;
		}
		&_last_half h2 {
			padding-top:0;
		}
	}
}


/** final */

a.buynow {
	font-weight: 400;
	font-style: italic;
	display: inline-block;
	width: 10em;
	margin: 0 auto 1.875em auto;
	padding: 0.625em 0;
	-webkit-transition: all 0.25s ease;
	   -moz-transition: all 0.25s ease;
	     -o-transition: all 0.25s ease;
	        transition: all 0.25s ease;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	background-color: #1c75bc;
	box-shadow: 0 5px 0 0 #1865a2;

	&:hover {
		text-decoration: none;
		background-color: #1e7dc9;
	}
}

.gg-extra-row {
	margin-bottom: 30px;

	@media screen and (min-width: 640px) {
		margin: 0 -15px 30px;
		display: flex;

		.gg-column {
			padding: 0 15px;
			width: 50%;
			// display: inline-block;
			// vertical-align: top;
		}
	}

}


.reviewer_meta {
	overflow: hidden;

	&__image {
		float: left;
		margin: 0 15px 15px 0;
	}
	&__name {
		margin-top: 0;
	}
}

.stars_rating {
	margin: 0 30px 24px 0;
	vertical-align: sub;

	@media only screen and (min-width:640px) {
		display: inline-block;
	}

	span {
		font-size: 18px;
		margin-right: 5px;
	}
}

.gg-two-thirds {
	.giftguide__final & {
		float: none;
		width: auto;

		@media only screen and (min-width:768px) {
			// margin: 0 -15px;
			width: auto;
			float: left;

			&__inner {
				padding: 0 15px;
			}
		}
		@media only screen and (min-width:1300px) {
			width: 65.82064297800338%;
		}


	}

}
.gg-items {
	margin: 0 -15px;

	@media only screen and (min-width:768px) {
		display: flex;
		flex-wrap: wrap;
	}
}
.gg-item {
	text-align: center;
	margin-bottom: 15px;

	img {
		margin-bottom: 10px;
		border: 1px solid #000;
	}
	a:hover,
	&:hover h4 {
		color: #e20177;
	}
	h4 {
		padding-top: 0;
	}

	@media only screen and (min-width:768px) {
		// float: left;
		padding: 0 15px;
		text-align: left;

		.gg-two-thirds & {
			width: 50%;
		}
	}

}
.gg-ad {
	@media only screen and (min-width:768px) {
		margin: 30px 0;
		float: left;
		width: 100%;

		.advert {
			margin-bottom: 0;
		}
	}
	@media only screen and (min-width:1300px) {
		margin: 0;
	}
	h4 {
		margin-bottom: 15px;

		@media only screen and (min-width:768px) {
			margin: 0;
		}
	}
}

.main {
	@media only screen and (min-width:960px) {
		float: none;
	}
}
.gg_banner {
	margin-top: 30px;
}
.gg-one-third {
	@media only screen and (min-width:1300px) {
		width: 31.64128595600677%;
		float: right;
		// margin-left: 30px;
	}
}
.gg-full {
	.giftguide__final & {
		@media only screen and (min-width:768px) {
			margin: 0;
			text-align: left;
		}

		.gg-item {
			@media only screen and (min-width:768px) {
				width: 50%;
			}
			@media only screen and (min-width:1300px) {
				width: calc( 100%/3 );
			}

		}
	}

}
.giftguide__final {
	@media only screen and (min-width:1300px) {
		#article-left {
			width: 48px;
		}
		#article-right {
			width: 1182px;
		}
	}

	article {
		padding: 0;
	}
	.wrbg_navigation {
		padding: 0 15px 30px;
	}
}
// .gg-intro {
// 	@media only screen and (min-width:768px) {
// 		padding: 0 15px;
// 	}
// }
.gg-row {
	overflow: hidden;
	margin: auto;
	// float: left;
	clear: both;

	// @media only screen and (min-width: 768px) {
	// 	float: left;
	// }

	&__bottom {
		clear: both;
	}
}
.gg-reviewers {
	overflow: hidden;
	margin-bottom: 30px;

	@media only screen and (min-width:768px) {
		padding: 0 15px;
	}
	figure {
		max-width: 100px;
		float: left;
		margin: 0 15px 15px 0;
	}
	li {
		overflow: hidden;

		@media only screen and (min-width:640px) {
			padding: 0 15px;
			display: inline-block;
			vertical-align: top;
			width: 50%;
		}
	}
	@media only screen and (min-width:640px) {
		ul {
			margin: 0 -15px;
		}

	}
}

.gg-submenu {
	display: none;
	margin-bottom: 15px;
	background-color: #27aae1;

	@media only screen and (min-width:768px) {
		display: block !important;	// important since mobile messes with display setting
		background-color: #fff;
		border-bottom: 1px solid #cecece;
	}

	ul {
		margin: 0;
		font-size: 18px;
		// font-family: 'Fjalla One', sans-serif;
		line-height: normal;
	}

	li {
		text-align: center;
		border-bottom: 1px solid #1e83ae;

		@media only screen and (min-width:768px) {
			display: inline-block;
			border: none;
		}

		&:first-child {
			border-top: 1px solid #1e83ae;

			@media only screen and (min-width:768px) {
				border: none;
			}
		}
		&.menu-item-has-children {
			> a:after {
				font-family: "fontello";
				font-style: normal;
				font-weight: normal;
				speak: none;
				display: inline-block;
				text-decoration: inherit;
				width: 1em;
				margin-right: .2em;
				text-align: center;
				font-variant: normal;
				text-transform: none;
				line-height: 1em;
				margin-left: .2em;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: '\e804';
				// vertical-align: top;
				// float: right;
			}
		}

		a {
			padding: 15px 10px;
			display: block;
			font-weight: normal;
			color: #fff;
			transition: all .25s ease;

			@media only screen and (min-width:768px) {
				color: #000;
			}

			&:hover {
				text-decoration: none;
				background-color: #1e83ae;

				@media only screen and (min-width:768px) {
					background-color: transparent;
				}
			}
		}
		.sub-menu {
			display: none;
			background-color: #1e83ae;

			@media only screen and (min-width:768px) {
				background-color: #27aae1;
				position: absolute;
				z-index: 999;

				a {
					color: #fff;

					&:hover {
						background-color: #1e83ae;
					}
				}
			}
			@media only screen and (min-width:768px) {
				li {
					display: block;
					text-align: left;

					// &.menu-item-dupe {
					// 	display: none;
					// }
				}
			}

		}
	}

	&__label {
		// font-family: 'Fjalla One', sans-serif;
		font-size: 22px;
		cursor: pointer;
		text-align: center;
		margin-bottom: 15px;

		@media only screen and (min-width:768px) {
			display: none;
		}
	}
}

.gg-lowersubmenu {
	&__wrapper {
		@media only screen and (min-width: 480px) {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -15px;
		}

		li {
			@media only screen and (min-width: 480px) {
				width: 50%;
				padding: 0 15px;
			}
			@media only screen and (min-width: 768px) {
				width: calc( 100% / 3 );
			}
			@media only screen and (min-width: 1200px) {
				width: 20%;
			}
		}

	}
}

.gg-related {
	/* margin-bottom: 30px; */

	&__list {
		@media only screen and (min-width:480px) {
			margin: 0 -15px;
			overflow: hidden;
			display: flex;
			flex-wrap: wrap;
		}

		li {
			margin-bottom: 15px;
			text-align: center;

			@media only screen and (min-width:480px) {
				width: 50%;
				padding: 0 15px;
				text-align: left;
			}
			@media only screen and (min-width:990px) {
				width: 25%;
			}
		}
		img {
			border: 1px solid #000;
		}
	}
	&__title {
		display: block;
		font-style: italic;
		font-size: 18px;
		margin-top: 5px;
	}
}

.gg-morecats {
	margin-bottom: 30px;

	a {
		text-decoration: underline;

		&:hover {
			color: #27aae1;
		}
	}
}