/* http://meyerweb.com/eric/tools/css/reset/
	 v2.0 | 20110126
	 License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
img {
	height:auto;
	vertical-align:middle;
	max-width:100%;
}
p {
	margin-bottom:1.25em;
}
strong, b {
	font-weight:bold;
}
i, em {
	font-style:italic;
}
h1, h2, h3, h4, h5 {
	line-height:1.1;
	padding:1.375em 0 .625em 0;
	font-style:italic;
}
h1 {
	font-size:1.750em;  /* 28px */
	font-weight:600;
}
h2 {
	font-size:1.625em;  /* 26px */
}
h3 {
	font-size:1.375em;  /* 22px */
	font-weight:300;
}
h4 {
	font-size:1.250em;  /* 20px */
}
h5 {
	font-size:1.125em;  /* 18px */
	font-weight:600;
}
a {
	text-decoration:none;
	color:#141313;
}
a:active,
a:hover {
	text-decoration:underline;
	outline: 0;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
