/*
Theme Name: COMPETITOR RUNNING
Theme URI: http://competitorgroup.com
Description: RWD template for Competitor.com
Version: 2.0
Author: Joey Hernandez
Author URI: http://competitorgroup.com
*/

::selection {
	color: @white;
	background: #fe57a1; /* Safari */
}
::-moz-selection {
	color: @white;
	background: #fe57a1; /* Firefox */
}

body {
	font: 1em/1.42857143 'Open Sans', sans-serif;
	color: #141313;
	background-color: @white;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;

	&.page-template-one-column-php {
		line-height: 1.75;
	}
}

.container {
	max-width: 1170px;
	padding: 3.75em 0.625em 0 0.625em;
	background-color: @white;

	.admin-bar & {
		padding-top: 1.875em;
	}
	@media screen and (min-width: 640px) {
		max-width: 640px;
		margin: auto;
	}
	@media screen and (min-width: 900px) {
		padding-top: 6.25em;
	}
	@media screen and (min-width: 990px) {
		max-width: 990px;
		margin: auto;
		padding: 0 0.625em;
	}
	@media screen and (min-width: 1300px) {
		max-width: 1280px;
	}
}

.content {
	//margin-bottom:2em;
	overflow: hidden;

	ul {
		list-style-type: disc;
	}
	ol {
		list-style-type: decimal;
	}
	li {
		margin: 0 0 0.313em 1.875em;
	}
	a {
		font-weight: 600;
		text-decoration: underline;
		color: #1c75bc;
	}
}

.hidden {
	display: none;

	@media screen and (min-width: 550px) {
		display: inline;
	}
}
.visible {
	display: inline;

	@media screen and (min-width: 550px) {
		display: none;
	}
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

/* setting width/height for svg's */
.slash {
	&_black {
		width: 38px;
		height: 16px;
	}
	&_blue {
		width: 38px;
		height: 22px;
	}
	&_white {
		width: 27px;
		height: 16px;
	}
	&_white_lg {
		width: 38px;
		height: 25px;
	}
}

/* @@ search/forms */
.searchform {
	margin-bottom: 1.875em;
}

input[type=text] {
	border: 1px solid #a7a9ac;
	outline: none;
	background: @white;
}
::-webkit-input-placeholder {
	color: @black;
}
:-moz-placeholder {
	/* Firefox 18- */
	color: @black;
}
::-moz-placeholder {
	opacity: 1;
	/* Firefox 19+ */
	color: @black;
}
:-ms-input-placeholder {
	color: @black;
}
select {
	/*font:300 1.188em/1.42857 'Open Sans',sans-serif;*/
	/*padding:0.526em 0.789em;*/
	font: 300 1em/1.42857 'Open Sans',sans-serif;
	padding: 0.625em;
	border: 1px solid #a7a9ac;
}
.route-input,
.cal-input {
	font: italic 300 1em/1.42857 'Open Sans',sans-serif;
	margin-right: 0.313em;
	padding: 0.688em;
}

#searchText {
	font: 300 1.188em/1.42857 'Open Sans',sans-serif;
	width: 70%;
	padding: 0.526em 0.789em;
}


.table-of-contents {
	text-align: center;

	@media screen and (min-width: 640px) {
		display: none;
	}

	label {
		font-weight: 600;
		display: block;
		margin-bottom: 0.625em;
	}
}
#selectbox {
	width: 100%;
	margin-bottom: 0.625em;
}


/* @@ submit button */
button {
	font: italic 300 1em/1.42857143 'Open Sans', sans-serif;
	padding: 10px 10px 12px;
	-webkit-transition: all 0.25s ease;
	   -moz-transition: all 0.25s ease;
	     -o-transition: all 0.25s ease;
	        transition: all 0.25s ease;
	text-transform: uppercase;
	border: none;

	&:hover {
		cursor: pointer;
		background-color: #d6d6d6;
	}
	.icon-right-open {
		font-size: 0.737em;
		margin-left: 2.632em;
		vertical-align: bottom;

	}
}

.email_subscribe button,
.email_subscribe_dsktp button,
.email_subscribe_inline button,
.email_subscribe_ftr button {
	margin: 1.25em 0;
	color: @white;
	background-color: #1c75bc;

	&:hover {
		background-color: #1e7dc9;
	}
}

.cginetworkad {
	margin-bottom: 1.875em;
	margin-left: -0.625em;
	text-align: center;
}

.module,
.related_videos {
	overflow: hidden;
	margin-bottom: 1.875em;
}
.module {
	-webkit-transition: all 0.25s ease;
	   -moz-transition: all 0.25s ease;
	     -o-transition: all 0.25s ease;
	        transition: all 0.25s ease;
}
.cat_boxes.cat_recent .module {
	margin-bottom: 0;
}
.slashes {
	margin-right: 0.357em; /* 10px */
}
.row {
	clear: both;
	overflow: hidden;
}
.middle_row,
.visible_md,
.visible_lg {
	display: none;
}

/* @@ featured */
.featured {
	&_vitals {
		font-style: italic;
		display: table;
		overflow: hidden;
		margin-bottom: 1.875em;
		border: 1px solid #a7a9ac;
		background: url(images/running/running-slant.png) no-repeat -5px 0;

		@media screen and (min-width: 1300px) {
			min-height: 127px;
		}

		.home & {
			margin-bottom: 0;
			background: none;
			display: flex;
			align-items: center;
		}
		a.arrow {
			display: table-cell;
			vertical-align: middle;

			.home & {
				display: block;
			}
		}
		.excerpt {
			font-style: normal;
		}
	}
	&_post {
		&_date {
			line-height: 1;
			float: left;
			width: 5.188em;  /* 83px */
			padding-top: 0.938em;
			text-align: center;
			color: @white;
		}
		&_month {
			display: block;
		}
		&_day {
			font-size: 36px;
		}
	}

	&_title_author {
		display: table-cell;
		width: 90%;
		padding-left: 0.938em;
		vertical-align: top;
		height: 155px;

		.home & {
			width: auto;
			display: block;
			flex: 0 1 100%;
		}
		h3 {
			padding: 0.429em 0 0.179em 0;
		}
	}
	&_img {
		/*background-color:#a7a9ac;*/
		position: relative;
		text-align: center;
	}
}

.home_news_feed,
.news_feed,
.home_mag_nl_dsktp,
.mag_nl_dsktp,
.related-posts-container {
	border: 1px solid #a7a9ac;

	h3 {
		margin: 0;
		padding: 0.536em;
	}
}

.race_search .tab_indicator,
.find_route_form .tab_indicator,
.shoe_search .tab_indicator {
	position: relative;
	display: block;
	width: 0;
	height: 0;
	margin: auto;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
}
.race_search .tab_indicator,
.shoe_search .tab_indicator,
.find_route_form .tab_indicator {
	border-top: 15px solid #1c75bc;
}


/* Added for sidebar Related Articles */
.related-posts-container {
	ul {
		padding: 0px 0.938em 0.938em;
	}
	li {
		margin-bottom: 0.625em;
		padding: 0 0.938em;
		background: url(images/running/running-bullet.png) no-repeat 0 8px;
	}
}


.digi_subscription {
	text-align: center;
}


/* @@ mag + newsletter */

.mag_nl_rwd {
	overflow: hidden;
	background-color: @comp-blue;

	@media screen and (min-width: 640px) {
		display: none;
	}
	@media screen and (min-width: 990px) {
		clear: both;
	}

	h3 {
		margin: 0;
		padding: 0.536em;
		color: @white;
	}
	.ui-accordion-content {
		overflow: hidden;
		padding: 0 0.938em 1.25em;
	}
	.subscribe_inner {
		display: table;
		overflow: hidden;
		margin: auto;

		@media screen and (min-width: 400px) {
			display: table;
			margin: auto;
		}
		@media screen and (min-width: 990px) {
			float: left;

			&_container {
				display: table;
				overflow: hidden;
				margin: auto;
			}
		}
	}
	@media screen and (min-width: 990px) {
		.form_container {
			float: left;
		}
		.subscribe_subhdr {
			display: block;
		}
		.email_subscribe {
			margin-top: 1.25em;
		}
	}
}

.subscribe_devices {
	float: left;
	margin-right: 1.25em;
}
.subscribe_subhdr {
	font-size: 1.375em;
	font-weight: 300;
	font-style: italic;
	display: inline-block;
	margin-top: 0.682em;
	color: @white;
}

.tooltip_txt {
	position: absolute;
	display: block;
	max-width: 320px;
	margin: 0 0 0 15px;
	padding: 10px;
	border: 1px solid #ffba00;
	border-radius: 4px;
	background-color: #ffeebf;
}


/* subscription redesign */
.home_mag_nl_dsktp h3 {
	padding-bottom: 30px;
}


/* @@ carousel */
.owl {
	&-carousel .owl-wrapper-outer {
		padding: 0.625em 0;
	}
	&-pagination {
		padding-bottom: 0.625em;
	}
	&-theme .owl-controls .owl-buttons div {
		font-size: 3em;
		position: absolute;
		bottom: 0;
		margin: auto;
		padding: 0;
		color: #a7a9ac;
		background-color: transparent;
	}
}
#mostrecent_carousel {
	&.owl-carousel {
		.owl-wrapper-outer {
			padding: 0;
		}

		@media screen and (min-width: 480px) {
			.owl-item li {
				margin: 0;
			}
		}
	}

	.owl-controls .owl-buttons div {
		bottom: 0;
	}
}

#offers_carousel {
	position: relative;

	&.owl-theme .owl-controls .owl-buttons div {
		top: 60px;
	}

	.owl-item li {
		text-align: center;
	}
}

.single_recommended_carousel .owl-carousel .owl-item li {
	max-width: 300px;
	margin: 0 auto;
}


/* @@ videos */
.big_vid,
.video_col {
	position: relative;
}
a.overlay,
.featured_img a.overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: url(images/blank.gif) no-repeat top left;
}
.category-video {
	position: relative;

	a.overlay {
		background: url(images/running/video-play.png) no-repeat 50% 50%;
	}
}


.video_top_container {
	padding-top: 1.875em;
	background-color: #141313;

	h1,
	h3,
	a,
	.post_author,
	.excerpt {
		color: @white;
	}
	.featured_img {
		background-color: #231f20;
	}
	.featured_vitals {
		border: none;
	}
}
.video-site .navbar_container,
.video_top_container .container {
	background-color: #141313;
}

.container.video_bottom_container {
	padding-top: 1.875em;
}

/* @@ photos */
.photo_col {
	display: none;

	.related_galleries & {
		display: block;
	}
}
.big_photo {
	display: block;
}


/* @@ links */
.more_link,
.more_link_arrow {
	font-style: italic;
	position: relative;
	z-index: 10;
	display: table;
	clear: both;
	width: 100%;
	text-align: left;
	text-transform: uppercase;
}
.more_link a {
	&:first-child {
		display: table-cell;
		width: 90%;
		padding: 0.625em 1em;
		vertical-align: middle;
	}
	&:nth-child(2) {
		display: table-cell;
		vertical-align: middle;
	}
}
.light_bg {
	background-color: @comp-blue;

	&:hover {
		background-color: #1e83ae;
	}
}
.dark_bg {
	background-color: #1c75bc;

	&:hover {
		background-color: #1e7dc9;
	}
}
.light_bg,
.dark_bg {
	a {
		&:first-child {
			display: table-cell;
			width: 90%;
			padding: 0.625em 1em;
			text-decoration: none;
			color: @white;
		}
		&:nth-child(2) {
			display: table-cell;
			vertical-align: middle;
		}
	}
}

.white_bg {
	display: table;
	width: 100%;
	height: 70px;
	text-transform: none;
	border: 1px solid #a7a9ac;
	background-color: @white;
	height: 91px;

	a {
		color: #141313;
	}
}

.navicons {
	margin: 0 0.714em 0 0;
}
.blank_img {
	height: 32px;
}


/* @@ single */
.post_author {
	font-style: italic;
	color: #666;
}
.figure {
	text-align: center;

	img {
		margin-bottom: 1.25em;
	}
}
.figcaption {
	font-size: 0.875em;
	font-style: italic;
}

.figure,
.single .left_column,
.four_oh_four,
.recommended_feed,
.single_recommended_feed {
	margin-bottom: 1.875em;
}

.single_recommended_feed {
	clear: both;
}


.aside_recent_posts {
	display: none;

	@media screen and (min-width: 640px) {
		display: block;
		float: left;
		width: 40%;
		margin: 0 1.875em 1.875em 0;
		border: 1px solid #a7a9ac;
	}
	@media screen and (min-width: 1300px) {
		width: 25.80645161290323%;
	}

	h3 {
		margin: 0;
		padding: 0.714em;
	}
	ul {
		list-style: none;
	}
	li {
		margin: 0;
		border-top: 1px solid #a7a9ac;
	}
	&.multipage_recent {
		padding: 0;
	}
}

.content .multipage_recent a,
.content .aside_recent_posts a {
	font-weight: 400;
	display: block;
	padding: 0.313em 1.25em;
	text-decoration: none;
	color: #141313;
}

.multipage_recent a:hover,
.aside_recent_posts a:hover {
	color: @white;
	background-color: #a7a9ac;
}
.multipage_recent #current-page a {
	color: @white;
	background-color: @comp-blue;
}
.single_rest {
	h3 {
		clear: both;
		margin-bottom: 0;
		padding: 0 0.357em;
		cursor: pointer;
		text-align: center;
		text-transform: uppercase;
		color: @white;
		background-color: @comp-blue;

		&.ui-state-active {
			display: none;
		}
	}
	.ui-icon {
		padding-top: 0.152em;
	}
	.ui-accordion-content {
		overflow: inherit!important;
		height: auto!important;
		margin-top: 1.25em;
	}
}


/* @@ photo gallery */
.gallery-slider {
	ul {
		list-style: none;
		text-align: center;
	}
	.viewLargerImage {
		display: none;

		@media screen and (min-width: 990px) {
			font-size: 0.875em;
			display: block;
			margin-bottom: 0.313em;
		}
	}
}
.slide {
	&_hdr {
		font-weight: 600;
		margin: 1.25em 0 0.625em;
	}
	&_desc {
		font-size: 0.875em;
		font-style: italic;
	}
	&_txt {
		padding: 0.625em;
		text-align: left;
	}
}

.backtostart {
	font-size: 0.875em;
	font-style: italic;
}


/* @@ archive pages */
.featured_img_archive {
	position: relative;
	float: left;
	margin: 0 1.875em 1.875em 0;
}
.btn_primary .prev-post,
.multipage_row .btn_primary:first-child a {
	font-size: 0.875em;
	float: left;
	padding: 0.625em 0 0.313em;
}
.btn_primary .next-post,
.multipage_row .btn_primary:nth-child(2) a {
	font-size: 0.875em;
	float: right;
	padding: 0.625em 0 0.313em;
}
.archive {
	&_row {
		padding: 1.875em 0;
		border-bottom: 1px solid #a7a9ac;

		h4 {
			padding-top: 0;
		}

		&:first-of-type {
			border-top: 1px solid #a7a9ac;
		}
	}

	&_thumb {
		width: 80px;
	}
	&_navi {
		margin: 1.875em 0;
	}
}


/* @@ carousels */
.carousel {
	margin-bottom: 1.875em;
}
#sidebar_offers_carousel .owl-item li {
	text-align: center;
}
.gallery-carousel,
.gallery-slider,
.gallery-carousel-big {
	position: relative;
	overflow: hidden;
	margin-bottom: 1.875em;
	border: 1px solid #a7a9ac;
}
.gallery-slider .carousel-nav {
	text-align: center;
	border-bottom: none;
}
.gallery_hdr {
	font-weight: 600;
	font-style: italic;
	overflow: hidden;
	padding: 0.625em 0.625em 0.625em 0.625em;
}
.gallery_hdr_left {
	display: none;
	float: left;
	width: 50%;

	@media screen and (min-width: 480px) {
		display: block;
	}
}
.more_galleries {
	font-style: italic;
	display: none;
	float: right;
	padding: 0.625em;

	@media screen and (min-width: 640px) {
		display: block;
	}
}
.cover img {
	display: block;
	margin: 10px auto;
}
#post-slider-secondary .cover.secondary {
	max-height: 200px;
}
.carousel-nav {
	line-height: 2.5;
	clear: both;
	text-align: center;
	text-align: right;
}
.slide a.view-full-image,
#post-slider-secondary .slideHed {
	display: none;
}
#post-slider-secondary .slide {
	float: left;
	overflow: hidden;
	margin: 0;
}
.marquee #post-slider-secondary .owl-item .slide {
	float: none;

	img {
		max-height: none;
	}
}

.counter-text {
	font-weight: 600;
	font-style: italic;
	margin: 0 0.625em;
	vertical-align: middle;
}
.content .carousel-next,
.content .carousel-prev {
	font-weight: 400;
	padding: 0.179em 0.357em;
	text-decoration: none;
	color: #141313;
}
.carousel-next:hover,
.carousel-prev:hover {
	text-decoration: none;
	color: @white;
	background-color: #a7a9ac;
}
.inline_description {
	font-size: 0.875em;
	font-style: italic;
	color: #666;
}
.related_galleries {
	padding: 0 0.625em;

	h3 {
		padding-top: 0;
	}
}

/* @@ video */
.video-container {
	position: relative;
	overflow: hidden;
	height: 0;
	margin-bottom: 1.25em;
	padding-top: 1.875em;
	padding-bottom: 56.25%;

	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


/* @@ special categories */
.special_category {
	overflow: hidden;
	padding-top: 2.5em;

	h1 {
		padding-top: 0;
	}
}
.blue_bg {
	display: table;
	margin: 0 auto 1.25em auto;
	padding: 1.875em;
	border-radius: 50%;
	background-color: @comp-blue;

	@media screen and (min-width: 640px) {
		float: left;
	}
	@media screen and (min-width: 990px) {
		float: none;
	}
}

.category {
	&_big_post {
		margin-bottom: 1.875em;
	}
	&_title {
		font-weight: 300;
		padding-top: 0;
		text-align: center;
		text-transform: uppercase;
	}
	&_left_column {
		overflow: hidden;

		.menu {
			font-style: italic;
			margin-bottom: 1.875em;
			text-align: center;
			text-transform: uppercase;
			border-top: 5px solid #939393;
			border-bottom: 5px solid #939393;

			li {
				display: inline-block;
			}
			a {
				display: block;
				padding: 0.625em;

				&:hover {
					color: @white;
					background-color: #1c75bc;
				}
			}
		}

	}

}

.category_sponsor,
.special_category_sponsor {
	clear: both;
	margin-bottom: 1.875em;
	text-align: center;
}
.cat {
	&_boxes {
		margin-bottom: 1.875em;
		border: 1px solid #a7a9ac;

		li {
			display: table;
			overflow: hidden;
			width: 100%;
			text-transform: lowercase;
			border-top: 1px solid #a7a9ac;

			&:first-child {
				border: none;
			}
			a:first-child {
				display: table-cell;
				width: 90%;
				padding: 0.714em 1.071em;
			}
		}
		.navicons {
			width: 48px;
		}
		h3 {
			margin: 0;
			padding: 0.536em;
			color: @white;
		}
		&.cat_recent {
			li {
				padding: 0.714em 1.071em;

				a {
					display: block;
					width: auto;
					padding: 0;
				}
			}
			.more_link a {
				padding: 0.625em 1em;
			}
		}

		.attachment-thumbnail {
			float: left;
			margin: 0 0.536em 0.536em 0;
		}
	}

	&_odd h3 {
		background-color: #1c75bc;
	}
	&_even h3 {
		background-color: @comp-blue;
	}
}


.top_posts {
	clear: both;
	margin-bottom: 1.875em;
	border: 1px solid #a7a9ac;

	li {
		overflow: hidden;
		margin-left: 0;
		padding: 1.25em;
		border-top: 1px solid #a7a9ac;

		&:first-child {
			border: none;
		}
	}

	.featured_img {
		float: left;
		margin: 0 1.875em 1.875em 0;
	}
	h4 {
		padding-top: 0;
	}
	.wp-post-image {
		width: 80px;
	}
}


/* @@ tabs */
#tabs {
	display: none;
}

.tabs_left_col {
	float: left;
	width: 36.66666666666667%;
}
.ui-tabs {
	overflow: hidden;
	margin-bottom: 1.875em;

	&-hide {
		display: none;
	}
	&-vertical {
		.ui-tabs-nav {
			font-style: italic;
			margin-bottom: 1.875em;
			border: 1px solid #a7a9ac;

			li a {
				position: relative;
				display: block;
				padding: 0.625em 1.25em;
			}
		}

		li.ui-tabs-selected a {
			color: @white;
			background-color: @comp-blue;

			&:after {
				position: absolute;
				top: 1px;
				right: -20px;
				content: '';
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;
				border-left: 20px solid @comp-blue;
			}
		}
		.ui-state-hover a {
			background-color: #a7a9ac;
		}
		.ui-tabs-panel {
			float: right;
			width: 58.33333333333333%;
		}
	}
}


#accordion {
	margin: 1.875em 0;

	.ui-accordion-header {
		font-style: italic;
		margin-bottom: 0.625em;
		padding: 0.625em;
		cursor: pointer;
		color: @white;
		background-color: @comp-blue;

		&.ui-state-hover {
			color: #333;
			background-color: #a7a9ac;
		}
	}
}



/* @@ run routes/race calendar/shoe search */
.filter_links {
	display: none;
	text-align: center;

	@media screen and (min-width: 990px) {
		display: block;

		h4 {
			text-transform: uppercase;
			color: #414042;
		}
		li {
			font-size: 0.875em;
		}
		a {
			color: #6d6e71;
		}
	}
}
.find_route_form,
.race_search,
.shoe_search {
	margin-bottom: 1.875em;

	li {
		margin-bottom: 0.938em;
	}
}

.race_options li {
	font-style: italic;
	float: left;
	margin-right: 1.25em;
}
.race_date_range li:first-child {
	margin-bottom: 0;
}
.route_page_numbers,
.cal_page_numbers {
	font-weight: 600;
	font-style: italic;
	overflow: hidden;
	margin-bottom: 1.875em;

	li {
		float: left;
		margin-right: 1em;
		padding: 0.313em;
	}
}

.route_current_page,
.cal_current_page,
.navi_current_page {
	color: @white;
	background-color: #1c75bc;
}
.route_col_odd,
.route_col_even,
.race_text_search,
.race_date_range,
.race_options_group,
.shoe_col {
	display: table;
	margin: auto;
}
.route_post,
.cal_post,
.shoe_post {
	margin-bottom: 1.875em;
	padding: 0.625em;
	border: 1px solid #a7a9ac;
}
.route_compare {
	font-size: 0.875em;
	font-weight: 600;
	font-style: italic;
	margin-bottom: 0.625em;
	text-align: right;
}
.compare-routes-button {
	padding: 0.526em 2.632em;
	color: @white;
	background-color: @comp-blue;

	&:hover {
		background-color: #1e83ae;
	}
}
.route {
	&_post img {
		margin-bottom: 0.625em;
	}

	&_info {
		overflow: hidden;
	}
	&_name {
		float: left;
		margin: 0;

		@media screen and (min-width: 480px) {
			float: none;
			padding-top: 0;
			text-align: center;
		}
		@media screen and (min-width: 640px) {
			float: left;
			margin: 0;
		}
	}
	&_info ul {
		font-style: italic;
		float: right;
		text-align: right;

		@media screen and (min-width: 480px) {
			float: none;
			text-align: center;
		}
		@media screen and (min-width: 640px) {
			float: right;
			text-align: right;
		}
	}
}

.results_hdr {
	margin-bottom: 0.625em;
	padding: 0.563em;
	color: @white;
	background-color: #1c75bc;
}
.featured_tag {
	margin-bottom: 0.625em;
	padding: 0.313em;
	text-align: center;
	text-transform: uppercase;
	color: #1c75bc;
	background-color: #eee;
}
.compare_btn_div {
	margin-bottom: 1.875em;
	text-align: center;
}
.page-template-mapmyrun-page-php {
	.three_col {
		margin-bottom: 1.875em;
		padding: 0.625em;
		border: 1px solid #a7a9ac;

		h2 {
			padding-top: 0;
		}
	}

}

.route_mid_column li.arrow_to {
	margin: 0;
	padding: 0.5em 0.813em 0.5em 0.625em;
	text-align: center;
	color: #939393;
}

.arrow_to {
	.icon-right-open {
		display: none;

		@media screen and (min-width: 480px) {
			display: block;
		}
		@media screen and (min-width: 990px) {
			display: none;
		}
		@media screen and (min-width: 1300px) {
			display: block;
		}
	}
	.icon-down-open {
		display: block;

		@media screen and (min-width: 480px) {
			display: none;
		}
		@media screen and (min-width: 990px) {
			display: block;
		}
		@media screen and (min-width: 1300px) {
			display: none;
		}
	}
}

.cal_post,
.shoe_post {
	font-style: italic;
}

.cal {
	&_post_name {
		padding: 0 0 0.167em 0;
	}
	&_event_date {
		font-size: 1.25em;
		font-weight: 300;
		margin-bottom: 0.75em;
		text-align: center;
	}
	&_event_day {
		font-size: 2em;
		font-weight: 600;
		display: inline-block;
		margin: 0 0.167em;
		vertical-align: middle;
	}
}


.race_tags {
	font-size: 0.813em;
	margin: 0.769em 0;

	li {
		display: inline-block;
		margin-left: 0.625em;

		&:first-child {
			margin: 0;
		}
	}

	a {
		padding: 0.385em;
		color: @white;
		background-color: @comp-blue;
	}
}

.shoe_deets {
	font-size: 0.875em;
	overflow: hidden;

	&_left {
		font-weight: 600;
		float: left;
		width: 50%;
	}
	&_right {
		float: right;
		width: 50%;
	}
}

.shoes_navi_row,
.single_shoe_deets {
	margin-bottom: 1.875em;
}
.single_shoe_deets li {
	margin-bottom: 0.625em;
}
.single-shoe .buy_now_btns {
	margin-bottom: 1.875em;
}


/* @@ datepicker */
.ui {
	&-datepicker {
		font-family: 'Open Sans', sans-serif;

		&-calendar .ui-state-active,
		&-calendar .ui-widget-content .ui-state-active,
		&-calendar .ui-widget-header .ui-state-active {
			color: @white;
			background: none repeat scroll 0 0 #09c;
		}
	}

	&-corner {
		&-all,
		&-bottom,
		&-right,
		&-br,
		&-all,
		&-bottom,
		&-left,
		&-bl,
		&-all,
		&-top,
		&-right,
		&-tr,
		&-all,
		&-top,
		&-left,
		&-tl {
			border-radius: 0;
		}
	}


	&-widget {
		font-family: 'Open Sans', sans-serif;
		font-size: 1em;

		&-header {
			border: none;
			background-color: transparent;
			background-image: none;
		}
	}
	&-helper-reset {
		line-height: 1.42857;
	}
	&-state {
		&-hover .ui-icon,
		&-focus .ui-icon,
		&-active .ui-icon,
		&-default .ui-icon {
			height: auto;
			text-indent: unset;
			background: none;
		}
	}

	&-accordion .ui-accordion-content {
		height: auto!important;
		padding: 0;
		border: none;
	}
}

.sidebar .special_category_sponsor,
.sidebar .category_sponsor {
	margin-bottom: 1.875em;
	text-align: center;
}


.email_subscribe_inline {
	clear: both;
	margin: 0 0 1.25em;

	input:not([type='submit']) {
		width: 100%;
		margin-bottom: 1.25em;

		@media screen and (min-width: 480px) {
			width: 63.04347826086957%;
			margin-bottom: 0;
		}
		@media screen and (min-width: 1300px) {
			width: 81.72043010752688%;
		}
	}
	button {
		width: 100%;
		color: @white;
		background-color: #1c75bc;

		@media screen and (min-width: 480px) {
			width: 34.78260869565217%;
		}
		@media screen and (min-width: 1300px) {
			width: 17.20430107526882%;
		}
	}
}


.three_col_full,
.four_col {
	display: inline-block;
	vertical-align: top;
}


/* @@ outbrain */
.ob_org_header {
	font-weight: 300;
}
.AR_1 .ob_container_recs .item-container {
	width: 50%!important;

	@media screen and (min-width: 480px) {
		width: 33.33333333333333%!important;
	}
	@media screen and (min-width: 640px) {
		width: 25%!important;
	}
	@media screen and (min-width: 1300px) {
		width: 20%!important;
	}
}

.partner_row {
	margin: 0 -0.938em;
}
.pc_col_odd {
	padding: 0 0.938em;

	@media screen and (min-width: 640px) {
		display: inline-block;
		width: 50%;
		vertical-align: top;
	}
	@media screen and (min-width: 1300px) {
		width: 25%;
		margin: 0;
	}
}


.training {
	&-title {
		padding: 1px 10px 10px 7px;
		text-align: left;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}

	&-button {
		display: block;
		width: 220px;
		margin: 0 auto !important;
		padding: 5px;
		text-align: center;
	}
}



/* Added for home page Partner Connect Boxes */
.sponsored-label {
	font-style: italic;
	color: #fd8608;

	.partner_row .more_link & {
		font-size: 14px;
		margin-top: 10px;
	}
	& + h1 {
		padding-top: 0;
	}
}


.social_icons {
	@media screen and (min-width: 550px) {
		display: block;
		float: left;
		margin-right: 1.875em;

		li {
			float: left;
		}
		a {
			display: inline-block;
			padding: 0.536em 0.357em;
		}
	}
	@media screen and (min-width: 900px) {
		display: none;
	}
	@media screen and (min-width: 1300px) {
		display: block;
	}
}

.tag {
	.wp-caption {
		max-width: 96%;
		margin-bottom: 10px;
		padding: 8px;
		padding-top: 4px;
		border: 1px solid #ddd;
		background-color: #fffefe;
		text-align: center;

	    p.wp-caption-text {
			font-size: 14px;
			padding: 10px;
			margin: 0;
			font-style: oblique;
	    }

	    img {
			margin: 0;
			padding: 0;
			border: 0 none;
	    }
	}
	.left_column {
		ul>li {
			margin-bottom: 0.625em;
			padding: 0 0.938em;
			background: url(images/running/running-bullet.png) no-repeat 0 8px;
		}
		div {
			&:first-child a {
			    color: #1c75bc;
			    font-weight:bold;
			}
			&.row a {
			    color: inherit;
			    font-weight: inherit;
			}
		}

	}

}


.fancybox-content {
	&--interstitial {
		overflow: visible;

		.button-close--interstitial {
			background: @white;
			border-radius: 50%;
			color: @black;
			color: rgba(0,0,0,0.8);
			font-size: 30px;
			height: 32px;
			line-height: 32px;
			position: absolute;
			right: -28px;
			text-align: center;
			text-decoration: none;
			top: -28px;
			width: 32px;
		}
	}

	// Tablet Breakpoint
	// ---------------------------------
	@media screen and (min-width:768px) {

		&--interstitial {

			.button-close--interstitial {
				font-size: 28px;
				height: 40px;
				line-height: 40px;
				right: -35px;
				top: -35px;
				width: 40px;
			}

		}

	}

}



/* @@ media queries */
@media screen and (min-width: 400px) {
	.email_subscribe {
		margin: 2.5em auto 1.25em;

		input:not([type='submit']) {
			float: left;
			margin-right: 0.313em;
		}
		button {
			float: left;
			margin: 0;
		}
	}

	button .icon-right-open {
		margin-left: 0.909em;
	}
}


@media screen and (min-width: 480px) {
	.owl-carousel .owl-item li {
		dmargin: 0 0.938em;
	}

	.archive_thumb,
	.top_posts .wp-post-image {
		width: 100%;
	}

	select,
	#searchText,
	#selectbox {
		width: auto;
	}
	button {
		font-size: 1.188em;
		padding: 10px;
	}
	.route_col_odd,
	.shoe_col_odd {
		float: left;
		width: 46.73913043478261%;
	}
	.route_col_even,
	.shoe_col_even {
		float: right;
		width: 46.73913043478261%;
	}
	.route_post,
	.cal_post,
	.shoe_post {
		display: inline-block;
		width: 46.73913043478261%;
		margin-left: 1.875em;
		vertical-align: top;
	}
	.route_post:nth-child(2n+1),
	.cal_post:nth-child(2n+1),
	.shoe_post:nth-child(2n+1) {
		margin-left: 0;
	}

	.race_text_search li,
	.race_date_range li {
		float: left;
	}


	/* @@ photo category */
	.col_1.four_col,
	.col_3.four_col {
		width: 46.73913043478261%;
	}
	.col_2.four_col,
	.col_4.four_col {
		width: 46.73913043478261%;
	}

	.gallery_hdr_right {
		float: right;
	}
	.cal_event_day {
		font-size: 1.5em;
	}
}


@media screen and (min-width: 640px) {
	h1 {
		font-size: 2em;  /* 34px */
		font-weight: 600;
	}
	h2 {
		font-size: 1.875em;  /* 30px */
	}
	h3 {
		font-size: 1.75em;
	}


	.sidebar .mag_nl_dsktp {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	.home_news_feed,
	.category_row {
		float: left;
		width: 46.7741935483871%; /* 290 */
	}
	.home_mag_nl_dsktp {
		display: block;
		float: right;
		width: 48.38709677419355%; /* 300 */
	}

	.col_odd,
	.cat_odd {
		float: left;
		width: 47.58064516129032%; /* 295 */
	}
	.col_even,
	.cat_even {
		display: block;
		float: right;
		width: 47.58064516129032%; /* 295 */
	}
	.subscribe_inner {
		overflow: hidden;
		padding: 0.938em;
		background-color: @comp-blue;
	}
	.middle_row,
	.photo_col,
	.visible_md {
		display: inline;
	}
	.sublist li {
		padding: 0.313em 0;
		border: none;

		a {
			display: inline;
			padding: 0;

			&:hover {
				background-color: transparent;
			}
		}

	}


	.category_hdr {
		float: right;
		width: 72.58064516129032%; /* 450 */
	}
	#tabs {
		display: block;
	}
	#accordion {
		display: none;
	}

	.carousel {
		float: left;
		width: 50%;
		margin: 0 1.875em 1.875em 0;
	}

	.route_col_odd,
	.route_col_even,
	.shoe_col {
		width: 47.5%;
	}
	.route_post,
	.cal_post,
	.shoe_post {
		width: 47.5%;
	}

	.col_1.two_col,
	.col_1.four_col,
	.col_3.four_col,
	.col_2.two_col,
	.col_2.four_col,
	.col_4.four_col {
		width: 47.5%;
	}
	.col_1.three_col_full {
		display: inline-block;
		width: 30%;
	}
	.col_2.three_col_full,
	.col_3.three_col_full {
		display: inline-block;
		width: 30%;
		margin-left: 1.875em;
	}


	.cal_event_day {
		font-size: 2em;
	}

}

@media screen and (min-width: 990px) {
	.home_news_feed,
	.category_row,
	.col_odd,
	.home_mag_nl_dsktp,
	.col_even {
		/* width:47.82608695652174%; 20px gutter */
		width: 46.7032967032967%;  /* 30px gutter */
	}
	.latest_news,
	.category_row {
		float: left;
		/* width:65.95744680851064%; 20px gutter */
		width: 65.97938144329897%; /* 30px gutter */
	}
	.home_news_feed {
		float: right;
		width: 30.92783505154639%;
	}
	.home_mag_nl_dsktp {
		display: none;
	}


	.videos_module {
		float: left;
		/* width:48.93617021276596%; 20px gutter */
		width: 48.45360824742268%; /* 30px gutter */
	}
	.photos_module {
		float: right;
		/* width:48.93617021276596%;  20px gutter */
		width: 48.45360824742268%; /* 30px gutter */
	}
	.video_col {
		position: relative;

		.overlay {
			background-position: 50% 20%;
		}
	}

	.left_column,
	.four_oh_four {
		float: left;
		width: 65.97938144329897%; /* 30px gutter */
	}
	.figure {
		margin: 0 auto 1.875em auto;
	}
	.sidebar {
		float: right;
		width: 30.92783505154639%;
		margin-top: 2.750em;

		&_sans_top_margin {
			margin-top: 0;
			padding-top: 0;
		}

	}

	#sidebar_offers_carousel.owl-carousel .owl-item li {
		text-align: center;
	}

	.category {
		&_left_column {
			float: left;
			width: 20.61855670103093%; /* 200 */
		}
		&_hdr {
			float: none;
			width: auto;
		}
		&_left_column .menu li {
			display: block;
		}
		&_right_column {
			float: right;
			overflow: hidden;
			width: 76.28865979381443%;
		}
	}

	.cat_boxes {
		width: 47.97297297297297%;

		li {
			font-size: 1.188em;
			font-weight: 300;
			font-style: italic;
		}
		.navicons {
			width: auto;
		}
	}

	.route_mid_column,
	.shoe_mid_column {
		float: left;
		width: 55.40540540540541%;
	}
	.route_col_odd,
	.route_col_even,
	.shoe_col {
		display: block;
		float: none;
		width: auto;
	}
	.route_post,
	.cal_post {
		width: 31.27147766323024%;
	}
	.route_post:nth-child(2n+1),
	.cal_post:nth-child(2n+1),
	.shoe_post:nth-child(2n+1) {
		margin-left: 1.875em;
	}
	.route_post:nth-child(3n+1),
	.cal_post:nth-child(3n+1),
	.shoe_post:nth-child(3n+1) {
		margin-left: 0;
	}
	.category_right_column .sidebar {
		width: 40.54054054054054%;
	}
	.race_text_search li,
	.race_date_range li {
		float: none;
	}


	.shoe_post {
		width: 30.63063063063063%;
	}

	.col_1 {
		&.three_col_full {
			width: 31.27147766323024%;
		}
		&.four_col {
			width: 22.68041237113402%;
		}
	}

	.col_2.three_col_full,
	.col_3.three_col_full {
		width: 31.27147766323024%;
	}

	.col_2.four_col,
	.col_3.four_col,
	.col_4.four_col {
		width: 22.68041237113402%;
		margin-left: 1.875em;
	}

	.related_galleries {
		.col_odd,
		.col_even {
			width: 47.73462783171521%;
		}
	}

}


@media screen and (min-width: 1300px) {
	.latest_news,
	.category_row {
		width: 48.41269841269841%; /* 30px gutter */
	}

	.home_news_feed {
		float: left;
		width: 23.01587301587302%; /* 290 */
		margin-left: 1.875em;
	}

	.home_mag_nl_dsktp,
	.sidebar {
		display: block;
		float: right;
		width: 23.80952380952381%;
	}

	.home_news_feed,
	.home_mag_nl_dsktp {
		min-height: 470px;
	}

	.category_right_column .sidebar {
		width: 29.12621359223301%;
	}
	.category_row,
	.left_column,
	.four_oh_four {
		width: 73.80952380952381%;
	}
	.col_even {
		margin-left: 1.25em;
	}
	.three_col {
		float: left;
		width: 31.18279569892473%;
	}
	.three_col.col_2 {
		margin: 0 1.875em;
	}
	.videos_module,
	.photos_module {
		width: 48.80952380952381%; /* 615 */
	}
	.video_col .overlay {
		background-position: 50% 30%;
	}
	.visible_lg {
		display: block;
	}

	.col_odd,
	.col_even,
	.route_col_odd,
	.route_col_even,
	.shoe_col {
		width: 47.5609756097561%;
	}
	.related_videos .col_odd,
	.related_videos .col_even {
		width: 48.38709677419355%;
	}

	.category_left_column {
		width: 15.87301587301587%;
	}
	.category_right_column {
		width: 81.74603174603175%;
	}
	.cat_boxes {
		width: 48.54368932038835%;

		li {
			font-size: 1.750em;
		}
	}

	.tabs_left_col {
		width: 23.65591397849462%;
	}
	.ui-tabs-vertical .ui-tabs-panel {
		width: 73.80952380952381%;
	}

	.carousel {
		width: 32.25806451612903%;
	}
	.route_mid_column,
	.shoe_mid_column {
		width: 67.96116504854369%;
	}
	.route_col_odd,
	.shoe_col_odd {
		float: left;
	}
	.route_col_even,
	.shoe_col_even {
		float: right;
	}
	.route_mid_column li,
	.shoe_mid_column li {
		margin-bottom: 1.25em;
	}
	.route_post,
	.cal_post {
		width: 23.21428571428571%;
	}
	.route_post:nth-child(3n+1),
	.cal_post:nth-child(3n+1) {
		margin-left: 1.875em;
	}
	.route_post:nth-child(4n+1),
	.cal_post:nth-child(4n+1) {
		margin-left: 0;
	}

	.race {
		&_text_search,
		&_date_range,
		&_options_group {
			display: block;
			float: none;
			width: auto;
		}
		&_search li,
		&_text_search li,
		&_date_range li {
			float: left;
		}
		&_options {
			font-style: italic;

			li {
				margin: 0 0 1.25em 2em;

				&:first-child {
					margin-left: 0;
				}
			}
		}
		&_text_search {
			li:first-child {
				width: 87%;
			}
			.cal-input {
				width: 95.12987012987013%;
			}
		}

	}


	.cal-input.race_search {
		margin-right: 1.875em;
	}

	.shoe_post {
		width: 22.81553398058252%;

		&:nth-child(3n+1) {
			margin-left: 1.875em;
		}
		&:nth-child(4n+1) {
			margin-left: 0;
		}
	}


	/* @@ background skin */
	#bg-link-left,
	#bg-link-right {
		position: fixed;
		z-index: 0;
		top: 0;
		display: block;
		width: 300px;
		height: 100%;
		margin-left: -310px;
	}
	#bg-link-right {
		margin-left: 1270px;
	}


	.col_1 {
		&.three_col_full {
			width: 31.74603174603175%;
		}
		&.four_col {
			width: 23.21428571428571%;
		}
	}

	.col_2.three_col_full,
	.col_3.three_col_full {
		width: 31.74603174603175%;
	}


	.col_2.four_col,
	.col_3.four_col,
	.col_4.four_col {
		width: 23.21428571428571%;
		margin-left: 1.875em;
	}

	.related_galleries {
		.col_odd,
		.col_even {
			width: 48.34801762114537%;
		}
	}


}


// home page posts below carousel
.page-template-site-home {
	.category_row {

		@media screen and ( min-width: 990px ) {

			.col_1 {
				margin-right: 10%;
			}

			.col_1,
			.col_2 {
				display: block;
				float: left;
				width: 45%;
			}

		}

		@media screen and ( min-width: 1300px ) {

			.three_col {
				float: left;
				// margin: 0;
				width: 31.18279569892473%;

			}
			.col_1 {
				margin: 0;
			}

		}

	}
}

