//variables
// ---------------------------------
@comp-blue: #27aae1;
@white: #fff;
@black: #000;

a {
	color: @comp-blue;

	&:hover {
		text-decoration: underline;
	}
}

img {
	height: auto;
	max-width: 100%;
}
// Media Queries
// ---------------------------------
@screen-xxs-min: 640px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@screen-xl-min: 1280px;

@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);

@xxs-breakpoint: ~"screen and (min-width:@{screen-xxs-min})";
@xs-only-breakpoint: ~"screen and (max-width:@{screen-xs-max})";
@sm-breakpoint: ~"screen and (min-width:@{screen-sm-min})";
@sm-only-breakpoint: ~"screen and (min-width:@{screen-sm-min}) and (max-width:@{screen-sm-max})";
@md-breakpoint: ~"screen and (min-width:@{screen-md-min})";
@md-only-breakpoint: ~"screen and (min-width:@{screen-md-min}) and (max-width:@{screen-md-max})";
@lg-breakpoint: ~"screen and (min-width:@{screen-lg-min})";
@xl-breakpoint: ~"screen and (min-width:@{screen-xl-min})";

// Miscellaneous
// ---------------------------------

// Mixins
// ---------------------------------
.clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}