body.page-template-winter-promo-php {
	font-family: 'Open Sans', sans-serif;

}
#getgoing {
	visibility: hidden;
	display: none;
}
main.no-hero .wrapper {
	padding: 0 1em 60px;

	section {
		padding: 0;
	}
}

.marquee {
	text-align: center;
}

.winter-promo h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 1.25;
	letter-spacing: normal;
	padding: 0;
	color: @black;
	border: none;
}


#findarace {
	.mix {
		background: url(../img/winter-promo/bg-2016.jpg) repeat top left #fff;

		.pricetag,
		.pricetag_la {
			position: relative;
			width: 151px;
			height: 121px;
			margin-bottom: 20px;
			background-image: url(../img/winter-promo/pricetag-blank.png);

			span {
				font-size: 28px;
				font-weight: bold;
				position: absolute;
				-webkit-transform: rotate(344deg);
				   -moz-transform: rotate(344deg);
				    -ms-transform: rotate(344deg);
				     -o-transform: rotate(344deg);
				        transform: rotate(344deg);
				color: @black;

				writing-mode: lr-tb;

				&.tag_head {
					text-transform: uppercase;
					font-weight: normal;
					font-size: 16px;
					top: 31px;
					left: 36px;

					.lang-fr & {
						top: 35px;
						left: 19px;
						font-size: 10px;
						font-weight: bold;
					}
					.lang-es & {
						top: 32px;
						left: 36px;
						font-size: 13px;
					}
				}
				&.tag_price {
					top: 45px;
					left: 56px;
				}
				&.canmex_class {
					font-size: 26px;
					top: 44px;
					left: 45px;

					&.big_price_class {
						left: 35px;
						top: 46px;
					}
				}
				&.canmex_price {
					font-size: 14px;
					position: relative;
					top: -3px;
					left: 5px;
				}
				&.tag_savings {
					font-size: 14px;
					top: 74px;
					left: 42px;
					text-transform: uppercase;
					color: @black;

					.lang-es & {
						font-size: 13px;
						top: 74px;
						left: 44px;
					}
					.lang-fr & {
						font-size: 10px;
						left: 36px;
						top: 77px;
					}
				}
				&.tag_limited {
					font-size: 12px;
					top: 76px;
					left: 37px;
					text-transform: uppercase;
					color: @black;

					.lang-fr & {
						font-size: 10px;
						top: 77px;
						left: 38px;
					}
				}
			}
		}
		.pricetag_la {
			background-image: url(../img/winter-promo/pricetag-generic-2016.png);
		}
	}

}


/* modal */
.mix-modal {
	padding: 15px;
	background-color: #fff;

	&_inside {
		padding: 15px;
		border: 5px solid transparent;
		-moz-border-image: -moz-linear-gradient(top right, #E5C1A9 0%, #E95325 100%);
		-webkit-border-image: -webkit-linear-gradient(top right, #E5C1A9 0%, #E95325 100%);
		border-image: linear-gradient(to bottom left, #E5C1A9 0%, #E95325 100%);
		border-image-slice: 1;
	}

}


/* surveygizz */
.sg-survey .sg-body {
	padding: 0;
}
#sg_content {
	padding-top: 30px;

	.sg-question-title label {
		font-family: 'Futura Std Bold Condensed';
		font-size: 16px;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		color: @black;
	}
	input.sg-input-text {
		width: 100%;
		padding: 5px;
	}
	input.sg-button {
		margin: 0 auto 30px;
	}
	.sg-question-set {
		height: auto!important;
	}
	.sg-question {
		margin: 0;
		padding-bottom: 0!important;
		border: none;
	}
	.sg-question-errorlist {
		display: none;
	}
	.sg-question-has-errors {
		margin: 0;
		padding: 0;
		border: none;
	}

	@media @xs-breakpoint {
		display:flex;
		align-items: center;
		flex-flow: row wrap;
		max-width:640px;
		margin:0 auto 30px;

		.sg-error-display {
			flex: 1 1 100%;
		}
		.sg-question-title label {
			text-align:left;
		}
		.sg-question-set {
			flex:2 1 auto;
			margin: 4px 5px 0;
		}
		.sg-footer {
			/* flex:1 1 auto; */
			margin: 15px auto;
		}
		input.sg-input-text {
			padding:5px;
		}
		input.sg-button {
			margin:0;
		}
		.sg-question {
			border:none;
			margin:0;
			display:flex;
			flex-flow:row wrap;
			align-items:center;

			.sg-question-title {
				flex:1 1 auto;
			}
			.sg-question-options {
				padding:0;
				flex:2 1 auto;
			}
		}
	}
}

@media @md-breakpoint {
	header nav {
		width: 78.75%;
	}
	.tag_cta .get_deets {
		margin:auto;
	}
}
