// Site Search
// ---------------------------------
.template--site-search {
	.article_type_search-result--article {
		border-bottom: 1px solid @iron;
		margin: 0;
		padding: 15px 0;

		a:hover {
			color: @red;
			text-decoration: underline;
		}
	}

	.article_type_search-result--image {
		margin: 15px 0;

		a:hover {
			color: @red;
			text-decoration: underline;
		}

		.article__thumbnail {
			height: 160px;
			margin: 0 auto;
			width: auto;
		}

		.article__title {
			text-align: center;
		}
	}
}


// Blogroll
// ---------------------------------
.template--blogroll {
	.content {
		&__title {
			margin-top: 0;
		}
	}

	&.category {
		.advert_location_inline + .article_type_archive-result {
			border-top: 1px solid @iron;
			padding-top: 40px;
		}
	}
}


// Tag Page
// ---------------------------------

.tag .content__description {
	border-left:none;
	padding-left:none;
}
.tag .content__description table {    
	color: #000000;
	border-width: 1px;
	border-color: #480d12;
	border-collapse: collapse;
	th {
	border-width: 1px;
	font-family: 'Open Sans Condensed',Tahoma,Geneva,sans-serif;
	padding: 4px;
	border-style: solid;
	border-color: #cccccc;
	background-color: #e0e0e0;
	}
	td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #cccccc;
	background-color: #ffffff;   
	}
}

.tag .content__description table tr:hover td {
  background-color: #cecece;
}


.tag .content__description ul {
	margin:2em;
	list-style: disc;
	li {
   padding-left: 1em; 
   margin-bottom: .5em; 
	}
}

.tag .content__description ol {
	margin:2em;
	list-style: decimal;
	li {
   padding-left: 1em; 
   margin-bottom: .5em; 
	}
}

.tag .content__description blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  p {
  	display: inline;
  }
  cite {
  	font-size: 12px;
  }
}

.tag .content__description  {
    h1,h2,h3,h4,h5,h6 {
    	font-family: inherit;
    }
}

.tag .content__description h2 {font-size:1.8em!important;}
.tag .content__description h3 {font-size:1.5em;}
.tag .content__description {
	h4,h5,h6 {
		font-size:1.3em;
	}
}

.tag .content__description {
	ul, ol, table, th, td, address {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
	}
}


.tag .content__description .wp-caption {
	background: #fff;
	max-width: 96%;
	padding: 5px 3px 10px;
	text-align: center;
	img {
		border: 0 none;
		height: auto;
		margin: 0;
		max-width: 98.5%;
		padding: 0;
		width: auto;
	}
	.wp-caption-text {
		font-size: 12px;
		font-style: italic;
		font-weight: 500;
		line-height: inherit;
	}
}
.tag .content__description .wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}
.tag .content__description .wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}
.tag .content__description .wp-caption.alignright {
	margin: 5px 0 20px 20px;
}


// Extended
// ---------------------------------
.template--extended {
	.content {
		&__title {
			margin-top: 0;
		}

		&__description {
			margin-bottom: 15px;
		}

		&__flex {
			&_position_second {
				.content__section__more {
					float: left;
				}
			}
		}
	}
}


// Tablet Breakpoint
// ---------------------------------
@media @sm-breakpoint {

	// Blogroll
	.template--blogroll {
		.content {
			&__title {
				text-align: left;
			}
		}
	}

	// Site Search
	.template--site-search {
		.article__bread-crumb,
		.content__title {
			text-align: left;
		}
	}

	// Image Search
	.article_type_search-result--image {
		.article__thumbnail {
			height: 75px;
		}
	}
}


// Laptop Breakpoint
// ---------------------------------
@media @md-breakpoint {

	// Blogroll
	.template--blogroll {
		.article {
			&__thumbnail__wrap {
				padding-right: 0;
			}
		}
	}

	// Image Search
	.article_type_search-result--image {
		.article__thumbnail {
			height: 100px;
		}
	}
}


// Desktop Breakpoint
// ---------------------------------
@media @lg-breakpoint {

	// Blogroll
	.template--blogroll {
		.content {
			&__container {
				.archive {
					width: 840px;
				}

				.sidebar {
					width: 330px;
				}
			}
		}
	}

	// Image Search
	.article_type_search-result--image {
		.article__thumbnail {
			height: 130px;
		}
	}
}
