@import "../variables.less";

.vbg {

	&_banner,
	&_full,
	&_onesixth {
		margin-bottom: 20px;
		text-align: center;
	}
	&_full {
		padding: 0 10px;
	}

	&_onehalf {
		margin-bottom: 20px;
	}

	&_ad {
		padding: 0 0 20px;
		text-align: center;
		background-color: #DCDCDC;
		margin: 0 0 20px;
		min-width: 320px;

		h4 {
			padding: 15px 0;
			margin: 0;
		}
	}

	&_onesixth .vbg_full {
		padding: 0;
	}
	&_row {
		overflow: hidden;
		margin: auto;
	}

	&_onesixth {
		float: left;
		width: 50%;
		padding: 0 10px;
	}

	&_nomargin {
		margin: 0;
	}

	&_caption {
		text-align: center;
		font-size: 13px;
		font-style: italic;
		color: gray;
	}

	&_navigation {
		overflow: hidden;
		margin-bottom: 1.25em;
	}
	&_container h2 {
		font-size: 1.625em;
	}
	&_leaderboardad {
		text-align: center;
		display: none;
		margin-bottom: 20px;
	}
	a .article__title {
		border-left: solid 2px black;
		padding-left: 15px;
		color: black;
		&:hover {
			color: #d02434;
		}
	}
	.col-sm-6 {
		min-height: 250px;
		text-align: center;
		a,
		p {
			margin: 10px auto;
			width: 320px;
		}
		p {
			text-align: left;
		}
	}
	.col-xs-12 {
		margin-bottom: 20px;
		img {
			width: 100%;
		}
	}
	.advert__wrap {
		margin-bottom: 20px;
	}
}




/* navigation */

.vbg_navigation a,
.owl-theme .owl-controls .owl-buttons div {
	color: #fff;
	font-size: 36px;
	background-color: #b50000;
	padding: 5px 5px 15px;
	border-radius: 6px;
	display: inline-block;
	line-height: 16px;
	transition: all .25s ease;
	opacity: 1;
	margin: 0;
}

.vbg_navigation a:hover,
.owl-theme .owl-controls .owl-buttons div:hover {
	background-color: #333;
	text-decoration: none;
}

.vbg_leftnav,
.owl-prev {
	float: left;
}

.vbg_rightnav,
.owl-next {
	float: right;
}

.buyers-guide-2015-slider-container,
.more-gear-slider-container {
	padding-top: 20px;
	border-top: 1px solid #dcdcdc;
}

.owl-carousel h3 {
	text-align: center;
}

.owl-buttons {
	overflow: hidden;
	margin-bottom: 20px;
}

.owl-carousel .owl-item {
	padding: 0 10px;
}





/* buy now button */

.buynow {
	&_module {
		overflow: hidden;

		h3 {
			color: #b50000;
			font-size: 18px;
			margin: 20px 0 10px;
		}
		ul {
			list-style-type: none;
			overflow: hidden;
			margin: 0;
			padding: 0;
		}
		li {
			text-align: center;
			margin-bottom: 15px;
		}
		a {
			display: block;
			border: 1px solid #666;
			border-radius: 8px;
			position: relative;
			padding: 5px 10px 5px;
			box-shadow: 0 3px 0px #666;

			&:hover {
				box-shadow: 0 1px 0 #666;
				top: 1px;
			}
		}
	}
}


//Gift Guide & buyers guide after 2016/17
.template__bg-final {

	.bg__grid {
		display: flex;
		flex-wrap: wrap;
	}
	.bg__final {
		&_title {
			text-align: center;
			font-weight: 900;
			text-transform: uppercase;

			h1 {
				font-size: 24px;
			}
			@media only screen and (min-width: 660px) {
				h1 {
					font-size: 36px;
				}
			}
		}
		&_top_menu {
			display: inline-block;
			box-shadow: 1px 1px 3px 1px #aaa;
			background: @white-smoke;
			padding: 8px 0;
			width: 100%;
			text-align: center;
			li {
				list-style-type: none;
				display: none;
				padding: 0px;
				&#bg-mobile-nav-toggle {
					display: block;
					text-align: center;
				}

				a {
					color: #000;
					text-decoration: none;
					&:hover {

						text-decoration: none;
					}
				}
			}
			#menu-2018-gift-guide:after {
				content: '';
				display: table;
				clear: both;
			}
			.top-level {
				padding: 10px 0;
				a {
					padding-left: 20px;
				}
			}
			.dropdown-nav {
				position: relative;
				>a:after {
					content: "\f0d7";
					display: inline-block;
					font: normal normal normal 14px/1 FontAwesome;
					font-size: inherit;
					margin-left: 5px;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}
			.sub-menu {
				border: 1px solid @aluminum;
				border-bottom: 1px solid @iron;
				background: @aluminum;
				display: none;
				top: 50px;
				width: 100%;
				padding: 0;
				text-align: center;
				li {
					width: 100%;
					border-bottom: 1px solid #999999;
					display: block;
					padding: 10px 0;
					&:last-child {
						border-bottom: none;
					}
				}
			}
		}
		&_intro {
			font-size: 18px;
		}
		&_author {
			padding: 30px 10px;
			img {
				border-radius: 100%;
				float: left;
				width: 100px;
			}
			#desc {
				float: left;
				width: calc(~"100% - 100px");
				padding-left: 20px;
				h3,
				h4 {
					margin: 0;
				}
				p {
					font-style: italic;
					font-size: 12px;
				}
			}
		}
		&_bottom_menu {
			li,
			ul {
				display: inline;
				float: left;
				padding: 0;
			}
			li {
				width: 100%;
				a {
					display: list-item;
					list-style-type: disc;
					float: left;
					margin-left: 20px;
					margin-right: 50px;
					color: @black;
					&:hover {
						color: @red;
						text-decoration: underline;
					}
				}
			}
			.sub-menu {
				width: 100%;
			}
		}
	}
	a.article__permalink {
		color: @aluminum;
		font-weight: bolder;
		font-size: 18px;
		&:hover {
			color: @red;
		}
	}
	.article {
		text-align: center; // padding: 0;
		img {
			width: 100%;
			max-width: 320px;
		}
	}
	&.category {}
	.bg__breadcrumb {
		padding: 10px 20px;
	}
	h2.bg_single_link {
		margin-bottom: 0;
		a {
			color: @black;
			font-size: 1em;
			font-family: @oscondensed;
			&:hover {
				color: @red;
				text-decoration: underline;
			}
		}
	}
	&.category {
		.col-sm-6 {
			margin-bottom: 30px;

			img {
				height: 150px;
			}
		}
	}
	.bg_score,
	.bg_price {
		margin: 0;
	}
	.bg_price {
		color: @red;
	}
	.top_menu {
		padding-left: 0;
		padding-right: 0;
	}
	.newsletter {
		display: none;
	}
}

article.guide_related {
	img {
		height: 150px;
	}
	h2 {
		border-bottom: none;
		margin-bottom: 0;
		color: @black;
	}
	p.bg_score,
	p.bg_price {
		margin: 0;
	}
	p.bg_score {
		color: @black;
	}
}





/* media queries */

@media only screen and (min-width: 340px) {
	.vbg {
		&_row {
			display: table;
		}
		&_ad {
			margin: 0 10px 20px;
		}
	}
}

@media only screen and (min-width: 480px) {
	.buynow_module {

		ul {
			margin: 0 -10px;
		}
		li {
			width: 50%;
			float: left;
			padding: 0 10px;
		}
	}
	.vbg .advert__wrap {
		margin-bottom: 0;
	}
}

@media only screen and (min-width: 660px) {
	.vbg_onethird {
		float: left;
		width: 50%;
	}
	.vbg {
		.col-sm-6 {
			min-height: 300px;
			img {
				height: 220px;
			}
			p {
				width: 350px;
			}
		}
	}
	.template__bg-final {

		.bg__final_top_menu {
			background: @white;
			padding: 0;
			div[class*="guide-container"] {
				text-align: center;
			}
			li.top-level {
				display: inline-block;
				padding: 10px;
				padding-left: 0;
				&.active,
				&:hover {
					background: @red;
					ul.sub-menu {
						display: block
					}
					a {
						color: @white;
					}
				}
				&#bg-mobile-nav-toggle {
					display: none;
				}
				.sub-menu {
					position: absolute;
					top: 40px;
					width: 200px;
					background: @white-smoke;
					padding-top: 10px;
					z-index: 1000;
					li {
						border-bottom: none;
						padding: 7px 0;
						text-align: left;
						&:hover {
							background: @white-smoke;
						}
						a {
							padding: 10px;
							color: @black ;
							&:hover {
								background: @white-smoke ;
								color: @red;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
		.article {
			text-align: left; // padding-left:  -15px;
			// padding-right: -15px;
			a:first-child:hover {
				text-decoration: none;
			}
		}
		.top_menu {
			padding-left: 15px;
			padding-right: 15px;
		}
		.bg__final_bottom_menu {
			li,
			.sub-menu {
				width: auto;
			}
			h2 {
				border-bottom: none;
			}
		}
	}
	.article__author__bio {
		h3,
		a {
			color: @red;
		}
	}
}

@media only screen and (min-width: 768px) {
	.main .widget {
		max-width: none;
	}
	.buynow_module li {
		width: 25%;
	}
	.vbg_leaderboardad {
		display: block;
	}
}

@media (min-width: 992px) {
	.col-sm-6 {
		margin: 0;
	}
}

@media only screen and (min-width: 1024px) {
	.vbg_container {
		max-width: 1020px;
		overflow: hidden;
		margin: 0 auto;
	}
	.vbg_twothirds,
	.vbg_lastthird {
		float: left;
		margin: auto;
	}
	.vbg_lastthird .vbg_onethird {
		float: none;
		width: auto;
	}
	.main .widget {
		margin: 0;
		float: none;
	}
	.vbg_onehalf {
		float: left;
		width: 50%;
		padding: 0 10px;
	}
}
