.home {


	// Phone Breakpoint
	// ---------------------------------
	@media @xs-only-breakpoint {
		.content {
			&__container .article,
			&__flex_position_second {
				padding: 0;
			}
		}

		.advert {
			&_location_inline {
				margin: 30px 0;
			}
		}
	}

	@media screen and (max-width:767px) {
		.content {
			&__container {
				margin: 0 auto;
				max-width: 560px;
			}
		}
	}


	// Laptop Breakpoint
	// ---------------------------------
	@media @md-breakpoint {
		.content__flex_position_third {
			.article_type_latest--featured {
				.article__category {
					left: 10px;
					top: 10px;
				}
			}
		}
	}


	// 220dpi+ Retina Display (desktop)
	// ---------------------------------
	@media screen and (min-width:@screen-lg-min) and (min-resolution: 220dpi) {
		.content {
			&__flex {
				&_position_second {
					width: 538px;
				}
			}
		}
	}
}
