.template--long-form {

	.article {
		&__header {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			min-height: 220px;
			overflow: hidden;
			padding: 0;

			a {
				color: @white;
				font-weight: 300;
			}

			&__wrap {
				border-left: 2px solid @black;
				bottom: 0;
				color: @white;
				margin: 0 0 15px;
				padding-left: 5px;
				position: absolute;
			}

			&__title {
				font-family: @crimson;
				font-size: 18px;
				line-height: 20px;
				margin: 0;
			}

			&__byline {
				color: @white;
				font-size: 11px;
				line-height: 12px;
				margin-top: 5px;
			}

			&__author,
			&__published {
				margin-right: 10px;
			}
		}
		&__body {
			p img {
				&.aligncenter {
					margin: auto;
				}
				&.alignleft {
					margin-right: 15px;
				}
				&.alignright {
					margin-left: 15px;
				}
			}
			figure.aligncenter {
				display: table;
				margin: auto;
			}
		}
	}

	.article__footer .row {
		margin: 0 15px;
	}

	// Tablet Breakpoint
	// ---------------------------------
	@media @sm-breakpoint {
		.article {
			&__header {
				height: 360px;

				&__wrap {
					margin: 0 30px 25px;
					padding-left: 15px;
				}

				&__title {
					font-size: 32px;
					line-height: 38px;
				}

				&__byline {
					font-size: 14px;
					line-height: 16px;
				}
			}

			&__content {
				border-bottom: 1px solid @aluminum;
				margin-bottom: 30px;
				padding-bottom: 29px;
			}

			&__body {
				border-bottom: none;
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}

	}


	// Laptop Breakpoint
	// ---------------------------------
	@media @md-breakpoint {
		.article {
			&__header {
				height: 540px;

				&__title {
					font-size: 48px;
					line-height: 58px;
				}

				&__byline {
					font-size: 14px;
					line-height: 16px;
					margin-top: 0;
				}
			}

			&__body {
				img {
					// margin-left: -15px;
					// margin-right: -15px;
					max-width: 874px;
				}


				p {
					margin: 15px auto;
					width: 860px;

					img {
						margin-left: -25px;
						margin-right: -25px;
					}
				}

				.owl-carousel {
					width: 874px;
					// margin: 0 -25px;

					figure {
						img {
							max-width: 910px;
						}
					}
				}
				.grid-exempt {
					img {
						margin-left:auto;
						max-width:100%;
					}

					p {
						width:auto;
					}

				}
			}
		}

	}


	// Deskotp Breakpoint
	// ---------------------------------
	@media @lg-breakpoint {
		.article {
			&__body {
				img {
					max-width: 1042px;

					&.aligncenter {
						margin-left:auto;
						max-width:100%;
					}
				}
				p {
					img {
						margin-left: -90px;
						margin-right: -90px;
					}
				}
				// figure {
				// 	&.alignleft {
				// 		img {
				// 			margin-left: -35px;
				// 		}
				// 		.wp-caption-text {
				// 			margin-left: -15px;
				// 		}
				// 	}
				// 	&.alignright {
				// 		.wp-caption-text {
				// 			margin-left: -15px;
				// 		}
				// 	}

				// }
				& .owl-carousel {
					width: 1042px;

					figure {
						img {
							max-width: 1074px;
							// margin-left: -107px;
							// margin-right: -107px;
						}
					}
				}
			}
		}

	}
}
