.template--product-search {

	.news-feed {
		margin-bottom: 30px;
	}

	.product-search {
		&__intro,
		&__categorytitle,
		&__recent {
			h2 {
				border: none;
				font-size: 21px;
				line-height: 30px;
			}
			p {
				font-size: 15px;
				line-height: 24px;
				margin: 15px 0;
			}
		}
	}



	// Custom Phone and Tablet Breakpoint
	// ---------------------------------
	@media screen and (max-width: @screen-sm-max) {
		.content {
			&__flex {
				&_position_first {
					margin-top: 0;
					position: absolute;
					width: 100%;
					z-index: 9997;
				}

				&_position_second {
					.product-search {
						display: flex;
						flex-flow: row wrap;
					}

					.featured-content {
						.clearfix();
					}
				}

				&_position_third {
					padding: 0 15px;
					width: 330px;

					.advert {
						width: 300px;
					}
				}
			}
		}

		.product-search {
			&__wrap {
				border: 1px solid @aluminum;
				display: none;
				width: 100%;
			}

			&__form {
				border-left: none;
				border-right: none;

				&_name_multifacet {
					border-bottom: none;
				}

				&__input {
					width: 195px;
				}
			}
		}
	}


	// Custom Tablet Only Breakpoint
	// ---------------------------------
	@media @sm-only-breakpoint {
		.content {
			&__flex {
				&_position_first {
					left: -15px;
					width: 445px;
				}

				&_position_second {
					width: 420px;
				}
			}
		}

		.product-search {
			&__form {
				left: 6px;

				&__input {
					width: 290px;
				}
			}
		}
	}


	// Laptop Breakpoint
	// ---------------------------------
	@media @md-breakpoint {
		.content {
			&__flex {
				&_position_first {
					margin-top: 30px;
					position: relative;
					width: 263px;
				}

				&_position_second {
					width: 407px;
				}
			}
		}

		.product-search {
			display: flex;
			flex-flow: row wrap;

			&__form {
				display: block;
				left: 0;
				width: auto;
			}

			// &__category {
			// 	&:nth-child(2),
			// 	&:nth-child(3),
			// 	&:nth-child(4) {
			// 		margin-top: 0;
			// 	}
			// }
		}

		.news-feed {
			padding: 0 15px;
		}
	}


	// Desktop Breakpoint
	// ---------------------------------
	@media @lg-breakpoint {
		.content {
			&__flex {
				&_position_second {
					width: 575px;
				}
			}
		}
	}
}
