// All Races Page
// ---------------------------------
.template--all-races {
	.article {
		&__header__title {
			font-size: 24px;
			line-height: 36px;
			margin-bottom: 0;
		}
	}
}


// Multi-Stage Race
// ---------------------------------
.template--multi-stage {
	.race-table {
		&__content {
			height: 300px;
			overflow: auto;
		}

		&__pane {
			overflow: initial;
		}
	}

	.owl-carousel {
		.owl-nav {
			.owl-prev {
				left: 20px;
			}

			.owl-next {
				right: 20px;
			}
		}
	}


	// 220dpi+ Retina Display (desktop)
	@media screen and (min-width:@screen-lg-min) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 220dpi) {
		.content {
			&__flex {
				&_position_second {
					width: 538px;
				}
			}
		}
	}
}


// Single Race
// ---------------------------------
.template--single-race {
	.article {
		border-bottom: 2px solid @black;
		margin-bottom: 25px;
		padding-bottom: 60px;

		&__header {
			margin-bottom: 0;

			&__title {
				border-bottom: 2px solid @black;
				font-size: 20px;
				line-height: 24px;
				margin-bottom: 0;
				padding-bottom: 15px;
			}
		}
	}

	.race {
		&__nav {
			display: table;
			font-family: @oscondensed;
			list-style: none;
			margin: 0;
			padding: 0;
			width: 100%;

			li {
				background-color: @smoke;
				display: table-cell;
				text-align: center;

				&:hover {
					background: @oil;

					a {
						color: @white;
					}
				}

				a {
					background: none;
					color: @black;
					display: block;
					font-size: 14px;
					font-weight: bold;
					line-height: 16px;
					padding: 10px 8px;

					&:hover,
					&:focus {
						text-decoration: none;
					}
				}

				&.active,
				&.active a,
				&.active a:hover,
				&.active a:focus {
					background-color: @red;
					color: @white;
					text-decoration: none;
				}
			}

			&__wrap {
				.clearfix();

				&--with-border {
					border-top: 2px solid @black;
				}
			}
		}

		&__pagination {
			line-height: 36px;
			text-align: center;
		}

		&__heading {
			font-family: @crimson;
			font-size: 24px;
			font-weight: 600;
			margin: 25px 0;
		}

		&__pane {
			p {
				font-size: 15px;
				line-height: 24px;
				margin: 15px 0;
			}
		}
	}

	.race-pagination {
		&__menu {
			list-style: none;
			margin: 0;
			padding: 0;
			position: relative;
			text-align: center;
			width: 125px;

			> li:hover {

				.race-pagination__selected {
					background: @white-smoke;
					border-left: 1px solid @aluminum;
					border-right: 1px solid @aluminum;
				}

				.race-pagination__sub-menu {
					display: block;
				}
			}

			a {
				color: @black;
				display: block;
				font-size: 14px;
				font-weight: bold;
				line-height: 16px;
				padding: 10px 15px;
				text-decoration: none;

				&:hover {
					text-decoration: none;
				}
			}
		}

		&__sub-menu {
			background: @white-smoke;
			border: 1px solid @aluminum;
			border-top: none;
			display: none;
			left: 0;
			list-style: none;
			margin: 0;
			padding: 0;
			position: absolute;
			width: 125px;

			li {
				border-bottom: 1px solid @aluminum;

				&:last-child {
					border-bottom: none;
				}

				&:hover {
					background: @oil;
					color: @white;

					a {
						color: @white;
					}
				}
			}

			.current {
				background: @red;
				color: @white;

				&:hover {
					color: @white;
				}
			}
		}

		&__selected {
			border: 1px solid @aluminum;
			border-top: none;

			&:after {
				content: "\f0d7";
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				margin-left: 5px;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}

	.race-table {
		&__content {
			max-height: 350px;
		}
	}

	.owl-carousel {
		margin: 30px 0;
	}

	.advert_location_inline {
		margin: 30px 0;
	}
}


// Tablet Breakpoint
// ---------------------------------
@media @sm-breakpoint {

	// All Races Page
	.template--all-races {
		.article {
			&__header__title {
				line-height: 36px;
			}
		}
	}


	// Multi-Stage Race
	.template--multi-stage {
		.race-table {
			&__content {
				height: 521px;
			}
		}
	}

	// Single-Stage Race
	.template--single-race {
		.race {
			&__nav {
				float: left;
				width: auto;
			}

			&__pagination {
				float: right;
				text-align: right;
			}
		}
	}
}


// Laptop Breakpoint
// ---------------------------------
@media @md-breakpoint {

	// Multi-Stage Race
	.template--multi-stage {
		.race-table {
			&__content {
				height: 542px;
			}
		}
	}
}


// Desktop Breakpoint
// ---------------------------------
@media @lg-breakpoint {

	// Single-Stage Race
	.template--single-race {
		.content {
			&__container {
				.race {
					width: 840px;
				}

				.sidebar {
					width: 330px;
				}
			}
		}
	}
}
