// Single
// ---------------------------------
.template--single {
	.article {
		&_type_product {
			padding: 0 15px;
		}

		&__bread-crumb {
			text-align: left;
			margin-bottom: 15px;
		}

		&__header__title {
			font-size: 30px;
			line-height: 36px;
			margin-bottom: 10px;
		}
	}

	.faq__list {
		li > a {
			display: inline-block;
			margin-bottom: 10px;
		}

		p {
			margin: 0;
		}
	}

	.amp & {
		.instagram_embed {
			height: 270px;
			overflow: hidden;
		}
	}

	// Tablet Breakpoint
	// ---------------------------------
	@media @sm-breakpoint {
		.article {
			&__header__title {
				line-height: 36px;
			}
		}

		.amp & {
			.instagram_embed {
				height: 565px;
			}
		}
	}

	// Laptop Breakpoint
	// ---------------------------------
	@media @md-breakpoint {
		.amp & {
			.instagram_embed {
				height: 565px;
			}
		}
	}


	// Desktop Breakpoint
	// ---------------------------------
	@media @lg-breakpoint {
		.content {
			.article {
				width: 840px;

				&_type_product {
					width: inherit;
				}
			}

			.sidebar {
				width: 330px;
			}
		}

		.amp & {
			.instagram_embed {
				height: 845px;
			}
		}
	}
}
